Repository ChaoticOnyx/OnyxBay, pull requests merged in 2018-09, with the labels that each got.

#147 Synth organs are now vulnerable to EMP
  code/modules/organs/internal/_internal.dm
Labels: Не принимать

#202 janitor borg fixes and new printer item
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/cell.dm
  icons/mob/robots.dmi
Labels: приоритетно

#167 Генкобаланс и фиксы некоторых надписей
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/modularchangling.dm
Labels: геймдизайн, приоритетно, улучшение

#173 Robot fixes
  baystation12.dme
  code/_onclick/hud/robot.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_parts.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/research/mechfab_designs.dm
Labels: приоритетно

#174 added rocks to asteroid
  baystation12.dme
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/movietitles.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/rock.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/mob_helpers.dm
  code/modules/random_map/_random_map_setup.dm
  code/modules/random_map/automata/caves.dm
  icons/turf/asteroid.dmi
Labels: приоритетно

#260 Кто посмел занерфить БоХов (Fix #164)
  code/game/objects/items/weapons/storage/backpack.dm
Labels: need design review
