Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-11, with the labels that each got.

#846 Фикс полов дерева
  maps/exodus/derelicts/djstation.dmm
  maps/exodus/derelicts/snowasteroid.dmm
  maps/exodus/prison/prison-1.dmm
Labels: 🔨рефакторинг

#847 Небольшие фиксы звуков, старые удары
  code/game/sound.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/mob_defines.dm
  code/procs/announce.dm
  sound/effects/fighting/crunch1.ogg
  sound/effects/fighting/crunch10.ogg
  sound/effects/fighting/crunch11.ogg
  sound/effects/fighting/crunch12.ogg
  sound/effects/fighting/crunch2.ogg
  sound/effects/fighting/crunch3.ogg
  sound/effects/fighting/crunch4.ogg
  sound/effects/fighting/crunch5.ogg
  sound/effects/fighting/crunch6.ogg
  sound/effects/fighting/crunch7.ogg
  sound/effects/fighting/crunch8.ogg
  sound/effects/fighting/crunch9.ogg
  sound/effects/fighting/gib1.ogg
  sound/effects/fighting/gib10.ogg
  sound/effects/fighting/gib2.ogg
  sound/effects/fighting/gib3.ogg
  sound/effects/fighting/gib4.ogg
  sound/effects/fighting/gib5.ogg
  sound/effects/fighting/gib6.ogg
  sound/effects/fighting/gib7.ogg
  sound/effects/fighting/gib8.ogg
  sound/effects/fighting/gib9.ogg
  sound/effects/fighting/punch1.ogg
  sound/effects/fighting/punch2.ogg
  sound/effects/fighting/punch3.ogg
  sound/effects/fighting/punch4.ogg
  sound/effects/fighting/swing1.ogg
  sound/effects/fighting/swing2.ogg
  sound/effects/fighting/swing3.ogg
  sound/effects/fighting/swing4.ogg
  sound/effects/fighting/swing5.ogg
  sound/effects/fighting/swing6.ogg
  sound/effects/fighting/swing7.ogg
  sound/effects/figthing/punch1.ogg
  sound/effects/figthing/punch2.ogg
  sound/effects/figthing/punch3.ogg
  sound/effects/figthing/punch4.ogg
Labels: 🔨рефакторинг

#862 Проверка целостности кэша, фикс боди сканера
  code/game/machinery/adv_med.dm
  code/modules/client/asset_cache.dm
Labels: 🔨рефакторинг

#863 Опциональный тултип
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  icons/misc/static.dmi
Labels: UX/UI, 🔩 улучшение

#871 Небольшие фиксы звуков взрывов и стрельбы
  code/game/objects/explosion.dm
  code/game/sound.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
Labels: 🔨рефакторинг, 🔩 улучшение

#884 Old School colors
  code/modules/client/client_procs.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
Labels: UX/UI

#885 Исправление чата
  code/modules/client/client_procs.dm
Labels: UX/UI

#886 Фикс донат панельки
  code/modules/donations/donator.dm
  code/modules/donations/globals.dm
  nano/templates/donations.tmpl
Labels: UX/UI, 🔨рефакторинг, 🔩 улучшение

#887 Фикс иконок в донат панельке
  code/modules/donations/donator.dm
Labels: UX/UI, 🔨рефакторинг, 🔩 улучшение

#889 Fixes
  code/modules/donations/donator.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  icons/onyxlogo132x32.png
  interface/skin.dmf
Labels: UX/UI, 🔨рефакторинг, 🔩 улучшение

#893 Кнопка донат панельки
  code/modules/client/darkmode.dm
  code/modules/donations/client.dm
  interface/skin.dmf
Labels: UX/UI

#896 Ограничение минимального возраста главы
  code/game/jobs/job/captain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
Labels: 🔩 улучшение

#907 Фиксы, нерфоцирк и фичи
  baystation12.dme
  code/__defines/_blob_defines.dm
  code/_helpers/unsorted.dm
  code/game/antagonist/blob/blob.dm
  code/game/antagonist/blob/blobs/factory.dm
  code/game/antagonist/blob/blobs/node.dm
  code/game/antagonist/blob/blobs/shield.dm
  code/game/antagonist/blob/powers.dm
  code/game/antagonist/blob/theblob.dm
  code/game/gamemodes/blob/blob.dm
  code/game/machinery/computer/computer.dm
  code/modules/events/blob_outbreak.dm
  code/modules/events/event_container.dm
  code/modules/mob/blob.dm
  code/modules/mob/living/say.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/organ.dm
  code/modules/power/power.dm
Labels: 🌌геймдизайн, 🔨рефакторинг, 🔩 улучшение

#917 Исправление гниения органов
  code/_onclick/hud/human.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/organs/organ.dm
Labels: 🔨рефакторинг

#922 Фикс ООС и ПМ цветов
  code/modules/onyxchat/browserassets/css/browserOutput.css
  code/modules/onyxchat/browserassets/css/browserOutput_marines.css
Labels: UX/UI

#933 Фиксы
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  icons/mob/screen/new.dmi
Labels: UX/UI

#934 Твик иммунитета
  code/modules/organs/organ.dm
Labels: 🔩 улучшение

#957 Дополняем ассортимент аплинка
  code/datums/uplink/ammunition.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/grenades.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/implants/implants/adrenaline.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/ventcrawl/ventcrawl.dm
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/storage.dmi
Labels: 🔩 улучшение
