Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-02, with the labels that each got.

#396 Обновление одной очень известной монопольной организации
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/implants.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/services.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/powersink.dm
  code/game/objects/items/weapons/grenades/anti_photon_grenade.dm
  code/game/objects/items/weapons/implants/implants/adrenaline.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/implants/implants/freedom.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/projectiles/guns/energy/stun.dm
  html/changelog.html
Labels: by design, приоритетно!

#408 Proizoshla genokrazha
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/game/gamemodes/changeling/modularchangling.dm
Labels: приоритетно!, рефакторинг, улучшение

#387 Система трейтов с поляриса
  baystation12.dme
  code/_onclick/item_attack.dm
  code/datums/mind.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preference_setup/traits/trait_defines.dm
  code/modules/client/preference_setup/traits/traits.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modifier/aura.dm
  code/modules/modifier/helpers.dm
  code/modules/modifier/modifier.dm
  code/modules/modifier/phobia.dm
  code/modules/modifier/traits.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/brain.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/Chemistry-Reagents.dm
  html/changelog.html
  icons/mob/modifier_effects.dmi
Labels: need design review, порт с другого билда, улучшение

#432 Revert "Реверт джубокса"
  code/game/machinery/jukebox.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/topic.dm
Labels: need design review, соляр уходи

#441 HE'S BACK
  code/datums/outfits/jobs/_defines.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/jobs/job/civilian.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/clown_items.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/flufftext/Dreaming.dm
  icons/card.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/items.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: by design
