Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-07, with the labels that each got.

#589 Fixed bad initialization calls
  code/game/objects/items/paintkit.dm
  code/modules/mining/mine_turfs.dm
  code/modules/power/smes_construction.dm
Labels: баг, 🔵в работе

#588 Грядки и трава теперь не разъедают глаза
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  icons/obj/hydroponics_machines.dmi
  icons/obj/monitors.dmi
  icons/turf/flooring/grass.dmi
Labels: ✏️графика, 🔩 улучшение

#582 T8: Added codeowners file
  .github/CODEOWNERS
Labels: 🔩 улучшение

#580 I543: Riot armor was using riot shield icon in hand. Now it is not.
  code/modules/clothing/suits/armor.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/modular_armor.dmi
  icons/obj/clothing/modular_armor.dmi
Labels: :godmode: просто, баг, 🔵тестируется

#581 I577: Fixed toy crossbow and marshalling wand icons
  code/game/objects/items/toys.dm
Labels: :godmode: просто, баг, 🔵тестируется

#573 Changed brig mapping
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: карта, 🔩 улучшение, 🔵тестируется

#592 Temporary removed Space Cancer. Added spades to hydroponics
  code/datums/supplypacks/hydroponics.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/events/event_container.dm
  maps/exodus/exodus-2.dmm
Labels: wtf, 🔩 улучшение

#596 Skybox gc
  code/_onclick/hud/skybox.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
Labels: :godmode: просто, баг

#576 Всегда (не)вовремя.
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/structures/onyxawards2018.dm
  icons/obj/onyxaward2018.dmi
  maps/exodus/exodus-3.dmm
Labels: карта, 🔩 улучшение

#599 T14: Circuit printer
  code/modules/integrated_electronics/machine_printer.dm
  sound/machines/circiut_printer.ogg
Labels: :godmode: просто, баг

#548 05/27/19 Bughunt
  code/__defines/misc.dm
  code/_helpers/cmp.dm
  code/_macros.dm
  code/game/gamemodes/endgame/nuclear_explosion/nuclear_explosion.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/atmos_control.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  code/modules/modular_computers/file_system/programs/generic/configurator.dm
  code/modules/modular_computers/file_system/programs/generic/docks.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/game.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  code/modules/modular_computers/file_system/programs/research/ai_restorer.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  icons/inv_slots/hats/mob.dmi
  icons/mob/animal.dmi
  icons/mob/onmob/head.dmi
  icons/mob/onmob/head_slim.dmi
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  nano/To BYOND Cache.bat
  nano/js/nano_state.js
  nano/templates/ntnet_downloader.tmpl
Labels: баг, 🔩 порт, 🔩 улучшение, 🔵готово

#558 Back to the Roots
  baystation12.dme
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/head/beanies.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/suits/armor.dm
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/hats/icon.dmi
  icons/inv_slots/hats/mob_unathi.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/rig_modules.dmi
Labels: нужны идеи, 🔵в работе

#641 Fixed drinks (thanks to dominoCaesar)
  code/modules/reagents/Chemistry-Recipes.dm
Labels: :godmode: просто, баг

#639 Forensic jackets and ties fix
  code/datums/outfits/jobs/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories/ties.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/mob/onmob/suit.dmi
  icons/mob/onmob/suit_slim.dmi
  icons/obj/clothing/suits.dmi
Labels: баг

#572 Фиксы генокрадов и обнаружения органов
  baystation12.dme
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/game/gamemodes/godmode/form_items/narsie_items.dm
  code/game/machinery/kitchen/gibber.dm
  code/modules/events/cancer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_powers.dm
  code/modules/mob/transform_procs.dm
  code/modules/organs/internal/cancer.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/surgery/organs_internal.dm
Labels: :cancer: рак, moar лейблов, wtf, баг, так и хотели, 🔵готово

#608 Brig tweaks, dorms expansion and other map fixes
  code/datums/supplypacks/security.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/merchant/merchant_guns.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/clothing/belts.dmi
  icons/obj/gun.dmi
  icons/turf/areas.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/exodus_areas.dm
  sound/weapons/gun_9mm.ogg
  sound/weapons/gun_colt.ogg
  sound/weapons/gun_colt2.ogg
  sound/weapons/gun_mateba.ogg
  sound/weapons/gun_revolver44.ogg
  sound/weapons/gun_revolversmall.ogg
  sound/weapons/gun_silenced1.ogg
  sound/weapons/vp78.ogg
Labels: карта

#652 not everything has species set
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/storage.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: баг
