Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-04, with the labels that each got.

#491 Warm Fixes
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/_helpers/game.dm
  code/_helpers/global_access.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/processing/icon_updates.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/buckling.dm
  code/game/objects/effects/item_pickup_ghost.dm
  code/game/objects/effects/temporary_effect.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/binoculars.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/turfs/simulated/walls.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob.dm
  code/modules/multiz/movement.dm
  code/modules/power/apc.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/surgery.dmi
Labels: улучшение, 🔧оптимизация

#500 Runtimes Suck
  code/_onclick/hud/robot.dm
  code/game/area/areas.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/stump.dm
  code/modules/organs/internal/stomach.dm
  code/modules/reagents/Chemistry-Reagents.dm
Labels: приоритетно!

#498 Immersive Social Interaction
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: вики

#496 Revert филькиного кода
  code/game/gamemodes/changeling/absorbed_dna.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Labels: Need MOAR labels, баг, нарвал, приоритетно!, соляр уходи
