Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-12, with the labels that each got.

#969 endless and platinum changelog
  html/changelog.html
  html/changelogs/.all_changelog.yml
Labels: тот самый вечный пр

#1000 Рантаймы
  code/game/gamemodes/changeling/helpcode.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/silicon/robot/robot_parts.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/_internal.dm
Labels: 🔵готово

#1010 Шреддер в библиотеку, лейблер на кухню и мелкие правки
  maps/exodus/exodus-2.dmm
Labels: 🔵готово

#1044 /random spawn tweak
  code/game/objects/random/random.dm
Labels: 🌌геймдизайн

#1097 Нерфоцирк
  code/game/objects/items/weapons/gift_wrappaper.dm
Labels: 🌌геймдизайн, 🔵одобрено

#1057 защита от емп для бластдуров на базе ертшников
  maps/exodus/exodus-3.dmm
  maps/exodus/prison/prison-3.dmm
Labels: 🌌геймдизайн, 🔵одобрено

#1099 New xenoarcheaology effects and triggers
  baystation12.dme
  code/__defines/xenoarcheaology.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/effects/cultify.dm
  code/modules/xenoarcheaology/effects/darkness.dm
  code/modules/xenoarcheaology/effects/gravity.dm
  code/modules/xenoarcheaology/effects/planthelper.dm
  code/modules/xenoarcheaology/effects/plantkiller.dm
  code/modules/xenoarcheaology/effects/projectiles.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
Labels: 🌌геймдизайн

#1108 chapel-drop-tweak
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔵одобрено
