Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-08, with the labels that each got.

#665 Returned changelings back where they belong
  code/game/antagonist/station/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
Labels: :cancer: рак, баг, нужны идеи, 🌌геймдизайн, 🔩 улучшение, 🔻приоритет

#653 WoEx: Of Poise and Guns
  code/_onclick/item_attack.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/force.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: согласны, узнали, 🌌геймдизайн, 🔩 улучшение, 🔵готово

#647 Radsuit fix, armband fix, new pistol for detective
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/obj/clothing/suits.dmi
  icons/obj/gun.dmi
  maps/exodus/exodus-2.dmm
Labels: 🔩 улучшение

#673 Just another brig rebalance
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/xenoarcheaology/effect.dm
  maps/exodus/exodus-2.dmm
Labels: :cancer: рак, карта, 🌌геймдизайн

#681 Naming subsystems
  baystation12.dme
  code/__defines/flags.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_helpers/global_access.dm
  code/_helpers/maths.dm
  code/controllers/Processes/air.dm
  code/controllers/Processes/alarm.dm
  code/controllers/Processes/turf.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/alarm.dm
  code/controllers/subsystems/antags.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/legacy.dm
  code/controllers/subsystems/lighting.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/mapping.dm
  code/controllers/subsystems/open_space.dm
  code/controllers/subsystems/processing/icon_updates.dm
  code/controllers/subsystems/processing/turf.dm
  code/controllers/subsystems/skybox.dm
  code/controllers/subsystems/timer.dm
  code/controllers/subsystems/xenoarch.dm
  code/datums/extensions/multitool/circuitboards/stationalert.dm
  code/game/atoms.dm
  code/game/gamemodes/endgame/supermatter_cascade/blob.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/modular_computers/file_system/programs/engineering/alarm_monitor.dm
  code/modules/power/apc.dm
  code/unit_tests/subsystem_tests.dm
  maps/away/blueriver/blueriver.dm
Labels: 🔨рефакторинг

#685 DB BANS: mankind divided
  code/controllers/configuration.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/banjob.dm
  code/modules/admin/topic.dm
  code/procs/dbcore.dm
  config/example/config.txt
Labels: 🔩 улучшение

#682 SSinactivity and SSevent added
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/controllers/Processes/event.dm
  code/controllers/Processes/inactivity.dm
  code/controllers/subsystems/event.dm
  code/controllers/subsystems/inactivity.dm
  code/controllers/subsystems/machines.dm
  code/controllers/subsystems/processing/processing.dm
  code/controllers/verbs.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gameticker.dm
  code/modules/events/event.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/overmap/events/event.dm
Labels: 🔨рефакторинг

#684 Goonization: Lite PR
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/materials/material_recipes.dm
  icons/obj/furniture.dmi
  icons/obj/items.dmi
  icons/obj/objects.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: ✏️графика, 🔩 порт, 🔩 улучшение, 🔵готово

#687 Yet some more
  baystation12.dme
  code/__defines/misc.dm
  code/__defines/subsystems.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/misc_late.dm
  code/controllers/subsystems/processing/airflow.dm
  code/datums/ruins.dm
  code/game/dna/genes/disabilities.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/requests_console.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/objects/items/devices/geiger.dm
  code/game/objects/items/weapons/candle.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/structures/skele_stand.dm
  code/game/world.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/atmospherics/components/tvalve.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/atmospherics/datum_pipe_network.dm
  code/modules/atmospherics/datum_pipeline.dm
  code/modules/atmospherics/pipes.dm
  code/modules/genetics/side_effects.dm
  code/modules/maps/map_template.dm
  code/modules/maps/ruins.dm
  code/modules/multiz/pipes.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/ships/engines/engine.dm
  code/modules/paperwork/photography.dm
  code/unit_tests/unit_test.dm
  maps/away/away_sites.dm
  maps/away/mining/mining.dm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
  maps/random_ruins/space_ruins/space_ruins.dm
  maps/~mapsystem/maps.dm
  maps/~mapsystem/maps_unit_testing.dm
  test/run-test.sh
Labels: 🔨рефакторинг

#689 Bugfixes
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/game/objects/items/weapons/defib.dm
  code/game/verbs/ooc.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/multiz/movement.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/paperwork/photocopier.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/virus2/centrifuge.dm
  code/modules/virus2/dishincubator.dm
  html/changelog.html
Labels: баг, 🔵готово

#703 Vines invisibility
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_vines.dmi
Labels: баг

#663 Милорд, нашу шахту пожрал быдломаппер!
  baystation12.dme
  code/game/objects/structures/window.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_shuttle.dm
  code/game/turfs/simulated/wall_shuttle.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_vending.dm
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/mob/onmob/head.dmi
  icons/mob/onmob/head_slim.dmi
  icons/mob/onmob/suit.dmi
  icons/mob/onmob/suit_slim.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/machines/mining_machines.dmi
  icons/obj/podwindows.dmi
  icons/turf/flooring/asteroid.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/shuttle.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/exodus_areas.dm
Labels: карта, 🔩 улучшение

#693 Guns'n'Poises Hotfix
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/force.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: /♾️/, wtf, согласны, узнали, 🔥приоритет, 🔵готово, 🔺приоритет

#702 Сингулярность теперь умеет путешествовать между z-уровнями, а бох получил свои фичи назад.
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/power/singularity/singularity.dm
Labels: 🔩 улучшение

#723 Фикс клейкой ленты и бумаги.
  code/game/objects/items/weapons/tape.dm
Labels: баг
