Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-06, with the labels that each got.

#552 Некоторые фиксы чейнджлингов и добавление опуху опухолей.
  baystation12.dme
  code/__defines/mobs.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/modules/events/cancer.dm
  code/modules/events/event_container.dm
  code/modules/organs/internal/cancer.dm
Labels: вики, 🔩 улучшение

#546 T5: Added aws scripts
  .dockerignore
  .travis.yml
  Dockerfile
  appspec.yml
  docker-entrypoint.sh
  scripts/mysqldump.sh
  scripts/sendDeploymentStatus.sh
  scripts/startServer.sh
  scripts/stopPrevious.sh
  scripts/updateConfig.sh
  send-to-discord.sh
  tgui/build.sh
  tgui/package-lock.json
  tgui/package.json
Labels: 🔩 улучшение, 🔵готово

#557 T5: Trigger AWS deployment. Updated config a bit
  scripts/startServer.sh
  scripts/updateConfig.sh
Labels: 🔩 улучшение, 🔵готово

#547 T15: Blindly ported topic limiter
  code/controllers/configuration.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  config/example/config.txt
Labels: баг, 🔩 порт, 🔵тестируется

#563 Замена оверлея тревоги на смену освещения
  code/game/area/areas.dm
  code/modules/power/lighting.dm
Labels: 🔩 улучшение

#562 Большой пак изменений генокрадов.
  code/_onclick/click.dm
  code/datums/observation/see_in_dark_set.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/modules/client/client_defines.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: 🌌геймдизайн, 🔵в работе

#564 Фикс багов и попытка организовать саунды
  code/controllers/voting.dm
  code/datums/security_state.dm
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/jukebox.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  code/procs/announce.dm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_holodecks.dm
  maps/shared/exodus_torch/areas.dm
  sound/ambience/ai/ambiai.ogg
  sound/ambience/atmospherics/ambiatm1.ogg
  sound/ambience/chapel/ambicha1.ogg
  sound/ambience/chapel/ambicha2.ogg
  sound/ambience/chapel/ambicha3.ogg
  sound/ambience/chapel/ambicha4.ogg
  sound/ambience/engineering/ambieng1.ogg
  sound/ambience/general/ambigen1.ogg
  sound/ambience/general/ambigen10.ogg
  sound/ambience/general/ambigen11.ogg
  sound/ambience/general/ambigen12.ogg
  sound/ambience/general/ambigen13.ogg
  sound/ambience/general/ambigen14.ogg
  sound/ambience/general/ambigen2.ogg
  sound/ambience/general/ambigen3.ogg
  sound/ambience/general/ambigen4.ogg
  sound/ambience/general/ambigen5.ogg
  sound/ambience/general/ambigen6.ogg
  sound/ambience/general/ambigen7.ogg
  sound/ambience/general/ambigen8.ogg
  sound/ambience/general/ambigen9.ogg
  sound/ambience/maintenance/maintambience.ogg
  sound/ambience/mine/ambimine.ogg
  sound/ambience/morgue/ambimo1.ogg
  sound/ambience/morgue/ambimo2.ogg
  sound/ambience/space/ambispace.ogg
  sound/misc/vote.ogg
Labels: баг, 🔩 улучшение, 🔵готово

#566 Оживляем визардов
  baystation12.dme
  code/game/objects/items/weapons/material/swords.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/spells/aoe_turf/disable_tech.dm
  code/modules/spells/general/radiant_aura.dm
  code/modules/spells/hand/burning_grip.dm
  code/modules/spells/spellbook/druid.dm
  code/modules/spells/spellbook/standard.dm
  code/modules/spells/spellbook/warlock.dm
  code/modules/spells/targeted/projectile/fireball.dm
  code/modules/spells/targeted/projectile/passage.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/spells/targeted/torment.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵готово

#569 Фикс магов
  code/game/objects/empulse.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/spells/aoe_turf/disable_tech.dm
  code/modules/spells/aoe_turf/drain_blood.dm
  code/modules/spells/general/acid_spray.dm
  code/modules/spells/hand/blood_shards.dm
  code/modules/spells/hand/burning_grip.dm
  code/modules/spells/hand/slippery_surface.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/spellbook.dm
  code/modules/spells/spellbook/druid.dm
  code/modules/spells/spellbook/standard.dm
  code/modules/spells/spellbook/warlock.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵тестируется

#568 Багокрады
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/modules/mob/living/carbon/human/human_organs.dm
Labels: баг, 🔵в работе

#570 Всегда вовремя.
  baystation12.dme
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/onyxawards2018.dm
  html/changelog.html
  icons/obj/onyxaward2018.dmi
  icons/turf/areas.dmi
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus_areas.dm
Labels: карта, ✏️графика, 🔩 улучшение, 🔵готово

#567 Добавил урон алмазной кирке + нормальные руны + нормальная книга у культа
  code/_helpers/game.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/mob_helpers.dm
  icons/effects/uristrunes.dmi
  icons/obj/cult.dmi
  icons/obj/weapons.dmi
Labels: ✏️графика, 🔩 улучшение, 🔵готово
