Repository ChaoticOnyx/OnyxBay, pull requests merged in 2019-09, with the labels that each got.

#727 Ghostize fix
  code/modules/mob/mob_movement.dm
Labels: баг

#726 Languages fix
  code/modules/mob/new_player/new_player.dm
Labels: баг

#722 Забираем удаленное взаимодействие с канистрами у ИИшника.
  code/game/machinery/atmoalter/canister.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: 🌌геймдизайн, 🔩 улучшение

#732 Фикс спрайта капсулы с цианидом
  code/modules/reagents/reagent_containers/pill.dm
Labels: баг

#733 JamsMore strange commit
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/nano/nanoui.dm
Labels: баг

#750 Вспышки вирусов в виде внутриигровых событий
  baystation12.dme
  code/modules/admin/admin_verbs.dm
  code/modules/events/event_container.dm
  code/modules/events/pestilence.dm
  code/modules/virus2/effect.dm
Labels: 🔩 улучшение
