Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-02, with the labels that each got.

#1281 feat(map): map expand
  maps/exodus/derelicts/bearcat/bearcat-1.dmm
  maps/exodus/derelicts/bearcat/bearcat-2.dmm
  maps/exodus/derelicts/casino.dmm
  maps/exodus/derelicts/djstation.dmm
  maps/exodus/derelicts/lar_maria/lar_maria-1.dmm
  maps/exodus/derelicts/lar_maria/lar_maria-2.dmm
  maps/exodus/derelicts/snowasteroid.dmm
Labels: карта, 🔵одобрено

#1389 опять пр с изменениями коробки
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-6.dmm
Labels: карта, 🔩 улучшение

#1471 Критикал фиксы критикал бага (ООЦ в флаворах)
  code/modules/client/preference_setup/general/06_flavor.dm
Labels: баг, 🔵одобрено

#1416 Штуки для вардена
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/security.dm
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: 🔩 улучшение, 🔵одобрено

#1449 Респрайт РЦД, "ребаланс" велдеров
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/tools.dm
  icons/inv_slots/items/items_l_default.dmi
  icons/inv_slots/items/items_r_default.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/items.dmi
  icons/obj/tools.dmi
Labels: 🔩 улучшение, 🔵одобрено

#1417 Иконки и голограммы для ИИ
  code/datums/ai/ai_holo.dm
  code/modules/mob/living/silicon/ai/icons.dm
  icons/mob/AI.dmi
  icons/mob/hologram.dmi
Labels: 🔩 улучшение, 🔵одобрено

#1411 Фикс и бафф РИГа охраны
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  icons/inv_slots/gloves/mob_slim.dmi
Labels: 🔩 улучшение, 🔵одобрено

#1406 Новая разгрузка в лодаут
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/clothing/under/accessories/storage.dm
  icons/inv_slots/acessories/icon.dmi
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/mob/onmob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: 🔩 улучшение, 🔵одобрено

#1315 Фиксы блоба.
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/blob/blob.dm
  code/game/antagonist/blob/blobs/node.dm
  code/game/antagonist/blob/theblob.dm
  code/game/gamemodes/game_mode.dm
  code/game/mecha/mecha.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/blob.dm
Labels: 🔩 улучшение, 🔵одобрено

#1399 делаем фар шоту направление источника в одно слово
  code/modules/projectiles/gun.dm
Labels: баг, 🔵одобрено

#1465 Crockett's Theme
  code/modules/lobby_music/crocketts_theme.dm
  sound/music/crokett_39_s_theme.ogg
  sound/serversound_list.txt
Labels: 🔩 улучшение

#1415 фикс уголков шаттлов
  code/game/turfs/simulated/wall_shuttle.dm
  code/modules/shuttles/shuttle.dm
Labels: баг

#1470 Закрыл промежность
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/mob/onmob/suit.dmi
  icons/mob/onmob/suit_slim.dmi
Labels: 🔩 улучшение

#1408 Allowed grenades to be stuffed into mouths and primed
  code/game/gamemodes/cult/runes.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/say.dm
  code/modules/spells/spell_code.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/inv_slots/masks/mob_tajaran.dmi
  icons/inv_slots/masks/mob_unathi.dmi
  icons/inv_slots/masks/mob_vox.dmi
Labels: 🔩 улучшение, 🔵одобрено

#1475 separated take_damage() like on bay12
  code/game/atoms.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implants/explosive.dm
  code/game/objects/items/weapons/material/shards.dm
  code/modules/assembly/mousetrap.dm
  code/modules/events/pestilence.dm
  code/modules/genetics/side_effects.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/head.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/stack.dm
  code/modules/organs/organ.dm
  code/modules/organs/subtypes/nabber_organ.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/spells/hand/burning_grip.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/virus2/effect.dm
Labels: 🔧оптимизация, 🔨рефакторинг, 🔩 порт

#1474 Изменения гетто
  code/game/jobs/access_datum.dm
  code/game/jobs/job/civilian.dm
  code/modules/shuttles/departmental.dm
  icons/turf/areas.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_shuttles.dm
  maps/shared/exodus_torch/areas.dm
Labels: карта, 🌌геймдизайн, 🔩 улучшение, 🕳 z-уровни

#1335 Панель голосования.
  baystation12.dme
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/vote.dm
  code/datums/vote/end.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/restart.dm
  code/datums/vote/transfer.dm
  code/datums/vote/vote.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: 🔩 улучшение

#1316 Admin tweaks
  baystation12.dme
  code/_global_vars/mobs.dm
  code/game/machinery/doors/firedoor.dm
  code/game/verbs/who.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/verbs/SDQL.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: 🔩 улучшение

#1397 Ревёрт паранойи
  code/game/objects/random/random.dm
Labels: :recycle: ревёрт, 🔵одобрено

#1451 denied to open a vialbox when it locked
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/storage.dm
Labels: баг, 🔨рефакторинг

#1468 пидорасы прокающие взрывы 0 0 0 и срущие на всю станцию звуками
  code/game/objects/explosion.dm
Labels: баг

#1502 Хотфикс карты
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: баг, карта, 🔺приоритет

#1513 Научка в гетто
  code/game/area/Space Station 13 areas.dm
  icons/turf/areas.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/shared/exodus_torch/areas.dm
Labels: карта, 📝необходимо тестирование, 🔩 улучшение

#1464 Бафф индустриального РИГа
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#1517 Исправление ссылок гунчата
  code/datums/communication/aooc.dm
  code/datums/communication/dsay.dm
  code/datums/communication/looc.dm
  code/datums/communication/ooc.dm
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/lobby_music/_lobby_music.dm
Labels: баг, 🔵в работе

#1519 fix(typing_indicator): don't delete typing_indicator twice
  code/modules/mob/say.dm
Labels: баг, 🔥приоритет, 🔧оптимизация

#1369 Доделываем фичу с необходимостью снимать одежду для хирургии.
  code/_helpers/mobs.dm
  code/game/machinery/OpTable.dm
  code/modules/surgery/surgery.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵в работе, 🔵одобрено

#1511 Добавляем возможность выливать/обливать из напитков
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: 🔩 улучшение

#1504 Фикс иконок гранат на морде
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/emgrenade.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/grenades/prank_grenades.dm
Labels: баг, 🔥приоритет

#1402 Mirror bug fixes
  baystation12.dme
  code/__defines/mobs.dm
  code/_onclick/ai.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/mob/living/say.dm
  code/modules/power/solar.dm
  storage_l_default.dmi
  storage_r_default.dmi
Labels: 🔨рефакторинг

#1533 Фикс способности Division у генокрада
  code/game/gamemodes/changeling/changeling_powers.dm
Labels: баг, 🔺приоритет

#1476 Врубил титры
  code/controllers/subsystems/ticker.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: 🔩 улучшение

#1500 Возможность приматывать вещи к мышам
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/ventcrawl/ventcrawl.dm
  icons/mob/animal.dmi
  icons/mob/mouse.dmi
  sound/effects/duct_tape.ogg
  sound/effects/duct_tape_peeling_off.ogg
Labels: 🔩 улучшение, 🔵одобрено

#1529 Фиксы и мелкие изменения карты
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/contraband.dmi
  maps/exodus/derelicts/bearcat/bearcat-2.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus_areas.dm
Labels: карта, 🔩 улучшение

#1409 Flamethrower rework
  baystation12.dme
  code/__defines/items_clothing.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/flame/flame.dm
  code/modules/projectiles/guns/flame/flamers.dm
  code/modules/projectiles/guns/flamer.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  icons/effects/fire.dmi
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/items/guns_l_default.dmi
  icons/inv_slots/items/guns_r_default.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/flamer.dmi
  icons/obj/flamethrower.dmi
  maps/exodus/derelicts/lar_maria/lar_maria-1.dmm
  sound/weapons/gunshot/flamethrower/flamer_fire.ogg
  sound/weapons/gunshot/flamethrower/ignite_flamethrower1.ogg
  sound/weapons/gunshot/flamethrower/ignite_flamethrower2.ogg
  sound/weapons/gunshot/flamethrower/ignite_flamethrower3.ogg
Labels: 🌌геймдизайн, 🔩 улучшение

#1553 Забыл закрыть тег.
  code/datums/vote/vote.dm
Labels: 🔥приоритет

#1554 Voice Analyzer + меню автолата не лезет в глаза
  code/game/machinery/autolathe.dm
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending.dm
Labels: баг

#1557 removing vortex lag issues
  code/_global_vars/lists/objects.dm
  code/game/objects/items/weapons/teleportation.dm
Labels: 🔨рефакторинг

#1558 Связанные люди не могут складывать стулья
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: баг

#1552 Убираем бесконечную энергию на телекоммах.
  code/modules/power/solar.dm
  maps/exodus/exodus_areas.dm
Labels: :large_blue_diamond:протестировано

#1559 Оптимизация create_object.html
  html/create_object.html
Labels: :large_blue_diamond:протестировано

#1560 Петля
  baystation12.dme
  code/game/objects/noose.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/noose.dmi
  sound/effects/noose/noose_idle.ogg
  sound/effects/noose/noosed.ogg
Labels: :large_blue_diamond:протестировано

#1259 Мини-ивент: чёрные дыры.
  baystation12.dme
  code/_helpers/game.dm
  code/_macros.dm
  code/datums/helper_datums/teleport.dm
  code/game/gamemodes/events/wormholes.dm
  code/game/objects/effects/portals.dm
  code/game/objects/effects/wormhole.dm
  code/modules/events/event_container.dm
  code/modules/events/wormholes.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: :large_blue_diamond:протестировано, 🌌геймдизайн, 🔵одобрено

#1534 Выпивание залпом
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/stomach.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  sound/items/drinking.ogg
  sound/items/drinking_after.ogg
Labels: :large_blue_diamond:протестировано, :white_circle:в работе, 🌌геймдизайн

#1591 Усиливаем последствия от взрыва суперматерии.
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/power/smes.dm
  code/modules/supermatter/supermatter.dm
Labels: :large_blue_diamond:протестировано, 🌌геймдизайн, 🔵одобрено

#1633 HOTfix handle sucide
  code/modules/projectiles/gun.dm
Labels: баг, 🔥приоритет

#1606 [PORT] Блюспейс-техник.
  baystation12.dme
  code/__defines/languages.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/bluespace_tech.dm
  code/modules/multiz/movement.dm
Labels: :large_blue_diamond:протестировано, 🔩 порт, 🔩 улучшение
