Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-12, with the labels that each got.

#3836 Фикс лута мобов + астероидное
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/asteroid_mobs.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/goliath.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/hoverhead.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/sand_lurker.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/shooter.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/random_map/automata/caves.dm
  icons/inv_slots/hats/mob.dmi
  icons/mob/asteroid/goliath.dmi
  icons/obj/clothing/hats.dmi
Labels: :wrench: фикс, 🌌геймдизайн, 🔥приоритет, 🔩 улучшение, 🔵одобрено

#3854 хеккоч тупой пидарас поэтому в этом ПРе мы ревертим самые тупые из его высеров в виде калибруемого телепорта и взрывающихся от радиации коллекторов радиации
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/power/singularity/collector.dm
Labels: :recycle: ревёрт, :wrench: фикс, 🌌геймдизайн, 🔥приоритет, 🔩 улучшение, 🔵одобрено

#3873 Фиксим звуки
  code/game/objects/items/bodybag.dm
  code/modules/reagents/reagent_containers/food/snacks/packaged.dm
  sound/items/shpshpsh.ogg
Labels: sfx, 🔩 улучшение

#3857 fix(reagent_container): replace all New's with Initialize's
  code/game/gamemodes/godmode/form_items/narsie_items.dm
  code/game/machinery/bioprinter.dm
  code/game/machinery/kitchen/cooking_machines/_cooker_output.dm
  code/game/machinery/kitchen/icecream.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/items/weapons/smokables/rolling.dm
  code/modules/detectivework/tools/luminol.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/games/boardgame.dm
  code/modules/reagents/dispenser/cartridge.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/drinkingglass/shaker.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/reagents/reagent_containers/food/snacks/packaged.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/protolathe.dm
  maps/away/errant_pisces/errant_pisces.dm
Labels: :wrench: фикс

#3883 всем привет с вами тапок и сегодня мы фиксим paint/ripley/random
  code/game/objects/items/paintkit.dm
Labels: :wrench: фикс, 🥇 Chicken Dinner

#3714 Ports TG's getFlatIcon()
  code/_helpers/icons.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/modular_computers/file_system/crew_record.dm
  code/modules/organs/external/_external_icons.dm
Labels: 🔧оптимизация, 🔨рефакторинг, 🔩 порт, 🔵нужны ревью

#3729 tweak(buckling): nerfs combat buckling
  code/game/objects/buckling.dm
Labels: ⚔️ боёвка, 🌌геймдизайн, 🔵одобрено

#3682 Фикс модуля интегралки Plant manipulation module
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: :wrench: фикс

#3878 Егановое
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено, 🗺️ карта

#3885 ОЧЕНЬ-ОЧЕНЬ-ОЧЕНЬ сильно оптимизируем хуманов
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/organs/external/_external.dm
  code/modules/storyteller/metrics/wounds_metrics.dm
Labels: :wrench: фикс, 🔥приоритет, 🔧оптимизация

#3849 Фикс некорректного сообщения об отстреле предмета из руки
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: :wrench: фикс

#3853 Нерф вортекса
  code/game/objects/items/weapons/teleportation.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#3837 кэпармор
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/armor.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#3860 Фикс невидимого лимонада
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: :wrench: фикс, 🎨 спрайты

#3734 Add(light): new light
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#3519 Htmlparse
  code/controllers/subsystems/supply.dm
  code/game/gamemodes/events/holidays/Christmas.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/guestpass.dm
  code/game/objects/effects/manifest.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/economy/Accounts.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/modular_computers/file_system/crew_record.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/nano/modules/nano_module.dm
  code/modules/paperwork/paper.dm
Labels: :wrench: фикс, 🔩 улучшение, 🔺приоритет

#3894 Revert "tweak(getFlatIcon): port from TG"
  code/_helpers/icons.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/modular_computers/file_system/crew_record.dm
Labels: 🥇 Chicken Dinner

#3869 Горстка фиксов
  code/datums/observation/opacity_set.dm
  code/game/atoms.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/death.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/breathe.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/organs/external/_external_damage.dm
Labels: :wrench: фикс, 🔧оптимизация, 🔨рефакторинг

#3839 Фикс принтеров + апдейт UI
  code/game/machinery/bioprinter.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/organ.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/recycling/disposal.dm
  icons/obj/surgery.dmi
Labels: :wrench: фикс, 🎨 спрайты, 🔨рефакторинг, 🔩 улучшение

#3784 Revert "Портирование дион"
  baystation12.dme
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/item_worth/materials.dm
  code/modules/materials/materials.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/diona/_nymph.dm
  code/modules/mob/living/carbon/alien/diona/death.dm
  code/modules/mob/living/carbon/alien/diona/diona.dm
  code/modules/mob/living/carbon/alien/diona/diona_attacks.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/_gestalt.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_attacks.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_movement.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_nymph.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_turfs.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_verbs.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_vote.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/gestalt_vote_types.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/alien/diona/nymph_attacks.dm
  code/modules/mob/living/carbon/alien/diona/nymph_gestalting.dm
  code/modules/mob/living/carbon/alien/diona/nymph_holder.dm
  code/modules/mob/living/carbon/alien/diona/nymph_inventory.dm
  code/modules/mob/living/carbon/alien/diona/nymph_life.dm
  code/modules/mob/living/carbon/alien/diona/nymph_ui.dm
  code/modules/mob/living/carbon/alien/diona/progression.dm
  code/modules/mob/living/carbon/alien/diona/say_understands.dm
  code/modules/mob/living/carbon/alien/diona/update_icons.dm
  code/modules/mob/living/carbon/alien/diona/~diona.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/alien/larva/life.dm
  code/modules/mob/living/carbon/alien/larva/progression.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/alien/progression.dm
  code/modules/mob/living/carbon/alien/update_icons.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/organs/external/diona.dm
  code/modules/spells/racial_wizard.dm
  icons/mob/gestalt.dmi
  icons/mob/human_races/diona/body.dmi
  icons/mob/human_races/diona/deformed_body.dmi
  icons/mob/human_races/diona/eyes.dmi
  icons/mob/human_races/diona/preview.dmi
  icons/mob/human_races/r_def_plant.dmi
  icons/mob/human_races/r_diona.dmi
  icons/turf/doona.dmi
Labels: :recycle: ревёрт, :trollface: no xenos allowed, 🌌геймдизайн, 🌲 дионы, 🔵одобрено

#3899 bluebar-remake
  code/game/machinery/kitchen/smartfridge.dm
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3904 Фикс сломанного ивента brand intelligence
  code/modules/events/brand_intelligence.dm
Labels: :wrench: фикс, 🔺приоритет

#3862 Лицензия торговцам
  code/_global_vars/misc.dm
  code/_helpers/text.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/gamemodes/cult/talisman.dm
  code/game/jobs/job_controller.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/paperwork/misc.dm
  code/modules/paperwork/paper.dm
  icons/obj/bureaucracy.dmi
  maps/exodus/exodus-3.dmm
Labels: :ru: локализация, 🌌геймдизайн, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#3915 quickfix(energy rifle)
  code/modules/projectiles/guns/energy/nuclear.dm
Labels: :wrench: фикс

#3697 Капучино
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  icons/obj/drink_cocktails.dmi
Labels: 🌌геймдизайн, 🌐вики, 🔩 улучшение, 🔵одобрено

#3917 Фикс СМЕСов на дереликте
  maps/exodus/derelicts/original/derelict.dmm
Labels: :wrench: фикс, 🗺️ карта

#3912 Фикс хим-раздатчиков, гранат и электронных сигарет
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/reagents/reagent_containers.dm
Labels: :wrench: фикс

#3920 Сжимаем банки 2 часа
  code/game/objects/items/trash.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/drinks.dmi
  icons/obj/food_packaged.dmi
  icons/obj/trash.dmi
  sound/items/cancrush1.ogg
  sound/items/cancrush2.ogg
Labels: sfx, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#3921 Ебанная бумага
  code/controllers/subsystems/supply.dm
  code/game/gamemodes/events/holidays/Christmas.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/guestpass.dm
  code/game/objects/effects/manifest.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/taperecorder.dm
  code/modules/economy/Accounts.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/paperwork/misc.dm
  code/modules/paperwork/paper.dm
  code/modules/psychotronics/loot.dm
Labels: :wrench: фикс, 🔥приоритет, 🔵нужны ревью, 🥇 Chicken Dinner

#3909 Take Me To Church
  baystation12.dme
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/pew.dm
  code/game/objects/structures/signs.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/obj/decals.dmi
  icons/obj/furniture.dmi
  icons/turf/areas.dmi
  icons/turf/flooring/carpet.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus_areas.dm
  maps/shared/exodus_torch/areas.dm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3924 church fix
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, 🗺️ карта

#3879 RUS-T engine reactions and controls fix
  code/modules/power/fusion/core/core_control.dm
  code/modules/power/fusion/fusion_reactions.dm
Labels: :wrench: фикс, 🥇 Chicken Dinner

#3500 Фикс световых мечей
  code/datums/outfits/horror_killers.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/examine/descriptions/weapons.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/surgery/generic.dm
  maps/exodus/alpha/alpha-4.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/prison/prison-3.dmm
Labels: :wrench: фикс

#3926 Баффаем вентиляцию
  code/__defines/machinery.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
Labels: атмос, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#3602 H.O.N.K. is back
  baystation12.dme
  code/game/mecha/combat/honker.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_parts.dm
  code/game/mecha/mecha_wreckage.dm
  icons/mecha/mech_construct.dmi
  icons/mecha/mech_construction.dmi
  icons/mecha/mecha.dmi
  maps/exodus/exodus-5.dmm
  maps/exodus/exodus-6.dmm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено, 🗺️ карта, 🥇 Chicken Dinner

#3930 tweak(storyteller): correct disabling
  code/modules/storyteller/metrics/wounds_metrics.dm
Labels: :wrench: фикс

#3898 Add(rigs): Add rigs to cargo
  code/datums/supplypacks/engineering.dm
  code/datums/supplypacks/medical.dm
  code/datums/supplypacks/science.dm
  code/datums/supplypacks/security.dm
Labels: 🌌геймдизайн, 🔵одобрено

#3893 Кик из-за превышение лимита игроков не дает сообщения игроку.
  code/modules/client/client_procs.dm
Labels: :wrench: фикс

#3928 Зажигалочное
  code/datums/uplink/badassery.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/lighters.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/items.dmi
  icons/obj/stationobjs.dmi
  icons/obj/zippos.dmi
  sound/effects/pig1.ogg
  sound/effects/pig2.ogg
  sound/effects/pig3.ogg
Labels: :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3951 changeling update
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
Labels: :wrench: фикс, 🔵нужны ревью

#3934 Tablichnoe
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3958 Рефакторим бодибилды
  code/__defines/items_clothing.dm
  code/_helpers/global_lists.dm
  code/_helpers/icons.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/effects/blank.dmi
Labels: 🔥приоритет, 🔧оптимизация, 🔵нужны ревью

#3955 новогодний апдейт карты
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3937 Шлюзочное
  code/game/machinery/doors/airlock_interactions.dm
Labels: :knife: удаление, 🌌геймдизайн, 🔵одобрено

#3918 tweak(loadout): add donate items (8, 22, 23 of SC)
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#3617 Пересоздание сломанного пул реквеста(фикс перил)
  code/game/objects/structures/railing.dm
Labels: :wrench: фикс

#3994 Лось
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  icons/obj/toy.dmi
Labels: мемы

#3995 Лось #2
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  icons/obj/toy.dmi
Labels: мемы

#3821 buff(coilgun): removes explosion chance
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
Labels: 🌌геймдизайн

#3996 Revert #3821
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
Labels: :recycle: ревёрт

#3975 Респрайтим тыкалки
  icons/obj/airlock_machines.dmi
  icons/obj/apc_repair.dmi
  icons/obj/power.dmi
  icons/obj/stationobjs.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#3981 Перезалив + апдейт #3267
  code/modules/clothing/shoes/magboots.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/organs/external/_external.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
Labels: 🔥приоритет, 🔧оптимизация

#3984 tweak(ИИ и камеролюбы могуть экзамайнить)
  code/_onclick/click.dm
  code/modules/examine/examine.dm
  code/modules/mob/mob.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#3983 Возвращаем кредиты
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/trade.dm
  code/datums/uplink/devices and tools.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/glassjar.dm
  code/modules/economy/ATM.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/cash.dm
  code/modules/events/money_lotto.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  code/modules/scripting/Options.dm
  icons/obj/items.dmi
  maps/away/smugglers/smugglers.dm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#3925 tweak(nanopaste) fix battle cyborg heal
  code/game/objects/items/stacks/nanopaste.dm
Labels: :wrench: фикс, 🌌геймдизайн, 🔵одобрено

#3501 удаляем мерков
  baystation12.dme
  code/__defines/gamemode.dm
  code/__defines/machinery.dm
  code/controllers/communications.dm
  code/datums/mind.dm
  code/datums/outfits/spec_op.dm
  code/datums/trading/armor.dm
  code/datums/trading/spacesuits.dm
  code/datums/uplink/badassery.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/grenades.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/syndicate.dm
  code/game/area/Space Station 13 areas.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/siege.dm
  code/game/gamemodes/newobjective.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/effects/decals/posters/tgposters.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/spacesuits/rig/suits/syndi.dm
  code/modules/clothing/spacesuits/void/syndi.dm
  code/modules/clothing/suits/pcarriers.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/economy/Events.dm
  code/modules/economy/Events_Mundane.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/say.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/antagonist/hacked_camera.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/shuttles/antagonist.dm
  code/modules/storyteller/metrics/common_metrics.dm
  config/example/config.txt
  maps/away/slavers/slavers_base.dm
  maps/exodus/alpha/alpha-2.dmm
  maps/exodus/alpha/alpha-3.dmm
  maps/exodus/alpha/alpha-4.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_shuttles.dm
  maps/exodus/prison/prison-1.dmm
  maps/exodus/prison/prison-3.dmm
Labels: 🌌геймдизайн, 📄 конфиг, 🔨рефакторинг, 🔵одобрено

#3993 ТобиБоёвочка - SS:GO Edition
  code/__defines/damage_organs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special.dm
Labels: ⚔️ боёвка, 🌌геймдизайн, 🔵одобрено

#3972 Лодаутное
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/_defines.dm
  code/modules/client/preference_setup/loadout/lists/clothing.dm
  code/modules/client/preference_setup/loadout/lists/earwear.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/client/preference_setup/loadout/lists/food_drinks.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/masks.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/lists/security.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/client/preference_setup/loadout/lists/~defines.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/human/species/species.dm
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/obj/clothing/shoes.dmi
Labels: 🌌геймдизайн, 🔵одобрено

#3998 Нож кредитка? А может лучше лом-коробка
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tools.dm
  icons/inv_slots/belts/mob.dmi
  icons/inv_slots/belts/mob_slim.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/tools.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4017 Опять бумажное, опять карго
  code/controllers/subsystems/supply.dm
Labels: :wrench: фикс

#4022 Куриное
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4007 Возвращаем лодаут
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
Labels: 🌌геймдизайн, 🔵одобрено

#3895 Evidencebag fix
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4027 опять ковыряние брига
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4057 fix(science_glasses)
  code/modules/clothing/glasses/glasses.dm
  icons/obj/hud_full.dmi
Labels: :wrench: фикс

#4053 Сандалийное
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/obj/clothing/shoes.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4056 Добавление части выпиленной из лодаута херни на карту
  baystation12.dme
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  maps/exodus/derelicts/djstation.dmm
  maps/exodus/derelicts/original/derelict.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4051 Лодаутно-фляжечное
  code/modules/client/preference_setup/loadout/lists/food_drinks.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
Labels: :wrench: фикс

#4002 tweak(coilgun): removes explosion chance, add overheat mechanics.
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4026 tweak(advanced_signaller) unicode letters fix
  code/modules/integrated_electronics/subtypes/input.dm
Labels: :pager: интегралки, :wrench: фикс

#4071 Педально-генераторное
  baystation12.dme
  code/game/objects/buckling.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/pedal_gen.dm
  icons/obj/stationobjs.dmi
Labels: 🌌геймдизайн, 🔩 улучшение

#4065 Возможность пихать боевые ножи в боевые ремни (#3960)
  code/game/objects/items/weapons/storage/belt.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4072 Педальгены на карте
  code/modules/power/pedal_gen.dm
  maps/exodus/exodus-2.dmm
  sound/effects/pedalgen.ogg
Labels: sfx, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4084 Где свиньи? Блин?
  code/datums/supplypacks/miscellaneous.dm
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🐖 народное требование, 🔩 улучшение, 🔵одобрено

#4068 Больше сварочных масок (в лодаут для всех)
  baystation12.dme
  code/game/objects/items/welding_covers.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/clothing/head/misc_special.dm
  icons/inv_slots/hats/mob.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/welding_covers.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#4066 ТобиБоёвочка - Артериальное
  code/modules/organs/external/_external.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/standard.dm
  code/modules/projectiles/projectile/beams.dm
Labels: ⚔️ боёвка, 🌌геймдизайн, 💉медицина, 🔵одобрено

#4050 tweak(power_cell)
  code/game/machinery/cell_charger.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/power/cell.dm
  code/modules/research/designs/protolathe/dp-engineering.dm
  icons/obj/power.dmi
Labels: :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4087 Свиное
  code/datums/supplypacks/miscellaneous.dm
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/storage.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🐖 народное требование, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3991 Ламповое
  code/game/objects/items/devices/flashlight.dm
  code/modules/power/lighting.dm
Labels: 🔩 улучшение

#4094 Перестаём срать в чат дебаг лога по пять страниц драфтов и странице метрики
  code/game/antagonist/antagonist.dm
  code/modules/storyteller/storyteller_metric.dm
Labels: :gear:кнопки, 🔩 улучшение

#4074 Пинаем ZAS
  code/__defines/ZAS.dm
  code/__defines/atmos.dm
  code/controllers/subsystems/air.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/mecha/mech_sensor.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/structures/coathanger.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_spawner.dm
  code/game/shuttle_engines.dm
  code/modules/ZAS/Atom.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/blob.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/antimatter/shielding.dm
  code/modules/power/fusion/fusion_particle_catcher.dm
  code/modules/power/turbine.dm
  code/modules/recycling/disposal.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/shieldgen/energy_field.dm
  code/modules/shieldgen/shieldwallgen.dm
  code/modules/tables/interactions.dm
Labels: 🔧оптимизация, 🔩 порт, 🔵нужны ревью

#4083 Серёжки и цветочки
  baystation12.dme
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/loadout/lists/earwear.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/ears/earmuffs.dm
  code/modules/clothing/ears/earrings.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/living/carbon/human/body_build.dm
  icons/inv_slots/ears/mob.dmi
  icons/inv_slots/ears/mob_r.dmi
  icons/inv_slots/ears/mob_r_slim.dmi
  icons/inv_slots/ears/mob_slim.dmi
  icons/inv_slots/hats/mob.dmi
  icons/obj/clothing/ears.dmi
  icons/obj/clothing/hats.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#3969 Крабовое
  code/modules/events/infestation.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/inv_slots/hats/mob.dmi
  icons/mob/animal.dmi
  icons/mob/mouse.dmi
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
Labels: 🌌геймдизайн, 🔵одобрено

#4106 fix(pedal_gen) chair from pedal_gen fix
  code/modules/power/pedal_gen.dm
Labels: :wrench: фикс

#4114 госты видят чё за руны
  code/game/gamemodes/cult/runes.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено
