Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-10, with the labels that each got.

#3448 gunchat mir pobedil
  code/modules/client/client_procs.dm
Labels: :wrench: фикс

#3456 fix(crashing server w/ xtremely hugge shift)
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
Labels: :wrench: фикс, 💰награда, 🔥приоритет

#3136 Чиним оверлеи крови на тонких людях
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_getters.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/nabber.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/human_races/masks/blood_human_m_slim.dmi
  icons/mob/human_races/masks/blood_human_slim.dmi
  icons/mob/human_races/masks/blood_human_slim_alt.dmi
Labels: :wrench: фикс

#3062 Вампиры
  baystation12.dme
  code/__defines/gamemode.dm
  code/__defines/misc.dm
  code/__defines/species.dm
  code/_helpers/global_access.dm
  code/_helpers/unsorted.dm
  code/datums/mind.dm
  code/game/antagonist/station/thrall.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/events.dm
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/gamemodes/vampire/vampire_datum.dm
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/machine.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  icons/mob/mob.dmi
  ingame_manuals/vampire.html
  sound/effects/creepyshriek.ogg
  sound/effects/drain_blood.ogg
Labels: 🌌геймдизайн, 💰награда, 📝необходимо тестирование, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#3452 resprite-part-one
  icons/obj/gun.dmi
  icons/obj/items.dmi
  icons/obj/nanopaste.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#3484 criticalfix(onyxchat): cookie crash
  code/modules/onyxchat/browserOutput.dm
Labels: :wrench: фикс

#3231 Починка заданий у воксов
  code/game/antagonist/outsider/raider.dm
  code/game/gamemodes/objective.dm
Labels: :wrench: фикс, 💰награда

#3497 Крокет в жукбокс
  code/_global_vars/lists/flavor.dm
Labels: 🌌геймдизайн, 🔵одобрено

#3491 Мелкофикс спичек
  code/game/objects/items/weapons/lighters.dm
Labels: :wrench: фикс

#3503 Мелкофикс блендера
  code/modules/reagents/Chemistry-Machinery.dm
Labels: :wrench: фикс

#3524 Нинжа не пытается скачать уровни исследований со ВСЕХ консолей
  code/modules/clothing/spacesuits/rig/modules/computer.dm
Labels: :wrench: фикс

#3526 fix(log):logs without (JMP) and stuff
  code/modules/admin/admin_attack_log.dm
Labels: :wrench: фикс

#3511 Курение убивает, но не так сильно
  code/game/objects/items/weapons/smokables/smokables.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: :wrench: фикс, 🌌геймдизайн, 🔵одобрено

#3550 Курение убивает, но не так сильно 2
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: :wrench: фикс, 🔩 улучшение

#3471 Security Voidsuits redone
  code/modules/clothing/spacesuits/void/station.dm
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено, 🗺️ карта

#3517 Мелкофикс mead'а
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: :wrench: фикс

#3546 Smokables QoL
  code/game/objects/items/weapons/smokables/rolling.dm
  code/game/objects/items/weapons/smokables/smokables.dm
  code/modules/paperwork/paper.dm
Labels: :wrench: фикс, 🔨рефакторинг, 🔩 улучшение

#3460 energy-cutlass-resprite
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#3454 Объективно лучшее обновление за историю Chaotic Onyx: Войны Хлорок
  code/datums/outfits/_defines.dm
  code/datums/outfits/jobs/security.dm
  code/datums/outfits/outfit.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/storage.dmi
  icons/obj/syringe.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#3475 Lil bit o'guns
  code/datums/supplypacks/security.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  icons/obj/ammo.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено, 🗺️ карта

#3508 add some winners of sprite contest
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/inv_slots/back/hand_l_default.dmi
  icons/inv_slots/back/hand_l_slim.dmi
  icons/inv_slots/back/hand_r_default.dmi
  icons/inv_slots/back/hand_r_slim.dmi
  icons/inv_slots/back/icon.dmi
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/inv_slots/gloves/icon.dmi
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/hats/icon.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/hand_l_default.dmi
  icons/inv_slots/suits/hand_r_default.dmi
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/uniforms/hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_slim.dmi
  icons/inv_slots/uniforms/hand_r_default.dmi
  icons/inv_slots/uniforms/hand_r_slim.dmi
  icons/inv_slots/uniforms/icon.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/storage.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#3380 ТобиБоёвочка (simple_animals edition)
  code/game/gamemodes/changeling/helpcode.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#3520 Фиксы центкомма
  maps/exodus/exodus-3.dmm
Labels: :wrench: фикс, 🗺️ карта

#3539 Price scanner и радио торговцу
  code/datums/outfits/jobs/civilian.dm
Labels: 🌌геймдизайн, 🔵одобрено

#3568 Впиливаем Фичи
  code/game/machinery/vending.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  icons/obj/drinks.dmi
Labels: 🌌геймдизайн

#3532 fix(map):airalarms-bulbs
  maps/exodus/exodus-1.dmm
Labels: :wrench: фикс, 🗺️ карта

#3566 Воксы не могут менять имена
  code/game/antagonist/outsider/raider.dm
Labels: 🌌геймдизайн, 🔵одобрено

#3569 fix(crematorium)
  code/game/objects/structures/morgue.dm
Labels: :wrench: фикс

#3447 tweak(Exodus_jobs) Xenomerchants
  maps/exodus/exodus_jobs.dm
Labels: :trollface: no xenos allowed, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#3463 bloodloss rework
  code/game/objects/items/stacks/medical.dm
  code/modules/organs/internal/brain.dm
Labels: 🌌геймдизайн, 💉медицина, 🔵нужны ревью, 🔵одобрено

#3523 Встроенный вендинг теперь встроенный
  maps/exodus/exodus-6.dmm
Labels: :wrench: фикс, 🗺️ карта

#3436 Огнетушительное
  code/game/mecha/equipment/tools/tools.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
Labels: ⚔️ боёвка, 🌌геймдизайн, 🔵одобрено

#3530 Раковина робототеху
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено, 🗺️ карта

#3072 Soap'n'Bananas nerf
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/weapons/soap.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  icons/effects/effects.dmi
Labels: ⚔️ боёвка, 🌌геймдизайн, 🔵одобрено
