Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-07, with the labels that each got.

#2862 fix(chloralhydrate.affect_blood)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: :wrench: фикс

#2853 Всплывающие окна не перехватывают фокус
  code/datums/browser.dm
Labels: 🔩 улучшение

#2848 fix(runtime): hallucinations
  code/modules/mob/living/carbon/hallucinations.dm
Labels: :bug: runtime, :wrench: фикс, 🔵нужны ревью

#2833 fix(do_flip): add validate before flip
  code/modules/tables/flipping.dm
Labels: :white_circle:ожидает автора, :wrench: фикс

#2411 fix(tweak(mousebuckle)): simple_mobs can't longer buckle other mobs
  code/game/objects/buckling.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2861 Твикаем код прока infest и молимся чтобы ничё не сломалось
  code/game/gamemodes/changeling/helpcode.dm
Labels: :wrench: фикс

#1590 The Most Epic Patreon Reward: Boombox Edition
  baystation12.dme
  code/_global_vars/lists/flavor.dm
  code/datums/sound_player.dm
  code/game/machinery/jukebox.dm
  code/modules/admin/topic.dm
  code/modules/music_player/_music_player.dm
  code/modules/music_player/_music_tape.dm
  code/modules/music_player/sprites/object.dmi
  code/modules/music_player/subtypes_player.dm
  code/modules/music_player/subtypes_tape.dm
  nano/templates/jukebox.tmpl
  sound/items/Screwdriver3.ogg
  tgui-next/packages/tgui/interfaces/Jukebox.js
Labels: 🔩 порт, 🔩 улучшение, 🔵нужны ревью

#2885 Ребаланс карты, попытка #2
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/signs.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/clothing/suits/armor.dm
  icons/obj/decals.dmi
  icons/turf/flooring/decals.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-6.dmm
Labels: 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#2771 Запрещаем призракам взаимодействовать с контейнерами
  code/modules/reagents/reagent_containers.dm
Labels: :wrench: фикс, 🔵нужны ревью

#2687 Чистим мусор, pt. 1
  baystation12.dme
  code/datums/supplypacks/security.dm
  code/datums/trading/armor.dm
  code/datums/trading/goods.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/VR/VR_items.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/custom_clothing.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/mirania.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/spacesuits/captain.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/mirania.dm
  code/modules/clothing/suits/pcarriers.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/random_map/drop/drop_types.dm
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/shared/datums/uniforms.dm
Labels: ⚔️ боёвка, 🌌геймдизайн, 🌐вики, 🔨рефакторинг, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#2834 Интеграция с вики
  baystation12.dme
  code/__defines/misc.dm
  code/_global_vars/lists/objects.dm
  code/_helpers/global_lists.dm
  code/datums/supplypacks/science.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/js/wiki_html.js
  code/js/wiki_text.js
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
  code/modules/library/manuals.dm
  code/modules/library/manuals/engineering.dm
  code/modules/library/manuals/manuals.dm
  code/modules/library/manuals/medical.dm
  code/modules/library/manuals/medical_chemistry.dm
  code/modules/library/manuals/nanotrasen.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
  code/modules/nano/modules/nano_module.dm
  code/modules/xenoarcheaology/misc.dm
  icons/obj/library.dmi
  maps/exodus/derelicts/bearcat/bearcat-2.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  nano/js/wiki_topics.js
  nano/templates/wiki_topics.tmpl
Labels: 🌌геймдизайн, 🌐вики, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#3002 Менее занятые автолаты
  code/game/machinery/autolathe.dm
Labels: :wrench: фикс

#3001 refac(misc): multiple definitions
  code/_onclick/hud/_defines.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/modules/clothing/suits/armor.dm
Labels: :wrench: фикс

#2992 чистим fucking инстансы аир алярмов в картах
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, 🗺️ карта
