Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-03, with the labels that each got.

#1597 Коллекторы теперь ломаются при высокой температуре.
  code/modules/power/singularity/collector.dm
  icons/obj/singularity.dmi
Labels: 🌌геймдизайн, 📝необходимо тестирование, 🔵одобрено

#1609 SS character setup
  baystation12.dme
  code/__defines/misc.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/initialization/character_setup.dm
  code/game/verbs/ignore.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggle.dm
  code/modules/client/ui_style.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/login.dm
Labels: 🔥приоритет, 🔧оптимизация, 🔩 порт

#1601 Парсер эмоджи
  baystation12.dme
  code/controllers/configuration.dm
  code/datums/communication/aooc.dm
  code/datums/communication/dsay.dm
  code/datums/communication/looc.dm
  code/datums/communication/ooc.dm
  code/datums/communication/pray.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/emojis/emoji_parse.dm
  icons/emoji.dmi
Labels: :white_circle:в работе, 🔩 улучшение

#1653 fix(SScharacter_setup)
  code/__defines/subsystems.dm
  code/controllers/subsystems/initialization/character_setup.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggle.dm
  code/modules/mob/new_player/login.dm
Labels: :wrench: bugfix

#1661 Наболевший педальский who.
  code/game/verbs/who.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: :wrench: bugfix, 🔩 улучшение

#1670 Фикс рантайма у ATM
  code/modules/economy/ATM.dm
Labels: :bug: runtime

#1673 Зачем вызывать деструктор
  code/game/mecha/equipment/tools/tools.dm
  code/game/objects/structures/rock.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
Labels: 🔨рефакторинг

#1676 Фикс рантайма у quantum cell
  code/modules/power/cell.dm
Labels: :bug: runtime

#1669 Фикс рантайма у SStrade
  code/controllers/subsystems/trade.dm
Labels: :bug: runtime

#1671 Фиксы рантаймов у external organs
  code/modules/organs/external/_external_damage.dm
Labels: :bug: runtime

#1666 Фикс названия реагента у рнд.
  code/modules/research/rdmachines.dm
Labels: :wrench: bugfix

#1646 Фикс иконок у Energy Gun
  code/modules/projectiles/guns/energy.dm
Labels: :wrench: bugfix

#1690 Убираем регистрацию `moved event` у всей машинерии
  code/modules/power/power_usage.dm
Labels: 🔧оптимизация

#1688 Фикс конвертирования у ревы.
  code/game/antagonist/antagonist_factions.dm
Labels: :wrench: bugfix

#1683 Фикс проводимых операций на мёртвых органах.
  code/modules/surgery/organs_internal.dm
Labels: :wrench: bugfix

#1651 Gothic Dress
  code/modules/clothing/under/miscellaneous.dm
  icons/inv_slots/uniforms/hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_slim.dmi
  icons/inv_slots/uniforms/hand_r_default.dmi
  icons/inv_slots/uniforms/hand_r_slim.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🎨 спрайты

#1611 "Дергаем" генокрада за щупальца.
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#1687 Игроки с живым мобом могут обходить лёгкий лимит.
  code/controllers/configuration.dm
  code/modules/client/client_procs.dm
Labels: конфиг, 🔩 улучшение

#1595 Фиксы спрайтов одежды
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: :wrench: bugfix, 🎨 спрайты

#1545 Runtime fix
  code/controllers/subsystems/garbage.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/power/batteryrack.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: :bug: runtime, 🔧оптимизация, 🔨рефакторинг

#1704 Фиксы карты
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: :wrench: фикс, карта

#1705 Hangout Party End
  code/game/objects/noose.dm
Labels: :wrench: фикс

#1706 Тактическая оптимизация
  code/modules/organs/external/_external_damage.dm
Labels: 🔧оптимизация

#1766 More server-friendly vortex behavior.
  code/game/objects/items/weapons/teleportation.dm
Labels: 🔩 улучшение

#1794 Фикс автозакрытия стеклянных дверей
  code/game/machinery/doors/windowdoor.dm
Labels: :wrench: фикс

#1787 Возвращаем кровь кровавым рунам
  code/game/gamemodes/cult/ritual.dm
Labels: :wrench: фикс

#1725 Фикс смешных багов у генокрадов
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
Labels: :wrench: фикс

#1759 Отображение призраков на фотографиях.
  code/_helpers/icons.dm
Labels: 🔩 улучшение

#1804 Лимит для протолата
  code/modules/research/rdconsole.dm
Labels: :wrench: фикс

#1792 Педальная возможность удалять книги из БД.
  code/modules/admin/admin_verbs.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
  nano/templates/library.tmpl
Labels: 🔩 улучшение

#1720 Заменяем процесс у дверей на таймеры.
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
Labels: 🔧оптимизация

#1813 Исправление дюпа стали.
  code/game/objects/items/stacks/rods.dm
Labels: :wrench: фикс, 🔵одобрено

#1724 Защита для IsBanned()
  code/modules/admin/IsBanned.dm
Labels: :shield: уязвимость, 🔥приоритет, 🔩 порт

#1800 increase in the number of days you need to join as drone
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
Labels: :wrench: фикс

#1808 increasing minimal_player_age for diffirent jobs
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
Labels: 🔵одобрено

#1821 Исправление работы термостата в настенном AirAlarm
  code/game/machinery/alarm.dm
Labels: :wrench: фикс

#1827 fix(hud): fix runtime when giving mobs abilities with HUD buttons
  code/_onclick/hud/ability_screen_objects.dm
  code/_onclick/hud/movable_screen_objects.dm
Labels: :wrench: фикс

#1823 fix(asset): fix BYOND client spam server with asset arrival confirmations
  code/modules/client/client_procs.dm
Labels: :wrench: фикс, 🔥приоритет, 🔧оптимизация

#1815 assert proj lag
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс

#1758 Мыши могут кусать и заражать людей
  code/__defines/mobs.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/virus2/disease2.dm
Labels: 🔩 улучшение

#1805 Fixing broken pipes
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, карта

#1817 Убираем возможность появления мобов Нар-Си на ЦК
  code/_helpers/areas.dm
  code/game/gamemodes/cult/hell_universe.dm
Labels: :wrench: фикс

#1799 Убираем радиацию с астероида.
  code/modules/mining/mine_turfs.dm
Labels: 🌌геймдизайн, 🔵одобрено

#1829 Фикс авто-закрытия стеклянных дверей из-за других объектов
  code/game/machinery/doors/windowdoor.dm
Labels: :wrench: фикс

#1832 Нерфаем мышей после обновы
  code/modules/mob/living/living_powers.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: 🌌геймдизайн, 🔵одобрено

#1709 Proximity System
  baystation12.dme
  code/__defines/flags.dm
  code/_helpers/game.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/flasher.dm
  code/game/objects/effects/proximity.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/turfs/turf.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/proximity.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/mob/mob_defines.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/projectiles/guns/launcher/slugsling.dm
Labels: 🔧оптимизация, 🔩 порт

#1831 tweak(lobby): inculde unincluded music what was committed but not included
  baystation12.dme
  code/modules/lobby_music/_lobby_music.dm
Labels: 🔩 улучшение

#1822 tweak(bone mender): add visible message
  code/modules/surgery/bones.dm
Labels: 🔩 улучшение

#1809 Убираем грифозный бох
  code/game/objects/items/weapons/storage/backpack.dm
Labels: 🌌геймдизайн, 🔵одобрено

#1796 Небезопасные телепорты.
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: 🌌геймдизайн, 🔵одобрено

#1565 Реверт реверта реверта ЕоФа
  baystation12.dme
  code/__defines/colors.dm
  code/controllers/configuration.dm
  code/controllers/eof.dm
  code/controllers/subsystems/ticker.dm
  code/datums/outfits/outfit.dm
  code/game/jobs/job_controller.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  icons/effects/lighting_overlay_tile.dmi
  icons/obj/pinkcuffs.dmi
Labels: :recycle: ревёрт

#1806 Фикс диспенсеров у киборгов
  code/modules/mob/living/silicon/robot/robot_items.dm
Labels: :wrench: фикс

#1625 Генератор гравитации.
  baystation12.dme
  code/__defines/misc.dm
  code/_global_vars/configuration.dm
  code/_helpers/global_access.dm
  code/datums/wires/gravity_generator.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/modules/admin/secrets/random_events/gravity.dm
  code/modules/events/gravity.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_movement.dm
  code/modules/power/gravitygenerator.dm
  icons/obj/machines/gravity_generator.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/shared/exodus_torch/areas.dm
  nano/templates/gravity_generator.tmpl
Labels: 🔩 улучшение

#1793 Инженерный доступ позволяет перезапускать заблокированный АПЦ
  code/modules/power/apc.dm
Labels: 🔩 улучшение

#1816 Ограничиваем стак-урон у стекляшек/шрапнели на полу
  code/game/objects/items/weapons/material/shards.dm
Labels: :wrench: фикс, 🔵одобрено

#1775 Refactors fullscreen mode, removes tooltip
  code/controllers/subsystems/ticker.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/onyxchat/browserOutput.dm
Labels: 🔨рефакторинг

#1840 Ревертаем нерф боха
  code/game/objects/items/weapons/storage/backpack.dm
Labels: 🌌геймдизайн, 🔵одобрено

#1839 Выставляем лимит для очереди в протолате
  code/modules/research/rdconsole.dm
Labels: :wrench: фикс
