Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-06, with the labels that each got.

#2549 Выпил ограничений у мясорубки
  code/game/machinery/kitchen/gibber.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2558 Выпил размерных трейтов
  code/modules/client/preference_setup/traits/trait_defines.dm
  code/modules/modifier/helpers.dm
  code/modules/modifier/modifier.dm
  code/modules/modifier/traits.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2476 Убрал абуз у торговцев, взамен облегчив им работу
  code/datums/trading/misc.dm
  code/datums/trading/trade.dm
  code/datums/trading/unique.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2408 BayMed nerf
  baystation12.dme
  code/datums/supplypacks/medical.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/structures/geltanks.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/organs/organ.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/research/designs/protolathe/dp-surgery.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/surgery.dm
  icons/obj/items.dmi
  icons/obj/objects.dmi
  icons/obj/surgery.dmi
Labels: 🌌геймдизайн, 💉медицина, 🔵нужны ревью, 🔵одобрено

#2386 station engineers + access
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/science.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2506 Боёвочка v1.4.88
  code/__defines/materials.dm
  code/_onclick/item_attack.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/vending.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/simulated/walls.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/tables/flipping.dm
  code/modules/tables/interactions.dm
  code/modules/tables/tables.dm
  icons/obj/shards.dmi
  sound/effects/deskslam.ogg
  sound/effects/metalhit2.ogg
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2650 Еда дорожает
  code/datums/supplypacks/supply.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2626 :pensive:
  code/controllers/subsystems/event.dm
  code/game/gamemodes/game_mode.dm
  code/modules/virus2/admin.dm
Labels: wtf

#2668 Фикс рантайма в преференсах
  code/modules/client/preference_setup/global/05_settings.dm
Labels: 🔵нужны ревью

#2497 Больше галлюцинаций, хороших и разных.
  baystation12.dme
  code/__defines/virus.dm
  code/_global_vars/lists/russian.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/hallucination_phrases.txt
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/mob.dm
  code/modules/virus2/effect.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2590 Шанс падения в мусорку при беге в состоянии дизориентации
  code/modules/mob/living/living.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2573 Исправление модификаторов речи
  code/game/machinery/newscaster.dm
  code/modules/admin/multiaccount.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_helpers.dm
Labels: 🔵нужны ревью

#2556 feat(storyteller): wounds_metric, check antagonist if brigged and print statistics
  baystation12.dme
  code/controllers/subsystems/ticker.dm
  code/datums/mind.dm
  code/game/antagonist/alien/borer.dm
  code/game/antagonist/alien/xenomorph.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/blob/blob.dm
  code/game/antagonist/outsider/actors.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/deity.dm
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/antagonist/station/meme.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/storyteller/characters/support.dm
  code/modules/storyteller/metrics/common_metrics.dm
  code/modules/storyteller/metrics/wounds_metrics.dm
  code/modules/storyteller/storyteller.dm
  code/modules/storyteller/storyteller_metric.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2703 Фикс рантайма в преференсах
  code/modules/client/preferences_toggle.dm
Labels: 🔵нужны ревью

#2648 Мелкофиксы карты
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено, 🗺️ карта

#2691 Модули киборгов видны на экзамине
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/living/silicon/robot/inventory.dm
Labels: 🌌геймдизайн, 📺 ИИ|Борги, 🔵нужны ревью, 🔵одобрено

#2651 Новое окно для рисования мелком и возможность писать им по-русски
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
  icons/effects/crayondecal.dmi
  icons/effects/crayongraffiti.dmi
Labels: 🌌геймдизайн

#2746 Ослабление эффекта пьяного бормотания
  code/modules/mob/mob_helpers.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2500 Исправление резака
  code/game/machinery/recharger.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mining/machine_vending.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/protolathe/dp-rig.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2693 Вернул бомбы в пакетах в аплинк
  baystation12.dme
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/syndie.dm
  icons/obj/syndieweapons.dmi
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2760 Трогаем эмбиенс.
  code/game/area/areas.dm
  code/game/sound.dm
  maps/shared/exodus_torch/areas.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2636 Реворк плиты/духовки/гриля/кашеварки/карамелизатора
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/cooking_machines/_cooker_output.dm
  code/game/machinery/kitchen/cooking_machines/candy.dm
  code/game/machinery/kitchen/cooking_machines/cereal.dm
  code/game/machinery/kitchen/cooking_machines/fryer.dm
  code/game/machinery/kitchen/cooking_machines/grill.dm
  code/game/machinery/kitchen/cooking_machines/oven.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/mob/living/living.dm
  icons/obj/food_custom.dmi
Labels: :wrench: фикс, 🔨рефакторинг, 🔵нужны ревью

#2704 tweak(chat): trivials 'n outputs
  code/modules/client/asset_cache.dm
  code/modules/client/client_procs.dm
  code/modules/onyxchat/browserOutput.dm
Labels: 🔵нужны ревью

#2823 fix(life): replace "traitor" to "Traitor"
  code/modules/mob/living/silicon/robot/life.dm
Labels: :wrench: фикс, 🔵нужны ревью

#2822 refactoring(laws): replace "traitor" to "Traitor"
  code/modules/mob/living/silicon/robot/laws.dm
Labels: 🔵нужны ревью

#2714 brass_knuckle
  baystation12.dme
  code/game/objects/items/weapons/material/brass_knuckle.dm
  icons/inv_slots/items/melee_l_default.dmi
  icons/inv_slots/items/melee_l_slim.dmi
  icons/inv_slots/items/melee_r_default.dmi
  icons/inv_slots/items/melee_r_slim.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: 🌌геймдизайн, 🔵одобрено

#2807 fix(taperecorder.hear_talk): record real speak sign, when activate …
  code/game/objects/items/devices/taperecorder.dm
Labels: :wrench: фикс
