Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-09, with the labels that each got.

#3291 Исправление беекода в создание батареек в фабрикаторе/протолате
  code/modules/power/cell.dm
  code/modules/research/designs/protolathe/dp-engineering.dm
Labels: 🔵нужны ревью

#3330 fix(light): destroy
  code/modules/lighting/lighting_overlay.dm
Labels: :wrench: фикс

#3275 Фиксы кракозябр в аннонсах
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_networking.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
Labels: 🔵нужны ревью

#3352 fix(breaches): fixes breach seal message
  code/modules/clothing/spacesuits/breaches.dm
Labels: :wrench: фикс

#3234 Позволяем воксам не голодать
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/organs/external/vox.dm
Labels: :wrench: фикс, 💰награда

#3250 fix(blob.update_hud): RUNTIME: Cannot read null.blob_powerbar
  code/modules/mob/blob.dm
Labels: 💰награда

#3272 Окно с ролями в конце раунда
  baystation12.dme
  code/_helpers/roundend.dm
  code/controllers/subsystems/event.dm
  code/controllers/subsystems/ticker.dm
  code/datums/ai_laws.dm
  code/datums/repositories/uplink_purchases.dm
  code/game/antagonist/antagonist_objectives.dm
  code/game/antagonist/antagonist_print.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/gamemodes/calamity/calamity.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  html/browser/roundend.css
  icons/mob/actions.dmi
Labels: 💰награда

#3147 fix(telecomms): Продвинутый мультитулл может в телекоммы
  code/game/machinery/telecomms/machine_interactions.dm
Labels: :wrench: фикс, 🔵нужны ревью

#3041 Запрещаем инвестить поинты визардам находясь на не станционных Z-уровнях.
  code/modules/spells/spellbook.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#3293 map-fixes
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, 🔵нужны ревью, 🗺️ карта

#3345 фикс заголовка
  code/controllers/configuration.dm
  code/game/world.dm
  config/example/config.txt
Labels: :wrench: фикс, 📄 конфиг

#3222 fix(antagonist preferences): double Cultist
  code/__defines/gamemode.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  code/modules/ghosttrap/trap.dm
Labels: :wrench: фикс, 💰награда

#3092 Обновление программы редактирования карты
  code/_helpers/text.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  nano/templates/identification_computer.tmpl
Labels: 💰награда

#3257 Возможность автоджоббана АВД + апгрейд бюрократии.
  .gitignore
  baystation12.dme
  code/_helpers/sql.dm
  code/_helpers/text.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/banjob.dm
  code/modules/admin/banjob_iaa.dm
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/complaint.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paperbin.dm
  code/modules/paperwork/pen.dm
  code/modules/paperwork/photocopier.dm
  sql/migrate/V005__Add_IAA_jobbans.sql
Labels: 💰награда

#3322 fix(/obj/item/weapon/robot_module/standard): replace stunbaton
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: :wrench: фикс

#3341 refact(changeling_revive) all-in-one proc
  code/game/gamemodes/changeling/changeling_powers.dm
  code/modules/mob/living/login.dm
Labels: :white_circle:ожидает автора

#3362 feat(eams): make eams subsystem and add some features
  code/__defines/subsystems.dm
  code/_helpers/global_access.dm
  code/datums/communication/ooc.dm
  code/modules/admin/EAMS.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/new_player.dm
Labels: 🔵нужны ревью

#3367 Мелкофикс экзамайна
  code/modules/mob/mob.dm
Labels: 🔵нужны ревью

#3297 removes visitors
  code/game/jobs/job/assistant.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#3285 add(kvas)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  icons/obj/drink_cocktails.dmi
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#3223 Исправил проблему с спрайтами у ящеров.
  code/modules/mob/living/carbon/human/species/station/lizard.dm
Labels: 💰награда, 🔵нужны ревью

#3305 rework & fix datum/objective
  code/game/gamemodes/objective.dm
  code/modules/mob/living/life.dm
Labels: 🔵нужны ревью

#3051 Хирургия. Удаление органов и импланты
  code/modules/organs/external/_external.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/standard.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/organs_internal.dm
Labels: 💰награда, 📝необходимо тестирование, 🔵нужны ревью

#3348 Grow'n'Smoke
  baystation12.dme
  code/datums/supplypacks/hydroponics.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/vending.dm
  code/game/objects/effects/cig_smoke.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/smokables/cigarettes.dm
  code/game/objects/items/weapons/smokables/pipes.dm
  code/game/objects/items/weapons/smokables/rolling.dm
  code/game/objects/items/weapons/smokables/smokables.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/effects/effects.dmi
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/obj/chemical.dmi
  icons/obj/cigarettes.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/storage.dmi
  icons/obj/vending.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🌐вики, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#3418 upper-dorms-rework
  icons/turf/areas.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/exodus_areas.dm
Labels: :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено, 🗺️ карта

#3424 museum-removal
  maps/exodus/exodus-3.dmm
Labels: 🌌геймдизайн, 🔵одобрено, 🗺️ карта
