Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-05, with the labels that each got.

#2288 Исправление конфликта законов емагнутого борга
  code/modules/mob/living/silicon/robot/robot.dm
Labels: 🌌геймдизайн, 🔵нужны ревью

#2280 Актуализация описаний целей культа
  code/game/gamemodes/objective.dm
Labels: 🔵нужны ревью

#2259 fix(uniforms): black jeans and kilt's description
  code/modules/clothing/under/miscellaneous.dm
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🔵нужны ревью

#2207 Фикс рандом ивента блоба.
  code/modules/events/blob_outbreak.dm
Labels: 🔵нужны ревью

#2281 fix(apc): energy_fail n failure_timer
  code/modules/power/apc.dm
Labels: :wrench: фикс, 🔵нужны ревью

#2186 fix(Тобибоёвочка, бумажные лёгкие и смешные падения)
  code/game/area/areas.dm
  code/modules/ZAS/Airflow.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/internal/lungs.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: :white_circle:ожидает автора, 🌌геймдизайн, 🔵одобрено

#2160 tweak(skrell): adjust discomfort temp
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: 🔩 улучшение, 🔵нужны ревью

#2243 fix(welding helmet)
  code/modules/clothing/head/misc_special.dm
Labels: 🔵нужны ревью

#2323 The Multimacros
  code/_macros.dm
  code/modules/onyxchat/browserassets/css/browserOutput.css
  code/modules/onyxchat/browserassets/css/browserOutput_marines.css
  code/modules/onyxchat/browserassets/css/browserOutput_white.css
  code/modules/onyxchat/browserassets/css/styles_template.css
Labels: 🔵нужны ревью

#2343 Новый лоадаут со встроенной донат-панелью
  baystation12.dme
  code/__defines/client.dm
  code/__defines/donations_defines.dm
  code/__defines/items_clothing.dm
  code/_helpers/icons.dm
  code/controllers/configuration.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/lists/clothing.dm
  code/modules/client/preference_setup/loadout/lists/drinks.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/client/preference_setup/loadout/lists/masks.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/client/preference_setup/loadout/lists/storage.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/tactical.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/client/preference_setup/loadout/lists/utility.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/donations/new/donations.dm
  code/modules/donations/new/donator.dm
  code/modules/mob/new_player/preferences_setup.dm
  config/example/config.txt
  html/browser/common.css
  interface/skin.dmf
  nano/templates/donations_info.tmpl
Labels: :iphone: UX/UI, 🔩 улучшение, 🔵нужны ревью, 🔺приоритет

#2169 fix(changeling flavor)
  code/game/gamemodes/changeling/absorbed_dna.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
Labels: 🔵нужны ревью

#2194 Revert "Алмазный бур для Рипли стал хуже обычного, а обычный стал хуйней"
  code/game/mecha/equipment/tools/tools.dm
Labels: :white_circle:ожидает автора, 🔵нужны ревью

#2297 Рикролл в жукбоксе
  code/game/machinery/jukebox.dm
  sound/music/rickroll.ogg
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2215 Твикаем борготу
  code/datums/ai/ai_holo.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/mob/hologram.dmi
  icons/mob/robots.dmi
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2335 Починил рецепт деклонера.
  code/modules/research/designs/protolathe/dp-weapons.dm
Labels: 🌌геймдизайн

#2329 Make Botanics Great Again
  baystation12.dme
  code/datums/trading/misc.dm
  code/game/objects/items/toys.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown_predefined.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_mobs.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/maneater.dm
  code/modules/mob/living/simple_animal/hostile/tomato.dm
  code/modules/mob/transform_procs.dm
  code/modules/power/cell.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  icons/mob/animal.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_machines.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
  icons/obj/toy.dmi
  sound/voice/MEraaargh.ogg
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2248 Pain Indicator
  code/_onclick/hud/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/organs/external/_external_icons.dm
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/new.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  icons/mob/screen1_health.dmi
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2418 Фикс кодировки варнингов
  config/example/warnings/heads.html
  config/example/warnings/newcomers.html
Labels: 🔵нужны ревью

#2397 add(removed clothing)
  code/modules/clothing/under/miscellaneous.dm
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🔵нужны ревью

#2422 fix(flavor): flavor may not include OOC notes
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: 🔵нужны ревью

#2402 Фикс постоянных падений от кислоты и не только.
  code/__defines/damage_organs.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/organs/external/_external.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: 🔵нужны ревью

#2380 perf(build): disable dynamic maps loading
  maps/exodus/exodus.dm
  maps/exodus/exodus_define.dm
Labels: 🔵нужны ревью

#2425 tweak(drinks): more and more drink sprites.
  code/game/machinery/vending.dm
  code/modules/reagents/Chemistry-Readme.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  icons/obj/drink_cocktails.dmi
  icons/obj/drink_glasses.dmi
  icons/obj/drinks.dmi
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2384 Additional Borg Slot
  code/game/jobs/job/silicon.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2403 Обмен кодовыми словами на русском (Unicode-friendly)
  .gitignore
  code/__defines/mobs.dm
  code/_global_vars/lists/names.dm
  code/_helpers/global_access.dm
  code/_helpers/names.dm
  code/_helpers/text.dm
  code/controllers/subsystems/initialization/misc.dm
  code/datums/mind.dm
  code/game/antagonist/station/traitor.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/mob/hear_say.dm
  config/names/adjectives.txt
  config/names/rus_adjectives.txt
  config/names/rus_bays.txt
  config/names/rus_local_terms.txt
  config/names/rus_nouns.txt
  config/names/rus_occupations.txt
  config/names/rus_verbs.txt
  config/names/verbs.txt
Labels: 🌌геймдизайн, 🔵одобрено

#2426 tweak(ai hud):farewell, chosen undead.
  baystation12.dme
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  icons/mob/screen1_ai.dmi
Labels: 🔵нужны ревью

#2432 Повысил минимальный возраст с 17 до 18
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2423 fix(blob): fix round on the blob domination
  code/game/antagonist/blob/blob.dm
  code/game/antagonist/blob/theblob.dm
  code/game/gamemodes/game_mode.dm
Labels: 🔵нужны ревью

#2372 Блоки и Лазеры
  code/game/objects/items.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/special.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/mob/onmob/back.dmi
  icons/mob/onmob/back_slim.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/weapons.dmi
  interface/interface.dm
  interface/skin.dmf
Labels: 🌌геймдизайн, 🔵одобрено

#2419 feat(storyteller): basic storyteller subsystem
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/controllers/configuration.dm
  code/controllers/subsystem.dm
  code/controllers/subsystems/ticker.dm
  code/datums/mind.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_print.dm
  code/modules/donations/new/donations.dm
  code/modules/storyteller/characters/support.dm
  code/modules/storyteller/metrics/common_metrics.dm
  code/modules/storyteller/storyteller.dm
  code/modules/storyteller/storyteller_character.dm
  code/modules/storyteller/storyteller_metric.dm
  code/modules/storyteller/storyteller_trigger.dm
  code/modules/storyteller/triggers/spawn_antagonists_triggers.dm
  config/example/config.txt
Labels: 🔵нужны ревью

#2443 Убрал оповещение о прибытии воксов и торговцев
  maps/exodus/exodus_shuttles.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2452 Переделал базу воксов
  maps/exodus/exodus-3.dmm
Labels: 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#2525 Тонкомальчики
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/inv_slots/hidden/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/mob/human_races/r_human.dmi
Labels: 🌌геймдизайн, 🔵одобрено

#2455 Убрал возможность заходить за того же персонажа в одном раунде
  code/modules/mob/new_player/new_player.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2449 nerf(advanced energy gun)
  code/modules/projectiles/guns/energy/nuclear.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2373 Дефолтные люди меняются с неприметных лысиков на красивых людей с short hair
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: 🌌геймдизайн, 🔵одобрено

#2447 virologist_job_add
  code/datums/outfits/jobs/medical.dm
  code/game/jobs/job/medical.dm
  code/game/objects/items/weapons/cards_ids.dm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus_jobs.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2523 add(sculpt_sounds)
  code/game/sound.dm
  code/modules/mining/mine_items.dm
  sound/weapons/chisel1.ogg
  sound/weapons/chisel2.ogg
  sound/weapons/chisel3.ogg
  sound/weapons/chisel4.ogg
  sound/weapons/chisel5.ogg
  sound/weapons/chisel6.ogg
Labels: 🔵нужны ревью

#2538 Хотфикс тонкомальчиков
  code/modules/mob/living/carbon/human/body_build.dm
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/inv_slots/hidden/mob_slim_m.dmi
  icons/mob/human_races/r_human.dmi
Labels: 🔥приоритет

#2563 Фикс укусов мышей
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: :wrench: фикс

#2533 Можно прятать вещи в горшках с растениями
  code/game/objects/structures/flora.dm
  sound/effects/plantshake.ogg
Labels: 🌌геймдизайн, 🔵одобрено
