Repository ChaoticOnyx/OnyxBay, pull requests merged in 2020-08, with the labels that each got.

#3040 Где свиньи, блин?
  code/datums/supplypacks/miscellaneous.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  icons/obj/toy.dmi
  sound/items/pig1.ogg
  sound/items/pig2.ogg
  sound/items/pig3.ogg
Labels: 🌌геймдизайн

#3015 Ручки из аплинка теперь не пишут на голове.
  code/modules/paperwork/pen.dm
Labels: 🥇 Chicken Dinner

#2812 Задачи для ЕРТ, исправление командных антагов.
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/endgame/nuclear_explosion/nuclear_explosion.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/objective.dm
  code/game/response_team.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
Labels: :gear:кнопки, :wrench: фикс, 🌌геймдизайн, 📝необходимо тестирование, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено, 🔺приоритет

#2929 запрещаем лишние (русские) символы в имени персонажа // /proc/sanitizeName refac
  code/_helpers/text.dm
Labels: :wrench: фикс, 🔩 порт

#2979 убираем невидимые постеры в дриммейкере
  icons/obj/contraband.dmi
Labels: :wrench: фикс

#3008 Фикс предметов, "зависающих" на экране при удалении из рюкзака.
  code/game/objects/items.dm
Labels: :wrench: фикс, 🔵нужны ревью

#3038 syndie voidsuit quickfix
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_skrell.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/suits/mob_tajaran.dmi
  icons/inv_slots/suits/mob_unathi.dmi
  icons/inv_slots/suits/mob_vox.dmi
Labels: :wrench: фикс, 🎨 спрайты, 🔥приоритет

#3076 Revert "rubber pigs (#3040)"
  code/datums/supplypacks/miscellaneous.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  icons/obj/toy.dmi
  sound/items/pig1.ogg
  sound/items/pig2.ogg
  sound/items/pig3.ogg
Labels: 🌌геймдизайн, 🔵одобрено

#2897 Bible fix
  code/game/objects/items/weapons/storage/bible.dm
Labels: :wrench: фикс

#2733 Интегралки киборгам.
  code/game/objects/items/stacks/matter_synth.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/research/mechfab_designs.dm
Labels: 🌌геймдизайн, 📺 ИИ|Борги, 🔵нужны ревью, 🔵одобрено

#2896 fix(sleeper and cryo teleport)
  code/game/machinery/Sleeper.dm
  code/game/machinery/cryo.dm
Labels: :wrench: фикс

#3013 нормальный хреф_логгинг
  code/_helpers/logging.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/client/client_procs.dm
Labels: :wrench: фикс, 🔵нужны ревью

#3064 identifiable-maptweaks2
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3088 fix(closet): forbid hacking non-existent locks
  code/game/objects/structures/crates_lockers/closets.dm
Labels: :wrench: фикс

#2938 Energy Sword nerf
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: :white_circle:ожидает автора, ⚔️ боёвка, 🌌геймдизайн

#3066 Добавил набор для чистки в аплинк.
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: 🌌геймдизайн, 🔵нужны ревью, 🔵одобрено

#2982 Фиксим дюп табличек
  code/game/objects/structures/signs.dm
Labels: :wrench: фикс

#2701 Улучшение киборгов
  code/game/machinery/cell_charger.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: 📺 ИИ|Борги, 🔵нужны ревью, 🔺приоритет

#3055 Командный режим для наушников глав
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/hear_say.dm
Labels: 💰награда, 🔩 улучшение, 🔵нужны ревью

#3103 Расчлененка для кухонного крюка
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/structures/kitchen_spike.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/modifier/helpers.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/standard.dm
Labels: 💰награда, 🔵нужны ревью

#3120 Исправления рун, режим культ
  code/game/gamemodes/cult/runes.dm
  code/modules/paperwork/paperbin.dm
Labels: :wrench: фикс, режим: культ, 🔵нужны ревью

#3100 hotfix: Фиксим смену бодибилда через зеркало.
  code/__defines/mobs.dm
  code/modules/nano/modules/human_appearance.dm
Labels: :wrench: фикс

#3157 update(admin_verbs): grouping
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminjump.dm
Labels: :gear:кнопки

#3149 Прерывание речи от ударов
  code/modules/client/client_defines.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
  interface/skin.dmf
Labels: 💰награда, 🔵нужны ревью

#3148 ghetto-cleanup
  code/game/turfs/flooring/flooring_decals.dm
  icons/turf/flooring/decals.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus_areas.dm
  maps/shared/exodus_torch/areas.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено, 🗺️ карта

#3181 fix(antagonist): fix runtime in can_become_antag proc
  code/game/antagonist/antagonist_helpers.dm
Labels: 🔥приоритет

#3179 fix(smokable_pipe): lightning
  code/game/objects/items/weapons/cigs_lighters.dm
Labels: :wrench: фикс

#3093 tweak(ladder): В третьем грабе можно таскать людей по лестницам
  code/modules/mob/grab/normal/norm_neck.dm
  code/modules/multiz/structures.dm
Labels: 🔩 улучшение

#3084 nerf(mouse): mice can't bite through armor and thick clothes
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: 🌌геймдизайн, 🐭 мыш, 🔩 улучшение, 🔵нужны ревью

#3184 nerf(mouse): forbid them to bite organs above feet
  code/__defines/mobs.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: 🌌геймдизайн, 🔵одобрено

#3166 Map Fixes + goonfurniture
  baystation12.dme
  code/game/objects/structures/flora.dm
  code/game/objects/structures/geltanks.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/couches.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/flora/goonbushes.dmi
  icons/obj/furniture.dmi
  icons/obj/objects.dmi
  icons/obj/plants.dmi
  icons/obj/reagent_tanks.dmi
  icons/obj/vending.dmi
  icons/turf/flooring/grass.dmi
  maps/exodus/derelicts/snowasteroid.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-6.dmm
Labels: :wrench: фикс, 🌌геймдизайн, 🔥приоритет, 🔵одобрено, 🗺️ карта

#2673 дефайны в длительности операций + порезал длительность
  code/modules/surgery/_defines.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/~defines.dm
Labels: 🌌геймдизайн, 🔨рефакторинг, 🔵нужны ревью, 🔵одобрено
