Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-09, with the labels that each got.

#6439 fix(custom sprite) fix runtime in 9 line
  code/modules/mob/living/silicon/custom_sprites.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6331 fix(papers): station name changes in premade papers
  code/modules/paperwork/misc.dm
Labels: :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#6448 fix(wizard): artifact reset
  code/modules/spells/spellbook.dm
Labels: :scroll: CL не требуется

#6304 feat(ui emotes): Add emote list on interface
  baystation12.dme
  code/_onclick/click.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/emotes/emote_mob.dm
  code/modules/emotes/emotes_verb.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/mob_defines.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 📝 необходимо тестирование, :scroll: Есть CL

#6449 Карговозика фикс
  code/datums/movement/mob.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/train.dm
  code/modules/vehicles/vehicle.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6452 Чек на вар в аргументах
  .github/workflows/additional_checks.yml
Labels: :scroll: CL не требуется

#6454 Purge var/
  code/__defines/materials.dm
  code/_onclick/click.dm
  code/_onclick/rig.dm
  code/datums/movement/atom_movable.dm
  code/datums/movement/mob.dm
  code/datums/movement/movement.dm
  code/datums/movement/multiz.dm
  code/datums/movement/robot.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/mecha/medical/odysseus.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/explosive.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/view_variables/vv_set_handlers.dm
  code/modules/assembly/holder.dm
  code/modules/food/recipes_microwave.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/pins.dm
  code/modules/integrated_electronics/core/special_pins/boolean_pin.dm
  code/modules/integrated_electronics/core/special_pins/dir_pin.dm
  code/modules/integrated_electronics/core/special_pins/list_pin.dm
  code/modules/maps/reader.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/carbon/alien/diona/death.dm
  code/modules/mob/living/carbon/alien/diona/diona.dm
  code/modules/mob/living/carbon/alien/diona/diona_attacks.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  code/modules/mob/living/carbon/alien/diona/say_understands.dm
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/mob/mob_movement.dm
  code/modules/recycling/disposal.dm
  code/modules/tables/tables.dm
  code/procs/announce.dm
Labels: 🔨 рефакторинг, :knife: удаление, :scroll: CL не требуется

#6447 tweak(eye movement) fix moving eye in admin zlevels
  code/datums/movement/mob.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#6259 Питомцы.
  baystation12.dme
  code/modules/mob/living/simple_animal/friendly/pets.dm
  code/modules/mob/living/simple_animal/friendly/pets_ai.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/mob_ai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  config/names/animal_commands/follow.txt
  config/names/animal_commands/stop.txt
  config/names/animal_commands/wander.txt
Labels: 🔩 улучшение, :scroll: Есть CL

#6247 feat(roundstart) add configuration vars to disable ooc at roundstart
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  config/example/config.txt
Labels: 🔩 улучшение, 📄 конфиг, :scroll: Есть CL

#6453 new changelog
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6450 Возможность гостам делать фоллоу к людям по эмоуту.
  code/modules/mob/mob.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL, 🧻 QoL

#6459 Map templates
  baystation12.dme
  code/controllers/subsystems/mapping.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/maps/map_template.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#6464 Обновление наноуи карт
  code/modules/client/asset_cache.dm
  nano/images/exodus/exodus-1.png
  nano/images/exodus/exodus-2.png
  nano/images/frontier/frontier-1.png
Labels: :scroll: Есть CL

#6465 tweak(fix_chat): replace tgui alert with byond alert
  code/modules/tgui_panel/external.dm
Labels: :scroll: CL не требуется

#6470 "New" map for SCP-Style event.
  maps/exodus/frontier-SCP/frontier-SCP-1.dmm
  maps/exodus/frontier-SCP/frontier-SCP-3.dmm
  maps/exodus/frontier-SCP/frontier-SCP_areas.dm
  maps/exodus/frontier-SCP/frontier-SCP_define.dm
Labels: 🌌геймдизайн, 🗺️ карта, :scroll: CL не требуется

#6474 fix nukedisk spawn
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/machinery/nuclear_bomb.dm
Labels: :scroll: Есть CL

#6473 you can't interract with sturctures
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/tables/flipping.dm
Labels: :scroll: Есть CL

#6471 spiderbot vent fix
  code/modules/ventcrawl/ventcrawl.dm
Labels: :scroll: Есть CL

#6462 tweak(ai eye) fix moving on another z-level
  code/datums/movement/mob.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#6483 Фикс названий скальпелей
  code/game/objects/items/weapons/surgery_tools.dm
Labels: :scroll: Есть CL

#6481 rndconsole sync fix
  code/modules/research/rdconsole.dm
Labels: :scroll: Есть CL

#6480 теперь дохлый
  code/modules/mob/holder.dm
Labels: :scroll: Есть CL

#6478 Narsie fix
  baystation12.dme
  code/_helpers/global_access.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/cultify/mob.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/endgame/supermatter_cascade/portal.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/modules/admin/secrets/admin_secrets/alter_narsie.dm
  code/modules/admin/secrets/final_solutions/summon_narsie.dm
  code/modules/spells/targeted/harvest.dm
Labels: :scroll: Есть CL

#6484 tweak(changelog) new changelog data
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6487 Фикс фоллова за эмоутами
  code/modules/mob/mob.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6503 Фикс карты Фронтира в уях
  code/modules/nano/nanoui.dm
Labels: :scroll: Есть CL

#6502 tweak(console): pre-install medical records on medical consoles
  code/modules/modular_computers/computers/subtypes/preset_console.dm
Labels: :scroll: Есть CL

#6493 temp gun fix
  code/modules/projectiles/guns/energy/temperature.dm
  code/modules/projectiles/projectile/special.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6513 Mech runtime fix
  code/game/mecha/mecha.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6514 fix(runtime): add missing type guard
  code/modules/surgery/limb_reattach.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6511 Исправление раскрутки стульев ММИ. Сиквел
  code/modules/mob/living/carbon/brain/brain.dm
Labels: :scroll: Есть CL

#6500 Return of Sunset [MDB IGNORE]
  baystation12.dme
  maps/exodus/alpha/sunset-1.dmm
  maps/exodus/alpha/sunset-2.dmm
  maps/exodus/alpha/sunset-3.dmm
  maps/exodus/alpha/sunset-4.dmm
  maps/exodus/alpha/sunset_define.dm
  scripts/IncludeMaps.ps1
Labels: :scroll: CL не требуется

#6516 fix(runtime): fix rnd console unlink runtime
  code/modules/research/rdconsole.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6515 fix(runtime): fix runtime in internal organs surgery
  code/modules/surgery/organs_internal.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6492 fix(SCP-map): zones fail
  baystation12.dme
  maps/exodus/frontier-SCP/frontier-SCP-1.dmm
  maps/exodus/frontier-SCP/frontier-SCP-3.dmm
  maps/exodus/frontier-SCP/frontier-SCP_areas.dm
  maps/exodus/frontier-SCP/frontier-SCP_define.dm
Labels: 🗺️ карта, 🔵нужны ревью, :scroll: CL не требуется

#6524 Фикс блудшардов
  code/modules/spells/hand/blood_shards.dm
  code/modules/spells/hand/hand.dm
Labels: 🧙‍♂️ режим: маг, :wrench: фикс, :scroll: CL не требуется

#6526 tweak(changelog) 17.09.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6517 Фиксы козлов
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/items.dmi
  icons/obj/materials.dmi
Labels: :wrench: фикс, :scroll: Есть CL

#6520 Адаптивный скайбокс
  code/_onclick/hud/skybox.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6546 tweak(ci): some ci tweaks
  tools/ChangelogGenerator/ClCheck.csx
  tools/ChangelogGenerator/Models.csx
Labels: :scroll: CL не требуется

#6457 Fixes "everything" on "Frontier" Pt.2
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: Есть CL, ⛏️ Фронтир

#6534 fix(verb): now "Crawl through Vent" verb works correctly and let to choose.
  code/modules/ventcrawl/ventcrawl_verb.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6403 Обновление документации tgui
  tgui/README.md
  tgui/docs/tutorial-and-examples.md
Labels: 🛠 Инструменты, :scroll: CL не требуется

#6294 Исправление бумаги с наклеенным скотчем
  code/game/objects/items/weapons/tape.dm
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
Labels: :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#5909 Пинпоинтер на локации.
  baystation12.dme
  code/game/jobs/job_controller.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/wayfinding.dm
  code/modules/client/preference_setup/global/preferences.dm
  icons/obj/pinpointer.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#6549 fix(alien): tackle and leap cannot be used onself more
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6539 tweak(changeling) fix absorbing same dna (monkey abuse)
  code/game/gamemodes/changeling/powers/absorb.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#6343 Fixes bug borg and AI
  code/_onclick/cyborg.dm
  code/_onclick/hud/screen_objects.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#6560 tweak(vehicle): restrict stairs riding
  code/datums/movement/multiz.dm
  code/modules/vehicles/vehicle.dm
Labels: 🌌геймдизайн, 🔵одобрено, :scroll: Есть CL

#6567 tweak(wheelchair): restrict stairs riding
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: 🌌геймдизайн, 🔵одобрено, :scroll: Есть CL

#6568 tweak(changelog): 24.09.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6579 del(spellbok): removed unused invest buttons
  tgui/packages/tgui/interfaces/SpellBook.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, 🧙‍♂️ режим: маг, :scroll: CL не требуется

#6577 Сингулярность: многоуровневость
  code/game/gamemodes/cult/narsie.dm
  code/game/objects/structures/flora.dm
  code/modules/power/singularity/act.dm
  code/modules/power/singularity/singularity.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#6589 fix(grabs) fix server crush grabs
  code/modules/mob/grab/grab_object.dm
Labels: :scroll: Есть CL

#6581 Improvment(turfs&map): EOS fountain now has a slippery water.
  code/game/turfs/flooring/flooring_premade.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🗺️ карта, 🔩 улучшение, :scroll: Есть CL, ⛏️ Фронтир

#6584 fix(paperwork): now folders correctly show russian language
  code/modules/paperwork/folders.dm
Labels: :scroll: Есть CL

#6573 bugfix(ecig): fixed ecigs displaying on mobs
  code/game/objects/items/weapons/ecigs.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6590 tweak(changelog) 26.09.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6591 port(doors): doors works on timers, without processing
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
Labels: 🔧 оптимизация, 🔩 порт, :scroll: CL не требуется

#6600 fix(spellcheck): dont print errors without correct words
  tgui/packages/tgui-panel/spellchecker/middleware.js
  tgui/public/tgui-panel.bundle.js
Labels: :wrench: фикс, :scroll: CL не требуется
