Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-08, with the labels that each got.

#5684 feat(trash): add dish stacks feature and refactoring
  code/game/objects/items/trash.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/obj/trash.dmi
  maps/away/casino/casino.dmm
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/icarus/icarus-1.dmm
  maps/away/icarus/icarus-2.dmm
  maps/away/magshield/magshield.dmm
  maps/away/marooned/marooned.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away/yacht/yacht.dmm
  maps/exodus/derelicts/bearcat/bearcat-2.dmm
  maps/exodus/derelicts/casino.dmm
  maps/exodus/derelicts/lost_supply_base/lost_supply_base.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/frontier/frontier-3.dmm
  maps/exodus/prison/prison-1.dmm
  maps/exodus/prison/prison-6.dmm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#6282 Порт оптимизации тгуи
  code/controllers/subsystems/tgui.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/resleever.dm
  code/game/machinery/vending.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/objects/items/devices/suit_sensor_jammer.dm
  code/modules/research/rdconsole.dm
  code/modules/tgui/external.dm
  code/modules/tgui/tgui.dm
Labels: 🔧 оптимизация, 🔩 порт, :scroll: CL не требуется

#6256 Фронтирное
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: Есть CL, ⛏️ Фронтир

#6298 Removes firs-aid kits' unrobustness
  baystation12.dme
  code/datums/trading/goods.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/random/random.dm
  code/modules/mob/living/bot/medbot.dm
  icons/obj/aibots.dmi
  icons/obj/storage.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/genesis/genesis-2.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, 💉 медицина, :wrench: фикс, :scroll: Есть CL

#6321 Фикс чейнджлога
  html/changelogs/.all_changelog.json
Labels: 🛠 Инструменты, :scroll: CL не требуется

#6317 Throttle
  code/_helpers/time.dm
  code/game/machinery/cryo.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/trays.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  code/modules/recycling/disposal.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#6325 Генерация чейнджлога на 11.08.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6228 Ремув ВГ блоба
  baystation12.dme
  code/__defines/_blob_defines.dm
  code/__defines/_planes+layers.dm
  code/__defines/flags.dm
  code/__defines/gamemode.dm
  code/_macros.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/blob.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/blob/blob.dm
  code/game/antagonist/blob/blobs/core.dm
  code/game/antagonist/blob/blobs/factory.dm
  code/game/antagonist/blob/blobs/node.dm
  code/game/antagonist/blob/blobs/resource.dm
  code/game/antagonist/blob/blobs/shield.dm
  code/game/antagonist/blob/powers.dm
  code/game/antagonist/blob/theblob.dm
  code/game/atoms.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/contracts.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/machinery.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/modules/VR/vr_gamepad.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/events/_event_dynamic.dm
  code/modules/events/blob_outbreak.dm
  code/modules/mob/blob.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/power.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/storyteller/metrics/common_metrics.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🥦 блоб, :knife: удаление, :scroll: Есть CL

#6336 Убираем рантайм с шаттлом
  code/modules/shuttles/shuttle.dm
Labels: :scroll: CL не требуется

#6320 fix(vampire): corrected description of vampire abilities
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  ingame_manuals/vampire.html
Labels: :wrench: фикс, 🧛 режим: вампир, :scroll: Есть CL

#6303 tweak(vampire): Changed memory loss message to alert
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🧛 режим: вампир, :scroll: Есть CL

#6266 Make goats great again v2
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/spells/artifacts/monster_manual.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#6332 Фикс поведения THROTTLE
  code/_helpers/time.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6246 fix(xenos): Fixed tail animatoin afther dead
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :trollface: no xenos allowed, :wrench: фикс, :scroll: Есть CL

#6274 поправил описания контракта на кражу исследований у триторов
  code/game/gamemodes/traitor/contracts.dm
Labels: 🔫 режим: предатель, :scroll: Есть CL

#6021 Corgi hats tweaks
  code/modules/mob/living/simple_animal/friendly/corgi.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#5834 fix labels on deliveries
  code/modules/paperwork/handlabeler.dm
  code/modules/recycling/sortingmachinery.dm
Labels: wtf, :scroll: Есть CL

#6342 fix(cell_charger): added power check during cell charging
  code/game/machinery/cell_charger.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6341 fix(wizard): corrected sacrifice in spellbook
  code/modules/spells/spellbook.dm
Labels: :scroll: Есть CL

#6337 Фикс машинерии
  code/game/machinery/OpTable.dm
  code/game/machinery/constructable_frame.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/research/designs/circuitprinter/dc-machine_boards.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6347 Тротл опять
  code/_helpers/time.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6296 fix(orion): Now updates properly.
  code/game/machinery/computer/arcade_orion.dm
Labels: 🔵требуется проверка, :wrench: фикс, :scroll: Есть CL

#6346 fix(athletic_shorts): reduced the gap between the legs
  icons/inv_slots/uniforms/icon.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#6340 Чейнджлоги в окне браузера
  code/controllers/configuration.dm
  code/game/world.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/login.dm
  config/example/config.txt
  html/changelog.html
  html/templates/changelog.tmpl
  interface/interface.dm
Labels: :iphone: UX/UI, 📄 конфиг, :scroll: Есть CL

#6367 fix(contracts) contracts now can be spawn, hooray!
  code/game/gamemodes/traitor/fixer.dm
Labels: :wrench: фикс, 🔫 режим: предатель, :scroll: Есть CL

#6366 fix(map): Example fixes
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#6381 fix(cooldowns): fixes wizard cooldowns
  code/modules/spells/aoe_turf/blink.dm
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/spells/aoe_turf/conjure/faithful_hound.dm
  code/modules/spells/aoe_turf/conjure/forcewall.dm
  code/modules/spells/aoe_turf/knock.dm
  code/modules/spells/aoe_turf/summons.dm
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/general/mark_recall.dm
  code/modules/spells/general/radiant_aura.dm
  code/modules/spells/no_clothes.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/mind_control.dm
  code/modules/spells/targeted/projectile/magic_missile.dm
  code/modules/spells/targeted/shapeshift.dm
Labels: 🧙‍♂️ режим: маг, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#6252 tweak(bugs) delete bugs
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/projectiles/gun.dm
Labels: :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#6384 Upgrade UI dependencies
  tgui/package-lock.json
  tgui/package.json
  tgui/packages/common/collections.ts
  tgui/packages/tgui-panel/styles/components/Chat.scss
  tgui/packages/tgui-panel/styles/components/Ping.scss
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui-panel/styles/themes/light.scss
  tgui/packages/tgui/index.js
  tgui/packages/tgui/styles/atomic/debug-layout.scss
  tgui/packages/tgui/styles/atomic/links.scss
  tgui/packages/tgui/styles/base.scss
  tgui/packages/tgui/styles/colors.scss
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/Dropdown.scss
  tgui/packages/tgui/styles/components/Icon.scss
  tgui/packages/tgui/styles/components/Knob.scss
  tgui/packages/tgui/styles/components/NoticeBox.scss
  tgui/packages/tgui/styles/components/RoundGauge.scss
  tgui/packages/tgui/styles/components/Tabs.scss
  tgui/packages/tgui/styles/functions.scss
  tgui/packages/tgui/styles/interfaces/CameraConsole.scss
  tgui/packages/tgui/styles/interfaces/Changelog.scss
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
  tgui/packages/tgui/styles/interfaces/ExperimentConfigure.scss
  tgui/packages/tgui/styles/interfaces/IntegratedCircuit.scss
  tgui/packages/tgui/styles/interfaces/NuclearBomb.scss
  tgui/packages/tgui/styles/interfaces/Paper.scss
  tgui/packages/tgui/styles/interfaces/Roulette.scss
  tgui/packages/tgui/styles/interfaces/Safe.scss
  tgui/packages/tgui/styles/interfaces/TachyonArray.scss
  tgui/packages/tgui/styles/interfaces/Techweb.scss
  tgui/packages/tgui/styles/layouts/Layout.scss
  tgui/packages/tgui/styles/layouts/NtosHeader.scss
  tgui/packages/tgui/styles/layouts/NtosWindow.scss
  tgui/packages/tgui/styles/layouts/TitleBar.scss
  tgui/packages/tgui/styles/layouts/Window.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/reset.scss
  tgui/packages/tgui/styles/themes/abductor.scss
  tgui/packages/tgui/styles/themes/cardtable.scss
  tgui/packages/tgui/styles/themes/hackerman.scss
  tgui/packages/tgui/styles/themes/malfunction.scss
  tgui/packages/tgui/styles/themes/neutral.scss
  tgui/packages/tgui/styles/themes/ntos.scss
  tgui/packages/tgui/styles/themes/paper.scss
  tgui/packages/tgui/styles/themes/retro.scss
  tgui/packages/tgui/styles/themes/syndicate.scss
  tgui/packages/tgui/styles/themes/wizard.scss
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#6389 Вынос мусора из карт
  maps/shared/datums/uniforms.dm
  maps/shared/exodus_torch/_include.dm
  maps/shared/exodus_torch/areas.dm
  maps/shared/exodus_torch/loadout/loadout_accessories.dm
  maps/shared/exodus_torch/loadout/loadout_gloves.dm
  maps/shared/exodus_torch/loadout/loadout_head.dm
  maps/shared/exodus_torch/loadout/loadout_shoes.dm
  maps/shared/exodus_torch/loadout/loadout_suit.dm
  maps/shared/exodus_torch/loadout/loadout_uniform.dm
  maps/shared/exodus_torch/presets.dm
  maps/shared/items/cards_ids.dm
  maps/shared/items/clothing.dm
  maps/shared/items/papers.dm
  maps/shared/items/storage.dm
  maps/shared/job/jobs.dm
Labels: :scroll: CL не требуется

#6395 Fix Build
  baystation12.dme
  maps/exodus/exodus.dm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_presets.dm
  maps/exodus/frontier/frontier_areas.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6397 remove(wizard): removed investment and sacrifice
  code/game/gamemodes/wizard/wizard_datum.dm
  code/modules/spells/classes/battlemage.dm
  code/modules/spells/classes/cleric.dm
  code/modules/spells/classes/druid.dm
  code/modules/spells/classes/spatial.dm
  code/modules/spells/classes/standard.dm
  code/modules/spells/classes/student.dm
  code/modules/spells/classes/warlock.dm
  code/modules/spells/classes/wizard_class.dm
  code/modules/spells/spellbook.dm
  tgui/packages/tgui/interfaces/SpellBook.tsx
  tgui/public/tgui.bundle.js
Labels: 🔵одобрено, 🧙‍♂️ режим: маг, :knife: удаление, :scroll: Есть CL

#6396 добавляем обновление в топики нескольких наноинтерфейсов
  code/game/machinery/spaceheater.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/unary/cold_sink.dm
  code/modules/atmospherics/components/unary/heat_source.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
Labels: :scroll: Есть CL

#6386 Разнообразные спрайты для мага: книги, жезлы, посохи
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/library.dmi
  icons/obj/wizard.dmi
Labels: 🎨 спрайты, 🧙‍♂️ режим: маг, :scroll: Есть CL

#6394 Reject Travis, Embrace GitHub Actions
  .github/workflows/additional_checks.yml
  send-to-discord.sh
Labels: 🛠 Инструменты, :scroll: CL не требуется

#6429 Фикс сохранения хэша чейнджлога
  code/modules/mob/new_player/login.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6414 fix(solar panel): fix construction
  code/modules/power/solar.dm
Labels: :scroll: Есть CL

#6312 fix(surgery): fixed surgery tools bugs
  code/modules/surgery/generic.dm
Labels: 💉 медицина, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#6402 gibber fix
  code/game/machinery/kitchen/gibber.dm
Labels: :scroll: Есть CL

#6339 fix human-based antags spawn from ghost
  code/game/antagonist/antagonist.dm
Labels: :wrench: фикс, :scroll: Есть CL, ඞ антагонисты

#6430 Changelog
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6310 Переработка Dyrwyn, меча боевого мага
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/weapons.dm
  code/modules/projectiles/gun.dm
  code/modules/spells/targeted/equip/dyrnwyn.dm
  code/modules/spells/targeted/equip/equip.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🧙‍♂️ режим: маг, 🔵нужны ревью, ⚔️ боёвка, :scroll: Есть CL
