Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-05, with the labels that each got.

#5002 Removes bartender's lack of armor
  code/datums/outfits/jobs/civilian.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5030 Removes absence of forehead-writing logging
  code/modules/organs/external/head.dm
Labels: :wrench: фикс, мемы

#5026 Fixes everything
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
Labels: :wrench: фикс, BYOND, wtf

#5018 Rd outfit pack fix
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
Labels: 🌌геймдизайн, 🔵одобрено

#5016 Remove unsed assets
  code/modules/mob/mob.dm
  html/88x31.png
  html/archivedchangelog.html
  html/bug-minus.png
  html/burn-exclamation.png
  html/chevron-expand.png
  html/chevron.png
  html/cross-circle.png
  html/hard-hat-exclamation.png
  html/image-minus.png
  html/image-plus.png
  html/map-pencil.png
  html/music-minus.png
  html/music-plus.png
  html/scales.png
  html/spell-check.png
  html/tick-circle.png
  html/wrench-screwdriver.png
Labels: :knife: удаление

#5010 Removes get_turf() from all playsound calls
  code/datums/trading/trade.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/godmode/god_structures.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/objects/items/devices/chameleonholo.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/objects/items/devices/whistle.dm
  code/game/objects/items/paintkit.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/curtains.dm
  code/game/objects/structures/gas_stand.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/maneater.dm
  code/modules/mob/transform_procs.dm
  code/modules/power/apc.dm
  code/modules/power/port_gen.dm
  code/modules/power/smes.dm
  code/modules/power/smes_construction.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/spells/contracts.dm
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/spellbook.dm
  code/modules/spells/targeted/shapeshift.dm
Labels: 🔧оптимизация, 🔨реfuckторинг

#4994 Removes folded chair item_state placeholders
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: :wrench: фикс, 🎨 спрайты

#5034 Фикс лагов чатика от тревог у синтетиков
  code/modules/mob/living/silicon/silicon.dm
Labels: :wrench: фикс, 📺 ИИ|Борги

#4991 Освещение во время радшторма
  code/__defines/lighting.dm
  code/game/area/areas.dm
  code/modules/events/radiation_storm.dm
  code/modules/power/lighting.dm
Labels: 🌌геймдизайн, 🔵одобрено

#4933 Removes default "low" antag prefs
  code/game/gamemodes/game_mode.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  code/modules/mob/living/silicon/pai/recruit.dm
Labels: :dna:режим: генокрад, режим: культ, режим: предатель, режим: революция, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🧙‍♂️режим: маг

#4980 Removes possible sleep() from humans' processing
  code/modules/organs/external/_external.dm
  code/modules/recycling/disposal.dm
Labels: :wrench: фикс, 🔥приоритет, 🔧оптимизация

#5005 Dreamcheker options
  SpacemanDMM.toml
  code/modules/admin/admin_memo.dm
  code/modules/admin/topic.dm
  code/modules/donations/donator.dm
  code/modules/mob/living/silicon/custom_sprites.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/nano/interaction/default.dm
  code/modules/storyteller/storyteller_metric.dm
  code/modules/storyteller/storyteller_trigger.dm
Labels: 🔨реfuckторинг, 🔩 улучшение

#5025 Removes lack of masks quality
  code/modules/clothing/masks/gasmask.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/clothing/masks.dmi
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4993 Делаем ивент с кражей денег жёстче
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/job.dm
  code/modules/economy/Accounts.dm
  code/modules/events/money_hacker.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5017 Removes lack of performance
  code/_helpers/areas.dm
  code/_helpers/game.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/_external_icons.dm
Labels: 🔧оптимизация, 🔨реfuckторинг

#5013 Borg sheet loader to autolathe fix
  code/game/machinery/autolathe.dm
Labels: 🌌геймдизайн, 🔵одобрено

#5031 Removes absence of properly working overlays
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/pcarriers.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/human_races/masks/dam_mask_human.dmi
  icons/mob/human_races/masks/dam_mask_human_m_slim.dmi
  icons/mob/human_races/masks/dam_mask_human_slim.dmi
  icons/mob/human_races/masks/dam_mask_human_slim_alt.dmi
  icons/mob/human_races/masks/dam_mask_lizard.dmi
  icons/mob/human_races/masks/dam_mask_tajaran.dmi
  icons/mob/human_races/masks/dam_mask_tajaran_slim.dmi
Labels: :wrench: фикс, 🎨 спрайты

#4975 Dreamchecker: undefined var: "src"
  code/game/objects/explosion.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/pray.dm
  code/modules/maps/ruins.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
Labels: 🔨реfuckторинг

#5041 Кнопочка 'выбрать все роли' в настройках персонажа
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
Labels: 🔩 улучшение

#5042 Chat fonts
  code/modules/onyxchat/browserassets/css/browserOutput.css
  code/modules/onyxchat/browserassets/css/browserOutput_marines.css
  code/modules/onyxchat/browserassets/css/browserOutput_white.css
Labels: :iphone: UX/UI, 🔨реfuckторинг

#5043 Preferences html fix
  code/modules/client/preference_setup/antagonism/02_setup.dm
  code/modules/client/preferences.dm
Labels: :iphone: UX/UI, 🔨реfuckторинг

#5044 Убрал переопределение do_after() у мехов
  code/game/mecha/combat/combat.dm
  code/game/mecha/mecha.dm
Labels: :wrench: фикс

#5052 fix(map): fixed frontier hallway disposal
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🗺️ карта

#5056 tweak(assembly) fix ghost scan
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/subtypes/access.dm
  code/modules/integrated_electronics/subtypes/lists.dm
  code/modules/integrated_electronics/subtypes/text.dm
Labels: :pager: интегралки, :wrench: фикс

#5058 Fixes
  SpacemanDMM.toml
  code/__defines/mobs.dm
  code/_onclick/item_attack.dm
  code/game/atoms.dm
  code/modules/psychotronics/psychoscope.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass/bottle/robot.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: 🔨реfuckторинг, 🛠 Инструменты

#5059 Removes lack of immersive lighting
  code/game/objects/items/devices/flashlight.dm
  code/modules/mining/mine_items.dm
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4965 Changelog generating
  .github/pull_request_template.md
  .gitignore
  .vscode/changelog.schema.json
  .vscode/changelog_cache.schema.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  html/changelog.html
  html/changelogs/.all_changelog.json
  html/changelogs/.all_changelog.yml
  html/changelogs/.example.json
  html/changelogs/example.yml
  html/templates/changelog.tmpl
  html/templates/footer.html
  html/templates/header.html
  omnisharp.json
  tools/ChangelogGenerator/ClCheck.csx
  tools/ChangelogGenerator/Fetch.csx
  tools/ChangelogGenerator/Fetch.ps1
  tools/ChangelogGenerator/FetchMakeCommit.ps1
  tools/ChangelogGenerator/Make.csx
  tools/ChangelogGenerator/Make.ps1
  tools/ChangelogGenerator/Models.csx
  tools/ChangelogGenerator/README.md
  tools/ChangelogGenerator/Settings.csx
  tools/ChangelogGenerator/last_pr.txt
  tools/GenerateChangelog/makeChangelog.bat
  tools/GenerateChangelog/ss13_genchangelog.py
Labels: :scroll: CL не требуется, 🛠 Инструменты

#4901 Mobs optimization
  code/controllers/subsystems/processing/mobs.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/observer/virtual/base.dm
Labels: :scroll: CL не требуется, 🔧оптимизация, 🔵нужны ревью

#5075 CL Gen
  .vscode/changelog.schema.json
  html/changelog.css
  html/templates/changelog.tmpl
  tools/ChangelogGenerator/Models.csx
  tools/ChangelogGenerator/Settings.csx
Labels: :scroll: CL не требуется

#3586 fix(microbattery) organic human can't revive by using microbattery.
  code/modules/organs/external/machine.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔵одобрено

#5086 Removes aliens' damage sponge
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/organs/external/xenos.dm
  icons/mob/human_races/masks/dam_mask_xenos.dmi
Labels: :alien: алиены, :scroll: CL не требуется, :wrench: фикс

#5080 Removes light tube lamps pixel shift
  code/modules/power/lighting.dm
Labels: :knife: удаление, :scroll: CL не требуется, :wrench: фикс

#5072 Прикрутил эмоуты к сейлогам в Individual Round Logs
  code/modules/admin/verbs/individual_logging.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/mob_helpers.dm
Labels: :gear:кнопки, :scroll: Есть CL, 🔩 улучшение

#5097 игорь
  SpacemanDMM.toml
Labels: :scroll: CL не требуется

#5106 Removes excessive lighttubes brightness
  code/modules/power/lighting.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5110 Removes lack of hazard doors quality
  icons/obj/doors/doorhazard.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#5066 fix(map): fixed things in frontier RnD
  maps/exodus/frontier/frontier-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс, 🗺️ карта

#5100 Removes surgical crimes
  code/modules/surgery/limb_reattach.dm
Labels: :scroll: Есть CL, :wrench: фикс, 💉медицина

#5115 Генерация чейнджлога на 12.05.2021 22:14
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5111 Removes lack of maint airlocks quality
  icons/obj/doors/doorint.dmi
  icons/obj/doors/doormaint.dmi
  icons/obj/doors/doormed.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 🎨 спрайты

#5116 Removes runtime in footsteps.dm, line 164: Cannot read null.z
  code/game/turfs/simulated/footsteps.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔥приоритет

#5117 Фикс индивидуальных логов
  code/modules/admin/topic.dm
  code/modules/admin/verbs/individual_logging.dm
Labels: :gear:кнопки, :scroll: CL не требуется, :wrench: фикс

#4046 Лолконвертное
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/runes.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: :scroll: Есть CL, режим: культ, 🌌геймдизайн, 🔵одобрено

#5119 Removes facehuggers' broken targeting
  code/modules/mob/living/simple_animal/hostile/facehugger.dm
Labels: :alien: алиены, :scroll: Есть CL, :wrench: фикс

#5125 Removes excessive ambient frequency
  code/modules/mob/living/carbon/human/life.dm
Labels: :scroll: CL не требуется, 🔥приоритет, 🔧оптимизация

#5079 Removes lack of immersive pills and syringes
  code/__defines/misc.dm
  code/datums/extensions/label.dm
  code/datums/supplypacks/medical.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/chemical.dmi
  icons/obj/syringe.dmi
  maps/away/smugglers/smugglers.dm
  maps/exodus/alpha/sunset-4.dmm
  maps/exodus/derelicts/bearcat/bearcat-2.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/frontier/frontier-3.dmm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 💉медицина, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#5094 Removes absence of poise on-screen meter
  code/_onclick/hud/human.dm
  code/game/objects/items.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  icons/mob/screen/midnight.dmi
  icons/mob/screen1_poise.dmi
Labels: :iphone: UX/UI, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5126 Manifest fix
  code/modules/modular_computers/file_system/crew_record.dm
  code/modules/modular_computers/file_system/manifest.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
Labels: :scroll: Есть CL

#5093 Removes absence of ninjutsu
  code/game/objects/items/weapons/melee/energy.dm
Labels: :scroll: Есть CL, :wrench: фикс, ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5082 Removes lack of dryness
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/modules/mob/living/carbon/viruses.dm
  code/modules/organs/blood.dm
  icons/effects/blood.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5124 Removes lack of xenomorph tweaks
  code/game/machinery/doors/simple.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/organs/external/xenos.dm
Labels: :alien: алиены, :scroll: Есть CL, :wrench: фикс, 🔩 улучшение

#5118 Спеллчекер: игнорирование строчных/прописных букв
  code/modules/onyxchat/browserassets/js/browserOutput.js
  config/names/spellcheсker_terms.txt
Labels: :scroll: Есть CL, :wrench: фикс

#5108 wtf
  code/datums/uplink/devices and tools.dm
Labels: :scroll: CL не требуется, wtf

#5130 Ченджлог нулевого дня
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5131 Removes changelog.html
  html/changelog.html
Labels: wtf

#5132 Removes absence of changelog.html
  html/changelog.html
Labels: wtf

#5135 Спеллчекер: поправочки
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/onyxchat/browserassets/js/browserOutput.js
  config/names/spellcheсker_terms.txt
Labels: :scroll: CL не требуется, :wrench: фикс

#5127 Cyrillic prefix fix for languages
  code/_helpers/russian.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/say.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение

#5142 fix spells
  code/modules/spells/racial_wizard.dm
  code/modules/spells/targeted/equip/dyrnwyn.dm
  code/modules/spells/targeted/equip/holy_relic.dm
  code/modules/spells/targeted/equip/seed.dm
  code/modules/spells/targeted/equip/shield.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/spells/targeted/shift.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🧙‍♂️режим: маг

#5143 Removes some biosuits mess
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier/frontier-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс, 🗺️ карта

#5151 Removes a fuckload of viral issues
  code/modules/mob/living/carbon/viruses.dm
  code/modules/virus2/antibodies.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/effects/common.dm
  code/modules/virus2/effects/engineering.dm
  code/modules/virus2/effects/exotic.dm
  code/modules/virus2/effects/mild.dm
  code/modules/virus2/effects/mutation.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 👾 вирусология, 🔨рефакторинг

#5160 Removes simplemorphs' immortality
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: :alien: алиены, :scroll: Есть CL, :wrench: фикс

#5159 tweak(word) fix fields bug
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
Labels: :wrench: фикс

#5156 Removes excessive open space from Medbay
  maps/exodus/exodus-2.dmm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#5123 Point to hotkey
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/rig.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5162 Removes lack of proper movement thingies
  code/datums/movement/movement.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/soap.dm
  code/game/turfs/simulated.dm
  code/modules/ZAS/Airflow.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🔧оптимизация

#5054 Кнопка для скрытия донатных предметов в лоадауте
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: :scroll: Требуется CL, 🔩 улучшение

#5105 Чейнджлоги
  .github/pull_request_template.md
  .vscode/changelog.schema.json
  .vscode/launch.json
  .vscode/settings.json
  html/changelog.css
  html/changelog.html
  html/changelogs/.all_changelog.json
  html/templates/changelog.tmpl
  tools/ChangelogGenerator/ClCheck.csx
  tools/ChangelogGenerator/Fetch.csx
  tools/ChangelogGenerator/FetchMakeCommit.ps1
  tools/ChangelogGenerator/Make.csx
  tools/ChangelogGenerator/Models.csx
  tools/ChangelogGenerator/Settings.csx
Labels: :iphone: UX/UI, :scroll: CL не требуется, 🛠 Инструменты

#5014 Add splash for EOS
  icons/splashes/eos_frontier.png
Labels: :iphone: UX/UI, :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 📄 конфиг, 🔩 улучшение, 🔵одобрено

#5164 Removes lack of airlocks refactoring
  baystation12.dme
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/airlock_presets.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🔨рефакторинг

#5171 絶対的な防御を取り除く
  code/game/objects/items.dm
Labels: ⚔️ боёвка, 🌀режим: ниндзя, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5172 Removes lack of RPD disposal pipes
  code/game/objects/items/weapons/backwear/rpd.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5107 Рефакторинг Part II
  code/__defines/_planes+layers.dm
  code/_helpers/game.dm
  code/_helpers/icons.dm
  code/_helpers/json.dm
  code/datums/helper_datums/construction_datum.dm
  code/datums/helper_datums/events.dm
  code/datums/helper_datums/global_iterator.dm
  code/datums/helper_datums/topic_input.dm
Labels: :scroll: CL не требуется, 🔨рефакторинг

#5174 Removes lack of lethal shootings
  baystation12.dme
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/internal/heart.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special.dm
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
Labels: :scroll: Есть CL, ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5175 fix(money) money can be used after "deletion"
  code/modules/economy/ATM.dm
  code/modules/economy/cash.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
Labels: :scroll: Есть CL, :wrench: фикс, BYOND, 🥇 Chicken Dinner

#5199 Removes lack of giant noncheckable backdoors-filled PRs
  code/game/machinery/doors/airlock_presets.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/smokables/pipes.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/clothing/rings/rings.dm
  code/modules/hydroponics/seed.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/machine_vending.dm
  code/modules/organs/internal/_internal.dm
  code/modules/power/singularity/singularity.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  icons/obj/doors/door_assembly.dmi
  icons/obj/syringe.dmi
  maps/exodus/derelicts/casino.dmm
  maps/exodus/exodus-2.dmm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔨рефакторинг, 🔵одобрено

#5223 fix(map): fixed several frontier issues
  maps/exodus/frontier/frontier-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс, ⛏️Фронтир, 🗺️ карта

#5216 🤖 changelogical
  .github/workflows/check_changelog.yml
Labels: :scroll: CL не требуется, 🛠 Инструменты

#5225 Removes 飛雷神-grenades
  code/game/objects/items/weapons/grenades/explosive.dm
  code/game/objects/items/weapons/grenades/grenade.dm
Labels: :scroll: Есть CL, ⚔️ боёвка, 🌌геймдизайн, 🔵одобрено

#5232 Action fixes
  .github/workflows/check_changelog.yml
  tools/ChangelogGenerator/ClCheck.csx
Labels: :scroll: CL не требуется

#5217 Removes lack of shooting quality
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/gun.dmi
  icons/obj/weapons.dmi
Labels: :scroll: Есть CL, :wrench: фикс, ⚔️ боёвка, 🌌геймдизайн, 🎨 спрайты, 🔧оптимизация, 🔩 улучшение, 🔵одобрено

#5234 fix workflow
  .github/workflows/check_changelog.yml
Labels: :scroll: CL не требуется

#3609 Вынос второй БД из подсистемы донатов, логирование рантаймов во вторую БД
  code/_global_vars/configuration.dm
  code/_global_vars/sensitive.dm
  code/_helpers/global_access.dm
  code/_helpers/sql.dm
  code/controllers/configuration.dm
  code/game/magic/archived_book.dm
  code/game/world.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/banjob_iaa.dm
  code/modules/admin/view_variables/view_variables_global.dm
  code/modules/donations/donations.dm
  code/modules/error_handler/error_handler.dm
  config/example/dbconfig.txt
Labels: :scroll: CL не требуется, :suspect: сложно

#5176 igor
  .vscode/settings.json
Labels: :scroll: CL не требуется

#5228 Removes lack of storage quality
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  icons/obj/storage.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#5241 Nano Watch
  .vscode/launch.json
  nano/To BYOND Cache.bat
  nano/Watch.ps1
Labels: :scroll: CL не требуется, 🛠 Инструменты

#5203 Minor fixes
  code/game/jobs/job_controller.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mining/machine_vending.dm
  icons/obj/dice.dmi
  maps/exodus/derelicts/original/derelict.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/prison/prison-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс

#5236 Ещё один редизайн (интегралки)
  code/modules/client/asset_cache.dm
  code/modules/integrated_electronics/core/assemblies.dm
  html/browser/assembly_ui.css
  html/codicon/codicon.css
  html/codicon/codicon.ttf
Labels: :iphone: UX/UI, :scroll: Есть CL

#4873 Uplink contracts
  baystation12.dme
  code/__defines/contracts.dm
  code/datums/mind.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/implants.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/antagonist/station/traitor.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/contracts.dm
  code/game/gamemodes/traitor/fixer.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/devices/uplink.dm
  code/game/objects/items/weapons/implants/implants/spy.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  nano/templates/std.tmpl
  nano/templates/uplink.tmpl
Labels: :gear:кнопки, :scroll: Есть CL, режим: предатель, 🌌геймдизайн, 💰награда, 🔨рефакторинг, 🔩 порт, 🔩 улучшение, 🔵одобрено

#5024 feat(cargo) announce when buy illegal stuff
  code/controllers/subsystems/supply.dm
  code/datums/supplypacks/miscellaneous.dm
Labels: :scroll: Есть CL, режим: предатель, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5170 Removes lack of chicken farming
  baystation12.dme
  code/_helpers/global_access.dm
  code/modules/mob/living/simple_animal/friendly/chicken.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/animal.dmi
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  icons/obj/food.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4973 Dreamchecker: returning a value has no effect
  code/game/antagonist/station/rogue_ai.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/organs/external/diona.dm
  code/modules/shuttles/shuttle.dm
  code/unit_tests/equipment_tests.dm
Labels: :scroll: CL не требуется, 🔨рефакторинг

#5243 tweak(something) runtimes fix
  code/modules/admin/banjob_iaa.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/integrated_electronics/subtypes/text.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔨рефакторинг

#5262 Фикс контрактов
  code/game/gamemodes/traitor/fixer.dm
Labels: :scroll: CL не требуется, :wrench: фикс, режим: предатель

#5258 Action Tweak
  .github/workflows/check_changelog.yml
Labels: :scroll: CL не требуется, 🛠 Инструменты

#5264 Dreamchecker CI
  .github/workflows/linter.yml
  .vscode/launch.json
  scripts/dreamchecker_annotator.ps1
  scripts/dreamchecker_downloader.ps1
Labels: :scroll: CL не требуется, 🛠 Инструменты

#5256 Removes lack of mecha weapons viability
  code/game/mecha/equipment/weapons/weapons.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mecha/mecha_equipment.dmi
Labels: :scroll: Есть CL, ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5257 Removes absence of heavy laser bolt icon
  code/modules/projectiles/projectile/special.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5265 Removes lack of storage sanity
  code/__defines/inventory_sizes.dm
  code/datums/appearances/automatic/cardborg.dm
  code/datums/outfits/jobs/_defines.dm
  code/datums/outfits/jobs/civilian.dm
  code/datums/outfits/jobs/command.dm
  code/datums/outfits/jobs/medical.dm
  code/datums/supplypacks/supply.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/trays.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/mine_items.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/xenoarcheaology/misc.dm
  icons/mob/onmob/items/backpack_lefthand.dmi
  icons/mob/onmob/items/backpack_righthand.dmi
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔨рефакторинг, 🔩 улучшение, 🔵одобрено

#5261 Исправляем оставшиеся проблемы Дримчекера
  baystation12.dme
  code/_helpers/warnings.dm
  code/controllers/subsystems/wireless.dm
  code/datums/supplypacks/supplypack.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/kitchen/icecream.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/admin/secrets/random_events/trigger_CompanyProvocation.dm
  code/modules/awaymissions/loot.dm
  code/modules/client/ui_style.dm
  code/modules/hydroponics/grown.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/materials/materials.dm
  code/modules/mining/machine_processing.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/simple_animal/hostile/facehugger.dm
  code/modules/mob/new_player/login.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/surgery/organs_internal.dm
  code/modules/synthesized_instruments/real_instruments.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔨рефакторинг

#5255 Removes lack of energy rifles viability
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/projectile/special.dm
Labels: :scroll: Есть CL, ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5141 tweak(manifest) fake crew record fix
  code/datums/uplink/services.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5267 Генерация чейнджлога на 25.05.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5269 Removes storage-breaking absence of brackets
  code/__defines/inventory_sizes.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔥приоритет

#5277 Задержка для Point-to
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: :scroll: Есть CL, 🔩 улучшение

#5247 refactor(db)
  code/_helpers/sql.dm
  code/_helpers/text.dm
  code/game/jobs/whitelist.dm
  code/game/magic/archived_book.dm
  code/game/world.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/EAMS.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/banjob.dm
  code/modules/admin/banjob_iaa.dm
  code/modules/admin/multiaccount.dm
  code/modules/admin/panic.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/verbs/check_customitem_activity.dm
  code/modules/admin/watchlist.dm
  code/modules/client/client_procs.dm
  code/modules/donations/donations.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/poll.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
  code/modules/research/message_server.dm
  code/procs/statistics.dm
  docs/contributing.md
Labels: :scroll: CL не требуется, :wrench: фикс, 📝необходимо тестирование, 🔨рефакторинг

#5289 fix(sql): quote reserved words
  code/modules/admin/admin_ranks.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/donations/donations.dm
Labels: :scroll: CL не требуется

#5296 Removes one third of xenomorph infestation event weight
  code/modules/events/event_container.dm
Labels: :alien: алиены, :scroll: CL не требуется, 🌌геймдизайн, 🔵одобрено

#5300 tweak(cult): lol convert
  code/game/gamemodes/cult/runes.dm
Labels: :scroll: Есть CL, режим: культ, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5282 fix(contracts) fix runtime
  code/datums/uplink/devices and tools.dm
  code/game/gamemodes/traitor/contracts.dm
Labels: :scroll: CL не требуется, :wrench: фикс, режим: предатель

#5291 Removes brokenness from inflatable barriers cases
  code/game/objects/structures/inflatable.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔨рефакторинг, 🔩 улучшение, 🔵одобрено

#5281 Непрерывно Интеграционное
  .github/workflows/linter.yml
  .vscode/codestyle.schema.json
  .vscode/settings.json
  scripts/CodeStyle/CodeStyle.ps1
  scripts/CodeStyle/CodeStyle.psd1
  scripts/CodeStyle/CodeStyle.psm1
  scripts/DreamChecker/DreamChecker.ps1
  scripts/DreamChecker/DreamChecker.psd1
  scripts/DreamChecker/DreamChecker.psm1
  scripts/GitHub/GitHub.ps1
  scripts/GitHub/GitHub.psd1
  scripts/GitHub/GitHub.psm1
  scripts/dreamchecker_annotator.ps1
  scripts/dreamchecker_downloader.ps1
  tools/CI/CodeStyleLinter.ps1
  tools/CI/CodeStyleRules.json
  tools/CI/DreamCheckerLinter.ps1
Labels: :scroll: CL не требуется

#5152 Emote cyrillic workaround
  code/_helpers/russian.dm
  code/modules/emotes/emote_mob.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5279 Removes lack of proper attack sounds and nerfs energy cutlasses
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/material/improvised_components.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/stick.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  sound/effects/fighting/energy1.ogg
  sound/effects/fighting/energyblock.ogg
Labels: :scroll: Есть CL, :wrench: фикс, sfx, ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5122 Doors can be interacted with by clicking on turf
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  code/game/turfs/turf.dm
Labels: :scroll: Есть CL, :white_circle:ожидает автора, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5341 Фикс рантайма у вируса
  code/modules/virus2/effects/common.dm
  code/modules/virus2/effects/mutation.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 👾 вирусология

#5338 Фикс рантайма
  code/modules/spells/targeted/mind_control.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5330 fix(wizard) Teleportation spell
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/spell_code.dm
Labels: :scroll: Есть CL, 🧙‍♂️режим: маг

#5202 Вернул Ghost обратно на место
  code/game/machinery/cryopod.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5342 Генерация чейнджлога на 31.05.21
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5343 Removes old set_light() called by AIs
  code/modules/mob/living/silicon/ai/ai.dm
Labels: :scroll: CL не требуется, :wrench: фикс
