Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-10, with the labels that each got.

#6616 bugfix(tgui): fixed laggy tooltips
  .gitignore
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/public/tgui-common.bundle.js
Labels: :wrench: фикс, :scroll: CL не требуется

#6614 tweak(tgui): replace link to tgstation and delete date
  tgui/public/tgui.html
Labels: :scroll: CL не требуется

#6608 fix(silicon): research manipulator can pick more item types
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 📺 ИИ|Борги, :scroll: Есть CL

#6569 tweak(grafiti): replace penis grafiti with text version
  icons/effects/crayongraffiti.dmi
Labels: 🌌геймдизайн, 🔵одобрено, :scroll: Есть CL

#6578 Fixes "everything" on Frontier Pt.3
  maps/exodus/frontier/frontier-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, ⛏️ Фронтир

#6592 fix(xenoarcheaology): now suspension field generator correctly works with research cyborg
  code/modules/xenoarcheaology/tools/suspension_generator.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6576 fix(guns): fixes spike thrower sprite
  code/modules/projectiles/guns/launcher/alien.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6496 Улучшение баррикад
  code/game/machinery/deployable.dm
Labels: :scroll: Есть CL

#6571 fix(paper): Now print of paper correctly updates icon
  code/modules/paperwork/paper.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6574 tweak(wizard): balances wizard classes
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/spells/artifacts/storage.dm
  code/modules/spells/classes/battlemage.dm
  code/modules/spells/classes/druid.dm
  code/modules/spells/classes/spatial.dm
  code/modules/spells/classes/standard.dm
  code/modules/spells/classes/warlock.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🧙‍♂️ режим: маг, :scroll: Есть CL

#6621 fix(solar): a solar panel generates energy
  code/modules/power/solar.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6622 tweak(changelog) new changelog data
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6624 update(tgui): fixes and optimizations from tgstation
  tgui/.eslintrc.json
  tgui/global.d.ts
  tgui/package-lock.json
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/ByondUi.js
  tgui/packages/tgui/components/Flex.tsx
  tgui/packages/tgui/components/Icon.js
  tgui/packages/tgui/components/Stack.tsx
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/renderer.js
  tgui/packages/tgui/renderer.ts
  tgui/packages/tgui/store.js
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/tsconfig.json
Labels: 🔧 оптимизация, 🔩 порт, :scroll: CL не требуется

#6645 tweak(stylesheet): font sizes now relative
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: :scroll: CL не требуется

#6651 Update machines.dm
  code/controllers/subsystems/machines.dm
Labels: :scroll: CL не требуется

#6634 revert(changelog): revert changelog's opening in browser
  code/controllers/configuration.dm
  code/game/world.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/login.dm
  config/example/config.txt
  html/changelog.html
  html/templates/changelog.tmpl
  interface/interface.dm
Labels: :scroll: Есть CL

#6563 new female haircut
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL
