Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-02, with the labels that each got.

#4370 fix(zoom)
  code/game/objects/items.dm
Labels: :wrench: фикс

#4353 fix(night vision matrix)
  code/modules/clothing/glasses/hud.dm
Labels: :wrench: фикс

#4360 Опять генокрады
  code/game/gamemodes/changeling/helpcode.dm
Labels: :dna:режим: генокрад, :wrench: фикс

#4243 tweak(medical cyborgs) surgery model merged into medical model
  code/_global_vars/lists/flavor.dm
  code/_onclick/hud/radial.dm
  code/game/objects/items.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/research/mechfab_designs.dm
  code/modules/surgery/organs_internal.dm
Labels: :knife: удаление, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4361 fix(space vines)
  code/game/turfs/simulated/walls.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  icons/obj/hydroponics_growing.dmi
Labels: :wrench: фикс

#4372 tweak(Rest): resting is instant now
  code/modules/mob/living/living.dm
  icons/mob/screen/white.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4371 tweak(storage): alt+clicks, usage by robots, background tile fixes
  code/game/objects/items.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/storage_ui/default.dm
Labels: :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4377 emergency hotfix for emergency shuttle
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: :wrench: фикс, 🔥приоритет, 🗺️ карта

#4378 fix(windows+atmos): clothing pick-up, atmos block
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/inflatable.dm
  code/modules/clothing/clothing.dm
  code/modules/shield_generators/shield.dm
Labels: :wrench: фикс

#4384 fix(storage): alt+click interaction w/ locked storages
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/storage.dm
Labels: :wrench: фикс

#4396 Раздельная блокировка мостика
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#4407 fix(pAI): movement
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/silicon/pai/pai.dm
Labels: :wrench: фикс

#4424 Сандное
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/mining/mine_turfs.dm
  icons/turf/flooring/sand.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4438 fix(wizrobe) Fixed sprites for wizard robes
  code/datums/outfits/wizardry.dm
  code/datums/supplypacks/miscellaneous.dm
  code/modules/clothing/suits/wiz_robe.dm
  maps/exodus/exodus-3.dmm
Labels: 🎨 спрайты

#4470 frontier-test
  code/game/objects/structures/flora.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/obj/flora/hdtrees.dmi
  icons/obj/flora/hdtreesmall.dmi
  icons/turf/flooring/decals.dmi
  maps/exodus/exodus_areas.dm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/frontier/frontier-3.dmm
  maps/exodus/frontier/frontier-4.dmm
  maps/exodus/frontier/frontier-5.dmm
  maps/exodus/frontier/frontier_define.dm
  maps/shared/exodus_torch/areas.dm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4488 add location to status for AI Eye
  code/modules/mob/living/silicon/ai/malf.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4487 update material synthesizer
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4099 Вирусное
  baystation12.dme
  code/__defines/misc.dm
  code/game/machinery/adv_med.dm
  code/modules/events/pestilence.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/diseasesplicer.dm
  code/modules/virus2/dishincubator.dm
  code/modules/virus2/effect.dm
  code/modules/virus2/effects/common.dm
  code/modules/virus2/effects/engineering.dm
  code/modules/virus2/effects/exotic.dm
  code/modules/virus2/effects/mild.dm
  code/modules/virus2/effects/mutation.dm
  code/modules/virus2/helpers.dm
  nano/templates/dish_incubator.tmpl
Labels: 🌌геймдизайн, 👾 вирусология, 💉медицина, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#3224 rework(fake_crew_announcement): improve traitor experience
  code/datums/uplink/services.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/new_player/new_player.dm
  code/procs/announce.dm
Labels: :wrench: фикс, 🌌геймдизайн, 🔵одобрено

#4503 feat(map) finished frontier map for public test
  baystation12.dme
  code/modules/mining/machine_stacking.dm
  code/modules/power/lighting.dm
  code/modules/shuttles/antagonist.dm
  maps/exodus/exodus.dm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_define.dm
  maps/exodus/exodus_shuttles.dm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/frontier/frontier-3.dmm
  maps/exodus/frontier/frontier-4.dmm
  maps/exodus/frontier/frontier-5.dmm
  maps/exodus/frontier/frontier_define.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4519 fix vox outfit
  code/game/antagonist/outsider/raider.dm
Labels: :wrench: фикс

#4457 Перерисовка багета
  icons/obj/food.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#4479 feat(surgery) gloves didn't protect from germs if they were cut
  code/modules/surgery/surgery.dm
Labels: :trollface: no xenos allowed, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4505 tweak(organ fixer) cost tweak
  code/modules/research/designs/protolathe/dp-surgery.dm
Labels: 🌌геймдизайн, 💉медицина, 🔩 улучшение, 🔵одобрено
