Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-12, with the labels that each got.

#7053 Removes crafted sawn-off shotgun's rogue wielded_item_state
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7073 tweak(vehicle): load can now can be properly moved
  code/modules/vehicles/vehicle.dm
Labels: :scroll: CL не требуется

#7074 IE Debugger
  .vscode/launch.json
  scripts/IEChooser.ps1
Labels: 🛠 Инструменты, :scroll: CL не требуется

#7060 feat(flora): add ability to cut plants & chop down trees ingame
  code/game/objects/structures/flora.dm
  icons/obj/flora/junglebushlarge.dmi
  icons/obj/flora/jungleflora.dmi
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, 🔵нужны ревью, :scroll: Есть CL

#7011 fix(grab): grabs are now deleted instead of drop
  code/datums/movement/mob.dm
  code/game/gamemodes/godmode/god_altar.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/items.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/grab/normal/norm_struggle.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/mob_movement.dm
Labels: :scroll: CL не требуется

#7082 fix(map): frontier hotfix
  maps/exodus/exodus_areas.dm
  maps/exodus/frontier-SCP/frontier-SCP-1.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/helltier2021/helltier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#7086 fix(candrop): removed candrop. Use canremove
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/augmentation/prosthetic/prosthetic.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/ventcrawl/ventcrawl.dm
Labels: :scroll: CL не требуется

#7092 fix(canremove): throw grabbed
  code/modules/mob/living/carbon/carbon.dm
Labels: :scroll: CL не требуется

#7087 fix(blob): blob destroys SMES and does not spawn on asteroid turfs
  code/game/objects/structures/blob/blob.dm
  code/modules/power/smes.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7088 tweak(gateway): gateway now working, added admin menu
  baystation12.dme
  code/modules/awaymissions/gateway.dm
  code/modules/events/gateway_distress.dm
  maps/exodus/derelicts/jungleplanet/jungle_planet.dmm
  maps/exodus/exodus.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, :scroll: Есть CL

#7099 Removes ling's stasis chemcost
  code/game/gamemodes/changeling/evolution_menu.dm
  code/game/gamemodes/changeling/powers/stasis.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :dna: режим: генокрад, :scroll: Есть CL

#7100 Removes some biostructural bugs
  code/game/gamemodes/changeling/biostructure.dm
  code/game/gamemodes/changeling/powers/detach_limb.dm
  code/game/gamemodes/changeling/powers/disjunction.dm
  code/modules/organs/external/_external.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: CL не требуется

#7105 fix(map): Jungle hotfix
  maps/exodus/derelicts/jungleplanet/jungle_planet.dmm
  maps/exodus/exodus.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#7112 Removes some new changeling bugs
  code/game/gamemodes/changeling/biostructure.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/changeling_datum.dm
  code/game/gamemodes/changeling/evolution_menu.dm
  code/game/gamemodes/changeling/helpcode/mobs.dm
  code/game/gamemodes/changeling/powers/absorb.dm
  code/game/gamemodes/changeling/powers/division.dm
  code/game/gamemodes/changeling/powers/move_biostructure.dm
  code/game/gamemodes/changeling/powers/transform.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/posibrain.dm
  code/modules/organs/internal/stack.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/organ.dm
  icons/mob/human_races/organs/foreign.dmi
  icons/mob/human_races/organs/human.dmi
Labels: :wrench: фикс, 🔵нужны ревью, :dna: режим: генокрад, :scroll: Есть CL

#7126 Removes absence of biostructures' icons
  code/game/gamemodes/changeling/biostructure.dm
Labels: 🎨 спрайты, :wrench: фикс, :dna: режим: генокрад, :scroll: CL не требуется

#7108 tweak(changeling): redesign changeling evolution menu
  code/game/gamemodes/changeling/evolution_menu.dm
  code/modules/client/asset_cache.dm
  html/exocet/exocet.css
  html/exocet/exocet_bold.woff
  html/exocet/exocet_regular.woff
  html/pelagiad/Pelagiad.woff
  html/pelagiad/pelagiad.css
  tgui/packages/tgui/assets/changeling/background.png
  tgui/packages/tgui/assets/changeling/flesh.png
  tgui/packages/tgui/assets/changeling/flesh_off.png
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Changeling.tsx
  tgui/packages/tgui/styles/themes/changeling.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :iphone: UX/UI, 🔵нужны ревью, :scroll: Есть CL

#7113 tweak(gateway): some "small" tweaks
  code/_helpers/areas.dm
  code/game/machinery/computer/prisoner.dm
  code/game/objects/items/weapons/implants/implants/death_alarm.dm
  code/modules/awaymissions/bluespaceartillery.dm
  code/modules/awaymissions/gateway.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  maps/exodus/exodus.dm
  maps/exodus/exodus_define.dm
  maps/exodus/frontier-SCP/frontier-SCP_define.dm
  maps/exodus/frontier/frontier_define.dm
  maps/exodus/helltier2021/helltier_define.dm
  maps/~mapsystem/maps.dm
Labels: :scroll: Есть CL

#7107 Removes shieldshooting mastery
  code/game/objects/items.dm
  code/modules/projectiles/gun.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, ⚔️ боёвка, :scroll: Есть CL

#7106 Removes organs' processing overhead
  code/modules/organs/organ.dm
Labels: 🔧 оптимизация, :scroll: Есть CL

#6829 fix(supply_pack): fixed supply manifest
  code/datums/supplypacks/hydroponics.dm
  code/datums/supplypacks/operations.dm
  code/datums/supplypacks/supplypack.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  maps/exodus/exodus-6.dmm
Labels: :wrench: фикс, :scroll: Есть CL

#7062 Мультитул взламывает все шкафчики
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  icons/obj/guncabinet.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#7139 Removes organs' ungrindability
  code/modules/reagents/Chemistry-Machinery.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7137 Removes rogue label from big bottles' icon
  icons/obj/chemical.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#7136 Removes broken wrapped boxes
  code/modules/recycling/sortingmachinery.dm
  icons/obj/storage.dmi
Labels: :wrench: фикс, :scroll: Есть CL

#7135 Removes virus dishes' extra size
  code/modules/virus2/items_devices.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7134 Removes some dresses' extra bodypart coverage
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7133 Removes lack of mecha tools icons
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/tools.dm
  icons/mecha/mecha_equipment.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7121 fix(map): Frontier Cameras 2: Electric Boogaloo
  maps/exodus/frontier/frontier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#7151 Removes brokenness of HUD drop icon
  code/_onclick/hud/screen_objects.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7147 Removes bugs preventing changelings' from dividing
  code/game/gamemodes/changeling/powers/division.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#7164 tweak(ui): add sorting to changeling ui
  tgui/packages/tgui/interfaces/Changeling.tsx
  tgui/packages/tgui/styles/themes/changeling.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵одобрено, :iphone: UX/UI, :scroll: CL не требуется

#7158 Removes hoodies' extra body coverage
  code/modules/clothing/suits/miscellaneous.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7146 Операционный стол не перестаёт раздевать
  code/game/machinery/OpTable.dm
Labels: :scroll: Есть CL

#7155 Removes lack of renewed device icons
  icons/obj/device.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#6661 refactoring(xenoarcheaology): artefact.dm and dependent files.
  code/__defines/xenoarcheaology.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  code/modules/xenoarcheaology/boulder.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/effects/cultify.dm
  code/modules/xenoarcheaology/effects/darkness.dm
  code/modules/xenoarcheaology/effects/forcefield.dm
  code/modules/xenoarcheaology/effects/gravity.dm
  code/modules/xenoarcheaology/effects/planthelper.dm
  code/modules/xenoarcheaology/effects/plantkiller.dm
  code/modules/xenoarcheaology/effects/projectiles.dm
  code/modules/xenoarcheaology/tools/ano_device_battery.dm
  code/modules/xenoarcheaology/tools/artifact_analyser.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  code/modules/xenoarcheaology/tools/tools.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#7176 Removes lack of nice-looking consistent space suits
  code/datums/trading/spacesuits.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/syndi.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/mining/machine_vending.dm
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_fat.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/hats/mob_tajaran.dmi
  icons/inv_slots/rig/mob.dmi
  icons/inv_slots/rig/mob_fat.dmi
  icons/inv_slots/rig/mob_slim.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/suits/mob_tajaran.dmi
  icons/mob/collar.dmi
  icons/mob/onmob/rig_back.dmi
  icons/mob/onmob/rig_back_slim.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/rig_modules.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7192 feat(map): Exodus lighting rework & vent fix
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-6.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#7170 mapfix(vox shuttle): remove corners so airlock not blocked by shields
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#7171 УДАЛЯЕМ ненужный ПДА message server с дереликта
  code/modules/research/message_server.dm
  maps/exodus/derelicts/bearcat/bearcat-2.dmm
Labels: :wrench: фикс, :scroll: Есть CL

#7079 purge(var): purge 'var/' in proc parameters part II
  code/game/dna/genes/powers.dm
  code/game/gamemodes/objective.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/atmoalter/area_atmos_computer.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/computer/shuttle.dm
  code/game/machinery/magnet.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/telemonitor.dm
  code/game/machinery/telecomms/traffic_control.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
  code/game/mecha/medical/odysseus.dm
  code/game/objects/effects/gibs.dm
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/devices/PDA/radio.dm
  code/game/objects/items/shooting_range.dm
  code/game/objects/items/weapons/implants/implantchair.dm
  code/modules/assembly/mousetrap.dm
  code/modules/atmospherics/components/unary/heat_exchanger.dm
  code/modules/atmospherics/mainspipe.dm
  code/modules/food/recipes_microwave.dm
  code/modules/maps/dmm_suite.dm
  code/modules/mob/living/simple_animal/worm.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/recycling/disposal.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#7076 tweak(lint): add useless `as` keyword lint support
  SpacemanDMM.toml
  code/__spaceman_dmm.dm
Labels: 🛠 Инструменты, :scroll: CL не требуется

#7191 fix(map): Fixed frontier cardreader abuse, fixed camera tags
  code/game/objects/effects/landmarks.dm
  code/game/objects/random/random.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#7162 add(ai): sound on law change
  code/modules/mob/living/silicon/laws.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#7166 Removes impossibility of qdeling items dropped inside mechas
  code/game/mecha/mecha.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7167 Removes candrop madness
  code/game/gamemodes/changeling/helpcode/items.dm
  code/game/machinery/OpTable.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/backwear/backwear.dm
  code/game/objects/items/weapons/backwear/extinguisher.dm
  code/game/objects/items/weapons/backwear/pepper.dm
  code/game/objects/items/weapons/backwear/rpd.dm
  code/game/objects/items/weapons/backwear/welding.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/augmentation/prosthetic/bioprosthetic/weapons.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/mob_movement.dm
  code/modules/organs/external/_external.dm
Labels: 🔨 рефакторинг, 💉 медицина, :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#7197 Removes changelings' survival objective brokenness
  code/game/antagonist/station/changeling.dm
  code/game/gamemodes/objective.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#7182 tweak(paper): make all written text be in handwritten style
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
  code/modules/paperwork/paper.dm
  html/good_vibes/good_vibes.woff
  html/images/bluentlogo_hand.png
  html/images/borders_hand.png
  html/images/line_hand.png
  html/images/ntlogo_hand.png
  html/images/sollogo.png
  html/images/terralogo.png
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, :scroll: Есть CL

#7200 Removes changeling.dm rogue space
  code/game/antagonist/station/changeling.dm
Labels: :wrench: фикс, мемы, :scroll: CL не требуется

#7203 Removes broken drop
  code/modules/mob/inventory.dm
Labels: 🔥 приоритет, :wrench: фикс, :scroll: CL не требуется

#7204 Remove medical voidsuits' greyness
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#7161 Дистрибуция космозакона
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: Есть CL, ⛏️ Фронтир

#7217 fix(tgchat): fixed scrolling issue
  tgui/package-lock.json
  tgui/package.json
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui/interfaces/Changeling.tsx
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui-panel.bundle.js
Labels: :wrench: фикс, :scroll: Есть CL, 💬 TGChat

#7224 feat(map): New Year map decor & area fixes
  code/game/objects/structures/flora.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/simulated/footsteps.dm
  icons/obj/flora/pinetrees.dmi
  icons/turf/flooring/decals.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus_areas.dm
  maps/exodus/frontier/frontier-1.dmm
  sound/effects/footstep/snow1.ogg
  sound/effects/footstep/snow2.ogg
  sound/effects/footstep/snow3.ogg
  sound/effects/footstep/snow4.ogg
  sound/effects/footstep/snow5.ogg
  sound/effects/footstep/snow6.ogg
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#7231 tweak(SpaceLaw): now has red icon
  code/modules/library/manuals.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7244 fix-gravgen-destruction-by-singularity
  code/modules/power/gravitygenerator.dm
Labels: :scroll: Есть CL

#7251 tweak(exodus): removed /obj from map
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#7227 Removes lack of nice-looking consistent space suits, part 2
  baystation12.dme
  code/_onclick/hud/screen_objects.dm
  code/_onclick/rig.dm
  code/datums/uplink/categories/powersuit_modules.dm
  code/datums/uplink/uplink_categories.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/breaches.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/computer.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/_void.dm
  code/modules/clothing/spacesuits/void/atmos.dm
  code/modules/clothing/spacesuits/void/engineering.dm
  code/modules/clothing/spacesuits/void/medical.dm
  code/modules/clothing/spacesuits/void/mining.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/security.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/library/lib_items.dm
  code/modules/library/manuals.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/surgery/other.dm
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/mob/light_overlays.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7208 Removes geiger counter's twitching upon no radiation, changes analyzers' icons yet again
  code/game/objects/items/devices/geiger.dm
  code/game/objects/items/devices/scanners.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/device.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#7253 Removes xenomorphs' xenobugs
  code/game/objects/effects/aliens.dm
  code/game/objects/structures/alien/alien.dm
  code/game/objects/structures/alien/resin.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/living/carbon/human/stripping.dm
Labels: 🔩 улучшение, :wrench: фикс, :alien: ксеноморфы, :scroll: Есть CL

#7187 tweak(tgchat): add CSS editor
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :scroll: Есть CL

#7206 Removes absence of RIGs' GC handling
  code/game/objects/effects/effect_system.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/computer.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
  code/modules/clothing/spacesuits/rig/rig.dm
Labels: 🔧 оптимизация, 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#7089 fixed bug with Change UI verb
  code/modules/client/ui_style.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7254 feat(map): exodus medbay tweaks
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, 🔵нужны ревью, :scroll: Есть CL

#7132 feat(art_library): add ability to save art
  baystation12.dme
  code/game/objects/structures/artstuff.dm
  code/modules/library/lib_machines.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/generic/artlibrary.dm
  icons/obj/artstuff.dmi
  nano/templates/art_library.tmpl
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :gear: кнопки, :scroll: Есть CL

#7235 fix(wizard): revert warlock's deleted artifacts
  code/modules/spells/classes/warlock.dm
Labels: 🧙‍♂️ режим: маг, :wrench: фикс, :scroll: Есть CL

#7284 Removes backworn stuff spam
  code/game/objects/items/weapons/backwear/backwear.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7278 Removes hunters extra speed, drones and queens lack of speed, tweaks damage dealt to simple_animals
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/goliath.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :wrench: фикс, ⚔️ боёвка, :alien: ксеноморфы, :scroll: Есть CL

#7279 Removes RIG wearers' inability to use hotkeys
  code/modules/clothing/spacesuits/rig/rig.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7283 Removes changelings' ability to spawn limb-monsters from vents
  code/game/gamemodes/changeling/powers/detach_limb.dm
  code/game/gamemodes/changeling/powers/disjunction.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#7281 Removes the ability to drop fake armblades via bushes
  code/game/gamemodes/changeling/powers/sting_fake_armblade.dm
  code/game/objects/structures/flora.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: CL не требуется

#7275 Removes dreammaker's decision to mess up some icons
  code/modules/clothing/spacesuits/void/security.dm
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_fat.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#7291 Removes old dinnerware vending machine icon
  icons/obj/vending.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7257 Removes borgs' bay color schemae
  icons/mob/robots.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#7301 Removes inability to kick BODA
  code/_onclick/item_attack.dm
  code/game/machinery/vending.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, мемы, :scroll: Есть CL

#7234 tweak(weapons): warcrime special cases fix
  code/modules/projectiles/guns/flamer.dm
  code/modules/projectiles/guns/launcher.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  code/modules/projectiles/guns/launcher/rocket.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :wrench: фикс, :scroll: Есть CL

#7260 tweak(artlibrary): now using safe query
  code/modules/library/lib_machines.dm
  code/modules/modular_computers/file_system/programs/generic/artlibrary.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7292 update(hair,sprites,slim) added new hair styles and resprited hair styles for slim humans
  code/_helpers/global_lists.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/organs/external/head.dm
  icons/mob/human_face.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL
