Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-07, with the labels that each got.

#5848 Чиним нерабочие заклинания мага.
  code/modules/spells/aoe_turf/knock.dm
  code/modules/spells/contracts.dm
  code/modules/spells/general/contract_spells.dm
  code/modules/spells/general/return_master.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🧙‍♂️ режим: маг

#5865 Removes broken stungloves initialize()
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/stun.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5859 RnD UI
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
  tgui/.eslintrc.yml
  tgui/packages/tgui/components/GameIcon.tsx
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/RDConsole.tsx
  tgui/packages/tgui/styles/themes/primer.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL, 🌌геймдизайн, 📝 необходимо тестирование, 🔵одобрено

#5883 Removes delay at the beginning of smash.ogg
  sound/effects/fighting/smash.ogg
Labels: :scroll: CL не требуется, :wrench: фикс, 🔊 SFX

#5891 Removes some assоrted bugs from all around the build
  code/game/antagonist/alien/xenomorph.dm
  code/game/atoms_movable.dm
  code/game/mecha/mecha.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/asteroid_mobs.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/hoverhead.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/diona.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/unbreakable.dm
  code/modules/organs/external/xenos.dm
Labels: :alien: ксеноморфы, :scroll: Есть CL, :wrench: фикс

#5881 Removes absence of some ammo magazines' icon states
  code/modules/projectiles/ammunition/boxes.dm
  icons/obj/ammo.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 🎨 спрайты, 🧻 QoL

#5867 Removes extra thick vending machine buttons
  tgui/packages/tgui/styles/themes/vending.scss
  tgui/public/tgui.bundle.css
Labels: :iphone: UX/UI, :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#5871 Ремув шэги
  code/_global_vars/misc.dm
  fonts/Shage/README.txt
  fonts/Shage/Shage.ttf
  fonts/Shage/license.txt
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
  tools/languageconverter/README.txt
  tools/languageconverter/Shage.ttf
  tools/languageconverter/Shage_3.html
  tools/languageconverter/detransliterator.py
  tools/languageconverter/license.txt
  tools/languageconverter/shageletters.docx
  tools/languageconverter/transliterator.py
Labels: :knife: удаление, :scroll: CL не требуется

#5500 feat(storyteller): add more roles to storyteller
  baystation12.dme
  code/_helpers/input.dm
  code/game/antagonist/alien/borer.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_add.dm
  code/game/gamemodes/game_mode.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/storyteller/characters/support.dm
  code/modules/storyteller/metrics/common_metrics.dm
  code/modules/storyteller/storyteller.dm
  code/modules/storyteller/triggers/spawn_antagonists_triggers.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#5900 Removes floor tiles dupe
  code/game/turfs/simulated/floor_attackby.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5906 Removes tape recorder's Cloak and Dagger ultimate
  code/game/objects/items/devices/taperecorder.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5903 Немного указов
  code/game/atoms_movable.dm
  code/modules/admin/IsBanned.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5920 Генерация чейнджлога на 04.07.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5949 Removes a mistake from the detective's guncase description
  code/game/objects/items/weapons/storage/secure.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5934 Починка неоткрываемой зажигалки
  code/modules/client/preference_setup/loadout/lists/lighters.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5882 Тгуишное
  code/game/machinery/autolathe.dm
  code/modules/psychotronics/designs.dm
  code/modules/research/designs.dm
  code/modules/research/designs/circuitprinter/dc-engineering_boards.dm
  code/modules/research/designs/circuitprinter/dc-mecha_boards.dm
  code/modules/research/designs/circuitprinter/dc-module_boards.dm
  code/modules/research/designs/protolathe/dp-bluespace.dm
  code/modules/research/designs/protolathe/dp-data.dm
  code/modules/research/designs/protolathe/dp-device.dm
  code/modules/research/designs/protolathe/dp-engineering.dm
  code/modules/research/designs/protolathe/dp-medical.dm
  code/modules/research/designs/protolathe/dp-mining.dm
  code/modules/research/designs/protolathe/dp-misc.dm
  code/modules/research/designs/protolathe/dp-pda.dm
  code/modules/research/designs/protolathe/dp-rig.dm
  code/modules/research/designs/protolathe/dp-robotics.dm
  code/modules/research/designs/protolathe/dp-stock_parts.dm
  code/modules/research/designs/protolathe/dp-surgery.dm
  code/modules/research/designs/protolathe/dp-weapons.dm
  code/modules/research/rdconsole.dm
  code/modules/tgui/states/default.dm
  code/modules/tgui/tgui.dm
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/RDConsole.tsx
  tgui/packages/tgui/styles/themes/primer.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#5961 Генерация чейнджлога на 07.07.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5943 Удаление одежды, которую невозможно надеть
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  maps/exodus/Loadout/loadout_xeno.dm
Labels: :scroll: Есть CL

#5970 Add save design button
  tgui/packages/tgui/interfaces/RDConsole.tsx
Labels: :iphone: UX/UI, :scroll: Есть CL, :wrench: фикс

#5967 Arcade Machine Immersive Edition
  code/game/machinery/computer/arcade.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Arcade.tsx
  tgui/packages/tgui/styles/themes/arcade.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL, 🌌геймдизайн

#5689 fix(crates): add specific material to crates and some refactoring
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/materials/material_recipes.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🔨 рефакторинг

#5771 fix(twohanded): fix display of two-handed weapons on the back
  code/game/objects/items/weapons/material/twohanded.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5895 add(antags): min_age_req from cfg
  code/controllers/configuration.dm
  code/game/antagonist/alien/borer.dm
  code/game/antagonist/alien/xenomorph.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/blob/blob.dm
  code/game/antagonist/outsider/actors.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/deity.dm
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/syndicate.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cult_god.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/meme.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/antagonist/station/thrall.dm
  code/game/antagonist/station/traitor.dm
  code/game/antagonist/station/vampire.dm
  config/example/config.txt
Labels: :dna: режим: генокрад, :scroll: CL не требуется, ✊ режим: революция, 🌀 режим: ниндзя, 🐔 режим: воксы, 💣 режим: нюка, 📄 конфиг, 🔫 режим: предатель, 🤯 режим: борер, 🧙‍♂️ режим: маг, 🧛 режим: вампир, 🩸 режим: культ

#5987 tweak(announce): Biggest input window
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
Labels: :scroll: Есть CL, 🔩 улучшение

#5954 Syndicate toolbox fix
  code/game/objects/items/weapons/storage/toolbox.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔵одобрено

#4630 Пища для гурманов 2.0
  code/datums/recipe.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/microwave.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/stump.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/organ.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 💰 награда, 🔩 улучшение, 🔵одобрено

#5991 new changelog
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5994 Floor Painter UI
  code/_helpers/icons.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/turfs/flooring/flooring_decals.dm
  icons/turf/flooring/decals.dmi
  tgui/packages/tgui/interfaces/FloorPainter.tsx
  tgui/packages/tgui/styles/interfaces/FloorPainter.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#5938 Исправление "неубираемости" спичек
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#6023 Adamantine metroid fix
  icons/mob/metroids.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 👾 метроиды

#5998 Rnd Console Zver Edition
  code/modules/research/rdconsole.dm
  tgui/packages/tgui/interfaces/RDConsole.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: CL не требуется, 🌌геймдизайн, 🔧 оптимизация, 🔵одобрено

#6008 Взрывное
  baystation12.dme
  code/__defines/explosion.dm
  code/__defines/misc.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_macros.dm
  code/controllers/master.dm
  code/controllers/subsystems/explosion.dm
  code/controllers/subsystems/virus.dm
  code/game/antagonist/blob/blobs/core.dm
  code/game/antagonist/blob/blobs/shield.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock_presets.dm
  code/game/machinery/doors/blast_door.dm
  code/game/objects/explosion.dm
  code/game/objects/objs.dm
  code/game/objects/structures/window.dm
  code/game/sound.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/space/transit.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/mining/mine_turfs.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔧 оптимизация, 🔩 порт

#6049 Генерация чейнджлога на 12.07.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6062 Чашка Петри ( BUGFIX )
  code/modules/virus2/items_devices.dm
  icons/obj/virology.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🦠 вирусология

#6065 Purge Overmaps Part 2
  baystation12.dme
  code/__defines/subsystems.dm
  code/__defines/~unit_testing.dm
  code/_helpers/cmp.dm
  code/_helpers/global_access.dm
  code/_helpers/logging.dm
  code/controllers/master.dm
  code/controllers/subsystems/mapping.dm
  code/datums/ruins.dm
  code/game/objects/effects/landmarks.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/events/_event.dm
  code/modules/events/_event_container.dm
  code/modules/maps/map_template.dm
  code/modules/maps/ruins.dm
  code/modules/shuttles/shuttle.dm
  maps/away/away_sites.dm
  maps/away/blueriver/blueriver.dm
  maps/away/casino/casino.dm
  maps/away/derelict/derelict.dm
  maps/away/errant_pisces/errant_pisces.dm
  maps/away/hydro/hydro.dm
  maps/away/icarus/icarus.dm
  maps/away/magshield/magshield.dm
  maps/away/marooned/marooned.dm
  maps/away/mining/mining.dm
  maps/away/mobius_rift/mobius_rift.dm
  maps/away/slavers/slavers_base.dm
  maps/away/smugglers/smugglers.dm
  maps/away/yacht/yacht.dm
  maps/example/example.dm
  maps/example/example_unit_testing.dm
  maps/exodus/derelicts/bearcat/bearcat.dm
  maps/exodus/derelicts/lost_supply_base/lost_supply_base.dm
  maps/random_ruins/exoplanet_ruins/exoplanet_ruins.dm
  maps/random_ruins/exoplanet_ruins/little_house.dmm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dm
  maps/random_ruins/exoplanet_ruins/monoliths/monoliths.dmm
  maps/random_ruins/space_ruins/multi_zas_test.dmm
  maps/random_ruins/space_ruins/space_ruins.dm
  maps/~mapsystem/maps.dm
Labels: :scroll: CL не требуется

#6017 /v2/log_story
  baystation12.dme
  code/__defines/_symbols.dm
  code/_global_vars/logging.dm
  code/_global_vars/monikers/_animal_moniker.dm
  code/_global_vars/monikers/moniker.dm
  code/_global_vars/regexes.dm
  code/_helpers/logging.dm
  code/_helpers/text.dm
  code/_helpers/text_processor.dm
  code/controllers/configuration.dm
  code/datums/communication/channel.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/world.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_investigate.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/client/client_procs.dm
  code/modules/emotes/emote_mob.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/tgchat/to_chat.dm
  config/example/config.txt
Labels: :scroll: CL не требуется, 🔩 улучшение

#5989 Исправление генокрадовое
  code/game/gamemodes/changeling/helpcode.dm
  code/game/gamemodes/changeling/powers/division.dm
Labels: :dna: режим: генокрад, :scroll: Есть CL, :wrench: фикс

#6088 Remove lack of fix grab
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6089 Removes absence of slim males' prosthetic chest icons
  icons/mob/human_races/cyberlimbs/hephaestus/hephaestus_main.dmi
  icons/mob/human_races/cyberlimbs/nanotrasen/nanotrasen_main.dmi
  icons/mob/human_races/cyberlimbs/veymed/veymed_main.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_main.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_main.dmi
  icons/mob/human_races/robotic.dmi
Labels: :mechanical_arm: FBP, :scroll: Есть CL, :wrench: фикс, 🎨 спрайты

#5939 Сut out ban_everywhere
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/topic.dm
Labels: :gear: кнопки, :knife: удаление, :scroll: CL не требуется, указ Президента

#6097 fix(antagonist): fix update_antag_mob
  code/game/antagonist/antagonist_update.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6100 Removes borers' inheritance from xenomorphs, fixes xenomorphs spawn
  code/game/antagonist/alien/borer.dm
  code/game/antagonist/alien/xenomorph.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
Labels: :alien: ксеноморфы, :scroll: Есть CL, :wrench: фикс, 🔺 приоритет, 🤯 режим: борер

#6103 Removes absence of AmiClerick's Onyx Awards 2020 custom item
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#5953 fix(virology): Fixed mixing blood-blood, antibodies-antibodies
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🦠 вирусология

#5993 feat(esword): add light effect
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/paperwork/pen.dm
Labels: :scroll: Есть CL, 🔩 улучшение

#6121 fix(vendomat):fixes candy sprite
  icons/obj/food.dmi
Labels: :scroll: Есть CL, :wrench: фикс

#6107 Removes stunshells' excessive murderousness
  code/modules/projectiles/projectile/energy.dm
Labels: :scroll: Есть CL, :wrench: фикс, ⚔️ боёвка

#6125 Removes lack of Hemp2Gen
  code/game/machinery/vending.dm
  code/game/objects/items/trash.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/packaged.dm
  icons/obj/food_packaged.dmi
  icons/obj/trash.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#6129 Удаление фона в вендоматах
  tgui/packages/tgui/styles/themes/vending.scss
  tgui/public/tgui.bundle.css
Labels: :iphone: UX/UI, :scroll: CL не требуется, 🌌геймдизайн

#5996 Vamp skill rebalance and some tweaks
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🧛 режим: вампир

#5962 tweak(portal) move all objects from portal loc
  code/game/objects/effects/portals.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#6106 Removes inability to repair hacked lockers
  code/game/objects/structures/crates_lockers/closets.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6108 Рантаймовое
  code/_helpers/icons.dm
  code/_helpers/roundend.dm
  code/game/objects/effects/proximity.dm
  code/game/verbs/ignore.dm
  code/game/verbs/who.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/mob/mob_helpers.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/virus2/disease2.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5250 Охлаждаем пыл у генокрадов, добавляем задачу на кражу личности
  code/game/antagonist/station/changeling.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/powers/transform.dm
  code/game/gamemodes/objective.dm
Labels: :dna: режим: генокрад, :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#6137 свет от сигарет
  code/game/objects/items/weapons/smokables/smokables.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#6016 fix(armblades): fixes description of arm_blade and EMP gib of fake_arm_blade
  code/game/gamemodes/changeling/modularchangling.dm
  code/game/gamemodes/changeling/powers/fake_armblade.dm
  code/modules/augmentation/prosthetic/prosthetic.dm
Labels: :dna: режим: генокрад, :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#5945 Пояс для уборщика и space cleaner
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
Labels: :scroll: Есть CL, :white_circle: ожидает автора, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5292 feat(ai_cores) add custom file core
  code/__defines/misc.dm
  icons/mob/ai_custom/ai_cores.dmi
Labels: :scroll: CL не требуется, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#5844 Микрофиксы карты Фронтира
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/frontier/frontier-3.dmm
Labels: :scroll: Есть CL, ⛏️ Фронтир, 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#5904 Removes absence of sledgehammers
  code/modules/mining/machine_vending.dm
  code/modules/mining/mine_items.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/tools.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔫 режим: предатель, 🔵одобрено

#5908 Микрофиксы карты Исхода
  code/modules/holodeck/HolodeckObjects.dm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#6149 Fix ambient name
  maps/exodus/exodus_areas.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔊 SFX

#6053 fix(nullrod): fixes nullrod inability to decultify properly
  baystation12.dme
  code/game/gamemodes/cult/cultify/de-cultify.dm
  code/game/gamemodes/cult/cultify/turf.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/wall_types.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🩸 режим: культ

#6160 Киборги больше не могут удаленно взаимодействовать с надувными дверями
  code/game/objects/structures/inflatable.dm
Labels: :scroll: Есть CL, :wrench: фикс, 📺 ИИ|Борги

#6153 General Grievous
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: :scroll: Есть CL, ⚔️ боёвка, 🌌геймдизайн, 📺 ИИ|Борги, 🔩 улучшение, 🔵одобрено

#5039 Removes lack of livers liverness
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/organs/internal/liver.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 💉 медицина, 🔩 улучшение, 🔵одобрено

#6162 Генерация чейнджлога на 21.07.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#6172 cut_out_yoba
  icons/effects/crayongraffiti.dmi
Labels: :knife: удаление, :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#6171 Pedalgen type check
  code/modules/power/pedal_gen.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#6170 Fix ckey leaking
  code/modules/mob/mob_helpers.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#6168 Vampire antag hud update
  icons/mob/hud.dmi
Labels: :scroll: Есть CL, 🎨 спрайты, 🔩 улучшение, 🧛 режим: вампир

#6163 Removes lack of syringes and screwdrivers dynamic rotation
  code/game/objects/items/weapons/tools.dm
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/tools.dmi
Labels: :scroll: Есть CL, 🎨 спрайты

#6161 Removes lack of gas stand icon quality
  icons/obj/gas_stand.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#6178 fix(misc): Исправлен спрайт у мачеты в автолате
  code/game/objects/items/weapons/material/misc.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6181 Reject TGUI Tooltips
  tgui/packages/tgui/interfaces/RDConsole.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: CL не требуется, 🔧 оптимизация

#6183 Removes inability to hack secure crates with multitools
  code/game/objects/structures/crates_lockers/closets.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5589 Разбираем-собираем: медбей
  baystation12.dme
  code/game/machinery/OpTable.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/cryo.dm
  code/game/machinery/resleever.dm
  code/game/objects/items/weapons/circuitboards/machinery/cloning.dm
  code/game/objects/items/weapons/circuitboards/machinery/medical.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/research/designs/circuitprinter/dc-console_boards.dm
  code/modules/research/designs/circuitprinter/dc-machine_boards.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#6202 RDConsole
  tgui/packages/tgui/interfaces/RDConsole.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: CL не требуется, 🔧 оптимизация

#6199 fix borgs
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6219 Ренейм системы вирусов
  code/_helpers/global_access.dm
  code/controllers/subsystems/virus.dm
  code/modules/admin/secrets/admin_secrets/toggle_viruses.dm
  code/modules/mob/living/carbon/viruses.dm
  code/modules/virus2/disease2.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#6205 fix(changeling): transform wear drop fix
  code/game/gamemodes/changeling/powers/transform.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: :dna: режим: генокрад, :scroll: Есть CL, :wrench: фикс

#6216 Глобное
  code/controllers/globals.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/view_variables/view_variables_global.dm
Labels: :gear: кнопки, :scroll: Есть CL, :wrench: фикс, 🔩 улучшение

#6215 Скриптовое
  tools/GenerateGlobalVarAccess/.gitignore
  tools/GenerateGlobalVarAccess/gen_globals.py
  tools/GenerateGlobalVarAccess/generateGlobalVars.bat
  tools/PunctuationChecker/checkPunctuations.bat
  tools/PunctuationChecker/punctuation-checker.py
  tools/TagMatcher/checkTagMatches.bat
  tools/TagMatcher/tag-matcher.py
  tools/dmitool/README.txt
  tools/dmitool/build.gradle
  tools/dmitool/check_icon_state_limit.py
  tools/dmitool/dmimerge.sh
  tools/dmitool/dmitool.jar
  tools/dmitool/dmitool.py
  tools/dmitool/git_merge_installer.bat
  tools/dmitool/git_merge_installer.sh
  tools/dmitool/merging.txt
  tools/dmitool/src/main/java/dmitool/DMI.java
  tools/dmitool/src/main/java/dmitool/DMIDiff.java
  tools/dmitool/src/main/java/dmitool/DMIException.java
  tools/dmitool/src/main/java/dmitool/IconState.java
  tools/dmitool/src/main/java/dmitool/IconStateDiff.java
  tools/dmitool/src/main/java/dmitool/Image.java
  tools/dmitool/src/main/java/dmitool/Main.java
  tools/dmitool/src/main/java/dmitool/NonPalettedImage.java
  tools/dmitool/src/main/java/dmitool/PNGChunk.java
  tools/dmitool/src/main/java/dmitool/PalettedImage.java
  tools/dmitool/src/main/java/dmitool/RGBA.java
  tools/expand_filedir_paths.py
  tools/indentation.awk
  tools/mapmerge_backup/ImportantNote.txt
  tools/mapmerge_backup/mapmerge/1prepare_maps_all.bat
  tools/mapmerge_backup/mapmerge/1prepare_maps_exodus.bat
  tools/mapmerge_backup/mapmerge/1prepare_maps_torch.bat
  tools/mapmerge_backup/mapmerge/2clean_maps_all.bat
  tools/mapmerge_backup/mapmerge/2clean_maps_exodus.bat
  tools/mapmerge_backup/mapmerge/2clean_maps_torch.bat
  tools/mapmerge_backup/mapmerge/MapPatcher.jar
  tools/mapmerge_backup/mapmerge/clean_map_git.sh
  tools/mapmerge_backup/mapmerge/git_merge_installer.bat
  tools/mapmerge_backup/mapmerge/git_merge_installer.sh
  tools/mapmerge_backup/mapmerge/install.txt
  tools/mapmerge_backup/mapmerge/mapmerge.sh
  tools/mapmerge_backup/mapmergepy/1 Prepare Maps.bat
  tools/mapmerge_backup/mapmergepy/2 Clean Maps.bat
  tools/mapmerge_backup/mapmergepy/map_helpers.py
  tools/mapmerge_backup/mapmergepy/mapmerger.py
  tools/mapmerge_backup/mapmergepy/prepare_maps.sh
Labels: :knife: удаление, :scroll: CL не требуется, 🛠 Инструменты

#6190 Теперь в наручниках можно залезать в мусорку
  code/modules/recycling/disposal.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#6128 cut out news_articles
  baystation12.dme
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/computers/subtypes/preset_telescreen.dm
  code/modules/modular_computers/file_system/news_article.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  news_articles/images/issue1.png
  news_articles/images/issue2.png
  news_articles/images/issue3.png
  news_articles/images/issue4.png
  news_articles/images/issue5.png
  news_articles/images/issue6.png
  news_articles/space_magazine_1.html
  news_articles/space_magazine_2.html
  news_articles/space_magazine_3.html
  news_articles/space_magazine_4.html
  news_articles/space_magazine_5.html
  news_articles/space_magazine_6.html
Labels: :knife: удаление, :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#6197 Плюшевое улиточное
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/obj/toy.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#6223 fix(rig healthanalyzer): fix health analyzer display output
  code/game/objects/items/devices/scanners.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6184 Removes lack of legacy engineering tools
  code/datums/outfits/jobs/engineering.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/tools.dm
  icons/obj/tools.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#6142 Changed Happy Christmas to Merry Christmas
  code/game/gamemodes/events/holidays/Holidays.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6221 Removes lack of <i>s in proc/hear_sleep()
  code/modules/mob/hear_say.dm
Labels: :scroll: Есть CL, :wrench: фикс

#6229 tweak(contracts) admin menu now display closed contracts
  code/game/gamemodes/traitor/fixer.dm
Labels: :gear: кнопки, :scroll: Есть CL, :wrench: фикс

#6233 tweak(contracts) contract now can't be empty
  code/game/gamemodes/traitor/fixer.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🔫 режим: предатель
