Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-06, with the labels that each got.

#5304 Кнопка для закрытия игрового окна
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
Labels: :gear:кнопки, :scroll: Есть CL

#5348 Removes lack of huge, barely checkable, backdoor-filled fix blobs
  code/_onclick/click.dm
  code/datums/observation/density_set.dm
  code/datums/observation/turf_changed.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/game/turfs/simulated/wall_shuttle.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/space/space.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/observer/freelook/update_triggers.dm
  code/modules/multiz/turf.dm
  code/modules/organs/external/_external.dm
  code/modules/research/rdmachines.dm
  code/modules/shuttles/shuttle.dm
  code/modules/turbolift/turbolift_map.dm
  maps/exodus/exodus_areas.dm
Labels: :bug: runtime, :dna:режим: генокрад, :scroll: Есть CL, :wrench: фикс

#5372 fix(contracts) check params fix
  code/game/gamemodes/traitor/contracts.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5369 Update pull_request_template.md
  .github/pull_request_template.md
Labels: :scroll: CL не требуется

#5358 Removes as many changeling-related issues as I can find
  baystation12.dme
  code/game/gamemodes/changeling/changeling_mobs.dm
  code/game/gamemodes/changeling/changeling_organs.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/game/gamemodes/changeling/modularchangling.dm
  code/game/gamemodes/changeling/powers/EMP.dm
  code/game/gamemodes/changeling/powers/absorb.dm
  code/game/gamemodes/changeling/powers/armblade.dm
  code/game/gamemodes/changeling/powers/armclaw.dm
  code/game/gamemodes/changeling/powers/boost_range.dm
  code/game/gamemodes/changeling/powers/camouflage.dm
  code/game/gamemodes/changeling/powers/cauldron.dm
  code/game/gamemodes/changeling/powers/darksight.dm
  code/game/gamemodes/changeling/powers/detach_limb.dm
  code/game/gamemodes/changeling/powers/digital_camo.dm
  code/game/gamemodes/changeling/powers/division.dm
  code/game/gamemodes/changeling/powers/fake_armblade.dm
  code/game/gamemodes/changeling/powers/gibself.dm
  code/game/gamemodes/changeling/powers/hive_absorb.dm
  code/game/gamemodes/changeling/powers/hive_channel.dm
  code/game/gamemodes/changeling/powers/lockpick.dm
  code/game/gamemodes/changeling/powers/mimic_voice.dm
  code/game/gamemodes/changeling/powers/move_biostructure.dm
  code/game/gamemodes/changeling/powers/no_pain.dm
  code/game/gamemodes/changeling/powers/rapid_heal.dm
  code/game/gamemodes/changeling/powers/rapid_regeneration.dm
  code/game/gamemodes/changeling/powers/recursive.dm
  code/game/gamemodes/changeling/powers/respiration.dm
  code/game/gamemodes/changeling/powers/stasis.dm
  code/game/gamemodes/changeling/powers/sting_blind.dm
  code/game/gamemodes/changeling/powers/sting_deaf.dm
  code/game/gamemodes/changeling/powers/sting_death.dm
  code/game/gamemodes/changeling/powers/sting_dna.dm
  code/game/gamemodes/changeling/powers/sting_hallucination.dm
  code/game/gamemodes/changeling/powers/sting_silence.dm
  code/game/gamemodes/changeling/powers/sting_vomit.dm
  code/game/gamemodes/changeling/powers/transform.dm
  code/game/gamemodes/changeling/powers/transform_monkey.dm
  code/game/gamemodes/changeling/powers/unstun.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/living.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/organ.dm
  icons/obj/surgery.dmi
Labels: :dna:режим: генокрад, :scroll: Есть CL, :wrench: фикс, 🔨рефакторинг

#5376 fix(map): fixed multiple frontier issues
  maps/exodus/frontier/frontier-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс, ⛏️Фронтир, 🗺️ карта

#5347 fix brig fonts
  code/game/machinery/doors/brigdoors.dm
Labels: :scroll: Есть CL

#5384 Reject Bruh, Embrace Cringe
  .github/workflows/linter.yml
  docs/contributing.md
  tools/CI/CodeStyleRules.json
Labels: :scroll: CL не требуется

#5394 Генерация чейнджлога на 03.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5416 Removes some outdated suits in favor of new ones
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/hats.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#5364 tweak(viruses) some tweak
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/virus.dm
  code/modules/admin/secrets/admin_secrets/toggle_viruses.dm
  code/modules/mob/living/carbon/viruses.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/effect.dm
  code/modules/virus2/effects/common.dm
  code/modules/virus2/effects/engineering.dm
  code/modules/virus2/effects/exotic.dm
  code/modules/virus2/effects/mild.dm
  code/modules/virus2/effects/mutation.dm
  code/modules/virus2/helpers.dm
Labels: :rage1: очень сложно, :scroll: CL не требуется, :wrench: фикс, 🌌геймдизайн, 👾 вирусология, 🔥приоритет

#5427 Removes old savefiles and replaces them with JSON saves ported from Bay
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/controllers/subsystems/initialization/character_setup.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  code/modules/client/preference_setup/antagonism/02_setup.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/client/preference_setup/general/05_background.dm
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preference_setup/global/02_prefixes.dm
  code/modules/client/preference_setup/global/03_pai.dm
  code/modules/client/preference_setup/global/04_ooc.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/client/preference_setup/laws/laws_pref.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/matchmaking/relations.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preference_setup/skills/skills.dm
  code/modules/client/preference_setup/traits/traits.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_persist.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_storage.dm
  code/modules/client/preferences_toggle.dm
  code/modules/mob/new_player/login.dm
  maps/~mapsystem/map_preferences.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔥приоритет, 🔩 порт

#5424 Removes absence of NSS Genesis
  baystation12.dme
  maps/exodus/genesis/genesis-1.dmm
  maps/exodus/genesis/genesis-2.dmm
  maps/exodus/genesis/genesis-3.dmm
  maps/exodus/genesis/genesis-6.dmm
  maps/exodus/genesis/genesis_define.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#5428 CodeStyle Tweak
  tools/CI/CodeStyleRules.json
Labels: :scroll: CL не требуется

#5429 Генерация чейнджлога на 05.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5434 Removes GOD DAMN SAVE RUINNING STUFF MERGE ASAP
  baystation12.dme
  code/_helpers/global_lists.dm
  code/controllers/subsystems/atoms.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_persist.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/preferences_setup.dm
  maps/exodus/exodus_define.dm
Labels: :scroll: CL не требуется, :wrench: фикс, wtf, 🔥приоритет, 🔺приоритет

#5435 Removes lack of saves on EoS
  code/modules/client/preferences.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5441 Removes lack of savefile-related PRs
  code/_helpers/logging.dm
  code/datums/browser.dm
  code/datums/movement/mob.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_persist.dm
  code/modules/client/preferences_storage.dm
  code/modules/donations/donator.dm
  code/modules/mob/living/silicon/pai/personality.dm
  maps/exodus/exodus_define.dm
  maps/~mapsystem/map_preferences.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔥приоритет

#5445 Removes my last brain cells while trying to fix savefiles migration
  code/modules/client/preferences_persist.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔥приоритет

#5446 Removes map.path from savefile migration proc
  code/modules/client/preferences.dm
  code/modules/client/preferences_persist.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔥приоритет

#5459 tweak(lights): tweaked frontier lights a bit
  code/modules/power/lighting.dm
Labels: :scroll: Есть CL, ⛏️Фронтир, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5436 Фикс отступов в интерфейсе интегралок
  html/browser/assembly_ui.css
Labels: :iphone: UX/UI, :scroll: CL не требуется

#5476 Removes lack of broken status bars in #5455
  code/game/sound.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/login.dm
  code/modules/mob/new_player/login.dm
  interface/skin.dmf
Labels: :scroll: CL не требуется, :wrench: фикс, 🔥приоритет

#5442 Removes lack of NanoUI fixes
  code/modules/nano/nanoui.dm
Labels: :iphone: UX/UI, :scroll: CL не требуется, :wrench: фикс

#5481 Make goats great again
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/spells/artifacts/monster_manual.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение

#5413 Чатлоговское
  code/modules/onyxchat/browserassets/js/browserOutput.js
Labels: :scroll: CL не требуется

#5478 Autolathe UI
  code/game/machinery/autolathe.dm
  code/game/machinery/machinery.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/tgui/tgui.dm
  tgui/packages/tgui/backend.ts
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/layouts/Layout.js
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/styles/primer.scss
  tgui/packages/tgui/styles/themes/primer-dark.scss
  tgui/packages/tgui/styles/themes/primer-white.scss
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL

#5483 Генерация чейнджлога на 08.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5488 fix(callproc, SDQL): add forbidden procs, fix logging
  baystation12.dme
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/callproc/protected_procs.dm
  code/modules/admin/verbs/SDQL_2/SDQL_2.dm
Labels: :scroll: CL не требуется

#5487 tweak(db): fix connections logging to db
  code/modules/admin/EAMS.dm
  code/modules/client/client_procs.dm
Labels: :scroll: CL не требуется

#5491 Autolathe Hacking Fix
  code/game/machinery/autolathe.dm
Labels: :iphone: UX/UI, :scroll: Есть CL, :wrench: фикс

#5494 Fix some magic bugs
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/general/mark_recall.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/projectile/fireball.dm
  code/modules/spells/targeted/projectile/projectile.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🧙‍♂️режим: маг

#5513 Генерация чейнджлога на 10.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5521 Преференсное
  code/__defines/subsystems.dm
  code/controllers/subsystems/initialization/character_setup.dm
  code/modules/client/preference_setup/global/05_settings.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5520 Чейнджлог твикс
  code/modules/mob/mob.dm
  html/changelog.css
Labels: :scroll: CL не требуется

#5531 Генерация чейнджлога на 11.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5532 Changelog Missing Fonts
  html/changelog.css
Labels: :scroll: CL не требуется

#5535 Uncurse Prefs
  code/modules/client/preferences.dm
  code/modules/mob/new_player/login.dm
Labels: :scroll: CL не требуется, :skull: Cursed

#5539 Чейнджлогийное
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/login.dm
Labels: :scroll: CL не требуется

#5536 Небольшое дополнение гайда
  docs/contributing.md
Labels: :scroll: CL не требуется

#5406 Прогрессбарное
  code/datums/progressbar.dm
  icons/effects/progessbar.dmi
  icons/effects/progressbar.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔵одобрено

#5556 Okey > Okay
  nano/templates/hire_tool.tmpl
Labels: :scroll: Есть CL, :wrench: фикс

#5515 Chat Tweaks
  code/_helpers/logging.dm
  code/controllers/subsystems/inactivity.dm
  code/datums/communication/aooc.dm
  code/datums/communication/channel.dm
  code/datums/communication/dsay.dm
  code/datums/communication/looc.dm
  code/datums/communication/ooc.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/say.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/tgchat/spellcheck.dm
  code/modules/tgchat/to_chat.dm
  code/modules/tgui_panel/tgui_panel.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/public/tgui-panel.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL, :wrench: фикс

#5549 tweak(storyteller): don't fire storyteller on evacuation
  code/modules/storyteller/storyteller.dm
Labels: :scroll: Есть CL

#5565 Preferences Hell
  code/controllers/subsystems/initialization/character_setup.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/client/preferences.dm
Labels: :scroll: CL не требуется, :wrench: фикс, 🔨рефакторинг

#5563 Генерация чейнджлога на 13.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5569 Проклятье преференсов
  code/controllers/subsystems/initialization/character_setup.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5395 Константные спаны
  code/_macros.dm
Labels: :scroll: CL не требуется

#5570 Небольшие фиксы чата.
  code/modules/tgui_panel/external.dm
  code/modules/tgui_panel/tgui_panel.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5567 Отключаем психотронику от системы жизнеобеспечения
  baystation12.dme
  code/controllers/subsystems/supply.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/contracts.dm
  code/game/objects/empulse.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/life.dm
  code/modules/psychotronics/README.md
  code/modules/reagents/reagent_containers/glass.dm
  code/procs/hud.dm
Labels: :knife: удаление, :scroll: Есть CL

#5587 Chat tweaks
  code/__defines/chat.dm
  code/_helpers/logging.dm
  tgui/packages/tgui-panel/chat/actions.js
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/spellchecker/reducer.js
  tgui/public/tgui-panel.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL, :wrench: фикс

#5214 Военные преступления, версия 0.5
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/stump.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: :scroll: Есть CL, ⚔️ боёвка, 🌌геймдизайн, 🔵одобрено

#5528 Add objectives to vampire
  baystation12.dme
  code/game/antagonist/station/thrall.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/vampire/vampire_objectives.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🧛 вампиры

#5543 Medical improvments for vampires
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🧛 вампиры

#5593 Удаление удалённых предметов психотроники с карт
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/frontier/frontier-3.dmm
Labels: :scroll: CL не требуется, 🗺️ карта

#5607 Преференсное ПИИ
  code/modules/client/preference_setup/global/03_pai.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5638 CI Tweaks
  .github/workflows/linter.yml
  scripts/CodeStyle/CodeStyle.ps1
  scripts/CodeStyle/CodeStyle.psd1
  scripts/CodeStyle/CodeStyle.psm1
  scripts/GitHub/GitHub.ps1
  tools/CI/CodeStyleLinter.ps1
  tools/CI/CodeStyleRules.json
  tools/CI/DreamCheckerLinter.ps1
Labels: :scroll: CL не требуется, 🛠 Инструменты

#5622 Fix Fix Hotkeys
  code/game/verbs/ooc.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5574 fix(progressbars)
  code/datums/progressbar.dm
Labels: :scroll: Есть CL

#5612 Removes berets' unattractiveness
  code/datums/outfits/jobs/civilian.dm
  code/modules/clothing/head/jobs.dm
  icons/inv_slots/hats/mob.dmi
  icons/obj/clothing/hats.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#5623 Removes skills system, cleans up character setup menu
  baystation12.dme
  code/_helpers/global_access.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/laws/laws_pref.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preference_setup/skills/skills.dm
  code/modules/client/preferences.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/skill.dm
Labels: :knife: удаление, :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5613 Removes inability to ride chairs through doors
  code/game/turfs/turf.dm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔵одобрено

#5608 Removes lack of throwing quality
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/mecha/mecha.dm
  code/game/objects/auras/aura.dm
  code/game/objects/objs.dm
  code/game/objects/structures/alien/alien.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/sound.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/recycling/disposal.dm
  code/modules/shieldgen/emergency_shield.dm
  sound/effects/throwing/swoosh1.ogg
  sound/effects/throwing/swoosh2.ogg
  sound/effects/throwing/swoosh3.ogg
  sound/effects/throwing/swoosh4.ogg
Labels: :scroll: Есть CL, sfx, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5551 Правильное название экстрактов и чертежей в контрактах
  code/game/gamemodes/traitor/contracts.dm
Labels: :scroll: Есть CL, :wrench: фикс, режим: предатель

#4267 Барсигное
  code/game/objects/structures/barsign.dm
  icons/obj/barsigns.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🕗отложено

#5630 Removes bugs from NSS Genesis
  maps/exodus/genesis/genesis-2.dmm
  maps/exodus/genesis/genesis-6.dmm
Labels: :scroll: Есть CL, :wrench: фикс, 🗺️ карта

#5642 Removes game-breaking bug from #5551
  baystation12.dme
  code/game/gamemodes/traitor/contracts.dm
Labels: :scroll: CL не требуется, :skull: Cursed, :wrench: фикс, 🔥приоритет

#5643 Генерация чейнджлога на 19.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5651 Removes inability to buy flashdarks
  code/datums/uplink/categories/devices and tools.dm
Labels: :scroll: Есть CL, :wrench: фикс, режим: предатель

#5548 fix(human): preserve implants on revive
  code/modules/mob/living/carbon/human/species/species.dm
Labels: :scroll: Есть CL

#5675 feat(map): remapped frontier central command level
  maps/exodus/frontier/frontier-3.dmm
Labels: :scroll: Есть CL, ⛏️Фронтир, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#5657 Removes xenospits going through vents
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
Labels: :alien: алиены, :scroll: Есть CL, :wrench: фикс

#5652 Кастомные изображения в чате
  code/_helpers/text.dm
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/constants.js
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/styles/components/Chat.scss
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL

#5647 Removes some bugs around in-hand item states
  icons/mob/onmob/items/backpack_lefthand.dmi
  icons/mob/onmob/items/backpack_righthand.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#5676 Вскодное
  .vscode/settings.json
Labels: :scroll: CL не требуется, 🛠 Инструменты

#5682 Removes over-robust unarmed attacks
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: :scroll: Есть CL, :wrench: фикс, ⚔️ боёвка, 🔨рефакторинг

#5618 Removes lack of hair fades
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/hair_fade.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔩 порт, 🔩 улучшение, 🔵одобрено

#5678 Fixes "everything" on "Frontier"
  maps/exodus/frontier/frontier-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс, ⛏️Фронтир, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#5661 Removes cyborgs' inability to disassemble lgiht fixtures
  code/modules/power/lighting.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5686 Генерация чейнджлога на 21.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5697 Fix /🔉
  code/datums/vote/vote.dm
  code/game/gamemodes/endgame/nuclear_explosion/nuclear_explosion.dm
  code/game/mecha/mecha.dm
Labels: :scroll: CL не требуется, sfx

#5696 feat(map): fixed cable on frontier, added new maint location
  maps/exodus/exodus_areas.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс, ⛏️Фронтир, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#5694 ТГчат твикс энд фикс
  code/_helpers/text.dm
  code/datums/communication/ooc.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
Labels: :iphone: UX/UI, :scroll: CL не требуется

#5680 Мехо-трекерное
  code/game/mecha/combat/phazon.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
  code/game/mecha/medical/medical.dm
  code/game/mecha/working/ripley.dm
  code/game/mecha/working/working.dm
  code/modules/research/mechfab_designs.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5710 fix(autolathe): load material icon
  code/game/machinery/autolathe.dm
  icons/obj/stationobjs.dmi
Labels: :scroll: Есть CL

#5658 Removes xenomorph's inability to strip people
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/hostile/facehugger.dm
  code/modules/mob/mob.dm
Labels: :alien: алиены, :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5734 Пачка вирусных пофиксов
  code/controllers/subsystems/virus.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/viruses.dm
  code/modules/virus2/centrifuge.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/effect.dm
  code/modules/virus2/effects/common.dm
  code/modules/virus2/effects/mutation.dm
  code/modules/virus2/helpers.dm
Labels: :scroll: Есть CL, :wrench: фикс, 👾 вирусология

#5739 Fixes "everything" on "Exodus"
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/furniture.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#5735 feat(map): added new lightbulb boxes on frontier, fixed some bugs
  maps/exodus/frontier/frontier-1.dmm
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#5708 Tweak tomatokiller speed
  code/modules/mob/living/simple_animal/hostile/tomato.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5421 Allow Tajar to overheat in the spacesuit with no damage.
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: :scroll: Есть CL, :trollface: no xenos allowed, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5715 tweak(lights): hanging lantern resprite
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#5766 Вывод сообщения при бане
  code/modules/admin/DB ban/functions.dm
Labels: :gear:кнопки, :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5719 Removes lack of flashbangs balance
  code/_onclick/hud/fullscreen.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/modules/clothing/ears/earmuffs.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  icons/mob/screen1.dmi
Labels: :scroll: Есть CL, ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5769 Removes nuclear ops' poverty, renews 5.56 rifles
  code/__defines/gamemode.dm
  code/datums/uplink/categories/ammunition.dm
  code/datums/uplink/categories/devices and tools.dm
  code/datums/uplink/categories/highly_visible_and_dangerous_weapons.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/outsider/syndicate.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/random/random.dm
  code/modules/VR/VR_items.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/gun.dmi
Labels: :scroll: Есть CL, :wrench: фикс, режим: предатель, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#5669 fix(adminpaper): fixes user access to admin fax
  code/modules/paperwork/adminpaper.dm
  code/modules/paperwork/paper.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5772 Генерация чейнджлога на 27.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5782 Allow Tajar to overheating with no damage
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: :scroll: Есть CL, :trollface: no xenos allowed, 🌌геймдизайн, 🔵одобрено

#5801 Сом Фиксес
  code/modules/mob/living/carbon/xenobiological/powers.dm
  code/modules/organs/blood.dm
  code/modules/projectiles/projectile/beams.dm
Labels: :scroll: CL не требуется

#4820 fixes(borgs, drones and resleevers)
  code/game/antagonist/antagonist_create.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/resleever.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/batteryrack.dm
  code/modules/reagents/Chemistry-Machinery.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 📺 ИИ|Борги, 🔩 улучшение, 🔵одобрено

#5808 Removes lack of properly centered icons
  code/game/objects/items/weapons/tools.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/assemblies/new_assemblies.dmi
  icons/obj/chemical.dmi
  icons/obj/cigarettes.dmi
  icons/obj/device.dmi
  icons/obj/hydroponics_machines.dmi
  icons/obj/items.dmi
  icons/obj/lighting.dmi
  icons/obj/stock_parts.dmi
  icons/obj/surgery.dmi
  icons/obj/tank.dmi
  icons/obj/tools.dmi
  icons/obj/zippos.dmi
Labels: :scroll: CL не требуется, :wrench: фикс, 🎨 спрайты

#5811 Better HTML icons
  code/__defines/materials.dm
  code/_helpers/global_access.dm
  code/_helpers/icons.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/vending.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/random/random.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/material_synth.dm
  code/modules/tgchat/to_chat.dm
  icons/obj/materials.dmi
  tgui/packages/tgui/components/GameIcon.tsx
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/MechaFabricator.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/styles/interfaces/MechaFabricator.scss
  tgui/packages/tgui/styles/themes/primer.scss
  tgui/packages/tgui/styles/themes/vending.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :scroll: Есть CL, 🔧 оптимизация, 🔩 порт

#5709 fix(water_ballon): w_size approximation & fulfillment from dispensers
  code/game/objects/items/toys.dm
Labels: :scroll: Есть CL, :white_circle: ожидает автора, :wrench: фикс, 🌌геймдизайн, 🔵одобрено

#5806 Removes the most malicious medical bug
  code/modules/organs/external/head.dm
Labels: :scroll: Есть CL, :wrench: фикс, 💉 медицина, 🔺 приоритет

#5819 Emoji font
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/public/tgui-panel.bundle.js
Labels: :iphone: UX/UI, :scroll: CL не требуется

#5698 Return corgi hats
  code/modules/mob/living/simple_animal/friendly/corgi.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#5818 Removes nonstop random viruses and buffs some events' chances
  code/modules/events/_event.dm
  code/modules/events/_event_container.dm
  code/modules/events/_event_dynamic.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🦠 вирусология

#5750 fix(teleport): fixes all mages teleports
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/general/mark_recall.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/projectile/passage.dm
Labels: :scroll: Есть CL, 🧙‍♂️ режим: маг

#5820 Removes inability to compile the build UwU
  baystation12.dme
  code/modules/events/_event_container.dm
Labels: :scroll: CL не требуется, :scroll: Требуется CL, :wrench: фикс, 🔥 приоритет

#5821 Генерация чейнджлога на 29.06.2021
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#5822 fix Runtime in helpers.dm,92: Cannot read null.name
  code/modules/virus2/helpers.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5840 Removes outdated medical backpacks worn icons
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
Labels: :scroll: Есть CL, :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#5836 Фикс рантайма вендомата
  code/game/machinery/vending.dm
Labels: :scroll: CL не требуется, :wrench: фикс

#5841 Убираем бессмертных мимиков
  code/modules/mob/living/simple_animal/hostile/mimic.dm
Labels: :scroll: Есть CL, :wrench: фикс

#5827 NanoWord предустановлен в консоли инженерки
  code/modules/modular_computers/computers/subtypes/preset_console.dm
Labels: :scroll: Есть CL, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено
