Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-03, with the labels that each got.

#4534 fix(map) fixed exodus asteroid generation
  maps/exodus/frontier/frontier_define.dm
Labels: :wrench: фикс, 🔥приоритет, 🗺️ карта

#4559 fix(virus): antigenes with adaptations
  code/modules/virus2/disease2.dm
Labels: :wrench: фикс, 👾 вирусология

#4556 fix(virus): Voice changer and oneshot effects
  code/modules/virus2/disease2.dm
  code/modules/virus2/effects/mild.dm
Labels: :wrench: фикс, 👾 вирусология

#4561 Скафандр мага и его прелести
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/spells/artifacts/storage.dm
  icons/inv_slots/shoes/icon.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/obj/clothing/shoes.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4553 Кричим полужирным текстом
  code/modules/mob/hear_say.dm
Labels: 🔩 улучшение

#4348 Шизард-клирик и как его сделали имбой.
  baystation12.dme
  code/game/gamemodes/wizard/wizard_heals.dm
  code/modules/spells/hand/hand.dm
  code/modules/spells/hand/hand_item.dm
  code/modules/spells/spellbook/cleric.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/mind_control.dm
  code/modules/spells/targeted/projectile/stuncuff.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/spells/targeted/targeted.dm
  icons/mob/screen1.dmi
  icons/mob/screen_spells.dmi
Labels: :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🧙‍♂️режим: маг

#4532 fix(fire): enables fire spreading
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/modules/ZAS/Fire.dm
Labels: :wrench: фикс, атмос

#4562 tweak(antag appearance) fix ability to select xenos
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_update.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/raider.dm
Labels: :trollface: no xenos allowed, :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4555 мелкофиксы атмоса
  code/controllers/subsystems/air.dm
Labels: атмос, 🔨реfuckторинг

#4499 feat(datum/seed) add ckey for admins' purpose.
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/trays/tray.dm
Labels: :gear:кнопки, 🔩 улучшение

#4591 fix(diseasesplicer): copy spliced effect correctly and change stage
  code/modules/virus2/diseasesplicer.dm
Labels: :wrench: фикс, 👾 вирусология

#4533 fix(map): frontier fixes
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🌌геймдизайн, 🗺️ карта

#4619 Старый-Новый худ с гунов
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
  code/modules/client/ui_style.dm
  icons/mob/screen/goon.dmi
  icons/mob/screen/new.dmi
Labels: :iphone: UX/UI, 🎨 спрайты, 🔩 улучшение

#4578 Позволяем призракам крутить стулья
  code/game/area/Space Station 13 areas.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/cult/runes.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4573 чиним гунчат
  code/modules/onyxchat/browserOutput.dm
Labels: BYOND, BYOND 513, 🔥приоритет, 🔧оптимизация, 🔨реfuckторинг, 🔩 улучшение

#4550 tweak(mine_items): port some PRs from Aurora
  code/modules/mining/mine_items.dm
Labels: :wrench: фикс, 🔨реfuckторинг, 🔩 порт, 🔩 улучшение

#4572 fix(map): apc access and air alarm in medbay fix
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, 🗺️ карта

#4549 Вокскардное
  code/game/antagonist/outsider/raider.dm
  icons/obj/card.dmi
Labels: 🎨 спрайты, 🔩 улучшение

#3872 Пинпоинтер и диск
  code/_helpers/areas.dm
  code/game/gamemodes/nuclear/pinpointer.dm
  code/game/machinery/nuclear_bomb.dm
Labels: :wrench: фикс, 🔵нужны ревью

#3596 Кобура с пушкой. Исправляем
  code/__defines/items_clothing.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: 🌌геймдизайн, 💰награда, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#4606 fix(update_disease): return antigen when adaptation is gone
  code/modules/virus2/disease2.dm
Labels: :wrench: фикс, 👾 вирусология

#4585 Стан-перчаточное
  baystation12.dme
  code/_onclick/other_mobs.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/stun.dm
  code/modules/mob/living/carbon/human/species/species.dm
Labels: 🌌геймдизайн, 🔨реfuckторинг, 🔩 улучшение, 🔵одобрено

#4495 feat(announcement) full AI replacement
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/implants/implants/death_alarm.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/modular_computers/file_system/crew_record.dm
  code/modules/power/gravitygenerator.dm
  code/modules/supermatter/supermatter.dm
  code/procs/announce.dm
Labels: 🌌геймдизайн, 📺 ИИ|Борги, 🔩 улучшение, 🔵одобрено

#4663 Fix colors
  code/modules/modular_computers/file_system/crew_record.dm
Labels: :wrench: фикс

#4656 Доработка худа
  code/modules/mob/living/carbon/human/life.dm
  icons/mob/screen/goon.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: :iphone: UX/UI, 🎨 спрайты, 🔩 улучшение

#4648 patch(mage)
  code/game/gamemodes/wizard/wizard_heals.dm
  code/modules/spells/targeted/projectile/stuncuff.dm
Labels: :wrench: фикс, 🧙‍♂️режим: маг

#4393 Обновление интегральных плат, версия 3
  code/_onclick/hud/radial.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/integrated_electronics/core/wirer.dm
  code/modules/integrated_electronics/passive/power.dm
  code/modules/integrated_electronics/subtypes/access.dm
  code/modules/integrated_electronics/subtypes/arithmetic.dm
  code/modules/integrated_electronics/subtypes/filter.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/lists.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/mining.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/integrated_electronics/subtypes/power.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/integrated_electronics/subtypes/time.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  icons/obj/assemblies/electronic_buttons.dmi
  icons/obj/assemblies/electronic_components.dmi
Labels: :iphone: UX/UI, :pager: интегралки, :wrench: фикс, 🔨реfuckторинг

#4677 Deleted unreachable code
  code/datums/wires/wires.dm
  code/game/dna/genes/powers.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/autopsy.dm
  code/modules/client/preference_setup/laws/laws_pref.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/games/boardgame.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/integrated_electronics/core/prefab/prefab.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/power/smes_presets.dm
  code/modules/psychotronics/psychoscope.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/shuttles/escape_pods.dm
  code/modules/shuttles/shuttle_emergency.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  code/modules/synthesized_instruments/song.dm
Labels: :wrench: фикс

#4673 Активное переключение индикатора набора текста
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/typing_indicator.dm
  interface/skin.dmf
Labels: 🔩 улучшение

#4700 чёрный по зелёному
  code/game/objects/items/devices/scanners.dm
Labels: :wrench: фикс

#4697 mark_recall.dm#L50 (a.k.a. non existent path fix)
  code/modules/spells/general/mark_recall.dm
Labels: :wrench: фикс

#4685 холодный фикс чейнжлога
  html/changelog.html
Labels: :wrench: фикс

#4690 feat(console): added security records to security preset console
  code/modules/modular_computers/computers/subtypes/preset_console.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4703 Убрал рест у киборгов
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :wrench: фикс

#4710 Обучаем бипски защищаться
  code/modules/mob/living/bot/secbot.dm
Labels: sfx, 🌌геймдизайн, 🔵одобрено

#4667 tweak(map): various frontier fixes and tweaks
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4706 Добавляем медботу голос
  code/modules/mob/living/bot/medbot.dm
  sound/voice/medbot/apple.ogg
  sound/voice/medbot/catch.ogg
  sound/voice/medbot/coming.ogg
  sound/voice/medbot/delicious.ogg
  sound/voice/medbot/feelbetter.ogg
  sound/voice/medbot/flies.ogg
  sound/voice/medbot/help.ogg
  sound/voice/medbot/injured.ogg
  sound/voice/medbot/live.ogg
  sound/voice/medbot/lost.ogg
  sound/voice/medbot/no.ogg
  sound/voice/medbot/patchedup.ogg
  sound/voice/medbot/radar.ogg
  sound/voice/medbot/surgeon.ogg
Labels: sfx, 🌌геймдизайн, 🔵одобрено

#4672 fix(proximity): исправил работу proximity sensor
  code/modules/assembly/proximity.dm
Labels: :wrench: фикс

#4727 fix(map): various frontier fixes
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🔺приоритет, 🗺️ карта

#4726 Syndicate Cigarettes rework
  code/game/objects/items/weapons/smokables/cigarettes.dm
  code/game/objects/items/weapons/smokables/smokables.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
Labels: режим: предатель, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4448 Возвращение музыки по многочисленным просьбам трудящихся
  baystation12.dme
Labels: 🌌геймдизайн, 🔵одобрено

#4736 Криостазисное
  code/game/machinery/cryo.dm
  icons/obj/cryogenics_split.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#4711 добавляем красивые пробелы в евент контейнер (и выпиливаем блоба из ивентов нахуй) ((опять))
  code/modules/events/event_container.dm
Labels: блоб, 🌌геймдизайн, 🔨реfuckторинг, 🔵одобрено

#4745 fix(map): temporary engine powergrid fix
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🔥приоритет, 🗺️ карта
