Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-01, with the labels that each got.

#4032 Мобы в шкафах не слышат глобальных анонсов
  code/procs/announce.dm
Labels: :wrench: фикс, 🔵нужны ревью

#4034 Починил анимацию атаки для водителя карго-паровоза
  code/game/objects/buckling.dm
Labels: :wrench: фикс

#4113 Впиливаем открытие сломанных пожарных шторок симпмобам (и мб чему-то ещё)
  code/game/machinery/doors/firedoor.dm
Labels: 🔩 улучшение

#4135 Дионовое
  baystation12.dme
  code/_onclick/hud/diona_nymph.dm
  code/modules/mob/living/carbon/alien/diona/diona.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/alien/progression.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/organs/external/diona.dm
  icons/mob/human_races/r_def_plant.dmi
  icons/mob/human_races/r_diona.dmi
  icons/mob/screen1_diona.dmi
Labels: :wrench: фикс, 🌌геймдизайн, 🌲 дионы, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4118 Шахтёрско фикс
  code/modules/projectiles/guns/energy/mining.dm
Labels: :wrench: фикс, 🔵нужны ревью

#4073 fix(atmospherics control)
  code/modules/modular_computers/file_system/programs/engineering/atmos_control.dm
  nano/templates/atmos_control.tmpl
Labels: :wrench: фикс, 🔵нужны ревью

#4119 Реворк ХУДов
  baystation12.dme
  code/datums/outfits/horror_killers.dm
  code/datums/outfits/jobs/security.dm
  code/datums/outfits/misc.dm
  code/datums/outfits/spec_op.dm
  code/datums/outfits/tournament.dm
  code/datums/supplypacks/medical.dm
  code/datums/supplypacks/supply.dm
  code/datums/trading/ai.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/raider.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/VR/VR_items.dm
  code/modules/client/preference_setup/loadout/lists/eyegear.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/hud_presets.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/singularity/singularity.dm
  code/modules/research/designs/protolathe/dp-medical.dm
  code/modules/research/designs/protolathe/dp-misc.dm
  code/modules/supermatter/supermatter.dm
  code/modules/xenoarcheaology/effect.dm
  code/modules/xenoarcheaology/misc.dm
  code/unit_tests/equipment_tests.dm
  icons/inv_slots/glasses/mob.dmi
  icons/inv_slots/glasses/mob_slim.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/hud_modules.dmi
  maps/exodus/derelicts/snowasteroid.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/exodus/exodus-5.dmm
  maps/exodus/exodus-6.dmm
  sound/items/goggles_switch.ogg
Labels: 🌌геймдизайн, 🎨 спрайты, 🔨рефакторинг, 🔩 улучшение, 🔵одобрено

#4148 Tajaran resprite
  icons/mob/human_races/r_tajaran.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#4149 Unathi resprite
  icons/mob/human_races/r_lizard.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#4199 Хотфиксовое
  code/modules/clothing/glasses/glasses.dm
  icons/obj/assemblies.dmi
  maps/exodus/exodus-2.dmm
Labels: :wrench: фикс, 🔥приоритет, 🗺️ карта

#4209 fix(glasses): missing item_states
  code/game/gamemodes/objective.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/hud_presets.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
  code/modules/psychotronics/designs.dm
  code/modules/psychotronics/loot.dm
  code/modules/psychotronics/psychoscope.dm
  icons/obj/rig_modules.dmi
Labels: :wrench: фикс, 🎨 спрайты

#4123 Починил АПЦ в гетто карго
  maps/exodus/exodus-1.dmm
Labels: :wrench: фикс, 🗺️ карта

#4235 Вычищаем остатки форона
  baystation12.dme
  code/__defines/atmos.dm
  code/game/machinery/atmo_control.dm
  code/game/mecha/mecha_parts.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/supermatter/setup_supermatter.dm
  code/modules/xenoarcheaology/effects/gasplasma.dm
  nano/templates/supermatter_monitor.tmpl
Labels: :wrench: фикс

#4242 Госты больше не могут взаимодействовать с консолями РАСТа
  code/modules/power/fusion/core/core_control.dm
  code/modules/power/fusion/fuel_assembly/fuel_control.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/fusion/gyrotron/gyrotron_control.dm
Labels: :wrench: фикс

#4228 tweak(crew records) security updates
  code/modules/modular_computers/file_system/programs/generic/records.dm
Labels: :wrench: фикс, 🔥приоритет

#4252 fix(ore): plasma ore spawn
  code/modules/mining/mine_turfs.dm
Labels: :wrench: фикс

#4162 Стенно-экзоскелетное
  code/game/mecha/mecha.dm
  code/game/objects/objs.dm
  code/game/turfs/simulated/walls.dm
  code/modules/vehicles/vehicle.dm
Labels: :wrench: фикс

#4156 Еще один смешной фикс бумаги
  code/modules/modular_computers/file_system/programs/generic/library.dm
Labels: :wrench: фикс

#4008 Welcome to the Syndicate IS BACK
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/station/traitor.dm
  code/game/objects/items/weapons/AI_modules.dm
  sound/voice/syndicate_intro.ogg
Labels: sfx, 🌌геймдизайн, 🔩 улучшение, 🔵нужны ревью

#4230 Очередное очковое
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  code/modules/supermatter/supermatter.dm
  code/modules/xenoarcheaology/effect.dm
Labels: :wrench: фикс

#4224 Материальное
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/material/twohanded.dm
  icons/obj/items.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4290 fix(build)
  code/datums/movement/mob.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/mob.dm
  code/modules/modifier/helpers.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
Labels: :wrench: фикс, 🔩 улучшение

#4306 Исправление размера пепельницы в инвентаре
  code/game/objects/items/weapons/material/ashtray.dm
Labels: 🌌геймдизайн, 📝необходимо тестирование, 🔩 улучшение, 🔵одобрено

#4308 tweak(robot movement) robot lockdown movement fix
  code/datums/movement/robot.dm
Labels: :wrench: фикс, 📺 ИИ|Борги

#4264 Гравитационно-осветительное
  maps/exodus/derelicts/original/derelict_areas.dm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus_areas.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#4332 fix(teleporting): correct unbuckling
  code/modules/spells/aoe_turf/blink.dm
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/targeted.dm
Labels: :wrench: фикс, 🧙‍♂️режим: маг

#4333 fix(flash powder): correct protection check
  code/modules/reagents/Chemistry-Recipes.dm
Labels: :wrench: фикс

#4326 Микрорефакторинг
  code/_helpers/global_access.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: 🔨реfuckторинг

#4300 feat(announcment) auto arrivals announcement by AI
  code/modules/mob/new_player/new_player.dm
  code/procs/announce.dm
Labels: 🌌геймдизайн, 📺 ИИ|Борги, 🔩 улучшение

#4036 Шаттловое-мерчантское
  maps/exodus/exodus-6.dmm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_shuttles.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#4336 В поисках потерянных станов
  code/_onclick/other_mobs.dm
  code/game/gamemodes/changeling/helpcode.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/noose.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/assembly/mousetrap.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/grab/normal/norm_kill.dm
  code/modules/mob/grab/normal/norm_neck.dm
  code/modules/mob/living/deity/phenomena/transmutation.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/goliath.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/appendix.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/shield_generators/shield.dm
  code/modules/supermatter/supermatter.dm
  code/modules/tables/interactions.dm
Labels: :wrench: фикс

#4338 Update material_synth.dm
  code/modules/materials/material_synth.dm
Labels: :wrench: фикс

#4335 Как Тоби Новый Год вырезал
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта

#4262 Cheap lightbulbs be cheap
  code/modules/power/lighting.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4344 Теперь правильные стулья
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
Labels: :wrench: фикс

#4340 Риплийное
  code/game/mecha/equipment/tools/tools.dm
  code/modules/research/designs/protolathe/dp-robotics.dm
  code/modules/research/mechfab_designs.dm
  icons/mecha/mecha.dmi
  icons/mecha/mecha_equipment.dmi
  sound/effects/drill1.ogg
  sound/effects/drill2.ogg
  sound/effects/drill3.ogg
Labels: 🌌геймдизайн, 🔨реfuckторинг, 🔩 улучшение, 🔵одобрено

#4347 Fix(map): fix map example
  maps/example/example-2.dmm
Labels: :wrench: фикс, 🗺️ карта

#4354 Фиксы карты и изменения шаттла
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-6.dmm
Labels: :wrench: фикс, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#3781 add(radial): Add radial choices
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/__defines/misc.dm
  code/_helpers/lists.dm
  code/_macros.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  code/game/objects/structures/tank_dispenser.dm
  code/modules/client/client_procs.dm
  code/modules/multiz/structures.dm
  code/modules/surgery/organs_internal.dm
  icons/mob/radial.dmi
Labels: :iphone: UX/UI, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено
