Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-11, with the labels that each got.

#6864 fix(organs): fixed broken organ description
  code/modules/organs/external/_external.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6868 add(music): add fly theme 12 to lobby music
  baystation12.dme
  code/modules/lobby_music/fly_theme_12.dm
  sound/music/fly_theme_12.ogg
Labels: 🔊 SFX, :scroll: CL не требуется

#6835 Нерфо-лоховское (Ибо не даёт называть ПРы как мы хотим, а так Фиксы плавности очередные)
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/typing_indicator.dm
  code/modules/vehicles/vehicle.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6857 tweak(blob): all projectiles now do damage to non-dense blob tiles
  code/game/objects/structures/blob/blob.dm
Labels: 🌌геймдизайн, 🔵одобрено, :scroll: Есть CL

#6840 Removes Sans from Helltier
  code/game/objects/items/toys.dm
  icons/obj/toy.dmi
  maps/exodus/helltier2021/helltier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#6839 tweak(blob): lower blob's damage
  code/game/objects/structures/blob/_defines.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🥦 блоб, :scroll: Есть CL

#6789 книжные полки в библиотеке забиты с начала раунда
  code/modules/library/lib_items.dm
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#6771 фикс переоткрытия юи у днк сканнера
  code/modules/detectivework/microscope/dnascanner.dm
Labels: :scroll: Есть CL

#6809 Removes lack of interstellar landwhales
  code/datums/supplypacks/miscellaneous.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/belts/mob_fat.dmi
  icons/inv_slots/gloves/mob_fat.dmi
  icons/inv_slots/hidden/mob_fat.dmi
  icons/inv_slots/rig/mob_fat.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/mob/human_races/r_human.dmi
  maps/exodus/Loadout/loadout_uniform.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#6885 fix(nuclear_bomb): fixed slow countdown
  code/game/machinery/nuclear_bomb.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6892 Removes somewhat annoying stuff
  code/modules/mob/living/carbon/human/body_build.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6897 Removes absence of robotic jumpskirt worn state
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#6899 Removes absence of Gremy4uu's Onyx Awards 2020 custom item
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: CL не требуется

#6911 Removes grabbing supremacy
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#6883 fix(stairs): stairs now cant be forcemoved
  code/modules/multiz/structures.dm
  code/modules/spells/aoe_turf/conjure/conjure.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6884 fix(naming): message server has clear unique name
  code/modules/research/message_server.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6878 fix(logging): fix ai announces logging
  code/modules/mob/living/silicon/ai/ai.dm
  code/procs/announce.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6907 Removes lack of nutrition and bodybuild-related stuff
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/screen/goon.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, ⚔️ боёвка, :alien: ксеноморфы, :scroll: Есть CL

#6919 tweak(configs): add final newlines settings to vscode
  .vscode/settings.json
Labels: :scroll: CL не требуется

#6920 fix(integrated_circuit): integrated_circuit/output/light now correctly updates lighting when not powered
  code/modules/integrated_electronics/subtypes/output.dm
Labels: :wrench: фикс, :pager: интегралки, :scroll: Есть CL

#6900 Removes assorted worn icons bugs
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#6921 fix(/obj/machinery/bodyscanner): badinitcall
  code/game/machinery/adv_med.dm
Labels: :scroll: CL не требуется

#6818 Removes lack of advanced melee armor checks
  code/game/objects/items.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/projectile.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, ⚔️ боёвка, :scroll: Есть CL

#6843 tweak(ambient): every area has ambient for powered off state
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/modules/holodeck/HolodeckControl.dm
  maps/exodus/derelicts/bearcat/bearcat_areas.dm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_holodecks.dm
Labels: 🌌геймдизайн, 🔊 SFX, :scroll: Есть CL

#6889 tweak(blob): adjust damage and remove resists
  code/game/objects/structures/blob/_defines.dm
  code/game/objects/structures/blob/blob.dm
  code/game/objects/structures/blob/core.dm
  code/game/objects/structures/blob/node.dm
  code/game/objects/structures/blob/reinforced.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🥦 блоб, :scroll: Есть CL

#6923 Fixes non-standard-poise UI icon and some indescribable shit
  code/modules/mob/living/carbon/human/life.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6925 fix(landmarks): fixes roboticist & nuke spawn.
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_create.dm
  code/game/objects/effects/landmarks/jobs.dm
  maps/exodus/alpha/sunset-4.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/frontier/frontier-3.dmm
Labels: :wrench: фикс, :scroll: CL не требуется, 💣 режим: нюка

#6926 update(operating_console): update operating table console ui
  code/game/machinery/computer/Operating.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/OperatingTable.tsx
  tgui/packages/tgui/styles/themes/operating.scss
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵одобрено, :iphone: UX/UI, :scroll: Есть CL

#6918 SCP map bugfixes n update
  maps/exodus/frontier-SCP/frontier-SCP-1.dmm
  maps/exodus/frontier-SCP/frontier-SCP_areas.dm
Labels: :scroll: Есть CL

#6902 Removes space dust overlay
  code/game/turfs/space/space.dm
Labels: 🌌геймдизайн, 🔵одобрено, :knife: выпил из билда, :scroll: Есть CL

#6930 Blob cooldowns
  code/game/objects/structures/blob/blob.dm
Labels: 🥦 блоб, :scroll: CL не требуется

#6931 tweak(canvas): change canvas interaction condition
  code/game/objects/structures/artstuff.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6939 tweak(integrated_circuits): bug fixes
  code/modules/integrated_electronics/_defines.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/helpers.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/saved_circuits.dm
  code/modules/integrated_electronics/core/special_pins/string_pin.dm
  code/modules/integrated_electronics/subtypes/access.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/lists.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/integrated_electronics/subtypes/text.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: 🌌геймдизайн, 🔵одобрено, :wrench: фикс, :knife: выпил из билда, :pager: интегралки, :scroll: Есть CL

#6952 integralochki fast fix
  code/modules/integrated_electronics/subtypes/text.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#6955 Fix see_in_dark being reset in spite of seeDarkness
  code/modules/mob/living/carbon/human/species/species.dm
Labels: :scroll: Есть CL

#6956 Removes borgs' broken HUD icons
  code/_onclick/hud/robot.dm
  code/modules/mob/living/silicon/robot/life.dm
  icons/mob/screen1_robot.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#6942 Removes fun hydroponics (configurable)
  code/controllers/configuration.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/trays/tray.dm
  config/example/config.txt
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 📄 конфиг, :scroll: Есть CL

#6951 Removese missing limbs grabbing
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6894 tweak(prefs): fix "ghost" human icon
  code/modules/client/preferences.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6950 Removes Creaker controls unlinkableness
  maps/exodus/frontier/frontier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, ⛏️ Фронтир

#6958 Removes lack of welded checks when ventcrawling
  code/modules/ventcrawl/ventcrawl.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6971 фикс полки с релег книжками
  code/modules/library/lib_items.dm
Labels: :scroll: Есть CL

#6946 Removes bees' left arms
  baystation12.dme
  code/modules/mob/living/simple_animal/bodyparts.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/chicken.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/metroid.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/thatdog.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/goliath.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/sand_lurker.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/shooter.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/faithful_hound.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/maneater.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/tomato.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/mob/living/simple_animal/kobold.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#6879 tweak(forcemove): unbuckle mob if force moved
  code/modules/mob/mob_movement.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6936 fix(blob): fixed spawning more than one blob on the turf
  code/game/objects/structures/blob/blob.dm
Labels: :wrench: фикс, 🥦 блоб, :scroll: CL не требуется

#6933 tweak(blob): restrict expanding by distance from core and lag check
  code/game/objects/structures/blob/_defines.dm
  code/game/objects/structures/blob/blob.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🥦 блоб, :scroll: CL не требуется

#6966 fix(ambients): replace paths to sounds by string constants
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/area/Space Station 13 areas.dm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_holodecks.dm
Labels: :wrench: фикс, 🔊 SFX, :scroll: CL не требуется

#6980 Removes bugs implemented in #6894
  code/modules/mob/mob_movement.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#6978 Removes hunger icons' lack of readability
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#6981 Randomevent map test
  baystation12.dme
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/structures/curtains.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/signs.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/footsteps.dm
  code/game/turfs/simulated/walls.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/paperwork/misc.dm
  code/modules/tables/presets.dm
  icons/misc/beach.dmi
  icons/obj/flora/glowingflowers.dmi
  icons/obj/flora/jungleplants.dmi
  icons/obj/flora/junglevines.dmi
  icons/obj/flora/pinktree.dmi
  icons/obj/new-reno-sign.dmi
  icons/obj/reagent_tanks.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/newdecals.dmi
  icons/turf/jungle_turfs.dmi
  icons/turf/jungleplanet_areas.dmi
  maps/away/casino/casino.dm
  maps/exodus/derelicts/jungleplanet/jungle_planet.dmm
  maps/exodus/derelicts/jungleplanet/jungleplanet_areas.dm
  sound/ambient/jungle/jungle ambience1.ogg
  sound/ambient/jungle/jungle ambience2.ogg
  sound/ambient/jungle/junglethunder1.ogg
  sound/ambient/jungle/junglethunder2.ogg
  sound/weapons/vegetation_hit.ogg
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :warning: конфликты, :scroll: Есть CL

#6986 tweak(blob): add more damage from blob to mechs
  code/game/mecha/mecha.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🥦 блоб, :scroll: Есть CL

#6983 del(investigate): remove unsued investigate option
  code/modules/admin/admin_investigate.dm
  code/modules/admin/player_notes.dm
Labels: :gear: кнопки, :knife: выпил из билда, :scroll: CL не требуется

#6988 Removes lack of chemical stuff quality
  baystation12.dme
  code/datums/extensions/label.dm
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/biogenerator.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/beaker.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/glass/bottle/hydroponics.dm
  code/modules/reagents/reagent_containers/glass/bottle/preset.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/chemical.dmi
  icons/obj/drink_glasses.dmi
  icons/obj/reagentfillings.dmi
  maps/exodus/frontier-SCP/frontier-SCP-1.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7005 tweak(chat): add chat message sanitize
  code/modules/tgchat/to_chat.dm
Labels: :scroll: CL не требуется, 🗨️ чат

#7004 tweak(blob): blob deals x2 damage to silicons
  code/modules/mob/living/silicon/silicon.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🥦 блоб, :scroll: Есть CL

#6869 tweak(brain mob): fix deaf brains
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/organs/internal/brain.dm
Labels: 📝 необходимо тестирование, :wrench: фикс, :scroll: Есть CL

#7019 tweak(stoplag): enchances stoplag. Changed some sleeps for stoplag
  code/__defines/_tick.dm
  code/_helpers/lists.dm
  code/_helpers/mobs.dm
  code/_helpers/sorts/__main.dm
  code/_helpers/time.dm
  code/controllers/master.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/explosion.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/modules/client/asset_cache.dm
  code/modules/client/client_procs.dm
  code/modules/client/ping.dm
  code/modules/power/apc.dm
  config/example/config.txt
Labels: 🔩 порт, 🔨 рефакторинг, :scroll: CL не требуется

#7023 tweak(config): remove unnecessary extension recommendations
  .vscode/extensions.json
Labels: 🛠 Инструменты, :scroll: CL не требуется

#7021 tweak(buckled_mob): forcemoving exception in some cases
  code/_helpers/turfs.dm
  code/game/gamemodes/endgame/supermatter_cascade/portal.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/mob/mob_movement.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6934 add(event): add blob's biohazard oubtreak event
  baystation12.dme
  code/modules/events/_event_container.dm
  code/modules/events/biohazard_outbreak.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🥦 блоб, :scroll: Есть CL

#7012 Baycoder moment
  code/modules/clothing/spacesuits/alien.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7017 Fixed bug with rotating full windows (#6852)
  code/game/objects/structures/window.dm
Labels: :scroll: Есть CL

#7024 tweak(map): Frontier Fixes & Changes
  code/game/machinery/camera/presets.dm
  maps/exodus/exodus_areas.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#7034 fix(blob): fix blob spawning
  code/game/objects/structures/blob/blob.dm
Labels: :wrench: фикс, 🥦 блоб, :scroll: CL не требуется

#7036 tweak(map): Frontier map fixes and tweaks
  code/game/objects/structures/railing.dm
  code/game/turfs/simulated/footsteps.dm
  icons/obj/railing.dmi
  maps/exodus/exodus_areas.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#7050 tweak(train): don't unbuckle mobs when moving train
  code/modules/vehicles/train.dm
Labels: :scroll: Есть CL

#7056 Removes absence of medical-stack-items' item_states
  code/game/objects/items/stacks/medical.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7051 tweak(story_log): now posting lewd in general, not detailed
  code/game/world.dm
Labels: :scroll: Есть CL

#7035 fix(blob): fix destroy overriding
  code/game/objects/structures/blob/blob.dm
Labels: :wrench: фикс, 🥦 блоб, :scroll: CL не требуется
