Repository ChaoticOnyx/OnyxBay, pull requests merged in 2021-04, with the labels that each got.

#4400 Removes absence of main-floor wallrot, adds floral faction, vines and florals interactions, finally fixes immortal nymphs
  code/modules/events/wallrot.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/mob/living/carbon/alien/alien_attacks.dm
  code/modules/mob/living/carbon/alien/alien_damage.dm
  code/modules/mob/living/carbon/alien/diona/diona.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
  code/modules/mob/living/simple_animal/hostile/maneater.dm
  code/modules/mob/living/simple_animal/hostile/tomato.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
Labels: :white_circle:ожидает автора, :wrench: фикс, 🔩 улучшение

#4801 hear_say optimization
  code/modules/mob/hear_say.dm
Labels: 🔧оптимизация, 🔺приоритет

#4803 Спилил rustoutf() у ониксчатика
  code/modules/onyxchat/browserassets/js/browserOutput.js
Labels: 🔧оптимизация

#4812 Browser runtime fix
  code/datums/browser.dm
Labels: :wrench: фикс

#4765 feat(map): added beepsky navbeacons for frontier and more
  code/game/machinery/navbeacon.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🔩 улучшение, 🗺️ карта

#4737 Позволяем пневмопушке кормить людей
  code/__defines/mobs.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/projectiles/guns/launcher.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: 🌌геймдизайн, 🔩 улучшение

#4752 Roundend to chat & Roundend to logs
  code/_helpers/logging.dm
  code/_helpers/roundend.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4750 Кастомно хентайно детективное
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 📄 конфиг, 🔵одобрено

#4755 Roundend runtime fix
  code/_helpers/roundend.dm
  code/datums/browser.dm
Labels: :wrench: фикс

#4753 Bad arg name 'nodestroy'
  code/controllers/subsystems/mapping.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/smokables/pipes.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/paperwork/carbonpaper.dm
Labels: :wrench: фикс

#4764 fix(arithrazine): prothesis damage from arithrazine
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
Labels: :wrench: фикс, 💉медицина

#4714 experimental(auxtools): adds auxtools support
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  SpacemanDMM.toml
  baystation12.dme
  code/__defines/_compile_options.dm
  code/_helpers/auxtools.dm
Labels: 🛠 Инструменты

#4738 Removes absence of multicolored hair
  code/__defines/mobs.dm
  code/_helpers/cmp.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  icons/mob/human_races/hair_fade.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4804 Removes lack of sanity in dismemberment
  code/modules/organs/external/_external.dm
Labels: :wrench: фикс, 🌌геймдизайн, 💉медицина, 🔩 улучшение, 🔵одобрено

#4739 Removes instant crates and cryobags Toggle Open
  code/game/objects/items/bodybag.dm
  code/game/objects/items/cryobag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4623 Сансетное
  baystation12.dme
  maps/exodus/alpha/alpha-5.dmm
  maps/exodus/alpha/alpha-6.dmm
  maps/exodus/alpha/alpha-7.dmm
  maps/exodus/alpha/sunset-1.dmm
  maps/exodus/alpha/sunset-2.dmm
  maps/exodus/alpha/sunset-3.dmm
  maps/exodus/alpha/sunset-4.dmm
  maps/exodus/alpha/sunset_define.dm
Labels: 🌌геймдизайн, 🔵одобрено, 🗺️ карта

#4563 Однострочные фиксы подъехали
  code/game/objects/items/stacks/medical.dm
  code/modules/admin/topic.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/hoverhead.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/drinkingglass/glass_types.dm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/frontier/frontier-1.dmm
  nano/templates/merchant.tmpl
Labels: :wrench: фикс, 🗺️ карта

#4816 Removes lack of tool-belt holdable items
  code/game/objects/items/weapons/storage/belt.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4836 Точный point-to
  code/modules/mob/mob.dm
Labels: 🔩 улучшение

#4848 fix(map): fixed frontier disposal pipes
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🗺️ карта

#3770 Removes absence of back-mounted stuff
  baystation12.dme
  code/_macros.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/backwear/backwear.dm
  code/game/objects/items/weapons/backwear/extinguisher.dm
  code/game/objects/items/weapons/backwear/pepper.dm
  code/game/objects/items/weapons/backwear/rpd.dm
  code/game/objects/items/weapons/backwear/welding.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/item_worth/worths_list.dm
  code/modules/reagents/dispenser/cartridge.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/recycling/disposal.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/tables/interactions.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/backwear.dmi
  icons/obj/chemical.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4817 Removes T-scanner flickering effect
  code/game/objects/items/devices/t_scanner.dm
Labels: :knife: удаление, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4855 fix(map): added virology vials for frontier
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🗺️ карта

#4826 Removes lack of better icons
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  icons/obj/iv_drip.dmi
  icons/obj/janitor.dmi
  icons/obj/kitchen.dmi
  icons/obj/storage.dmi
  icons/obj/tank.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено, 🗺️ карта

#4830 Removes obsolescence of pulling
  code/__defines/misc.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/gas_stand.dm
  code/game/objects/structures/geltanks.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/iv_drip.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/objects/structures/stasis_cage.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/turfs/turf.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/synthesized_instruments/real_instruments/Piano/piano.dm
Labels: 🌌геймдизайн, 🔨реfuckторинг, 🔩 порт, 🔩 улучшение, 🔵одобрено

#4864 fix(tobygun)
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: :wrench: фикс, 🔺приоритет

#4870 feat(manifest) add departament flag manipulation things
  code/modules/modular_computers/file_system/crew_record.dm
  code/modules/modular_computers/file_system/manifest.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4881 Removes a bluespacebagful of runtimes
  code/_helpers/areas.dm
  code/_helpers/turfs.dm
  code/datums/trading/trade.dm
  code/datums/wires/wires.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/atmospherics/components/omni_devices/filter.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/events/rogue_drones.dm
  code/modules/lighting/lighting_source.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/normal/grab_normal.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/organs/external/_external.dm
  code/modules/power/power_usage.dm
  code/modules/reagents/reagent_containers/drinkingglass/drinkingglass.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/xenoarcheaology/tools/artifact_harvester.dm
Labels: :wrench: фикс, 🔨реfuckторинг

#4506 refact(custom_stuff) Synth customs available.
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/global_access.dm
  code/datums/ai/ai_holo.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/icons.dm
  code/modules/mob/living/silicon/custom_sprites.dm
  code/modules/mob/living/silicon/robot/custom_sprites.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/mob/living/silicon/robot/robot.dm
  config/example/custom_sprites.json
  config/example/custom_sprites.txt
  icons/mob/ai_custom/ai_holos.dmi
Labels: 🌌геймдизайн, 📄 конфиг, 📺 ИИ|Борги, 🔨реfuckторинг, 🔩 улучшение, 🔵одобрено

#4888 Nanoword fix + tweak
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
Labels: :wrench: фикс

#4887 Нейрофиксы психобагов
  code/modules/psychotronics/computer.dm
  code/modules/psychotronics/designs.dm
  code/modules/psychotronics/lifeforms.dm
  tgui-next/packages/tgui/interfaces/NeuromodRnD.js
  tgui-next/packages/tgui/interfaces/Psychoscope.js
  tgui-next/packages/tgui/public/tgui.bundle.js
  tgui-next/packages/tgui/routes.js
Labels: :wrench: фикс

#4898 Removes absence of Toby's Onyx Awards 2020 custom
  code/__defines/misc.dm
  icons/mob/robots_custom.dmi
Labels: 🎨 спрайты, 📺 ИИ|Борги

#4899 Верб для починки хоткеев
  code/game/verbs/ooc.dm
Labels: 🔩 улучшение

#4868 Removes meaninglessness from death alarms
  code/game/objects/items/weapons/implants/implants/death_alarm.dm
Labels: :wrench: фикс

#4908 roundend logs fix
  code/_helpers/roundend.dm
Labels: :wrench: фикс

#4893 Gc fixes
  code/datums/browser.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/mob.dm
Labels: :wrench: фикс

#4815 Опциональная проверка орфографии
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/onyxchat/browserOutput.dm
  code/modules/onyxchat/browserassets/css/browserOutput.css
  code/modules/onyxchat/browserassets/css/browserOutput_marines.css
  code/modules/onyxchat/browserassets/css/browserOutput_white.css
  code/modules/onyxchat/browserassets/css/styles_template.css
  code/modules/onyxchat/browserassets/html/browserOutput.html
  code/modules/onyxchat/browserassets/js/browserOutput.js
  config/names/spellcheсker_terms.txt
Labels: 🔩 улучшение

#4906 Removes absence of pay-2-win zippos in loadout
  baystation12.dme
  code/game/objects/items/weapons/lighters.dm
  code/modules/client/preference_setup/loadout/lists/lighters.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
Labels: 🔩 улучшение

#4912 Removes overpoweredness of .44 SPECs, tweaks damage values across the board
  code/game/objects/items/weapons/cane.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: ⚔️ боёвка, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4909 fix(map): fixed frontier singulo telescreens
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🗺️ карта

#4900 Небольшая оптимизация подсистемы машин
  baystation12.dme
  code/controllers/master.dm
  code/game/machinery/alarm.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/world.dm
  code/modules/power/apc.dm
  code/modules/power/solar.dm
  code/modules/power/terminal.dm
  code/modules/prometheus_metrics/_defines.dm
  code/modules/prometheus_metrics/metric_family.dm
  code/modules/prometheus_metrics/metrics.dm
  code/modules/prometheus_metrics/metrics/byond.dm
  code/modules/prometheus_metrics/metrics/ss13.dm
Labels: 🔧оптимизация

#4891 Окончательное решение интегрального вопроса.
  baystation12.dme
  code/controllers/subsystems/circuit_component.dm
  code/modules/admin/secrets/admin_secrets/toggle_circuits.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/debugger.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/pins.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/procs/announce.dm
  config/example/config.txt
Labels: :pager: интегралки, :wrench: фикс

#4863 Fixes
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/mecha/mecha.dm
  code/game/turfs/simulated/footsteps.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  sound/effects/suitcycler/close1.ogg
  sound/effects/suitcycler/open1.ogg
Labels: :wrench: фикс, 🔧оптимизация, 🔨реfuckторинг

#4919 Removes sound_to calling raw sounds
  code/_macros.dm
  code/datums/communication/pray.dm
  code/game/antagonist/antagonist_create.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/mecha.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/pray.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/mob/living/deity/deity.dm
  code/modules/mob/living/deity/phenomena/narsie.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/spells/targeted/shatter_mind.dm
  code/modules/supermatter/supermatter.dm
Labels: sfx, 🔨реfuckторинг

#4924 Chameleon fast change
  code/modules/clothing/chameleon.dm
Labels: режим: предатель, 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4929 Removes absence of monke tails and monke clothes
  baystation12.dme
  code/__defines/mobs.dm
  code/datums/trading/goods.dm
  code/game/machinery/vending.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/monkey.dm
  code/modules/mob/living/carbon/human/npcs.dm
  icons/effects/species.dmi
  icons/mob/species/monkey/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4916 Dreamchecker: proc has no parent
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/weapons/grenades/anti_photon_grenade.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/atmospherics/mainspipe.dm
  code/modules/detectivework/microscope/microscope.dm
  code/modules/economy/EFTPOS.dm
  code/modules/mob/living/bot/mulebot.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/power/cable.dm
Labels: 🔨реfuckторинг

#4917 Dreamchecker: operator 'in'
  code/_helpers/icons.dm
  code/_onclick/click.dm
  code/datums/extensions/multitool/items/cable.dm
  code/game/antagonist/antagonist_factions.dm
  code/game/dna/genes/gene.dm
  code/game/gamemodes/events.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_networking.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/telecomms/traffic_control.dm
  code/game/mecha/mecha.dm
  code/game/mecha/working/working.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/structures/transit_tubes.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/events/spider_infestation.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/modular_computers/file_system/programs/engineering/atmos_control.dm
  code/modules/organs/external/_external.dm
  code/modules/overmap/spacetravel.dm
  code/modules/paperwork/stamps.dm
  code/modules/psychotronics/psychoscope.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/scripting/IDE.dm
  code/modules/spells/spell_code.dm
  code/modules/xenoarcheaology/finds/special.dm
Labels: :wrench: фикс, 🔨реfuckторинг

#4920 Dreamchecker: undefined types
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/embedded_controller/airlock_docking_controller_multi.dm
  code/game/machinery/embedded_controller/simple_docking_controller.dm
  code/game/machinery/machinery.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/components/tvalve.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/client/preference_setup/laws/laws_pref.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/nano/nanoexternal.dm
  code/modules/power/gravitygenerator.dm
  code/modules/surgery/organs_internal.dm
  code/modules/wireless/interfaces.dm
  code/modules/xgm/xgm_gas_mixture.dm
  code/procs/AStar.dm
Labels: 🔨реfuckторинг

#4922 Dreamchecker: undefined field
  code/controllers/subsystems/event.dm
  code/datums/category.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/music_player/_music_tape.dm
  code/modules/paperwork/photography.dm
Labels: 🔨реfuckторинг

#4934 Removes wrong sprite group for "hidden" slot bug
  code/__defines/items_clothing.dm
  code/_helpers/global_lists.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :wrench: фикс

#4921 Dreamchecker: failed to resolve path
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/machinery/computer/atmos_alert.dm
  code/game/machinery/computer/station_alert.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/security levels/keycard authentication.dm
Labels: 🔨реfuckторинг

#4956 Stop all sounds fix
  code/game/verbs/ooc.dm
Labels: :wrench: фикс

#4954 убираем eternal ожидание мобконтроллера от соплей а.к.а. удоляем лаги
  code/modules/virus2/effects/mild.dm
Labels: :wrench: фикс

#4932 Removes code unreachablenessity in grab_normal.dm
  code/modules/mob/grab/normal/grab_normal.dm
Labels: :wrench: фикс

#4829 Removes absence of welding tools glow
  code/game/objects/items/weapons/tools.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4883 Фикс режимов освещения
  code/__defines/lighting.dm
  code/controllers/evacuation/evacuation.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
Labels: :wrench: фикс

#4918 Removes magic from cheap lighters
  code/game/objects/items/weapons/lighters.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4876 Removes kvass bugs, adds some drinks-related stuff
  baystation12.dme
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/vending.dm
  code/game/objects/items/trash.dm
  code/game/objects/structures/loot_piles.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Ethanol.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  icons/obj/drink_cocktails.dmi
  icons/obj/drinks.dmi
  icons/obj/trash.dmi
Labels: :wrench: фикс, 🌌геймдизайн, 🌐вики, 🔩 улучшение, 🔵одобрено

#4426 Программа для заказа новых сотрудников
  baystation12.dme
  code/__defines/misc.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/command/hire_tool.dm
  code/modules/storyteller/storyteller.dm
  code/modules/storyteller/storyteller_character.dm
  nano/templates/hire_tool.tmpl
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4733 добавляем хард рестарт
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/vote.dm
  code/game/world.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: :gear:кнопки

#4964 Removes hidden unfix
  code/__defines/items_clothing.dm
  code/_helpers/global_lists.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :wrench: фикс, wtf

#4886 feat(add) Ballistic headphones
  code/datums/supplypacks/security.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/jukebox.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/ears/earmuffs.dm
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/projectiles/projectile/energy.dm
  icons/inv_slots/ears/mob.dmi
  icons/inv_slots/ears/mob_r.dmi
  icons/inv_slots/ears/mob_r_slim.dmi
  icons/inv_slots/ears/mob_slim.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/radio.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🔨реfuckторинг, 🔩 улучшение, 🔵нужны ревью, 🔵одобрено

#4976 Dreamchecker: misc
  code/controllers/subsystems/event.dm
  code/game/objects/items/devices/suit_sensor_jammer.dm
  code/modules/multiz/structures.dm
Labels: 🔨реfuckторинг

#4958 fix(map): added crematorium button for frontier
  maps/exodus/frontier/frontier-1.dmm
Labels: :wrench: фикс, 🔩 улучшение, 🗺️ карта

#4981 Фикс текста флавора при экзамайне
  code/_helpers/text.dm
Labels: :wrench: фикс

#4850 Лайтное
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/obj/storage.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, 🔩 улучшение, 🔵одобрено

#4930 Removes lack of vat-growns
  code/datums/supplypacks/medical.dm
  code/game/objects/items/cryobag.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/human_subspecies.dm
  icons/obj/storage.dmi
  icons/obj/vat_cryobag.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4990 Newscaster remove absence of BB code
  code/game/machinery/newscaster.dm
Labels: 🔩 улучшение

#4997 Editorconfig update
  .editorconfig
Labels: 🛠 Инструменты

#4955 Plastic bags as masks
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/obj/clothing/masks.dmi
Labels: 🌌геймдизайн, 🔵одобрено

#4998 Removes ass-set protection and old biosuits
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/ert.dm
  code/game/mecha/combat/gygax.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/suits/armor.dm
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/suits/mob_unathi.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: :wrench: фикс, 🌌геймдизайн, 🎨 спрайты, 🔵одобрено

#4720 Changelog redesign
  code/modules/client/asset_cache.dm
  code/modules/mob/mob.dm
  html/changelog.css
  html/changelog.html
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-brands-400.eot
  html/font-awesome/webfonts/fa-brands-400.woff
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.woff
  html/pie.htc
  html/templates/header.html
Labels: 🛠 Инструменты

#5011 Roboticist outfit pack fix
  code/datums/outfits/jobs/science.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено

#4972 Dreamchecker: missing keyword args
  code/datums/outfits/spec_op.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/objects/structures/railing.dm
  code/modules/mob/living/carbon/alien/diona/diona_attacks.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/voxslug.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/standard.dm
  code/modules/overmap/exoplanets/grass.dm
  code/modules/paperwork/complaint.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/animate.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/spells/aoe_turf/drain_blood.dm
  code/modules/spells/spell_projectile.dm
Labels: 🔨реfuckторинг
