Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-04, with the labels that each got.

#7868 Женское
  code/modules/client/preference_setup/general/01_basic.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :knife: выпил из билда, :scroll: Есть CL

#7874 Revert "tweak(pref): only female"
  code/modules/client/preference_setup/general/01_basic.dm
Labels: 🌌геймдизайн, 🔵одобрено, :recycle: ревёрт, :scroll: Есть CL

#7769 Кастомка НоТипса
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/hats/icon.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, 📄 конфиг, :scroll: Есть CL

#7867 fix(changelings): escape target won't be a synth
  code/game/gamemodes/objective.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#7770 Бородатное
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7888 Removes disposal units duping mob holders
  code/modules/recycling/disposal.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7899 fix(rotation): fix atom's rotation in inventories
  code/game/atoms.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7810 tweak(byond): byond minor version update
  .github/workflows/additional_checks.yml
  .travis.yml
Labels: BYOND, :scroll: CL не требуется

#7912 fix(bubbles): fix `SIGNAL_MOVED` sending
  code/game/atoms_movable.dm
  code/modules/mob/typing_indicator.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7918 fix(signals): fix sending signals in qdel
  code/__defines/ces/signals.dm
  code/__defines/ces/signals_global.dm
  code/controllers/subsystems/garbage.dm
  code/datums/appearances/appearance_manager.dm
  code/datums/appearances/automatic/_base.dm
  code/datums/datum.dm
  code/datums/elements/_element.dm
  code/datums/repositories/follow.dm
  code/datums/repositories/images.dm
  code/datums/sound_player.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/gamemodes/godmode/god_altar.dm
  code/game/gamemodes/godmode/god_pylon.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/hacktool.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/admin/buildmode/edit.dm
  code/modules/admin/buildmode/move_into.dm
  code/modules/admin/buildmode/relocate_to.dm
  code/modules/admin/buildmode/throw_at.dm
  code/modules/ghosttrap/trap.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/mob/living/deity/deity_tracking.dm
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/mob/observer/freelook/visualnet.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/typing_indicator.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/spells/racial_wizard.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/synthesized_instruments/sound_token.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7919 fix(signals): add missing argument
  code/__defines/ces/signals_global.dm
  code/controllers/subsystems/garbage.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7916 purge(proc): purge duplicate proc
  baystation12.dme
  code/_helpers/stack_trace.dm
  code/datums/components/_component.dm
Labels: :knife: выпил из билда, :scroll: CL не требуется

#7905 purge(extensions): purge unused extensions
  baystation12.dme
  code/datums/components/cardborg.dm
  code/datums/extensions/appearance/appearance.dm
  code/datums/extensions/appearance/base_icon_state.dm
  code/datums/extensions/appearance/cardborg.dm
  code/game/atoms.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/weapons/lighters.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/paperwork/photography.dm
  icons/obj/device.dmi
Labels: :knife: выпил из билда, :scroll: CL не требуется

#7921 Аккаунтное
  code/game/jobs/job/captain.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/modules/economy/Accounts.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL, 🧻 QoL

#7678 fix(cooker): fix infinity cooking with slices
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7926 fix(holobage): missing icon fix
  code/modules/clothing/under/accessories/badges.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
Labels: :scroll: Есть CL

#7672 fix(assembly): now signaller works into grippers
  code/modules/assembly/signaler.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#7909 refact(turrets): use signals in portable turrets
  code/datums/datum.dm
  code/game/machinery/portable_turret.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf_changing.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: CL не требуется

#7930 Removes some of the mobholders' bugs
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  code/modules/recycling/disposal.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#7915 Progressbar update
  code/_helpers/mobs.dm
  code/datums/progressbar.dm
  code/modules/mob/mob_defines.dm
  icons/effects/progressbar.dmi
Labels: 🌌геймдизайн, 🔧 оптимизация, 🔨 рефакторинг, 🔵одобрено, :scroll: Есть CL

#7934 fix(heavysniper): multiple scope uses no longer wreck up the screen_shake
  code/modules/projectiles/gun.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7937 fix(outfits): fix cardborg appearance
  code/datums/appearances/appearance_manager.dm
  code/modules/clothing/head/misc.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7938 refact(turret): create `sentry_view` component
  baystation12.dme
  code/datums/components/sentry.dm
  code/game/machinery/portable_turret.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#7941 Removes inability to choose bank account security level and PIN through Character Setup
  code/__defines/misc.dm
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/general/06_background.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, :scroll: Есть CL

#7927 fix(handcuffed): mobs cant remove clothing when cuffed
  code/game/objects/items.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: :scroll: Есть CL

#7943 optimization(processing): purge useless process
  code/game/turfs/simulated/walls.dm
Labels: 🔧 оптимизация, :knife: выпил из билда, :scroll: CL не требуется

#7948 Removes the ability to set your bunk acoconut PIN to 0
  code/game/jobs/job/job.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7949 optimization(processing): remove unused subsystem
  baystation12.dme
  code/_helpers/global_access.dm
  code/controllers/subsystems/processing/turf.dm
  code/game/gamemodes/endgame/supermatter_cascade/blob.dm
  code/game/turfs/simulated/walls.dm
Labels: 🔧 оптимизация, :scroll: CL не требуется

#7953 Removes lack of xenomorphs balance and more
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/living/carbon/xenobiological/powers.dm
  code/modules/organs/blood.dm
  code/modules/organs/external/xenos.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/lungs.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, ⚔️ боёвка, 🐍 ксеноморфы, :scroll: Есть CL

#7951 Revert "tweak(progress bar): new look and more robust code"
  code/_helpers/mobs.dm
  code/datums/progressbar.dm
  code/modules/mob/mob_defines.dm
  icons/effects/progressbar.dmi
Labels: :recycle: ревёрт, :scroll: CL не требуется

#7942 fix(holster): you cant put guns when holster in pocket
  code/modules/clothing/under/accessories/holster.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#7954 add(roundend): add last words report
  baystation12.dme
  code/__defines/ces/helpers.dm
  code/_helpers/roundend.dm
  code/datums/elements/last_words.dm
  code/modules/mob/living/living.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#7965 Removes straitjackets' red cross
  code/datums/outfits/_defines.dm
  code/datums/outfits/outfit.dm
  code/modules/mob/living/carbon/human/npcs.dm
  icons/mob/mob.dmi
Labels: :wrench: фикс, :scroll: Есть CL

#7968 Removes absence of the oldschool spaceninja suit
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_fat.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL, 🌀 режим: ниндзя

#7970 opt(turrets): do projectile tests less frequent
  code/game/machinery/portable_turret.dm
Labels: 🔧 оптимизация, :scroll: CL не требуется

#7978 Removes bad qdels, forceMoving qdel'd atoms out of nullspace and stuff
  code/_helpers/global_lists.dm
  code/controllers/subsystems/garbage.dm
  code/datums/components/sentry.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/grenades/flashbang.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/admin/verbs/SDQL_2/SDQL_2.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/library/lib_items.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/paperwork/clipboard.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/shield_generators/shield.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#7979 Removes nudes from ID cards and Crew Records
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/modular_computers/file_system/crew_record.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7981 Removes lack of stumped limbs icons
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/stump.dm
  icons/inv_slots/acessories/mob.dmi
  icons/mob/human_races/r_abductor.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/r_lizard.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#7969 tweak(last words): fix name and restrict to humans and silicons
  code/datums/elements/last_words.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7993 Removes lack of working shuttle corners
  code/game/turfs/simulated/wall_shuttle.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7985 tweak(last words): don't save last words on admin levels
  code/datums/elements/last_words.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7891 wall in pod engine removed
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#7996 Examine fixes
  code/_helpers/lists.dm
  code/game/atoms.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/power/lighting.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8005 tweak(settings): remove beta symbol
  code/modules/client/settings.dm
  code/modules/mob/new_player/new_player.dm
Labels: :scroll: CL не требуется

#8006 fix(examine): fix incorrect proc overriding
  code/game/objects/items/toys.dm
  code/modules/assembly/mousetrap.dm
  code/modules/power/pacman2.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8014 fix(contracts): now use correct type of hypospray
  code/game/gamemodes/traitor/contracts.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8007 add(ghost): add health analyzer for ghost
  code/modules/mob/observer/ghost/ghost.dm
Labels: :scroll: Есть CL

#8017 Removes security uniforms obsolescence
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/under/jobs/security.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#8002 Removes absence of unathi clothing icons
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/mob/living/carbon/human/body_build.dm
  icons/inv_slots/hats/mob_unathi.dmi
  icons/inv_slots/masks/mob_unathi.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#8009 tweak(sound): tweak parry sound
  sound/weapons/parry.ogg
Labels: 🌌геймдизайн, 🔵одобрено, 🔊 SFX, :scroll: Есть CL

#8022 Removes excessive weakening effect from grabs
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/grab/normal/norm_kill.dm
  code/modules/mob/grab/normal/norm_neck.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#8023 Removes lack of RTX-rendered donuts
  code/game/objects/items/storage/misc.dm
  icons/obj/food.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#8008 update(db): update db things
  README.md
  code/_global_vars/sensitive.dm
  code/_helpers/global_access.dm
  code/controllers/configuration.dm
  code/game/world.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/view_variables/view_variables_global.dm
  code/modules/client/client_procs.dm
  code/modules/mob/new_player/poll.dm
  config/example/dbconfig.txt
  config/example/dbconfig_docker.txt
  docs/db.md
  sql/Build.ps1
  sql/Build.sh
  sql/Dockerfile
  sql/README.md
  sql/Run.ps1
  sql/Run.sh
  sql/migrate/V001_InitFeedback.sql
  sql/migrate/V001__Initial_schema.sql
  sql/migrate/V002_InitDonations.sql
  sql/migrate/V002__Update_tajlang.sql
  sql/migrate/V003__Update_Antag_Bans.sql
  sql/migrate/V004__Add_StaffWarn.sql
  sql/migrate/V005__Add_IAA_jobbans.sql
Labels: 🔩 улучшение, 🔨 рефакторинг, 🛠 Инструменты, :scroll: CL не требуется

#8032 remove(to_chat): remove debug to chat
  code/modules/client/preference_setup/general/04_hair.dm
Labels: wtf, :wrench: фикс, :scroll: CL не требуется

#8029 Removes monkey assassination contracts
  code/game/gamemodes/traitor/contracts.dm
Labels: :wrench: фикс, 🔫 режим: предатель, :scroll: Есть CL

#8027 fix(logs): fix admin logging queries and add missing sql schema
  code/modules/admin/permissionverbs/permissionedit.dm
  sql/migrate/V003_AdminLog.sql
Labels: :wrench: фикс, :scroll: CL не требуется

#5864 Floor light 2.0
  code/game/machinery/floor_light.dm
  code/modules/power/terminal.dm
  icons/mob/radial.dmi
  icons/obj/machines/floor_light.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🔵нужны ревью, :scroll: Есть CL

#7893 Fix(map): add change of access to the bar doors
  maps/exodus/frontier/frontier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, ⛏️ Фронтир

#8041 Ремоутноботное
  code/modules/mob/living/bot/remotebot.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8039 Торгашное
  code/datums/trading/trade.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8030 Removes absence of combat stats in the Examination tab
  baystation12.dme
  code/modules/examine/descriptions/items.dm
  code/modules/examine/examine.dm
  code/modules/paperwork/pen.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :iphone: UX/UI, :scroll: Есть CL

#8046 tweak(contracts): add missing / to b tag
  code/game/gamemodes/traitor/contracts.dm
Labels: :wrench: фикс, 🔫 режим: предатель, :scroll: CL не требуется

#8045 Трейдномулботовое
  code/datums/trading/goods.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8038 Спрайтофиксное
  code/datums/trading/goods.dm
  code/modules/clothing/custom_clothing.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/uniforms/icon.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🎨 спрайты, :wrench: фикс, :knife: выпил из билда, :scroll: Есть CL

#8035 Removes lack of blastdoor animation frames
  icons/obj/doors/rapid_pdoor.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#8043 Трейдновоксоштамповное
  code/datums/trading/vox.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8047 tweak(db): Run.ps1 can be exec on PS version below 5.2
  sql/Run.ps1
Labels: :wrench: фикс, :scroll: CL не требуется

#8049 Revert "tweak(floorlight): floorlight can be changed by multitool"
  code/game/machinery/floor_light.dm
  code/modules/power/terminal.dm
  icons/mob/radial.dmi
  icons/obj/machines/floor_light.dmi
Labels: :scroll: CL не требуется

#8034 Add(map): Shutters, acсess for cyborgs to docking near bottom med
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: Есть CL

#8076 Removes back of security back relief
  icons/inv_slots/uniforms/mob.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#8061 fix(sentry): use weakrefs
  code/datums/components/sentry.dm
  code/game/machinery/portable_turret.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8062 fix(gc): make sure QDEL_HINT returns
  code/controllers/subsystems/open_space.dm
  code/datums/datum.dm
  code/datums/weakref.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/machinery.dm
  code/game/objects/effects/effect_system.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/pipes.dm
  code/modules/mob/observer/freelook/update_triggers.dm
  code/modules/power/power_usage.dm
  code/modules/ventcrawl/ventcrawl_atmospherics.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8040 Торгашнонамясопродажное
  code/datums/trading/trade.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8060 tweak(code): remove preferences hack
  code/modules/client/preference_setup/global/05_settings.dm
Labels: :scroll: CL не требуется

#8073 Removes lack of advanced reagent processing
  baystation12.dme
  code/game/antagonist/outsider/abductor/equipment/abductors_gear.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/Sleeper.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/autopsy.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/MedicalSideEffects.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/reagents/Chemistry-Helpers.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/basic.dm
  code/modules/reagents/Chemistry-Reagents/blood.dm
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
  code/modules/reagents/Chemistry-Reagents/food_drinks.dm
  code/modules/reagents/Chemistry-Reagents/medicine.dm
  code/modules/reagents/Chemistry-Reagents/other.dm
  code/modules/reagents/Chemistry-Reagents/painkillers.dm
  code/modules/reagents/Chemistry-Reagents/toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/glass/bottle/preset.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/virus2/effects/common.dm
  code/modules/virus2/effects/exotic.dm
Labels: 🌌геймдизайн, 🌐 вики, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, 💉 медицина, :scroll: Есть CL

#8088 Removes need for all these nasty Initializes from reagent_containers
  baystation12.dme
  code/game/machinery/Sleeper.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/food/recipes_microwave.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/carbon/human/MedicalSideEffects.dm
  code/modules/organs/internal/brain.dm
  code/modules/reagents/Chemistry-Reagents/painkillers.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle/robot.dm
  code/modules/reagents/reagent_containers/food/drinks/cans.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/reagents/reagent_containers/food/snacks/organ.dm
  code/modules/reagents/reagent_containers/food/snacks/packaged.dm
  code/modules/reagents/reagent_containers/food/snacks/sliceable.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/beaker.dm
  code/modules/reagents/reagent_containers/glass/bottle/hydroponics.dm
  code/modules/reagents/reagent_containers/glass/bottle/preset.dm
  code/modules/reagents/reagent_containers/glass/bottle/robot.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#8081 Рефакторинг способностей алиенов + микрофикс
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
Labels: 🔨 рефакторинг, :wrench: фикс, 🐍 ксеноморфы, :scroll: Есть CL

#8080 fix(borer): fixed borer's ability to ventcrawl
  code/modules/ventcrawl/ventcrawl.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🤯 режим: борер

#8055 opt(atmos): add lazy evaluation for list of movables
  baystation12.dme
  code/__defines/lazy_value.dm
  code/_helpers/lazy_value.dm
  code/modules/ZAS/Airflow.dm
  code/modules/ZAS/ConnectionGroup.dm
  code/modules/ZAS/Zone.dm
Labels: 🔧 оптимизация, :scroll: CL не требуется

#8050 tweak(sql): add missing `art_library` scheme
  sql/migrate/V004_ArtLibrary.sql
Labels: 🛠 Инструменты, :scroll: CL не требуется

#8093 Фикс колясок
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: :scroll: Есть CL

#8037 Арморостореррное
  code/modules/clothing/suits/armor.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#8103 Removes excessive GC retardness
  baystation12.dme
  code/__defines/qdel.dm
  code/__defines/subsystems.dm
  code/_helpers/weakref.dm
  code/_macros.dm
  code/_onclick/hud/action.dm
  code/controllers/subsystems/atoms.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/ticker.dm
  code/datums/browser.dm
  code/datums/mind.dm
  code/datums/weakref.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/changeling/biostructure.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/wayfinding.dm
  code/game/objects/effects/cig_smoke.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/items/smokables/pipes.dm
  code/game/objects/items/smokables/smokables.dm
  code/modules/assembly/assembly.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/events/carp_migration.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/rogue_drones.dm
  code/modules/events/wormholes.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/projectiles/projectile.dm
  ~code/global_init.dm
Labels: 🔩 порт, 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#8106 tweak(mob_ai): removes lack of Destroy logic
  code/modules/mob/living/simple_animal/mob_ai.dm
Labels: :scroll: CL не требуется

#8110 Removes the character setup critical bug
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/general/04_hair.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences.dm
  code/modules/mob/new_player/new_player.dm
Labels: 🔨 рефакторинг, 🔥 приоритет, :wrench: фикс, :scroll: CL не требуется

#8070 fix(grab_datum): fix resist message
  code/modules/mob/grab/grab_datum.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8114 Removes a lot of bad strong referencing from simple_animals
  baystation12.dme
  code/game/gamemodes/changeling/helpcode/mobs.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/xenobiological/powers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/kobold.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/mob/living/simple_animal/friendly/pets_ai.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/hoverhead.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/shooter.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/nanomachines.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/maneater.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/projectiles/projectile/special.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#8121 tweak(sunset): fix missing floors, fill empty rooms
  maps/exodus/sunset/sunset-2.dmm
  maps/exodus/sunset/sunset-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: Есть CL, ☀️ Сансет

#8123 port(elevator) Port TG elevators system with some improvments
  baystation12.dme
  code/__defines/ces/signals_atom.dm
  code/__defines/ces/signals_tram.dm
  code/__defines/misc.dm
  code/controllers/subsystems/processing/tramprocess.dm
  code/datums/elements/connect_loc.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/tram_controls.dm
  code/game/objects/structures/rails.dm
  code/modules/multiz/industrial_lift/industrial_lift.dm
  code/modules/multiz/industrial_lift/industrial_lift_console.dm
  code/modules/multiz/turf.dm
  icons/obj/rails.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  nano/templates/elevator_control_console.tmpl
  sound/machines/elevator_loop.ogg
  tgui/packages/tgui/interfaces/TramControl.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, 🔨 рефакторинг, :scroll: Есть CL

#8130 add(map): add old restaurant map
  baystation12.dme
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  icons/turf/areas.dmi
  maps/exodus/derelicts/old_restaurant/old_restaurant.dm
  maps/exodus/derelicts/old_restaurant/old_restaurant.dmm
  maps/exodus/exodus.dm
  maps/exodus/exodus_define.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: Есть CL

#8140 fix(tgui): fix broken tgui-dev-server
  tgui/package.json
Labels: :wrench: фикс, :scroll: CL не требуется

#8141 Removes lack of GC-related fixes
  code/_onclick/hud/ability_screen_objects.dm
  code/_onclick/hud/action.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/lighting.dm
  code/datums/datum.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/camera/presets.dm
  code/game/objects/items.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/ghost/ghost.dm
  maps/exodus/derelicts/old_restaurant/old_restaurant.dmm
Labels: 🔧 оптимизация, 🔩 порт, :wrench: фикс, :scroll: CL не требуется

#8146 Removes yet another pile'o'bugs
  code/game/turfs/simulated/footsteps.dm
  code/modules/hydroponics/beekeeping/beehive.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/hoverhead.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/shooter.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/nanomachines.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/vagrant.dm
  code/modules/multiz/zshadow.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/virus2/dishincubator.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется
