Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-06, with the labels that each got.

#8338 tweak(cyborg): now customs work as intented
  code/datums/robot_hulls.dm
  code/modules/mob/living/silicon/custom_sprites.dm
  code/modules/mob/living/silicon/robot/robot.dm
  config/schema/custom_sprites.schema.json
  icons/mob/robots_custom.dmi
Labels: 🔩 улучшение, 🔵 нужны ревью, :scroll: Есть CL

#8340 fix(floragun): no suicide
  code/modules/projectiles/gun.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8308 tweak(vamp) No more vamp friends
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🔵 нужны ревью, 🧛 режим: вампир, :scroll: Есть CL

#8519 tweak(follow panel): make filters be more robust
  tgui/packages/tgui/interfaces/FollowPanel.tsx
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :scroll: Есть CL

#8256 fix(flame): now you selfignites faster (x2)
  code/modules/mob/living/living_defense.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🔵 нужны ревью, :scroll: Есть CL

#8530 Removes absence of non-lethal sec equipment variety AND shotguns at the same time
  baystation12.dme
  code/datums/supplypacks/security.dm
  code/game/antagonist/outsider/abductor/equipment/abductors_gear.dm
  code/game/machinery/recharger.dm
  code/game/machinery/secsmith.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/detective.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  icons/obj/stationobjs.dmi
  icons/obj/storage.dmi
  icons/obj/weapons.dmi
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, ⚔️ боёвка, :scroll: Есть CL

#8531 Removes the build's inability to get compiled
  code/game/objects/items.dm
  code/game/objects/items/weapons/shields.dm
Labels: :wrench: фикс, 🥇 Chicken Dinner, :beer: ржака, :beers: ржомба

#8509 fix(xenomorphes): fixed deletion of facehuggers after leap
  code/modules/mob/living/simple_animal/hostile/facehugger.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/projectile/special.dm
Labels: :wrench: фикс, 🐍 ксеноморфы, :scroll: Есть CL

#8533 Removes three units of cringe
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8326 maptweak(exodus-2): Engine access hatch door bolt control
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, 🔵 нужны ревью, :scroll: Есть CL

#8324 maptweak(exodus-1): RnD break room light switch moving
  maps/exodus/exodus-1.dmm
Labels: 🗺️ карта, 🔵 нужны ревью, :scroll: Есть CL

#8535 Removes some bugs
  code/datums/browser.dm
  code/modules/projectiles/guns/energy/stun.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8480 rscadd(random_law_selection)
  maps/~mapsystem/maps.dm
Labels: 🌌геймдизайн, 🔵 одобрено, 📺 ИИ|Борги, 🤡 мемы, :scroll: Есть CL

#8539 Revert "tweak(law): AI/cyborg can has another lawset"
  maps/~mapsystem/maps.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :recycle: ревёрт, :scroll: Есть CL

#8543 Removes some temporal bugs and alike
  code/controllers/subsystems/xenoarch.dm
  code/game/machinery/hologram.dm
  code/game/objects/items.dm
  code/game/objects/objs.dm
  code/game/objects/structures/musician.dm
  code/modules/games/boardgame.dm
  code/modules/mob/living/carbon/viruses.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob_defines.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  code/modules/power/antimatter/computer.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/power/turbine.dm
  code/modules/tables/tables.dm
  code/modules/virus2/curer.dm
  maps/derelicts/derelict/derelict.dmm
Labels: :wrench: фикс, :scroll: Есть CL

#8547 tweak(cargo-alert): now triggers less frequently
  code/controllers/subsystems/supply.dm
Labels: :scroll: Есть CL

#8554 fix(timers): add some scary math
  code/controllers/subsystems/timer.dm
Labels: :scroll: CL не требуется

#8560 Removes yet another batch'o'runtimes
  code/game/machinery/atmoalter/canister.dm
  code/game/objects/items/storage/storage.dm
  code/modules/synthesized_instruments/real_instruments.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#8561 Removes the hair choice album
  baystation12.dme
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/client/preference_setup/general/04_hair.dm
  code/modules/client/preference_setup/general/05_background.dm
  code/modules/client/preference_setup/general/06_flavor.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :recycle: ревёрт, :scroll: Есть CL

#8563 Buffs taser SMGs, slows down taser rifles a bit
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, ⚔️ боёвка, :scroll: Есть CL

#8565 Фикс оружейной фронтира
  maps/frontier/frontier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, ⛏️ Фронтир

#8540 fix(holodeck): fix landmarks copying
  code/_helpers/unsorted.dm
  code/modules/holodeck/HolodeckControl.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8569 fix(Napalm) it's now burning lol
  code/modules/reagents/Chemistry-Recipes.dm
Labels: :wrench: фикс, 🧪 Chemistry

#8485 декальное
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/obj/tiles.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/tiles.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#8577 Removes three more runtimes from existence
  code/game/gamemodes/traitor/contracts.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8579 Removes lack of pain accumulation
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/standard.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔧 оптимизация, 🔵 одобрено, :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#8466 Обновление ЕРТ
  code/game/antagonist/outsider/ert.dm
  code/game/gamemodes/objective.dm
  code/game/jobs/jobs.dm
  code/game/response_team.dm
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/security levels/keycard authentication.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :gear: кнопки, :scroll: Есть CL

#8578 Фиксы и твиксы полярки
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: CL не требуется, :snowflake: Полярка

#8571 feat(head): MMI autoeject on droplimb event
  code/modules/organs/external/head.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#8580 Removes more runtimes
  code/game/objects/items/instruments.dm
  code/game/objects/items/storage/secure.dm
  code/modules/atmospherics/pipes.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8586 Removes lack of vehicles' gliding
  code/modules/vehicles/train.dm
  code/modules/vehicles/vehicle.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8537 Fixes air-alarms directional sprites & Replaces slime xenobio sign
  icons/obj/monitors.dmi
  maps/exodus/exodus-1.dmm
Labels: 🗺️ карта, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#8590 Removes lack of advanced control over matrices
  code/_helpers/matrices.dm
  code/_helpers/unsorted.dm
  code/_onclick/hud/action.dm
  code/_onclick/hud/radial.dm
  code/game/atoms.dm
  code/game/images.dm
  code/game/machinery/kitchen/cooking_machines/cereal.dm
  code/game/machinery/vending/_vending.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/item_pickup_ghost.dm
  code/game/objects/items/glassjar.dm
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/items/storage/storage_ui/default.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/rubble.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/economy/cash.dm
  code/modules/games/cards.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/modifier/helpers.dm
  code/modules/organs/external/_external.dm
  code/modules/paperwork/photography.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/projectile.dm
  code/modules/rcd/work_modes.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/reagents/reagent_containers/vessel/glass/_glass.dm
  code/modules/surgery/organs_internal.dm
Labels: 🔩 порт, 🔨 рефакторинг, :scroll: CL не требуется

#8589 Normal ghost's notifications and ghost role spawners
  baystation12.dme
  code/__defines/misc.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/hud.dm
  code/datums/configuration/game_section.dm
  code/game/jobs/job/ghost_role.dm
  code/modules/admin/verbs/possess_mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob_spawn/mob_spawn.dm
  config/example/config.toml
  icons/effects/mob_spawners.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔩 порт, 🔵 одобрено, 📄 конфиг, :scroll: Есть CL, 🧻 QoL, 👻 призраки

#8371 Рефакторинг say() - часть 1
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/say.dm
  code/modules/mob/typing_indicator.dm
Labels: 🔨 рефакторинг, 🔵 нужны ревью, :scroll: CL не требуется

#8505 feat(polar): complete engineering department remap
  maps/polar/polar-3.dmm
Labels: 🗺️ карта, :scroll: CL не требуется, :snowflake: Полярка

#8598 Polyarka
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: CL не требуется, :snowflake: Полярка

#8604 Removes lack of vessel'noe
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  icons/obj/reagent_containers/vessels.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#8606 Removes absence of runechat 2.0
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/__defines/subsystem-priority.dm
  code/__defines/subsystems.dm
  code/_helpers/lists.dm
  code/_macros.dm
  code/controllers/subsystems/runechat.dm
  code/datums/chatmessage.dm
  code/game/atoms.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/mob.dm
  interface/skin.dmf
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :skull: Cursed, :scroll: Есть CL, 🗨️ чат, 🧻 QoL

#8299 feat(music_tapes): add music tapes to cargo packs
  code/datums/supplypacks/miscellaneous.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 нужны ревью, :scroll: Есть CL

#8644 fusion icon fix
  code/modules/power/fusion/core/core_field.dm
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#8624 Some bugfixes for runechat
  code/datums/chatmessage.dm
  code/game/atoms.dm
  code/modules/mob/hear_say.dm
  interface/skin.dmf
Labels: :wrench: фикс, :scroll: Есть CL

#8628 Removes runtimes
  baystation12.dme
  code/_helpers/atom_movables.dm
  code/modules/ZAS/Fire.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/voice.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/jammers.dm
  code/modules/clothing/under/accessories/lockets.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
  code/modules/organs/external/_external.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#7523 Portal gun и прочие
  baystation12.dme
  code/datums/helper_datums/teleport.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/portals.dm
  code/modules/projectiles/guns/portalgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/portals.dmi
  icons/obj/projectiles.dmi
  sound/weapons/portalgun_blue.ogg
  sound/weapons/portalgun_red.ogg
Labels: 🌌геймдизайн, 🔩 улучшение, :rage1: очень сложно, 🔵 одобрено, 🎨 спрайты, 🔵 нужны ревью, :scroll: CL не требуется

#8549 feat(firesuit): now firesuits are more robust
  code/modules/clothing/suits/utility.dm
Labels: 🌌геймдизайн, ⚔️ боёвка, :scroll: Есть CL

#8609 Fixed bugs in race choosing window
  code/modules/client/preference_setup/general/03_body.dm
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/r_skrell.dmi
  icons/mob/human_races/r_tajaran.dmi
Labels: 🐞 баг, :iphone: UX/UI, :trollface: no xenos allowed, :scroll: Есть CL

#8459 feat(grenades): nerf and safety pin update
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/grenades/spawnergrenade.dm
  code/modules/assembly/igniter.dm
  code/modules/assembly/proximity.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  icons/obj/grenade.dmi
  sound/weapons/pin_insert.ogg
  sound/weapons/pin_pull.ogg
Labels: 🌌геймдизайн, 🔩 улучшение, ⚔️ боёвка, :scroll: Есть CL

#8668 port(timers): port the last version of timers from tg
  code/__defines/MC.dm
  code/_helpers/lists.dm
  code/controllers/subsystems/runechat.dm
  code/controllers/subsystems/timer.dm
Labels: 🔩 улучшение, 🔩 порт, 🔨 рефакторинг, :scroll: CL не требуется

#8700 Контракторно-оружейное
  code/game/gamemodes/traitor/contracts.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🔫 режим: предатель, :scroll: Есть CL

#8737 SIGNAL_LIGHT_UPDATED
  code/__defines/ces/signals_atom.dm
  code/datums/components/sentry.dm
  code/modules/lighting/lighting_atom.dm
Labels: :wrench: фикс, 🔵 нужны ревью, :scroll: CL не требуется

#8726 Removes absence of playable Deempisies
  baystation12.dme
  code/__defines/ces/signals_global.dm
  code/_helpers/global_lists.dm
  code/controllers/subsystems/ticker.dm
  code/datums/outfits/jobs/civilian.dm
  code/game/antagonist/station/cult_god.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/traitor.dm
  code/game/antagonist/station/vampire.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/game/objects/effects/landmarks/jobs.dm
  code/game/objects/effects/landmarks/roundstart.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modifier/helpers.dm
  icons/misc/landmarks.dmi
  icons/obj/card.dmi
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#8671 fix(lungs): add check for null and organ status
  code/modules/mob/living/carbon/human/say.dm
Labels: :wrench: фикс, 🔵 нужны ревью, :scroll: CL не требуется

#8718 tweak(portals): fix some bugs
  code/game/objects/effects/portals.dm
  code/modules/projectiles/guns/portalgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/special.dm
Labels: :wrench: фикс, 🔵 нужны ревью, :scroll: CL не требуется

#8639 fix(virology): fix virologist loadout and antibody scaner attachment slots
  code/datums/outfits/jobs/medical.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/spacesuits/void/medical.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/virus2/items_devices.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8743 Порталы не останавливают пули или предметы
  code/datums/helper_datums/teleport.dm
  code/game/objects/effects/portals.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🔵 нужны ревью, :scroll: Есть CL

#8732 fix(action): Removes lack of action button overlays update
  code/_onclick/hud/action.dm
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#8733 fix(light_overlays): Removes lack of overlay item states
  code/modules/clothing/spacesuits/void/engineering.dm
  icons/mob/light_overlays.dmi
  icons/obj/light_overlays.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#8616 feat(plasmacutter): add ability for borg to charge it
  code/modules/projectiles/guns/energy/special.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#8701 fix(debug): fixed lightmaker max_bright
  code/modules/admin/buildmode/light_maker.dm
Labels: :wrench: фикс, :gear: кнопки, :scroll: CL не требуется

#8741 Фиксим прохождение пуль сквозь вещи, on_impact кейс
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, 🔵 нужны ревью, :scroll: Есть CL

#8770 Removes absence of old floors
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/materials/material_recipes.dm
  icons/obj/tiles.dmi
  icons/turf/flooring/alium.dmi
  icons/turf/flooring/cult.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/flooring/grass.dmi
  icons/turf/flooring/plating.dmi
  icons/turf/flooring/sand.dmi
  icons/turf/flooring/tiles.dmi
  icons/turf/floors.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/sunset/sunset-1.dmm
  maps/sunset/sunset-2.dmm
  maps/sunset/sunset-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL, ⛏️ Фронтир

#8633 feat(rotate-screen): purge 7 year old feature
  code/modules/client/movement.dm
  code/modules/virus2/effects/mild.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, 🦠 вирусология, :wrench: фикс, :knife: выпил из билда, :scroll: Есть CL

#8735 fix(flooring.dm): floor paints Darkwood floors
  code/game/turfs/flooring/flooring.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#8431 bugfix(drone_buckle)
  code/game/objects/buckling.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8328 maptweak(frontier-2): AI core for emergency shuttle
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
Labels: 🗺️ карта, 🔵 нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#8776 Removes old floors from Exodus and Frontier
  icons/turf/flooring/plating.dmi
  icons/turf/flooring/tiles.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/frontier/frontier-1.dmm
  maps/telecomms.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL, ⛏️ Фронтир

#8754 Женские плитники + ненавижу легаси код
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/pcarriers.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armor.dm
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/mob/onmob/modular_armor.dmi
  icons/mob/onmob/modular_armor_slim.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, :wrench: фикс, 🔵 нужны ревью, :scroll: Есть CL

#8800 Removes taser SMGs supremacy
  code/modules/projectiles/guns/energy/stun.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, ⚔️ боёвка, :scroll: Есть CL

#8795 fix(doors): multi-tile opacity fix
  code/game/machinery/doors/door.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8804 Removes absence of the ability to take a shirt off a security uniform
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#8789 Фиксим телепорты окончательно
  code/datums/helper_datums/teleport.dm
  code/game/machinery/teleporter.dm
Labels: :wrench: фикс, 🔵 нужны ревью, :scroll: Есть CL

#8764 fix(plane_master) removes window frame overlays' plane assignment
  code/game/objects/structures/window_frame.dm
Labels: :wrench: фикс, 🔵 нужны ревью, :scroll: Есть CL

#8822 Removes the ninja blade's inability to block projectiles
  code/game/objects/items/melee/energy.dm
Labels: :wrench: фикс, ⚔️ боёвка, :scroll: CL не требуется, 🌀 режим: ниндзя

#8832 Removes inability to use rough tiles to construct platings
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/space/space.dm
  code/modules/multiz/turf.dm
  icons/turf/flooring/plating.dmi
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#8847 fix(rd console): add cooldown to sync proc
  code/modules/research/rdconsole.dm
Labels: :wrench: фикс, :scroll: CL не требуется
