Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-11, with the labels that each got.

#9801 Rad collectors
  code/modules/power/singularity/collector.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9803 BrownCoat(bugfix): Цыганские фокусы.
  icons/inv_slots/suits/mob.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9809 tweak(mob sight) Adds SEE_BLACKNESS flag for mobs
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/virtual/base.dm
Labels: :scroll: Есть CL

#9808 Tweak(hair_unati): Retutn bobcut to Lizard.
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/face/hair_unathi.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#9811 Tweak(portable_hard_drive) Changed name from data crystal to flash drive
  code/modules/modular_computers/hardware/portable_hard_drive.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9778 tweak(lighting) Lighting fixtures can be hit by projectiles
  code/modules/power/lighting.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#9370 refact(wizard): refact ethereal jaunt
  code/modules/spells/targeted/ethereal_jaunt.dm
Labels: 🔨 рефакторинг, 🧙‍♂️ режим: маг, :scroll: CL не требуется

#9481 Added xenos abillity to breakout welded vents
  code/__defines/misc.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/modifier/traits.dm
  code/modules/ventcrawl/ventcrawl_atmospherics.dm
  icons/atmos/vent_pump.dmi
  icons/atmos/vent_scrubber.dmi
Labels: 🔩 улучшение, :gear: кнопки, 🐍 ксеноморфы, :scroll: Есть CL

#9827 fix(drinks): fix maggellan drink name
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9824 fix(coilgun): coilgun cell inserting
  code/modules/projectiles/guns/magnetic/magnetic.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9757 tweak(cell): give metroid cell self-charging
  code/modules/power/cell.dm
Labels: 🔩 улучшение, :scroll: Есть CL, 👾 метроиды

#9849 fix(drone): fix emag act for drones
  code/modules/mob/living/silicon/robot/drone/drone.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#9848 fix(SMES): now SMES can be disassembled
  code/game/machinery/constructable_frame.dm
  code/modules/power/smes_construction.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9881 Нерф Лоока
  code/datums/communication/looc.dm
  code/game/verbs/ooc.dm
Labels: 🔩 улучшение, :scroll: Есть CL, 🗨️ чат
