Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-09, with the labels that each got.

#9302 fix(tanks): fix gauge indicator does not updates x2
  code/game/machinery/atmoalter/canister.dm
  code/game/objects/items/tanks/tanks.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9323 Removes the wooden cabinet's door removability
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9341 fix(levels) telecomms add ztrait
  maps/levels.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#9116 Вампир отращивает утерянные конечности при лечении
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🧛 режим: вампир, :scroll: Есть CL

#9347 Turret Syndrome
  baystation12.dme
  code/datums/components/sentry.dm
  code/game/machinery/portable_turret.dm
Labels: :recycle: ревёрт, :wrench: фикс, :scroll: CL не требуется

#9345 fix(cell) cell charge
  code/modules/power/cell.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9339 fix(icons) plant-b-gone
  icons/obj/hydroponics_machines.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9327 fix(icons): fix wood doors
  icons/obj/doors/material_doors.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9335 fix(materials) rglass matter
  code/modules/materials/materials.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9332 fix(derelict): science_ship fix door
  maps/derelicts/science_ship/science_ship-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#9226 fix(virology): Fixed re-adding the same virus to a test tube using an incubator
  code/modules/virus2/dishincubator.dm
Labels: 🦠 вирусология, :wrench: фикс, :scroll: CL не требуется

#9331 fix(drone_items): safety pin decompiler
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9044 Переделка вампира, чтобы он был мертвым, но мог казаться живым
  code/__defines/mobs.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire_datum.dm
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/adv_med.dm
  code/game/mecha/medical/odysseus.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/organ.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/virus2/helpers.dm
  ingame_manuals/vampire.html
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🧛 режим: вампир, :scroll: Есть CL

#9358 fix(decals): now can be moved by pixel_x/y
  code/game/turfs/flooring/flooring_decals.dm
Labels: :scroll: Есть CL

#9359 fix(tanks): replace `air_contents` by `return_air`
  code/game/machinery/atmoalter/pump.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/items/tanks/tanks.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/singularity/collector.dm
  code/modules/projectiles/guns/flamer.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9361 tweak(nanomapgen): restricted server-crash proc
  code/modules/nano/nanomapgen.dm
Labels: :wrench: фикс, 🕹️ BYOND, :scroll: CL не требуется

#9343 fix(library) edit, delete some books
  code/modules/library/manuals.dm
  maps/exodus/exodus-1.dmm
  maps/frontier/frontier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#9326 Танцы!
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/human.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9254 fix(machinary): now suspension generator works in poweroff area
  code/modules/xenoarcheaology/tools/suspension_generator.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9238 tweak(zombie): meeting the needs of the community
  code/modules/mob/living/living_powers.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9380 Removes lack of RD's RIG sideview pixels
  icons/mob/onmob/rig_back.dmi
  icons/mob/onmob/rig_back_slim.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9383 Removes lack of reagent tanks' quality
  code/modules/reagents/reagent_dispenser.dm
  icons/obj/reagent_tanks.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9354 refact(mmi) mmi_monkey icon
  icons/mob/human_races/organs/mmi.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9387 Revert "opt(alarms): small alarm optimization"
  code/modules/alarm/alarm.dm
Labels: :recycle: ревёрт, :wrench: фикс, :scroll: CL не требуется

#9379 fix(wizard) : droping an object for a parrot
  code/modules/mob/living/simple_animal/friendly/parrot.dm
Labels: 🧙‍♂️ режим: маг, :wrench: фикс, :scroll: Есть CL

#9389 fix(ghosts): fix character setup
  code/modules/mob/new_player/new_player.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9386 Fix(masks): fix swatclava sprite
  code/modules/clothing/masks/boxing.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9367 Респрайт предохранителей
  icons/obj/power.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9366 Сахар!
  icons/obj/materials.dmi
  icons/obj/mining.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9391 Removes dufflebags' unwieldiness
  code/game/objects/items/storage/backpack.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9384 Иконки для плазма резака в руках
  icons/inv_slots/items/guns_l_default.dmi
  icons/inv_slots/items/guns_r_default.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9385 Шторки
  code/game/objects/structures/curtains.dm
  code/modules/materials/material_recipes.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9399 fix(vending): fixes TGUI interaction & disassembly
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending_frame.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9402 Removes unwanted radiation behavior making carbon/aliens die instantly upon spawning
  code/modules/mob/living/carbon/alien/life.dm
Labels: :wrench: фикс, 🌲 дионы, 🐍 ксеноморфы, :scroll: Есть CL

#9403 Removes negative radiation poisoning values caused by drugs
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
  code/modules/reagents/Chemistry-Reagents/medicine.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#9363 add(revolvers): resprite old sprites
  icons/obj/gun.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9404 fix(radiation): fix negative radiation
  code/modules/radiation/radiation.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9405 fix(cyborg): fix materials recharing x2
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9407 add(logging): log mobs located in nullspace
  code/controllers/subsystems/radiation.dm
Labels: :scroll: CL не требуется

#9408 Removes temporal engine cores from microwaves
  code/game/machinery/kitchen/microwave.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9411 Removes absence of default configurable values
  code/datums/configuration/character_setup_section.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9413 Removes tanks' inability to go brrrrrr-boom
  code/game/objects/items/tanks/tanks.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9414 Removes lack of thinking changelings
  code/game/gamemodes/changeling/changeling_power.dm
  code/game/gamemodes/changeling/powers/camouflage.dm
  code/game/gamemodes/changeling/powers/rapid_heal.dm
  code/game/gamemodes/changeling/powers/regeneration.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#9412 Removes phantom bleedings
  code/modules/organs/blood.dm
  code/modules/organs/internal/heart.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#9418 Removes wormhole generators' DRAW ME overlay
  code/game/mecha/equipment/tools/tools.dm
  icons/mecha/mecha_overlay.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9417 Removes absence of coin-on-strings' overlays
  code/game/objects/items/material/coins.dm
  icons/obj/coins.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9416 Removes lack of species-specific hat icons
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/hats/mob_tajaran.dmi
  icons/inv_slots/hats/mob_unathi.dmi
  icons/mob/human_races/r_tajaran.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#9415 Removes inability to plant rough floor tiles over lattice
  code/game/objects/structures/lattice.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9409 New hair style - Bird Tail
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_face.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9365 Подтяжечное 2: мимы наносят ответный удар
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9424 Fix(icon): plasma in hands
  code/__defines/materials.dm
  code/modules/materials/material_sheets.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/materials.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9423 bugfix: Extract enhancer
  code/modules/mob/living/carbon/xenobiological/items.dm
  icons/obj/chemical.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9428 feat(corpse): add nurse corpse
  code/modules/awaymissions/corpse.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#9419 New charge icons for FBPs
  icons/mob/screen1_robot.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :mechanical_arm: FBP, :scroll: Есть CL

#9346 fix(mob): fix mob slim sprites
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9443 fix(shove_everything): fixed pushing atom through slim glass door by close nearby door
  code/game/atoms.dm
Labels: :scroll: Есть CL

#9437 fix(checks): replace `isnull` checks by `QDELETED`
  code/_onclick/hud/skybox.dm
  code/controllers/evacuation/evacuation.dm
  code/controllers/subsystems/processing/nano.dm
  code/controllers/subsystems/tgui.dm
  code/controllers/subsystems/xenoarch.dm
  code/datums/chatmessage.dm
  code/datums/elements/connect_loc.dm
  code/datums/wires/robot.dm
  code/game/antagonist/outsider/abductor/abductor.dm
  code/game/gamemodes/events/black_hole.dm
  code/game/jobs/job/job.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/resleever.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/implants/implants/death_alarm.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/iv_drip.dm
  code/game/turfs/turf.dm
  code/modules/detectivework/forensics.dm
  code/modules/hydroponics/trays/tray_process.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/station/nabber.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/viruses.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/multiz/industrial_lift/industrial_lift_console.dm
  code/modules/music_player/_music_player.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/shieldgen/shieldwallgen.dm
  code/modules/spells/spell_code.dm
  code/modules/supermatter/supermatter.dm
  code/modules/xenoarcheaology/finds/special.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#9434 Removes lack of drip
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9426 fix(eyes): moved eye icons to species files to prevent offset bugs, added body build support
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/machine.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/nabber.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/organs/external/diona.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/unbreakable.dm
  code/modules/organs/external/vox.dm
  code/modules/organs/external/xenos.dm
  code/modules/organs/robolimbs.dm
  icons/mob/human_face.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/r_lizard.dmi
  icons/mob/human_races/r_skrell.dmi
  icons/mob/human_races/r_tajaran.dmi
  icons/mob/human_races/r_vox.dmi
  icons/mob/human_races/robotic.dmi
Labels: 🔨 рефакторинг, :scroll: Есть CL

#9435 tweak(corpse): nurse id card assignment
  code/modules/awaymissions/corpse.dm
Labels: :scroll: CL не требуется

#9432 Починил рантайм с контроллером подов
  maps/frontier/frontier_define.dm
Labels: :wrench: фикс, :scroll: Есть CL, ⛏️ Фронтир

#9420 tweak(robot_suit): added size to cyborg assembly
  code/modules/mob/living/silicon/robot/robot_parts.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: CL не требуется

#9436 Tweak(helmets): Fix opacity on space helmet's
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/hats/mob_tajaran.dmi
  icons/inv_slots/hats/mob_unathi.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9452 RE:sprite Floodlight's
  icons/obj/machines/floodlight.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9442 fix(singularity): loc replaced with get_turf() in bag of holding
  code/game/objects/items/storage/backpack.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9461 fix(supermatter): fix supermatter radiation
  code/modules/supermatter/supermatter.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9454 Fix(refmining helmet) Новый шлем для Унати
  icons/obj/clothing/species/unathi/hats.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9451 RE:sprite tacknife
  code/game/objects/items/material/misc.dm
  icons/obj/weapons.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9449 Removes lack of dress
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#9453 Fix: Spite trackjackettc_open and closed
  icons/obj/clothing/suits.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9457 Fix white track jacket slim_alt
  icons/inv_slots/suits/mob_slimalt.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9265 feat(viruses): Comprehensive rework spread disease
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/virus2/effects/mild.dm
  code/modules/virus2/helpers.dm
Labels: 🌌геймдизайн, 🔨 рефакторинг, 🔵 одобрено, 🦠 вирусология, :wrench: фикс, :scroll: Есть CL

#9338 fix(maps) iagent tablet + button
  code/modules/modular_computers/computers/subtypes/preset_tablet.dm
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, :wrench: фикс, :scroll: Есть CL

#9485 Fix plasmacutter v 2
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9482 map(frontier): add biodome varitations
  baystation12.dme
  code/__defines/mapping.dm
  code/datums/configuration/misc_section.dm
  code/game/objects/structures/barrel.dm
  code/game/objects/structures/flora.dm
  config/example/config.toml
  icons/misc/map_ent.dmi
  icons/obj/flora/misc.dmi
  icons/obj/objects.dmi
  maps/frontier/biodome/beach.dmm
  maps/frontier/biodome/concert.dmm
  maps/frontier/biodome/forest.dmm
  maps/frontier/biodome/winter.dmm
  maps/frontier/ent_biodome.dm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 📄 конфиг, :scroll: Есть CL, ⛏️ Фронтир

#9470 tweak(polar): polar tweaks
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL, :snowflake: Полярка

#9492 feat(config): add mapping section
  baystation12.dme
  code/datums/configuration/mapping_section.dm
  code/datums/configuration/misc_section.dm
  code/datums/configuration/server_configuration.dm
  code/game/map_ent/map_engine.dm
  maps/frontier/ent_biodome.dm
Labels: :scroll: Есть CL

#9463 Мульти-З Астероид: ОСНОВА
  code/modules/mining/mine_turfs.dm
  code/modules/multiz/structures.dm
  icons/obj/stairs.dmi
  icons/turf/areas.dmi
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/exodus/exodus-5.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_define.dm
  maps/exodus/exodus_levels.dm
Labels: 🗺️ карта, 🔩 улучшение, :scroll: Есть CL

#9491 log(runechat): log more detalis in invalid mob cases
  code/datums/chatmessage.dm
Labels: :scroll: CL не требуется

#9473 Tweak(Leathers Coat's): New coat and fix old
  code/game/machinery/biogenerator.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9480 Clown PDAs remain static while being slipped on
  code/game/objects/items/devices/PDA/PDA.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9464 fix(fbp-icons): added eye icons & missing body builds
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/organs/robolimbs.dm
  icons/mob/human_races/cyberlimbs/bishop/bishop_alt.dmi
  icons/mob/human_races/cyberlimbs/bishop/bishop_main.dmi
  icons/mob/human_races/cyberlimbs/bishop/bishop_monitor.dmi
  icons/mob/human_races/cyberlimbs/hephaestus/hephaestus_alt.dmi
  icons/mob/human_races/cyberlimbs/hephaestus/hephaestus_main.dmi
  icons/mob/human_races/cyberlimbs/hephaestus/hephaestus_monitor.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_alt.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_main.dmi
  icons/mob/human_races/cyberlimbs/nanotrasen/nanotrasen_main.dmi
  icons/mob/human_races/cyberlimbs/unbranded/unbranded_main.dmi
  icons/mob/human_races/cyberlimbs/unbranded/unbranded_taj.dmi
  icons/mob/human_races/cyberlimbs/unbranded/unbranded_unathi.dmi
  icons/mob/human_races/cyberlimbs/veymed/veymed_main.dmi
  icons/mob/human_races/cyberlimbs/wardtakahashi/wardtakahashi_alt.dmi
  icons/mob/human_races/cyberlimbs/wardtakahashi/wardtakahashi_main.dmi
  icons/mob/human_races/cyberlimbs/wardtakahashi/wardtakahashi_monitor.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_main.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_monitor.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_main.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_taj.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/robotic.dmi
Labels: 🔨 рефакторинг, :wrench: фикс, :mechanical_arm: FBP, :scroll: Есть CL

#9311 fix(radio): Runtime in game.dm,216: Cannot execute null.can hear radio().
  code/_helpers/game.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#9054 feat(wizard): reworked Blood Shard skill
  baystation12.dme
  code/__defines/colors.dm
  code/datums/uplink/deity/form_specific/narsie/basic.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/spells/classes/warlock.dm
  code/modules/spells/general/blood_shards.dm
  code/modules/spells/hand/blood_shards.dm
  code/modules/spells/targeted/harvest.dm
  icons/mob/mob.dmi
  icons/mob/screen_spells.dmi
  icons/obj/projectiles.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🧙‍♂️ режим: маг, :scroll: Есть CL

#9239 fix(wizard): fixed teleport recharge, teleport familiar, goat ability
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/spells/artifacts/monster_manual.dm
  code/modules/spells/general/area_teleport.dm
Labels: 🧙‍♂️ режим: маг, :wrench: фикс, :scroll: Есть CL

#9469 feat(sounds): add footsteps to every turf
  baystation12.dme
  code/__defines/footsteps.dm
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/datums/robot_hulls.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_static.dm
  code/game/turfs/simulated/footsteps.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated/frozenground.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, 🔊 SFX, :scroll: Есть CL

#9352 fix(xenoarcheaology) sus gen
  code/modules/xenoarcheaology/tools/suspension_generator.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9496 fix(map): replaces exoplanet floor with asteroid
  maps/derelicts/construction_site/construction_site.dmm
  maps/example/clown_shuttle.dmm
Labels: :wrench: фикс, :scroll: CL не требуется

#9497 fix(runechat): add client's existential crisis check
  code/datums/chatmessage.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9468 Tweak(Fix Punk's jackets): Fix Jacket's for space Punk's
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#9433 fix(window_frame): added ability to reinforce & repair glasspanes with silicate
  code/game/objects/structures/window_frame.dm
  code/modules/reagents/Chemistry-Reagents/other.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9312 tweak(mod_list): add option to remove nulls
  code/modules/admin/verbs/modifyvariables.dm
Labels: 🔩 улучшение, :gear: кнопки, :scroll: Есть CL

#9512 Removes 3/4 perspective from kitchen
  icons/obj/cooking_machines.dmi
  icons/obj/kitchen.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9521 fix(runtime): fix runtime with zero thinking time
  code/datums/datum.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9520 tweak(map): polar-3-fixes-&-improvements
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar_areas.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL, :snowflake: Полярка

#9502 fix(windowframe): adds extra check to pervent runtimes
  code/modules/reagents/Chemistry-Reagents/other.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9543 Tweak(icons on hands): New icons for laptop and portableFreezer.
  code/game/objects/items/storage/boxes.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#9530 fix(biodome): small barell fix
  code/game/objects/structures/barrel.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9539 fix(text): fix abductor's role text
  code/game/antagonist/outsider/abductor/abductor.dm
Labels: :wrench: фикс, :scroll: Есть CL, :alien: режим: похитители

#9544 Removes drop-related bugs
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/storage/specialized.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/janicart.dm
  code/modules/assembly/holder.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#9547 Removes grippers' inability to interact w/ some thingies
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/recycling/disposal.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: CL не требуется

#9551 Removes radcollectors' refusal to eat tanks
  code/modules/power/singularity/collector.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9519 add(hepipe): added wall radiator
  code/__defines/atmospherics.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/modules/atmospherics/_atmos_setup.dm
  code/modules/atmospherics/he_pipes.dm
  icons/atmos/wall_radiator.dmi
  icons/atmos/wall_radiator_junction_left.dmi
  icons/atmos/wall_radiator_junction_right.dmi
  icons/obj/pipe-item.dmi
Labels: 🔩 улучшение, :scroll: CL не требуется
