Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-08, with the labels that each got.

#9073 fix(living): fixed going beyond the maxHealth limit
  code/modules/mob/living/living.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9095 fix(map): replace newlist by list
  maps/derelicts/jungleplanet/jungle_planet.dmm
  maps/derelicts/snow_asteroid/snowasteroid.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-2.dmm
  maps/genesis/genesis-3.dmm
  maps/genesis/genesis-4.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-2.dmm
  maps/sunset/sunset-3.dmm
  maps/sunset/sunset-4.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#9089 tweak(polar): polar overhaul
  baystation12.dme
  code/__defines/mapping.dm
  code/datums/components/polar_weather.dm
  code/datums/components/train_auto.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/maps/space_level.dm
  code/modules/mob/living/simple_animal/hostile/bluespace_thing.dm
  icons/mob/animal.dmi
  icons/obj/train_display.dmi
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar-5.dmm
  maps/polar/polar_areas.dm
  maps/polar/polar_decals.dm
  maps/polar/polar_levels.dm
  maps/~mapsystem/maps.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, :wrench: фикс, :scroll: Есть CL, :snowflake: Полярка, 🧪 потестим в проде

#9112 opt(atmos): remove useless proc
  code/modules/atmospherics/datum_pipe_network.dm
Labels: 🔧 оптимизация, 💨 атмос, :scroll: CL не требуется, 🧪 потестим в проде

#9113 tweak(polar): map tweaks and fixes
  icons/turf/areas.dmi
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar-5.dmm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#9163 Bunch of polar map improvments
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: Есть CL, :snowflake: Полярка

#9182 Polar fixes
  code/game/machinery/doors/unpowered.dm
  code/game/objects/structures/snowbike.dm
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, :snowflake: Полярка

#9167 Lets think
  README.md
  baystation12.dme
  code/__defines/chemistry.dm
  code/__defines/subsystem-priority.dm
  code/__defines/think.dm
  code/_helpers/global_access.dm
  code/controllers/autotransfer.dm
  code/controllers/subsystems/processing/fast_process.dm
  code/controllers/subsystems/processing/think.dm
  code/datums/components/polar_weather.dm
  code/datums/components/train_auto.dm
  code/datums/datum.dm
  code/datums/think_context.dm
  code/game/gamemodes/changeling/changeling_datum.dm
  code/game/gamemodes/changeling/changeling_power.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/noose.dm
  code/game/objects/structures/blob/blob.dm
  code/modules/atmospherics/datum_pipeline.dm
  code/modules/integrated_electronics/subtypes/time.dm
  code/modules/mining/mine_items.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/spells/targeted/mind_control.dm
  code/modules/turbolift/turbolift.dm
  code/modules/xenoarcheaology/finds/talking.dm
  docs/thinking.md
Labels: 🔩 улучшение, 🔧 оптимизация, 🔨 рефакторинг, :scroll: CL не требуется

#9207 генокрад (думает)
  code/game/gamemodes/changeling/changeling_datum.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL, 🧪 потестим в проде

#8548 feat(nuke-uplink): add limitka to nuke uplink
  code/datums/uplink/categories/grenades.dm
Labels: 🌌геймдизайн, 🔵 одобрено, 🔫 режим: предатель, :scroll: Есть CL

#9098 feat(maps): a bunch of oneline fixes
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/supermatter.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, ⛏️ Фронтир

#8520 feat(buildable vendomats): adds ability to construct & deconstruct vending machines
  baystation12.dme
  code/__defines/machinery.dm
  code/datums/wires/vending.dm
  code/game/machinery/machinery.dm
  code/game/machinery/vending/BODA.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/actors.dm
  code/game/machinery/vending/assist.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cart.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coat.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/hydro.dm
  code/game/machinery/vending/kitchen.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/plasmaresearch.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/vending_cartridge.dm
  code/game/machinery/vending/wayfinding.dm
  code/game/machinery/vending/wizard.dm
  code/game/machinery/vending_frame.dm
  code/game/machinery/wayfinding.dm
  code/modules/materials/material_recipes.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#8825 tweak(zombie): meeting the needs of the community
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/living_powers.dm
  code/modules/mob/transform_procs.dm
  code/modules/organs/organ.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9235 fix(mmi): fixed brain insertion, mmi desc and sprite
  code/modules/mob/living/carbon/brain/MMI.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9229 fix(borer): fixed human's forced emotes with damaged brain
  code/modules/mob/living/simple_animal/borer/borer.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🗨️ чат, 🤯 режим: борер

#9212 fix(mob): fixed devour and moving of mob into holder
  code/modules/mob/holder.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9153 Мобы без сикея теперь процессятся в крио и шкафах
  code/controllers/subsystems/processing/mobs.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9053 Поправил защиту от гипноза очками СБ и солнечными
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🧛 режим: вампир, :scroll: Есть CL

#9253 fix(supply): fixed tags in summary print
  code/modules/modular_computers/file_system/programs/generic/supply.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9260 opt(processing): optimize tanks processing
  code/game/objects/items/tanks/tanks.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: 🔧 оптимизация, :scroll: CL не требуется, 🧪 потестим в проде

#9256 fix(chemistry): now ChemMaster opens bottles
  code/modules/reagents/Chemistry-Machinery.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🧪 Chemistry

#9230 fix(borer): added check of head into leave_host()
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🤯 режим: борер

#9211 fix(xenomorphs): fixed recursion of facehugger's facefuck()
  code/modules/mob/living/simple_animal/hostile/facehugger.dm
Labels: 🔨 рефакторинг, :wrench: фикс, 🐍 ксеноморфы, :scroll: Есть CL

#8751 feat(loadout): adds kneepad color options
  code/modules/client/preference_setup/loadout/lists/security.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9123 tweak(wizard): add restriction to use abilities and item from ethereal jaunt form
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob_movement.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9078 fix(wizard): fixed custom messages output when upgrading mage skills
  code/modules/spells/spellbook.dm
Labels: :scroll: CL не требуется

#9271 fix(vending): bunch of vending fixes
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coat.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/hydro.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/wayfinding.dm
  code/game/machinery/vending/wizard.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9270 fix(death): death has returned
  code/__defines/think.dm
  code/game/antagonist/outsider/abductor/equipment/gland.dm
  code/game/gamemodes/changeling/biostructure.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/life.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/diona.dm
  code/modules/organs/external/xenos.dm
  code/modules/organs/internal/appendix.dm
  code/modules/organs/internal/borer.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/internal/machine.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/organ.dm
  code/modules/organs/subtypes/nabber_organ.dm
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9286 fix(tanks): fix gauge indicator does not updates
  code/game/objects/items/tanks/tanks.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9278 fix(facehugger): fixed impregnate() with FBP
  code/modules/mob/living/simple_animal/hostile/facehugger.dm
Labels: :wrench: фикс, :mechanical_arm: FBP, 🐍 ксеноморфы, :scroll: Есть CL

#9282 fix(cyborg): fix materials recharing
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: :wrench: фикс, :scroll: Есть CL
