Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-01, with the labels that each got.

#7340 Removes absence of lawyers
  code/datums/outfits/jobs/civilian.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cult_god.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  code/game/antagonist/station/vampire.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/security.dm
  code/game/objects/effects/landmarks/jobs.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/paperwork/faxmachine.dm
  icons/misc/landmarks.dmi
  icons/obj/pda.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus_areas.dm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, 🔵нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#7343 Removes lack of printed violence
  code/modules/library/lib_items.dm
  code/modules/library/manuals.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, ⚔️ боёвка, :scroll: Есть CL

#7345 Removes lack of sorted vending machine dms
  baystation12.dme
  code/game/machinery/vending.dm
  code/game/machinery/vending/BODA.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/actors.dm
  code/game/machinery/vending/assist.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cart.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/hydro.dm
  code/game/machinery/vending/kitchen.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/plasmaresearch.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/wizard.dm
  icons/obj/vending.dmi
Labels: 🌌геймдизайн, 🔨 рефакторинг, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7324 Removes old bioelecrogenesis and adds a new one
  code/_onclick/click.dm
  code/game/gamemodes/changeling/evolution_menu.dm
  code/game/gamemodes/changeling/powers/EMP.dm
  code/game/gamemodes/changeling/powers/detach_limb.dm
  code/game/gamemodes/changeling/powers/disjunction.dm
  code/game/gamemodes/changeling/powers/unstun.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :dna: режим: генокрад, :scroll: Есть CL

#7311 Убрал интент ходьбы когда тебя грабают
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, ⚔️ боёвка, :scroll: Есть CL

#7376 Фикс вендингов
  code/datums/vending/stored_item.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7350 tweak(config): add schema for custom_sprites.json
  .gitignore
  code/modules/mob/living/silicon/custom_sprites.dm
  config/example/custom_sprites.json
  config/schema/custom_sprites.schema.json
Labels: 🔩 улучшение, 🔨 рефакторинг, 📄 конфиг, :scroll: CL не требуется

#7336 fix(grab): now kill grab does not reverse ppl
  code/datums/movement/mob.dm
  code/modules/mob/grab/grab_datum.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/grab/nab/nab_passive.dm
  code/modules/mob/grab/normal/norm_aggressive.dm
  code/modules/mob/grab/normal/norm_kill.dm
  code/modules/mob/grab/normal/norm_neck.dm
  code/modules/mob/grab/normal/norm_passive.dm
  code/modules/mob/grab/normal/norm_struggle.dm
Labels: :scroll: Есть CL

#7339 Removes brains' inability to pilote exosuits
  code/game/mecha/combat/combat.dm
  code/game/mecha/mecha.dm
Labels: 🔩 улучшение, 🔵нужны ревью, :scroll: Есть CL

#7421 fix(paper,nanoword) fixed table css
  code/_helpers/text.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/paperwork/paper.dm
  nano/css/shared.css
Labels: :iphone: UX/UI, :wrench: фикс, :scroll: Есть CL

#7394 Removes bats supremacy
  code/game/objects/items/material/twohanded.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, ⚔️ боёвка, :scroll: Есть CL

#7298 add(preferences): add pray sound preference
  code/datums/communication/pray.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: 🔩 улучшение, :gear: кнопки, :scroll: Есть CL

#7323 fix(tgchat): fix z-index of restart notification
  tgui/packages/tgui-panel/Panel.js
  tgui/public/tgui-panel.bundle.js
Labels: :iphone: UX/UI, :wrench: фикс, :scroll: CL не требуется, 💬 TGChat

#7393 Removes .44 M2019, adds .38 M2019
  code/datums/supplypacks/security.dm
  code/game/objects/items/storage/secure.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/special.dm
  icons/obj/ammo.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#7431 Removes yet another changeling bugs batch
  code/game/gamemodes/changeling/biostructure.dm
  code/game/gamemodes/changeling/helpcode/mobs.dm
  code/game/gamemodes/changeling/powers/no_pain.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#7432 Removes changeling's inability to divide into unconscious people
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cult_god.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/changeling/powers/division.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#7409 feat(map): backpack gear & derelicts for frontier
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/frontier/frontier_define.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, 🔵нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#7408 tweak(grab): add forgotten return
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#7382 Ионный шторм, но законы куда-то пропадают
  code/modules/events/ion_storm.dm
  code/modules/mob/living/silicon/ai/laws.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 📺 ИИ|Борги, :scroll: Есть CL

#7439 Время выдачи роли сторителлером в конце раунда
  code/datums/mind.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_print.dm
Labels: 🔩 улучшение, :game_die: сторителлер, :scroll: Есть CL

#7437 tweak(Character setup): Changing method of hair style input. From text to album.
  baystation12.dme
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/general/04_hair.dm
  code/modules/client/preference_setup/general/05_equipment.dm
  code/modules/client/preference_setup/general/06_background.dm
  code/modules/client/preference_setup/general/07_flavor.dm
Labels: 🔩 улучшение, :scroll: Есть CL, 🧻 QoL

#7448 imageadd(surgery)
  code/game/objects/items/bodybag.dm
  code/game/objects/items/cryobag.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🌌геймдизайн, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7460 Removes wingrilles, implements advanced fulltile windows
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  code/modules/assembly/signaler.dm
  code/modules/materials/materials.dm
  icons/obj/doors/doorhazard.dmi
  icons/obj/materials.dmi
  icons/obj/structures.dmi
  maps/exodus/derelicts/bearcat/bearcat-1.dmm
  maps/exodus/derelicts/bearcat/bearcat-2.dmm
  maps/exodus/derelicts/jungleplanet/jungle_planet.dmm
  maps/exodus/derelicts/original/derelict.dmm
  maps/exodus/derelicts/snowasteroid.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/exodus/exodus-5.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/frontier/frontier-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#7446 tweak(forensics_fiber_id)
  code/modules/clothing/clothing.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#7459 fix(paperwork): fixed paper show
  code/modules/paperwork/paper.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7444 tweak(no-silicon-buckling)
  code/game/objects/buckling.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 📺 ИИ|Борги, :scroll: Есть CL

#7438 Removes two holders-related bugs
  code/modules/mob/holder.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#6739 Запрет на открытие дверей симплмобами
  code/game/jobs/access.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#7473 Removes absence of Windows Day One Patch
  code/__defines/flags.dm
  code/_onclick/adjacent.dm
  code/game/machinery/buttons.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/oxygen_pump.dm
  code/game/machinery/recharger.dm
  code/game/machinery/status_display_ai.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/watercloset.dm
  code/game/objects/structures/window_frame.dm
  code/modules/economy/ATM.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/power/apc.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/structures.dmi
  maps/exodus/exodus-1.dmm
Labels: :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#7470 Removes destructive ghostapsy
  code/game/objects/items/weapons/autopsy.dm
  code/modules/hydroponics/trays/tray_tools.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7482 tweak(trade): remove access from mecha
  code/datums/trading/trade.dm
  code/game/atoms_movable.dm
  code/game/mecha/mecha.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7490 fix(icons): fix icons location
  code/game/objects/items/weapons/weaponry.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  code/modules/projectiles/guns/launcher/slugsling.dm
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7484 Removes lack of fulltiles' sanity
  code/_onclick/adjacent.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/simulated/floor_acts.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/turf.dm
  icons/obj/structures.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, :wrench: фикс, :scroll: Есть CL

#7483 feat(map): frontier new year cleanup
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, 🔵нужны ревью, :scroll: Есть CL, ⛏️ Фронтир

#7477 Removes lack of cables in bar, fixes decals in atmos
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL
