Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-05, with the labels that each got.

#8151 Removes my will to live
  code/game/machinery/cryopod.dm
  code/game/turfs/simulated/footsteps.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8113 refact(rcd): rewrite all the code, add radial menu
  baystation12.dme
  code/game/objects/items/weapons/RCD.dm
  code/game/turfs/simulated/floor.dm
  code/modules/rcd/ammo.dm
  code/modules/rcd/rcd.dm
  code/modules/rcd/work_modes.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, :iphone: UX/UI, :scroll: Есть CL

#8153 add(map): add sensor array map
  baystation12.dme
  icons/turf/areas.dmi
  maps/exodus/derelicts/sensor_array/sensor_array.dm
  maps/exodus/derelicts/sensor_array/sensor_array.dmm
  maps/exodus/exodus.dm
  maps/exodus/exodus_define.dm
  maps/exodus/frontier/frontier_define.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: Есть CL

#8176 Матьное
  maps/exodus/sunset/sunset-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, ☀️ Сансет

#8167 adding(map): Polar Station
  baystation12.dme
  code/game/machinery/doors/airlock_presets.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/vending/coat.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/snow.dm
  code/game/objects/structures/snowbike.dm
  code/game/turfs/flooring/flooring_premade.dm
  icons/obj/catwalks.dmi
  icons/obj/doors/doorextsnow.dmi
  icons/obj/doors/rapid_pdoor.dmi
  icons/obj/snow2.dmi
  icons/obj/vehicles.dmi
  icons/turf/flooring/frozenground.dmi
  icons/turf/ice.dmi
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar-5.dmm
  maps/polar/polar-6.dmm
  maps/polar/polar_areas.dm
  maps/polar/polar_define.dm
  maps/polar/polar_shuttles.dm
  sound/items/snow_shoveling.ogg
Labels: 🗺️ карта, 🔩 улучшение, :scroll: Есть CL, :beers: ржомба, :snowflake: Полярка

#8179 fix(comms): fix comms
  code/datums/communication/channel.dm
  code/game/world.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8180 tweak(config): change enter_allowed
  config/example/config.toml
Labels: 🔩 улучшение, :scroll: CL не требуется

#8174 fix(VP78 Tactical) desc fix
  code/modules/projectiles/guns/projectile/pistol.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8172 fix(mateba) added desc
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8154 log(robotic chat)
  code/modules/mob/language/synthetic.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8184 fix(events): fix events delay
  code/datums/configuration/random_events_section.dm
Labels: :wrench: фикс, :scroll: Есть CL, :beers: ржомба

#8190 tweak(maps): load at runtime, remove helltier, move derelicts
  baystation12.dme
  maps/derelicts/bearcat/bearcat-1.dmm
  maps/derelicts/bearcat/bearcat-2.dmm
  maps/derelicts/bearcat/bearcat.dm
  maps/derelicts/bearcat/bearcat_areas.dm
  maps/derelicts/jungleplanet/jungle_planet.dmm
  maps/derelicts/jungleplanet/jungleplanet_areas.dm
  maps/derelicts/old_restaurant/old_restaurant.dm
  maps/derelicts/old_restaurant/old_restaurant.dmm
  maps/derelicts/original/derelict.dmm
  maps/derelicts/original/derelict_areas.dm
  maps/derelicts/sensor_array/sensor_array.dm
  maps/derelicts/sensor_array/sensor_array.dmm
  maps/derelicts/snowasteroid.dmm
  maps/exodus/dynamic/null-1.dmm
  maps/exodus/dynamic/null-2.dmm
  maps/exodus/dynamic/null-3.dmm
  maps/exodus/dynamic/null-6.dmm
  maps/exodus/exodus.dm
  maps/exodus/exodus_define.dm
  maps/exodus/frontier-SCP/frontier-SCP-2.dmm
  maps/exodus/frontier-SCP/frontier-SCP_define.dm
  maps/exodus/frontier/frontier-2.dmm
  maps/exodus/frontier/frontier_define.dm
  maps/exodus/genesis/genesis-4.dmm
  maps/exodus/genesis/genesis_define.dm
  maps/exodus/helltier2021/helltier-1.dmm
  maps/exodus/helltier2021/helltier-3.dmm
  maps/exodus/helltier2021/helltier_areas.dm
  maps/exodus/helltier2021/helltier_define.dm
  maps/exodus/sunset/sunset_define.dm
  maps/null-frozen.dmm
  maps/null-space.dmm
  maps/polar/polar_define.dm
  maps/~mapsystem/maps.dm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: CL не требуется

#8192 fix(game_modes): fix game modes in admin panel
  code/datums/configuration/server_configuration.dm
  code/modules/admin/topic.dm
Labels: :wrench: фикс, :gear: кнопки, :scroll: Есть CL, :beer: ржака

#8182 fix(console): fix ghost interaction
  maps/derelicts/sensor_array/sensor_array.dm
Labels: :wrench: фикс, :scroll: CL не требуется, :beer: ржака

#8178 add(map): add science ship derelict map
  baystation12.dme
  icons/turf/areas.dmi
  maps/derelicts/science_ship/science_ship-1.dmm
  maps/derelicts/science_ship/science_ship-2.dmm
  maps/derelicts/science_ship/science_ship.dm
  maps/exodus/exodus_define.dm
  maps/exodus/frontier/frontier_define.dm
  maps/exodus/sunset/sunset_define.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: Есть CL

#8194 feat(shuttles): shuttles can now be specified per map
  code/controllers/subsystems/shuttle.dm
  maps/example/example_define.dm
  maps/exodus/exodus_define.dm
  maps/polar/polar_define.dm
  maps/~mapsystem/maps.dm
Labels: 🔩 улучшение, :scroll: CL не требуется

#8119 fix(ntnrc_client): channel deletion fix
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
Labels: :scroll: Есть CL

#8100 fix(cryo): Feeling of cold notice
  code/game/machinery/cryo.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8051 fix(borer): fixed the borer language
  code/game/antagonist/alien/borer.dm
  code/modules/mob/living/simple_animal/borer/say.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🤯 режим: борер

#8200 fix(angles): fix shuttle angles
  code/game/turfs/simulated/wall_shuttle.dm
Labels: :wrench: фикс, 🥇 Chicken Dinner, :scroll: Есть CL, :beers: ржомба

#8204 fix(asteroid): fix asteroid generation
  maps/exodus/exodus_define.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, :beer: ржака

#8206 fix(antags): fix antag objectives
  code/datums/configuration/gamemode_section.dm
  code/game/antagonist/alien/xenomorph.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/antagonist_objectives.dm
  code/game/antagonist/outsider/raider.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/nuclear/nuclear.dm
  config/example/config.toml
Labels: 📄 конфиг, :wrench: фикс, :scroll: CL не требуется, :beers: ржомба

#8228 breakout_time = 45
  code/game/antagonist/outsider/abductor/machinery/experiment.dm
Labels: :scroll: Есть CL

#8215 fix(pods): fix pods controller
  code/modules/shuttles/escape_pods.dm
Labels: :wrench: фикс, :scroll: Есть CL, :beer: ржака

#8212 fix(robot-examine)
  code/modules/mob/living/silicon/robot/examine.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#8126 tweak(cryopod): Cryogenic freezers are not designed to store bodies
  code/game/machinery/cryopod.dm
Labels: 🌌геймдизайн, 🔵одобрено, :scroll: Есть CL

#8232 Removes borgs' ability to remotely kick vendors
  code/game/machinery/vending/_vending.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#8233 Removes inability to cancel fake update announcement
  code/datums/uplink/categories/services.dm
Labels: :wrench: фикс, 🔫 режим: предатель, :scroll: Есть CL

#8235 Removes the weird things loadout loves to do (probably)
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8236 Removes absence of shield generators' mode toggling cooldown
  code/modules/shield_generators/shield_generator.dm
Labels: 🔧 оптимизация, :scroll: CL не требуется

#8234 Removes roundstart starving fatties and bursting slims
  code/modules/client/preferences.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8170 refactoring(add_to_loadout): Add tea, coffee, etc. in character create loadout [vacuum/flask]
  code/modules/reagents/reagent_containers/food/lunch.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#8173 Change rules of the game
  docs/contributing.md
Labels: 🔩 улучшение, :scroll: CL не требуется, :beer: ржака, :beers: ржомба

#8191 bugfix(beepsky_arrest_message) Deleted <em> & </em>
  code/modules/mob/living/bot/secbot.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🗨️ чат

#8197 rscadd(diona) added sound, when diona eat weeds.
  code/modules/hydroponics/trays/tray.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🔊 SFX, :scroll: Есть CL

#8208 tweak(map): add some decals to science ship
  maps/derelicts/science_ship/science_ship-1.dmm
  maps/derelicts/science_ship/science_ship-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, :scroll: CL не требуется

#8214 bugfix(medbay_toilet_airlocks) Frontier,Genesis,Exodus fix
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier-SCP/frontier-SCP-1.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/genesis/genesis-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#8219 пытаемся понять чё за цифры в чате
  code/modules/tgchat/to_chat.dm
Labels: wtf, :scroll: CL не требуется, :beers: ржомба

#8139 fix(wall_attacks): Dup of rods through disassembly of walls
  code/game/turfs/simulated/wall_attacks.dm
Labels: :wrench: фикс, :scroll: Есть CL

#6583 fix(metroid): metroid's attack_hand() now picks mob's unarmed attack
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/xenobiological/life.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8247 Removes absence of dynamic smokables
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/items/smokables/rolling.dm
  code/game/objects/items/smokables/smokables.dm
  icons/obj/cigarettes.dmi
  icons/obj/clothing/masks.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#8254 fix(asteroid gen) fixed Genesis asteroid generation
  maps/exodus/genesis/genesis_define.dm
Labels: :wrench: фикс, :scroll: Есть CL, :beers: ржомба

#8218 feat(admin): add follow panel
  baystation12.dme
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/follow_panel.dm
  code/modules/admin/holder2.dm
  tgui/packages/tgui/interfaces/FollowPanel.tsx
  tgui/packages/tgui/styles/themes/neutral.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :gear: кнопки, :scroll: Есть CL

#8136 bugfix(girder assemblies&lift) Lift tweaks and remove girder assemblies ability to be placed in air
  code/game/objects/items/stacks/assemblies.dm
  code/modules/multiz/industrial_lift/industrial_lift.dm
Labels: :wrench: фикс, :scroll: Есть CL, :beers: ржомба

#8171 refactoring(pipes): Add puffs from active hand to pipes, like a cigare/tes
  code/game/objects/items/smokables/pipes.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#8277 fix(example map): undefined var from exodus defines
  code/game/machinery/camera/presets.dm
  maps/exodus/exodus_presets.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#8097 Призракодвигательное
  code/game/gamemodes/cult/ghosts.dm
Labels: :wrench: фикс, 🩸 режим: культ, :scroll: Есть CL

#8096 Обжективно-убивательное
  code/game/gamemodes/objective.dm
Labels: 📝 необходимо тестирование, :wrench: фикс, 🔫 режим: предатель, :scroll: Есть CL

#8156 fix(handboom)
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/mob/inventory.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8202 Polar fixes
  baystation12.dme
  code/game/objects/effects/decals/warning_stripes.dm
  code/game/objects/structures/catwalk.dm
  code/game/objects/structures/snow.dm
  code/modules/shuttles/antagonist.dm
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar-5.dmm
  maps/polar/polar_areas.dm
  maps/polar/polar_define.dm
  maps/polar/polar_shuttles.dm
Labels: 🗺️ карта, :wrench: фикс, :beers: ржомба

#8282 Removes organ-damage-related cringe from the config
  code/datums/configuration/health_section.dm
  code/game/objects/structures/watercloset.dm
  config/example/config.toml
Labels: 📄 конфиг, :wrench: фикс, :scroll: CL не требуется

#8283 Removes absence of molotov rag underlays and fixes assorted stuff
  code/datums/components/label.dm
  code/modules/reagents/reagent_containers/vessel/_vessel.dm
  code/modules/reagents/reagent_containers/vessel/bottle.dm
  code/modules/reagents/reagent_containers/vessel/presets/bottle.dm
  code/modules/reagents/reagent_containers/vessel/presets/chemical.dm
  icons/obj/cigarettes.dmi
  icons/obj/reagent_containers/bottles.dmi
  icons/obj/reagent_containers/chemical.dmi
  sound/effects/cork.ogg
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#8288 Фоловельная
  tgui/packages/tgui/interfaces/FollowPanel.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL

#8304 Removes a batch of runtimes, fixes zshadows
  baystation12.dme
  code/controllers/subsystems/processing/conductor.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/grenades/flashbang.dm
  code/game/objects/items/material/ashtray.dm
  code/game/objects/items/smokables/smokables.dm
  code/modules/multiz/zshadow.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/external/vox.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/machine.dm
  code/modules/organs/internal/vox.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8305 Removes cannabis OPness :-(
  code/modules/hydroponics/seed_datums.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8303 Removes absence of Aloe icon and wrong beer bottle item state
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
  code/modules/reagents/reagent_containers/vessel/presets/bottle.dm
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#8314 Removes absence of flour bag icon state, fixes another nasty runtime
  code/modules/client/ui_style.dm
  code/modules/reagents/reagent_containers/vessel/condiment.dm
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#8291 Fix null reference
  code/modules/admin/follow_panel.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8320 Removes catwalk and mixer runtimes
  code/game/objects/structures/catwalk.dm
  code/modules/atmospherics/components/omni_devices/mixer.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8319 tweak(decals.dmi): Out of Service decals
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#8318 Removes normal chem bottles' extra storage cost
  code/modules/reagents/reagent_containers/vessel/bottle.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8292 Genesis: Add telecomms, fix asteroid generation
  maps/exodus/genesis/genesis_define.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, :beer: ржака

#8336 fix pizdec
  code/game/area/Space Station 13 areas.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/resleever.dm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/detectivework/microscope/dnascanner.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/music_player/_music_player.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  maps/polar/polar_areas.dm
Labels: wtf, :wrench: фикс, :scroll: CL не требуется, :beers: ржомба

#8337 Removes absence of fancy borg/AI character preview
  code/controllers/subsystems/atoms.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/robots.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 📺 ИИ|Борги, :scroll: Есть CL

#8354 Removes absence of dynamic painkiller effect on-HUD representation
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/_external_icons.dm
  icons/mob/screen/midnight.dmi
  icons/mob/screen/minimalist.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, :scroll: Есть CL

#8362 Rvrvrvrvrvert contribs
  docs/contributing.md
Labels: 🔵нужны ревью, 🛠 Инструменты, :scroll: CL не требуется, :beers: ржомба

#8377 fix(weaher): create polar weather only when using the polar map
  maps/polar/polar_define.dm
Labels: :wrench: фикс, :scroll: CL не требуется, :beers: ржомба

#8376 Removes lack of pain code refactoring
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/organs/pain.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, 💉 медицина, :wrench: фикс, ⚔️ боёвка, :scroll: CL не требуется

#8380 tweak(admin): add logging for hub visibility switcher
  code/modules/admin/admin.dm
  code/modules/mob/logout.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: CL не требуется

#8381 Учим говорить галактик коммон за ММИ робота
  code/modules/mob/living/carbon/brain/MMI.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#8389 fix(polar): fix lags when entering street area
  maps/polar/polar_areas.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: CL не требуется, :beer: ржака

#8383 tweak(callproc): now you manually enter type
  code/modules/admin/callproc/callproc.dm
Labels: 🔩 улучшение, :gear: кнопки, :scroll: Есть CL

#8382 feat(map): add day/night cycle for polar map
  code/__defines/mapping.dm
  code/datums/components/polar_weather.dm
  maps/polar/polar_levels.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#8335 tweak(ticker): add as-soon-as-possible launch option
  code/controllers/subsystems/ticker.dm
  code/modules/admin/admin.dm
Labels: 🔩 улучшение, :gear: кнопки, :scroll: Есть CL

#8327 fix(examine): correct examine restrained people with tape
  code/modules/mob/living/carbon/human/examine.dm
Labels: :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#8311 bugfix(Vamp) Glare now chech victim eyeflash_protection
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: :wrench: фикс, 🔵нужны ревью, 🧛 режим: вампир, :scroll: Есть CL

#8396 fix(asteroid): fix asteroid generaiton
  maps/~mapsystem/maps.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, :beers: ржомба

#8406 полярка ебать
  icons/obj/doors/rapid_pdoor.dmi
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, :snowflake: Полярка

#8417 tweak(genesis): now block xenos from jobs
  maps/genesis/genesis_define.dm
Labels: :scroll: Есть CL

#8413 tweak(admin): fix runtime on server startup
  code/modules/admin/admin.dm
Labels: :scroll: CL не требуется

#8418 fix(genesis): fix missing landmarks
  maps/genesis/genesis-3.dmm
  maps/genesis/genesis_levels.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#8411 fix(signaler): signaler works inside assemble
  code/modules/assembly/signaler.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
Labels: 🌌геймдизайн, 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#8407 fix(console): fix security camera map
  code/modules/nano/nanoui.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8422 fix(genesis): add missing bomb
  maps/genesis/genesis-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, :beer: ржака

#8427 fix(genesis): add void suits and rig for nukers
  maps/genesis/genesis-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, 💣 режим: нюка

#8426 fix(console): add missing camera networks
  code/__defines/machinery.dm
  code/game/machinery/camera/presets.dm
  maps/exodus/exodus.dm
  maps/exodus/exodus_define.dm
  maps/exodus/exodus_presets.dm
  maps/frontier/frontier_define.dm
  maps/genesis/genesis_define.dm
  maps/polar/polar_define.dm
  maps/sunset/sunset_define.dm
  maps/~mapsystem/maps.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#8420 map(polar): remove pipe n wire madness
  maps/polar/polar-1.dmm
  maps/polar/polar-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, :snowflake: Полярка

#8430 fix(maps): fix species restricts
  maps/genesis/genesis_define.dm
  maps/~mapsystem/maps_jobs.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#8440 Crew monitoring console fix
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
Labels: :wrench: фикс, :scroll: Есть CL

#8367 refact(lipstick): non-hardcoded lipstick colors, dynamic layering
  code/game/objects/items/weapons/cosmetics.dm
  code/modules/organs/external/head.dm
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/r_skrell.dmi
  icons/mob/human_races/r_tajaran.dmi
  icons/obj/items.dmi
Labels: 🔩 улучшение, 🔨 рефакторинг, 🎨 спрайты, :scroll: Есть CL

#8438 tweak(polar): extend map and cargo rework
  code/__defines/machinery.dm
  code/game/machinery/camera/presets.dm
  code/modules/modular_computers/file_system/programs/generic/camera.dm
  icons/turf/areas.dmi
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar_areas.dm
  maps/polar/polar_define.dm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: CL не требуется, :snowflake: Полярка

#8443 Removes lack of antag indicators' past glory
  code/game/antagonist/antagonist_factions.dm
  code/game/antagonist/antagonist_update.dm
  code/game/antagonist/station/revolutionary.dm
Labels: :wrench: фикс, ✊ режим: революция, :scroll: Есть CL, ඞ антагонисты

#8454 Removes accordionish height changing when laying down
  code/_helpers/global_access.dm
  code/_helpers/global_lists.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/modifier/helpers.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: CL не требуется

#8455 Removes some odd lighting behavior
  code/__defines/lighting.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/lighting/lighting_source.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8468 fixed(vessel): fixed sprite update of paper cup
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  icons/obj/reagent_containers/vessels.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#8456 Polar try hard
  baystation12.dme
  code/__defines/ces/signal_shuttle.dm
  code/__defines/ces/signals_tram.dm
  code/controllers/subsystems/processing/tramprocess.dm
  code/datums/components/train_auto.dm
  code/game/machinery/computer/tram_controls.dm
  code/game/objects/structures/rails.dm
  code/modules/multiz/industrial_lift/industrial_lift.dm
  code/modules/shuttles/shuttle_autodock.dm
  icons/effects/train_motion.dmi
  icons/obj/train_display.dmi
  icons/turf/flooring/tiles.dmi
  maps/exodus/exodus_shuttles.dm
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar-5.dmm
  maps/polar/polar_areas.dm
  maps/polar/polar_decals.dm
  maps/polar/polar_define.dm
  maps/polar/polar_shuttles.dm
  maps/polar/polar_turfs.dm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: CL не требуется, :snowflake: Полярка

#8384 tweak(potassium_chlorophoride): now works in food
  code/modules/reagents/Chemistry-Reagents/toxins.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#8404 tweak(lethal syringe): use potassium_chlorophoride instead of chloral
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL, 🧪 Chemistry

#8477 fix(cult): fixes nar-sie structure spam
  code/game/gamemodes/cult/narsie.dm
Labels: :wrench: фикс, 🩸 режим: культ, :scroll: Есть CL

#8295 fix(music_tapes):bunch of 0-day fixes
  code/game/machinery/jukebox.dm
  code/game/objects/items/storage/specialized.dm
  code/game/objects/random/random.dm
  code/modules/music_player/_music_tape.dm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-2.dmm
  maps/genesis/genesis-3.dmm
  maps/sunset/sunset-2.dmm
  maps/sunset/sunset-4.dmm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#8435 added shuttle_control/multi/merchant to the merchant station
  maps/exodus/exodus-4.dmm
  maps/frontier-SCP/frontier-SCP-2.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-3.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL

#8478 fix(art-library): fixes image display
  code/modules/modular_computers/file_system/programs/generic/artlibrary.dm
Labels: :wrench: фикс, :scroll: Есть CL, Ручная сборка

#8469 Теперь все сообщения в ie8(for Linux) окрашиваются
  code/stylesheet.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🗨️ чат

#8479 Removes getFlatIcon outdatedness
  code/_helpers/icons.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/modular_computers/file_system/crew_record.dm
Labels: 🔧 оптимизация, 🔩 порт, :scroll: CL не требуется

#8488 Removes NanoTrasen ballistic firearms usage
  baystation12.dme
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/effects/projectiles.dmi
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, ⚔️ боёвка, :scroll: Есть CL, ⛏️ Фронтир, :beers: ржомба

#8493 Revert "balance(weapon): remove NanoTrasen ballistic firearms usage"
  baystation12.dme
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/effects/projectiles.dmi
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
Labels: :recycle: ревёрт, :scroll: Есть CL

#8495 Revert "Revert "balance(weapon): remove NanoTrasen ballistic firearms…
  baystation12.dme
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/effects/projectiles.dmi
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
Labels: :recycle: ревёрт, :scroll: CL не требуется, :beer: ржака, :beers: ржомба

#8498 Removes accelerators' excessive dispersion
  code/__defines/misc.dm
  code/game/objects/items.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/turfs/simulated/walls.dm
  code/modules/examine/descriptions/items.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/external/_external.dm
  code/modules/projectiles/guns/energy/accelerator.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/spells/targeted/equip/shield.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#8518 tweak(vending): fix runtime on 366
  code/game/machinery/vending/_vending.dm
Labels: :bug: runtime, :wrench: фикс, :scroll: CL не требуется
