Repository ChaoticOnyx/OnyxBay, pull requests merged in 2022-02, with the labels that each got.

#7502 Removes FIX_ME prosthetic internals
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/organs/external/machine.dm
  code/modules/organs/external/xenos.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/borer.dm
  code/modules/organs/internal/stack.dm
Labels: 🎨 спрайты, :trollface: no xenos allowed, :wrench: фикс, :scroll: Есть CL

#7504 fix(train): fix towing
  code/modules/vehicles/vehicle.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7501 Removes aliums' literacy
  code/game/objects/items.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/power/singularity/emitter.dm
Labels: :wrench: фикс, :alien: ксеноморфы, :scroll: Есть CL

#7500 feat(map): small exodus tweaks
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-6.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵одобрено, :wrench: фикс, 🔵нужны ревью, :scroll: Есть CL

#7475 Removes double the from knocking
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#7496 Removes FBPs devouring mice
  code/modules/mob/holder.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7495 Removes the ability to feed tanks with any amounts of cables
  code/game/objects/items/tanks/tanks.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7458 tweak(machinery): Перевод интерфейса консоли криоподов на фейкНано
  code/game/machinery/cryopod.dm
Labels: 🔩 улучшение, :iphone: UX/UI, :wrench: фикс, :scroll: Есть CL

#7526 Removes buttonish insanity
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/simple_docking_controller.dm
  code/game/mecha/mech_sensor.dm
  icons/obj/airlock_machines.dmi
  icons/obj/power.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, ⛏️ Фронтир

#7508 Removes lack of parts in telecomm machinery
  code/game/machinery/constructable_frame.dm
  code/game/machinery/telecomms/telecomunications.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7550 No more "gun"
  code/datums/trading/weaponry.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7543 Поменял букву в мозгу голема.
  code/modules/organs/internal/brain.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7537 fix(cyborg): fix null cyborg name then using rename board
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#7527 Проклятье регистра
  maps/exodus/alpha/sunset-3.dmm
  maps/exodus/derelicts/jungleplanet/jungle_planet.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/frontier-SCP/frontier-SCP-1.dmm
  maps/exodus/frontier/frontier-1.dmm
  maps/exodus/helltier2021/helltier-1.dmm
Labels: wtf, :wrench: фикс, :scroll: CL не требуется

#7559 Removes laser bolts' supremacy
  code/modules/merchant/merchant_guns.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  code/modules/projectiles/effects.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/xenoarcheaology/effects/projectiles.dm
  icons/effects/projectiles.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, 🎨 спрайты, ⚔️ боёвка, :scroll: Есть CL

#7563 Removes some fulltile objects related bugs
  code/_onclick/adjacent.dm
  code/_onclick/click.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#7544 Вжвжвжвежное
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/items/circuitboards/machinery/machinery_circuitboards.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#7533 Исправление невзламываемости мед. холодильников
  code/game/machinery/kitchen/smartfridge.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7589 Removes absence of roundend contracts counter
  code/game/antagonist/station/traitor.dm
Labels: 🔩 улучшение, 🔫 режим: предатель, :scroll: Есть CL

#7590 Removes mend bones slowdown
  code/game/gamemodes/changeling/powers/rapid_heal.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/gamemodes/wizard/wizard_heals.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_damage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/limb_reattach.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#7588 Removes monkey traitors
  code/__defines/mobs.dm
  code/__defines/species.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_add.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/traitor/contracts.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/VR_human.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/new_player.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵одобрено, :wrench: фикс, :scroll: Есть CL, ඞ антагонисты

#7601 Removes absence of NSS Genesis
  baystation12.dme
  code/game/objects/items/stacks/rods.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/walls.dm
  icons/turf/wall_masks_legacy.dmi
  maps/exodus/genesis/genesis-1.dmm
  maps/exodus/genesis/genesis-2.dmm
  maps/exodus/genesis/genesis-3.dmm
  maps/exodus/genesis/genesis-6.dmm
  maps/exodus/genesis/genesis_define.dm
  maps/~mapsystem/maps.dm
Labels: 🗺️ карта, 🔩 улучшение, :scroll: Есть CL

#7602 Removes inability to interact with glass panels from the frontal direction
  code/_onclick/adjacent.dm
Labels: :wrench: фикс, :scroll: Есть CL

#7506 add(sounds): add robot footstep sounds
  code/game/turfs/simulated/footsteps.dm
  code/modules/mob/living/silicon/robot/robot.dm
  sound/effects/robot_footstep/legs01.ogg
  sound/effects/robot_footstep/legs02.ogg
  sound/effects/robot_footstep/legs03.ogg
  sound/effects/robot_footstep/legs04.ogg
  sound/effects/robot_footstep/spider01.ogg
  sound/effects/robot_footstep/spider02.ogg
  sound/effects/robot_footstep/spider03.ogg
Labels: 🌌геймдизайн, 🔵одобрено, 🔊 SFX, :scroll: Есть CL

#7613 Убрал две желтые точечки
  code/modules/flufftext/TextFilters.dm
Labels: :scroll: CL не требуется

#7611 Фиксы инвалидного синтаксиса
  code/game/machinery/suit_storage_unit.dm
  code/modules/atmospherics/mainspipe.dm
  code/modules/atmospherics/pipes.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/power/singularity/singularity.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#7614 Фикс годмода с сваркой
  code/game/objects/items/weapons/tools.dm
Labels: :wrench: фикс, :gear: кнопки, :scroll: Есть CL

#7587 tweak(debugger): debugger can now lock assemblies by robot id
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/debugger.dm
Labels: :wrench: фикс, :pager: интегралки, :scroll: Есть CL

#7604 Aquila
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/inv_slots/acessories/icon.dmi
  icons/mob/onmob/ties.dmi
  icons/mob/onmob/ties_slim.dmi
  icons/obj/clothing/ties.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵одобрено, :scroll: Есть CL
