Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-06, with the labels that each got.

#10311 fix(hud): display health icon
  code/_onclick/hud/human.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  icons/hud/common/screen_health.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10337 tweak(hud): fix client runtime
  code/_onclick/hud/hud.dm
Labels: 🐈 runtime, :wrench: фикс

#10217 Chainsaw and doomslayer armor
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/datums/uplink/categories/highly_visible_and_dangerous_weapons.dm
  code/game/objects/items/material/twohanded.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/structures/flora.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/mining/abandonedcrates.dm
  icons/inv_slots/hats/icon.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/suits/mob.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/lefthand_spacesuits.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/mob/onmob/items/righthand_spacesuits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/weapons.dmi
  sound/weapons/chainsaw_attack1.ogg
  sound/weapons/chainsaw_attack2.ogg
  sound/weapons/chainsaw_attack3.ogg
  sound/weapons/chainsaw_start.ogg
  sound/weapons/chainsaw_stop.ogg
Labels: 🌌геймдизайн, 🔩 улучшение, 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#10287 fix(proximity assembly): making it work
  baystation12.dme
  code/modules/assembly/proximity.dm
  code/modules/assembly/timer.dm
Labels: :wrench: фикс, 🔊 SFX, :scroll: Есть CL

#10284 tweak(multi-z): vis-contents update
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/skybox.dm
  code/datums/chatmessage.dm
  code/game/atoms_movable.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/objs.dm
  code/game/objects/structures/flora.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/multiz/turf.dm
  code/modules/multiz/zshadow.dm
  code/modules/power/lighting.dm
  code/modules/psychotronics/psychoscope.dm
  code/modules/speech_bubble/speech_bubble.dm
  code/modules/vehicles/cargo_train.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#10375 tweak(interaction): add case for anchored items
  code/modules/tables/interactions.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10339 fix(rcd): properly show RCD module radial menu
  code/modules/rcd/rcd.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10356 fix(polar): fixed some bugs and added few improvments
  code/datums/components/polar_weather.dm
  code/game/objects/effects/mines.dm
  code/game/shuttle_engines.dm
  icons/turf/thruster_big.dmi
  icons/turf/thruster_huge.dmi
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar-5.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL, :snowflake: Полярка

#10352 fix(ghost): fix antaghud enabling on promt closure
  code/modules/mob/observer/ghost/ghost.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10340 tweak(death): use correct proc and add docs
  code/game/machinery/computer/teleporter.dm
  code/modules/mob/observer/ghost/ghost.dm
  docs/contributing.md
Labels: :wrench: фикс, :scroll: Есть CL

#10292 fix(suits): vox medic suit
  code/modules/clothing/spacesuits/alien.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10279 feat(lizards): add poison, breeding and behavior
  code/__defines/mobs.dm
  code/_global_vars/lists/flavor.dm
  code/_global_vars/lists/objects.dm
  code/controllers/subsystems/initialization/misc.dm
  code/datums/events/infestation.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  config/translation/lizard_noises.txt
  icons/mob/animal.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10273 fix(clothing.dm): correct body_parts_covered for some clothing
  code/__defines/items_clothing.dm
  code/game/antagonist/outsider/abductor/equipment/abductors_gear.dm
  code/game/gamemodes/events/holidays/Christmas.dm
  code/game/objects/items.dm
  code/game/objects/items/smokables/smokables.dm
  code/game/objects/items/weapons/ecigs.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/custom_clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/hud_presets.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/miscellaneous.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10261 fix(sanity) Removes builds sissyfication
  baystation12.dme
  code/datums/uplink/categories/stealth_and_camouflage_items.dm
  code/modules/clothing/underwear/silicone_top.dm
  icons/inv_slots/hidden/mob.dmi
  icons/inv_slots/hidden/mob_fat.dmi
  icons/inv_slots/hidden/mob_slim.dmi
  icons/inv_slots/hidden/mob_slim_m.dmi
  icons/inv_slots/hidden/mob_slimalt.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10142 Refact(log message())
  code/_onclick/other_mobs.dm
  code/datums/elements/last_words.dm
  code/game/gamemodes/changeling/helpcode/mobs.dm
  code/modules/admin/bluespace_tech.dm
  code/modules/admin/verbs/individual_logging.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/bot/floorbot.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/mob/living/bot/mulebot.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/default_language.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/maneater.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/Chemistry-Reagents/food_drinks.dm
  code/modules/reagents/reagent_containers/food/_food.dm
  code/modules/virus2/effects/exotic.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: Есть CL

#9908 tweak(maps): add autolathe to actors' zone
  maps/exodus/exodus-6.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-3.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10388 tweak(font-awesome): bump up font awesome
  code/modules/client/asset_cache.dm
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-brands-400.eot
  html/font-awesome/webfonts/fa-brands-400.woff
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff
  html/font-awesome/webfonts/fa-v4compatibility.ttf
Labels: :scroll: CL не требуется

#10390 add(stamps): added few new stamps, now stamps are images
  code/modules/client/client_procs.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/stamps.dm
  html/images/stamp_images/font.png
  html/images/stamp_images/stamp-cap.png
  html/images/stamp_images/stamp-cargo.png
  html/images/stamp_images/stamp-ce.png
  html/images/stamp_images/stamp-cent.png
  html/images/stamp_images/stamp-chap.png
  html/images/stamp_images/stamp-clown.png
  html/images/stamp_images/stamp-cmo.png
  html/images/stamp_images/stamp-deny.png
  html/images/stamp_images/stamp-hop.png
  html/images/stamp_images/stamp-hos.png
  html/images/stamp_images/stamp-intaff.png
  html/images/stamp_images/stamp-law.png
  html/images/stamp_images/stamp-mime.png
  html/images/stamp_images/stamp-ok.png
  html/images/stamp_images/stamp-qm.png
  html/images/stamp_images/stamp-rd.png
  html/images/stamp_images/stamp-syndicate.png
  html/images/stamp_images/stamp-void.png
  html/images/stamp_images/stamp-ward.png
  icons/obj/bureaucracy.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL, 🧻 QoL

#10393 Removes absence of humanoid swines
  baystation12.dme
  code/__defines/_economy_defines.dm
  code/__defines/mobs.dm
  code/_helpers/global_lists.dm
  code/datums/events/mundane_news.dm
  code/game/antagonist/outsider/abductor/glands/viral.dm
  code/game/antagonist/outsider/ninja.dm
  code/modules/admin/admin.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/emote_define.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/swine.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/reagents/reagent_containers/food/meat.dm
  code/modules/reagents/reagent_containers/food/unsorted.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/pestilence.dm
  icons/mob/human_races/face/facial_swine.dmi
  icons/mob/human_races/face/hair_swine.dmi
  icons/mob/human_races/r_def_swine.dmi
  icons/mob/human_races/r_swine.dmi
  icons/obj/food.dmi
  maps/exodus/exodus_jobs.dm
  maps/~mapsystem/maps_jobs.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🌐 вики, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#10397 tweak(stamps): added stamps to the map, added syndicate stamp to uplink
  code/datums/uplink/categories/badassery.dm
  code/modules/paperwork/stamps.dm
  icons/obj/bureaucracy.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
  maps/polar/polar-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#10401 Removes lack of hairy details
  code/__defines/species.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preferences.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/human/species/station/swine.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  icons/mob/human_races/face/hair.dmi
  icons/mob/human_races/face/hair_slim.dmi
  icons/mob/human_races/face/hair_swine.dmi
  icons/mob/human_races/face/hair_tajaran.dmi
  icons/mob/human_races/face/hair_tajaran_slim.dmi
  icons/mob/human_races/face/hair_unathi.dmi
  icons/mob/human_races/face/hair_vox.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#10400 Removes absence of swines
  code/datums/supplypacks/hydroponics.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  icons/mob/animal.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10411 add(mirror reflection): added mirror reflection
  code/game/objects/structures/mirror.dm
  icons/obj/watercloset.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, 🧛 режим: вампир, :scroll: Есть CL, :snail: улика

#10413 Removes chainbugs
  code/game/objects/items/material/twohanded.dm
  code/game/objects/items/weapons/surgery_tools.dm
Labels: :wrench: фикс, :scroll: Есть CL, :snail: улика

#10348 feat(robot): add radial menu for hull selection
  code/_helpers/global_access.dm
  code/datums/robot_hulls.dm
  code/modules/mob/living/silicon/custom_sprites.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :iphone: UX/UI, 📺 ИИ|Борги, :scroll: Есть CL

#10409 Removes the spinning curse
  code/modules/mob/animations.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10403 Removes absence of gradient tentacles
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/r_skrell.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#10415 Removes changeling divisionary loans
  code/game/gamemodes/changeling/powers/division.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: CL не требуется

#10421 Removes lack of chainbalance
  code/game/objects/items/material/twohanded.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#10431 Fix(planes, drone hulls): fixed drone hull, fixed radial menu plane, fixed litted cig overlay
  code/_onclick/hud/radial.dm
  code/game/objects/items/smokables/cigarettes.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: :wrench: фикс, :scroll: Есть CL, частое

#10428 Removes lack of crit overlay (AGAIN)
  code/_onclick/hud/fullscreen.dm
  icons/hud/screen_full.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL
