Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-11, with the labels that each got.

#10843 tweak(surgery): cyborg special item override
  code/modules/mob/living/silicon/robot/robot.dm
Labels: 💉 медицина, 📺 ИИ|Борги, :wrench: фикс, :scroll: CL не требуется

#10856 maptweak(crowdbuster): returned crowdbuster kit to Exodus, Genesis and Foxhole
  maps/exodus/exodus-2.dmm
  maps/foxhole/foxhole-2.dmm
  maps/genesis/genesis-2.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#10846 fix(mime): mime can now rename himself
  code/_helpers/unsorted.dm
  code/game/jobs/job/civilian.dm
Labels: :wrench: фикс, :gear: кнопки, :scroll: Есть CL

#10823 Removes a game-breaking airlock bug
  icons/obj/doors/doormaint.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10839 fix(pcarrier): plate carrier sprites for fat humans
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/suits/mob_fat.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10821 feat(xenos):skrell headtails styles
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/face/hair_skrell.dmi
  icons/mob/human_races/face/hair_skrell_slim.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#10863 Removes the revert of the removal of poise damage inflicted by projectiles
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/force.dm
  code/modules/projectiles/projectile/special.dm
Labels: 🔩 улучшение, ⚔️ боёвка, :scroll: Есть CL

#10867 maptweak(genesis): replaced wrong medical huds in medbay's storage room
  maps/genesis/genesis-2.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#10734 fix(events): null ref to apc when electrical storm ends
  code/datums/events/electrical_storm.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10864 Fix xenobio
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_clothing.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_misc.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_status_effects.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_weapons.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/burning.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/consuming.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/industrial.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/regenerative.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/stabilized.dm
  icons/obj/zippos.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10857 fix(surgery & accessories): fixed surgery operation through clothings && fix remote stripping of accessories
  code/datums/surgery/steps/limb.dm
  code/datums/surgery/steps/misc.dm
  code/datums/surgery/surgery_step.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/mob/living/carbon/human/stripping.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#10875 hotfix(hair): human bun is back
  code/modules/mob/new_player/sprite_accessories.dm
Labels: :scroll: CL не требуется

#10877 remove(VR): remove unused and unfixed bunch of legacy shitcode
  baystation12.dme
  code/_macros.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/vrhuman.dm
  code/datums/mind.dm
  code/game/turfs/unsimulated.dm
  code/modules/VR/VR_field.dm
  code/modules/VR/VR_items.dm
  code/modules/VR/vr_gamepad.dm
  code/modules/VR/vr_uplink.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/VR/vr_human.dm
  code/modules/mob/living/carbon/human/species/station/VR_human.dm
  icons/hud/mob/screen_vrhuman.dmi
  icons/obj/machines/gamepod.dmi
  maps/exodus/exodus-4.dmm
  maps/foxhole/foxhole-4.dmm
  maps/frontier/frontier-2.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-4.dmm
Labels: 🗺️ карта, 🎨 спрайты, :scroll: Есть CL

#10883 Removes guncases' 3/4, mirrors ammo boxes
  icons/obj/ammo.dmi
  icons/obj/storage.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#10886 Removes closet doors' inconsistency
  code/game/objects/structures/crates_lockers/closets.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10885 Removes absence of elite eguns
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/guns/energy/energy.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/gun.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#10887 Removes bad code, adds good code
  code/game/objects/structures/crates_lockers/closets.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10893 Removes lack of overlightish stuff
  code/game/machinery/alarm.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/status_display.dm
  code/game/machinery/status_display_ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  icons/misc/security_state.dmi
  icons/obj/doors/door_assembly.dmi
  icons/obj/monitors.dmi
  icons/obj/power.dmi
  icons/obj/status_display.dmi
Labels: 🔩 улучшение, 🔨 рефакторинг, 🎨 спрайты, 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#10894 Removes glass airlocks' SFX inconsistency
  code/game/machinery/doors/airlock_presets.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10896 Removes firedoors' uncanny silence
  code/game/machinery/doors/firedoor.dm
  sound/machines/airlock/creaking.ogg
Labels: 🔩 улучшение, 🔊 SFX, :scroll: Есть CL

#10895 fix(shooting): fixed space inertia && diagonal shooting
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#10907 Removes overlights' excessive brightness
  code/game/machinery/alarm.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/status_display.dm
  code/game/machinery/status_display_ai.dm
Labels: 🔩 улучшение, :scroll: CL не требуется

#10906 Removes double xenopregnancy
  code/modules/organs/internal/embryo.dm
Labels: :recycle: ревёрт, :wrench: фикс, 🐍 ксеноморфы, :scroll: Есть CL

#10910 Removes lack of proper destroys
  code/game/machinery/alarm.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/status_display_ai.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10908 fix(runtimes): fix renderer && projectile runtimes
  code/_onclick/hud/fullscreen.dm
  code/modules/projectiles/projectile.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#10911 fix(storyteller): possible fix of runtime
  code/game/antagonist/antagonist_add.dm
Labels: :wrench: фикс, :game_die: сторителлер, :scroll: Есть CL

#10916 Removes lack of overlights
  code/datums/repositories/images.dm
  code/game/machinery/alarm.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/status_display.dm
  code/game/machinery/status_display_ai.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/items/smokables/ecigs.dm
  code/game/objects/items/smokables/hookah.dm
  code/game/objects/items/storage/pill_bottle.dm
  code/game/objects/structures/flora.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/smes.dm
  icons/obj/monitors.dmi
  icons/obj/power.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#10913 Removes status_displays' inability to show correct time
  code/game/machinery/status_display.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10903 feat(admin): event presets
  code/controllers/subsystems/events.dm
  code/datums/configuration/game_section.dm
  code/modules/admin/events_panel.dm
  config/example/config.toml
  config/example/event_presets.toml
  tgui/packages/tgui/interfaces/EventsPanel.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :gear: кнопки, :scroll: Есть CL

#10897 Revert "fix(levels) telecomms add ztrait"
  maps/levels.dm
Labels: 🗺️ карта, :scroll: CL не требуется

#10921 fix(dme): move #define TRACY_PROFILER
  baystation12.dme
Labels: :wrench: фикс, 🛠 Инструменты, :scroll: CL не требуется

#10925 purge(wtf): purge some strange file
  tmp/iconCache.sav
Labels: :knife: выпил из билда, :scroll: CL не требуется

#10920 rework(votes): port votes to TGUI
  baystation12.dme
  code/__defines/admin.dm
  code/__defines/misc.dm
  code/__defines/subsystems.dm
  code/_macros.dm
  code/_onclick/hud/action.dm
  code/_onclick/hud/alert.dm
  code/controllers/autotransfer.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/vote.dm
  code/datums/vote/add_antag.dm
  code/datums/vote/custom.dm
  code/datums/vote/end.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/map.dm
  code/datums/vote/restart.dm
  code/datums/vote/storyteller.dm
  code/datums/vote/transfer.dm
  code/datums/vote/vote.dm
  code/game/gamemodes/extended/extended.dm
  code/game/gamemodes/game_mode.dm
  code/game/storyteller/storyteller.dm
  icons/hud/actions.dmi
  tgui/packages/tgui/interfaces/VotePanel.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, :iphone: UX/UI, 🎨 спрайты, :scroll: Есть CL

#10884 add(elpaso): new map
  baystation12.dme
  code/_helpers/lists.dm
  code/controllers/subsystems/announce.dm
  code/controllers/subsystems/ticker.dm
  code/datums/events/solar_storm.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/game/jobs/jobs.dm
  code/game/objects/structures/flora.dm
  code/game/storyteller/metrics/common_metrics.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/complaint.dm
  maps/elpaso/elpaso_1.dmm
  maps/elpaso/elpaso_2.dmm
  maps/elpaso/elpaso_3.dmm
  maps/elpaso/elpaso_4.dmm
  maps/elpaso/elpaso_areas.dm
  maps/elpaso/elpaso_define.dm
  maps/elpaso/elpaso_levels.dm
  maps/elpaso/elpaso_shuttles.dm
Labels: 🗺️ карта, 🔩 улучшение, :scroll: Есть CL

#10918 Removes some Exodus issues
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#10905 Призраки видят сообщения по ПДА от преференса Ghost Radio вместо Ghost Ears
  code/game/objects/items/devices/PDA/PDA.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL, 👻 призраки

#10933 Revert "add(elpaso): new map"
  baystation12.dme
  code/_helpers/lists.dm
  code/controllers/subsystems/announce.dm
  code/controllers/subsystems/ticker.dm
  code/datums/events/solar_storm.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/game/jobs/jobs.dm
  code/game/objects/structures/flora.dm
  code/game/storyteller/metrics/common_metrics.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/paperwork/complaint.dm
  maps/elpaso/elpaso_1.dmm
  maps/elpaso/elpaso_2.dmm
  maps/elpaso/elpaso_3.dmm
  maps/elpaso/elpaso_4.dmm
  maps/elpaso/elpaso_areas.dm
  maps/elpaso/elpaso_define.dm
  maps/elpaso/elpaso_levels.dm
  maps/elpaso/elpaso_shuttles.dm
Labels: 🗺️ карта, :recycle: ревёрт, :scroll: Есть CL

#10932 fix(votes): "You are not an admin" spam
  code/controllers/subsystems/vote.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10935 fix(votes): fixed ability to nonadmins start round end vote
  code/datums/vote/end.dm
  code/datums/vote/storyteller.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10946 bugfix(malf): broken spawns no more
  code/game/antagonist/station/rogue_ai.dm
  code/modules/mob/transform_procs.dm
Labels: 📺 ИИ|Борги, :scroll: Есть CL

#10952 fix(projectiles): now taking target coords to math!
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#10949 tweak(synths): fix meat organ present in body
  code/modules/mob/living/silicon/robot/robot_parts.dm
  code/modules/organs/external/head.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10953 Removes lack of space in the clamp detach proc
  code/game/machinery/atmoalter/clamp.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#10963 Removes lack of macros
  code/_helpers/maths.dm
  code/_helpers/unsorted.dm
  code/game/machinery/alarm.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/computer/robot.dm
  code/game/machinery/floodlight.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/spaceheater.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
  code/game/objects/items/backwear/backwear.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/game/objects/items/devices/suit_sensor_jammer.dm
  code/game/objects/items/smokables/ecigs.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/clothing/gloves/stun.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/power.dm
  code/modules/mob/living/silicon/ai/power.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/file_system/programs/generic/configurator.dm
  code/modules/organs/internal/machine.dm
  code/modules/power/apc.dm
  code/modules/power/batteryrack.dm
  code/modules/power/cell.dm
  code/modules/power/sensors/powernet_sensor.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/shield_generators/handheld_diffuser.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/xenoarcheaology/tools/suspension_generator.dm
  icons/obj/contraband.dmi
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: Есть CL

#10956 fix(bodyscanner): ex_act will no longer send bodyscanners' occupants to nullspace
  code/game/machinery/adv_med.dm
Labels: :scroll: Есть CL

#10812 tweak(bear_companion): fixed bugs in behavior, friend functionality and tweaked bears' examine.
  code/__defines/ces/signals_mob.dm
  code/modules/mob/living/simple_animal/hostile/commanded/_command_defines.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/nanomachines.dm
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/spells/spells.dm
  icons/mob/animal.dmi
Labels: 🌌геймдизайн, 🌐 вики, 🔵 одобрено, 🎨 спрайты, 🧙‍♂️ режим: маг, :wrench: фикс, :scroll: Есть CL

#10939 Eclipse
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-6.dmm
  maps/eclipse/eclipse_areas.dm
  maps/eclipse/eclipse_define.dm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#10968 Removes SSmachines's outdatedness
  code/controllers/subsystems/machines.dm
  code/datums/events/brand_intelligence.dm
  code/datums/events/electrical_storm.dm
  code/datums/events/meteor_wave.dm
  code/game/antagonist/outsider/abductor/abductor.dm
  code/game/antagonist/outsider/abductor/equipment/abductors_gear.dm
  code/game/antagonist/outsider/abductor/machinery/console.dm
  code/game/gamemodes/events.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/machinery/computer/pod.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/embedded_controller/airlock_controllers_dummy.dm
  code/game/machinery/flasher.dm
  code/game/machinery/hologram.dm
  code/game/machinery/holosign.dm
  code/game/machinery/igniter.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/implants/implants/abductor.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/grief_fixers.dm
  code/modules/atmospherics/datum_pipe_network.dm
  code/modules/atmospherics/datum_pipeline.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon_console.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/supermatter_monitor.dm
  code/modules/power/antimatter/shielding.dm
  code/modules/power/fusion/_setup.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/turbine.dm
  code/modules/research/message_server.dm
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
  code/modules/supermatter/supermatter.dm
Labels: 🔧 оптимизация, :scroll: Есть CL

#10966 Removes lack of high-quality performance improvements
  code/controllers/subsystems/machines.dm
Labels: ❔ wtf, :scroll: Есть CL, 🧪 потестим в проде

#10970 Removes bugs
  code/datums/events/space_dust.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_clothing.dm
  code/modules/mob/typing_indicator.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/power/cell.dm
  code/modules/power/lighting.dm
  code/modules/projectiles/guns/energy.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10978 Removes more bugs
  code/game/machinery/atmoalter/canister.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/stump.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/special.dm
Labels: 🔧 оптимизация, 🐈 runtime, :wrench: фикс, 🐍 ксеноморфы, :scroll: Есть CL

#10958 tweak(announcers): remove patron tier requirement
  code/datums/announcer/announcer.dm
Labels: :scroll: Есть CL

#10974 tweak(webhook): DOOC and OOC chat prefixes
  code/datums/communication/ooc.dm
  code/game/world.dm
Labels: 🛠 Инструменты, :scroll: CL не требуется

#10992 fix[surgery]: operations with hookah no more
  code/datums/surgery/surgery_step.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#10988 Removes lack of inflatables
  code/game/objects/structures/inflatable.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/projectiles/projectile/special.dm
  icons/obj/inflatable.dmi
  icons/obj/storage.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10989 Removes absence of old posters
  baystation12.dme
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/contraband.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10991 Update progressbar.dmi
  icons/effects/progressbar.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10983 Removes yet some more bugs
  code/game/atoms.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/glassjar.dm
  code/game/objects/structures/blob/blob.dm
  code/game/objects/structures/blob/core.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/fireaxe_cabinet.dm
  code/game/objects/structures/gas_stand.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/musician.dm
  code/game/objects/structures/watercloset.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/shield_generators/handheld_diffuser.dm
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/synthesized_instruments/usage_info.dm
  code/modules/tables/tables.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: Есть CL

#10990 Removes a few more bugs
  code/_onclick/hud/ability_screen_objects.dm
  code/game/objects/structures/inflatable.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10993 Removes storage.dmi
  code/datums/communication/pray.dm
  code/game/machinery/floodlight.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/lunchbox.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/stasis_cage.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/locks/lock_construct.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/bot/remotebot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/projectiles/guns/magnetic/magnetic.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/spells/artifacts/storage.dm
  code/modules/xenoarcheaology/tools/tools_pickaxe.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/candle.dmi
  icons/obj/crates.dmi
  icons/obj/delivery.dmi
  icons/obj/guns/railgun.dmi
  icons/obj/janitor.dmi
  icons/obj/storage.dmi
  icons/obj/storage/backpacks.dmi
  icons/obj/storage/boxes.dmi
  icons/obj/storage/firstaid.dmi
  icons/obj/storage/lunch.dmi
  icons/obj/storage/misc.dmi
  icons/obj/trash.dmi
  icons/obj/vialbox.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, :scroll: CL не требуется

#10999 tweak(radiation): atmos, eng & CE space suits rad resists
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/atmos.dm
  code/modules/clothing/spacesuits/void/engineering.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#11000 Removes alarms' peformance deficiency
  code/game/machinery/alarm.dm
Labels: 🔧 оптимизация, 💨 атмос, :scroll: Есть CL

#11017 Removes trading overhead
  baystation12.dme
  code/datums/trading/_trading_defines.dm
  code/datums/trading/ai.dm
  code/datums/trading/armor.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/ship.dm
  code/datums/trading/spacesuits.dm
  code/datums/trading/trade.dm
  code/datums/trading/trade_response.dm
  code/datums/trading/unique.dm
  code/datums/trading/vox.dm
  code/datums/trading/weaponry.dm
  code/modules/merchant/merchant_programs.dm
Labels: 🔧 оптимизация, 🔨 рефакторинг, :scroll: Есть CL

#11004 feat(borer&logs): added some logs to borer
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/mob/living/simple_animal/borer/say.dm
Labels: :scroll: Есть CL, 🤯 режим: борер, 🧻 QoL

#11018 Removes reasons for autocheck to whine like a little bitch
  code/datums/trading/trade.dm
Labels: :scroll: CL не требуется

#11033 fix(resists): add to CE's rig missing rad resists
  code/modules/clothing/spacesuits/rig/suits/station.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11002 feat(mapvote): maked it start earlier, move allowed maps to config
  code/controllers/evacuation/evacuation.dm
  code/controllers/evacuation/evacuation_shuttle.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/vote.dm
  code/datums/configuration/mapping_section.dm
  code/datums/vote/map.dm
  config/example/config.toml
  maps/~mapsystem/maps.dm
Labels: 🗺️ карта, 🔩 улучшение, 📄 конфиг, :scroll: Есть CL

#11027 Removes lack of Poly's speech
  code/modules/mob/living/simple_animal/friendly/parrot.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#11040 Removes leftover emissive bus, fixes assorted runtimes
  code/game/antagonist/outsider/abductor/machinery/camera.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/material/_material_weapons.dm
  code/game/objects/items/material/coins.dm
  code/game/objects/items/material/knives.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/flora.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/mob/living/carbon/xenobiological/machinery/xenobio_camera.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/multiz/industrial_lift/industrial_lift_console.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/organ.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/lighting.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/power/solar.dm
  code/modules/power/turbine.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/research/server.dm
  code/modules/shuttles/departmental.dm
  code/modules/virus2/diseasesplicer.dm
  icons/obj/chemical.dmi
  icons/obj/computer.dmi
  icons/obj/cryogenic2.dmi
  icons/obj/robot_storage.dmi
  maps/derelicts/bearcat/bearcat.dm
  maps/polar/polar_shuttles.dm
Labels: 🗺️ карта, 🔩 улучшение, 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11042 Removes uncompilability
  code/modules/reagents/Chemistry-Machinery.dm
Labels: :scroll: CL не требуется

#11041 Fix or die
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/flora.dm
  code/modules/admin/verbs/pray.dm
  code/modules/atmospherics/pipes.dm
  code/modules/projectiles/guns/energy/mining.dm
Labels: :scroll: Есть CL

#11046 Removes lack of emissives (and caching)
  code/__defines/emissives.dm
  code/__defines/misc.dm
  code/_helpers/emissives.dm
  code/datums/repositories/images.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/computer/RCON_Console.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/requests_console.dm
  code/game/mecha/working/ripley.dm
  code/game/objects/items/backwear/backwear.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/grenades/supermatter.dm
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/items/smokables/ecigs.dm
  code/game/objects/items/smokables/hookah.dm
  code/game/objects/items/storage/pill_bottle.dm
  code/game/objects/items/weapons/trays.dm
  code/game/objects/structures/flora.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/solar.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/virus2/centrifuge.dm
  icons/obj/lighting.dmi
  icons/obj/meter.dmi
  icons/obj/plants.dmi
  icons/obj/virology.dmi
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, 🔩 улучшение, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11039 bugfix(fire): lit fags, matches, lighters and candles are now extinguished by water
  code/game/objects/items/smokables/smokables.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents/basic.dm
Labels: :scroll: Есть CL

#11035 rscadd(medicine): anti-rad fist aid kit
  code/game/objects/items/storage/firstaid.dm
  icons/obj/storage/firstaid.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#11020 fix(manifest_prediction) Correct chances for Atmospheric Technician
  code/modules/modular_computers/file_system/manifest.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11043 Shitcurity fluff
  baystation12.dme
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/detectivework/tools/crime_scene_markers.dm
  icons/obj/clothing/ties.dmi
  icons/obj/forensics.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#11045 Closes #10542
  code/game/objects/structures/watercloset.dm
Labels: :scroll: Есть CL

#11054 Removes scidoors' invisibility
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#11053 Removes ownerless organs' blood evaporation, fixes paper bundling
  code/modules/organs/external/_external.dm
  code/modules/organs/internal/lungs.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11059 Removes bugs
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/walls.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/organs/internal/lungs.dm
  code/modules/tables/tables.dm
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#11091 Removes APC extra overlays
  code/controllers/subsystems/overlays.dm
  code/modules/power/apc.dm
  icons/obj/power.dmi
Labels: 🔧 оптимизация, 🎨 спрайты, :scroll: CL не требуется

#11067 Removes absence of walls baking
  code/_global_vars/misc.dm
  code/controllers/subsystems/initialization/misc.dm
  code/game/objects/items.dm
  code/game/objects/items/storage/belt.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/turbolift/turbolift_turfs.dm
  docs/contributing.md
Labels: 🔧 оптимизация, 🔨 рефакторинг, :scroll: Есть CL

#11095 Removes lack of sanity in stumps' icons
  code/datums/mutable_appearance.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/devices/holopad.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/weapons/lighters.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_clothing.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/organs/external/stump.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/gun.dm
  icons/mob/human_races/r_human.dmi
  icons/mob/human_races/r_lizard.dmi
  icons/mob/human_races/r_swine.dmi
  icons/mob/human_races/r_tajaran.dmi
Labels: 🔧 оптимизация, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11066 fix(railing): fix dismantle
  code/game/objects/structures/railing.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11063 Closes #10840
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/mining.dm
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11044 Add(map, obj): blood fridge and filled variant
  code/game/machinery/kitchen/smartfridge.dm
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, :scroll: Есть CL

#11103 Removes abductors' disguisive disfunction
  code/game/antagonist/outsider/abductor/equipment/abductors_gear.dm
  code/game/antagonist/outsider/abductor/machinery/console.dm
Labels: :wrench: фикс, :scroll: CL не требуется, :alien: режим: похитители

#11110 Removes lack of 👁👄👁
  code/modules/awaymissions/corpse.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/organs/internal/eyes.dm
  icons/mob/human_races/monkeys/r_farwa.dmi
  icons/mob/human_races/monkeys/r_monkey.dmi
  icons/mob/human_races/monkeys/r_stok.dmi
  icons/mob/human_races/r_lizard.dmi
  icons/mob/human_races/r_tajaran.dmi
Labels: 🎨 спрайты, :trollface: no xenos allowed, :wrench: фикс, :scroll: Есть CL

#11112 fix(virology): broken machinery no more
  code/modules/virus2/centrifuge.dm
  code/modules/virus2/diseasesplicer.dm
  code/modules/virus2/items_devices.dm
Labels: 🦠 вирусология, :wrench: фикс, :scroll: Есть CL
