Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-02, with the labels that each got.

#10028 fix(mine): fix runtime
  code/modules/mining/mine_turfs.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10029 add custom for animusin
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#10032 fix(window_frame): add EXPLODE_LIGHT
  code/game/objects/structures/window_frame.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10030 tweak(callproc): take argument from the result of the function
  code/modules/admin/callproc/callproc.dm
Labels: 🔩 улучшение, :gear: кнопки, :scroll: Есть CL

#10033 fix(mine): fix mineral clasters
  code/modules/mining/mine_turfs.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10034 tweak(ZAS): csrfz optimization
  code/modules/ZAS/Turf.dm
Labels: 🔧 оптимизация, 🔩 порт, 💨 атмос, :scroll: Есть CL

#10037 fix(machinery): fixes RnD machinery reagent updates
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10024 fix(mob): facehugger meat type change
  code/modules/mob/living/simple_animal/hostile/facehugger.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10038 fix(fork): fixes eating through clothes
  code/game/objects/items/material/kitchen.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10051 fix(machinery): fixes tool istype checks when disassembling
  code/game/machinery/machinery.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10018 fix(neurolace): neurolace don't revive mobs without brains
  code/modules/organs/internal/stack.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#9553 feat(zombie): change zombie abilities
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/living_powers.dm
  code/modules/mob/transform_procs.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL, 🧠 Режим: зомби

#9788 fix(metroids): fix disappearing metroids
  code/modules/mob/living/carbon/human/human.dm
Labels: :wrench: фикс, :scroll: Есть CL, 👾 метроиды

#10060 feat(storyteller): adds weighted pick for antags depending on their zlevel
  code/game/antagonist/antagonist.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :wrench: фикс, :game_die: сторителлер, :scroll: Есть CL, ඞ антагонисты

#10057 bugfix(RandomStuff): Фикс первого попавшегося на глаза.
  code/game/machinery/vending/boozeomat.dm
  code/modules/reagents/reagent_containers/vessel/glass/boxes.dm
  code/modules/reagents/reagent_containers/vessel/glass/extras.dm
  icons/mob/human_races/face/hair_slim.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_slim.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_slim.dmi
  icons/obj/abductor.dmi
  icons/obj/reagent_containers/glasses.dmi
Labels: 🎨 спрайты, :wrench: фикс

#10058 bugfix(Facial_hair_slim): Сдвиг всех бород в обратную сторону от направления.
  icons/mob/human_races/face/facial_slim.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#10052 maptweak(frontier): Fix RnD disposal and supermatter emergency shutter
  maps/frontier/frontier-1.dmm
  maps/frontier/supermatter.dmm
Labels: 🗺️ карта, :wrench: фикс, ⛏️ Фронтир

#10045 tweak(loadout): add subscription system
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/donations/donator.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10055 fix(protolathe): Правильная проверка наличия материалов протолатом
  code/modules/research/protolathe.dm
Labels: :wrench: фикс, :scroll: Есть CL
