Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-04, with the labels that each got.

#10127 fix(changelog): fixes changelog generation
  .github/workflows/changelog.yml
  tools/ChangelogGenerator/Fetch.csx
Labels: :wrench: фикс, 🛠 Инструменты, :scroll: CL не требуется

#10131 fix(mimic) No more unavailable for possessing mimics in GLOB.available_mobs_for_possess list
  code/datums/events/mimics_invasion.dm
  code/modules/mob/living/deity/phenomena/transmutation.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/projectiles/projectile/animate.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9855 tweak(table): add on table item interaction
  code/_onclick/drag_drop.dm
  code/modules/tables/interactions.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10084 update medal icons
  code/modules/clothing/under/accessories/medals.dm
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/mob/onmob/ties.dmi
  icons/mob/onmob/ties_slim.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10117 feat(signaler): removes lack of modern ui for signaler
  code/modules/assembly/signaler.dm
  tgui/packages/tgui/interfaces/Signaler.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :iphone: UX/UI, :scroll: Есть CL

#10150 fix(storage): correct drawing of storage UI slots
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/storage/storage_ui/default.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10119 refact(typing_indicator): use overlays instead of effects and movables
  baystation12.dme
  code/__defines/_planes+layers.dm
  code/_helpers/game.dm
  code/_helpers/unsorted.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/diona_nymph.dm
  code/_onclick/hud/robot.dm
  code/game/mecha/equipment/tools/unused_tools.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/living/carbon/hallucinations.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/xenomorphs.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/laws.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/typing_indicator.dm
  code/modules/speech_bubble/speech_bubble.dm
  icons/mob/effects/talk.dmi
  icons/mob/talk.dmi
  interface/skin.dmf
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10110 fix(cigarettes): fix inability to automatically put cig into ashtray
  code/game/objects/items/material/ashtray.dm
  code/game/objects/items/smokables/cigarettes.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10132 tweak(spontaneous_appendicitis): add extra antag and crew checks
  code/datums/events/spontaneous_appendicitis.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 💉 медицина, :game_die: сторителлер, :scroll: Есть CL

#10151 fix(xeno-spawn): prevents xenos from spawning and laying eggs if disabled by server
  code/datums/events/stray_facehugger.dm
  code/datums/events/xenomorph_infestation.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
Labels: :wrench: фикс, :gear: кнопки, 🐍 ксеноморфы, :scroll: Есть CL

#10146 fix(recipes_microwave): correct cake recipes plus add some readability
  code/modules/food/recipes_microwave.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10093 tweak(pump): add alt right/left click behavior
  code/modules/atmospherics/components/binary_devices/pump.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9766 tweak(firedoor): Fixing minor firedoor bugs and removing annoying alert when clicking it
  code/game/area/areas.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10162 fix(chemsmoke): fixes chemsmoke issues with lighting
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/effect_system.dm
Labels: 🔥 приоритет, :wrench: фикс, :scroll: Есть CL

#10078 fix(loadout): add gear_tweaks to checkout with path
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: 🔺 приоритет, :wrench: фикс, :scroll: Есть CL

#10112 feat(chemistry): adds hair grower
  code/game/antagonist/antagonist.dm
  code/modules/reagents/Chemistry-Reagents/toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10160 tweak(tgui): port updated TGUI Input
  baystation12.dme
  code/_helpers/lists.dm
  code/_helpers/text.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/tgui/tgui_alert.dm
  code/modules/tgui/tgui_input_list.dm
  code/modules/tgui_input/alert.dm
  code/modules/tgui_input/checkboxes.dm
  code/modules/tgui_input/list.dm
  code/modules/tgui_input/number.dm
  code/modules/tgui_input/text.dm
  tgui/packages/tgui/components/Autofocus.tsx
  tgui/packages/tgui/components/RestrictedInput.js
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/AlertModal.js
  tgui/packages/tgui/interfaces/AlertModal.tsx
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/ListInputModal.tsx
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
  tgui/packages/tgui/interfaces/TextInputModal.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  tgui/packages/tgui/interfaces/common/Loader.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :wrench: фикс, :scroll: CL не требуется

#10168 fix(click): fixes unwanted RMB behavior
  code/_onclick/click.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10172 fix(see_in_dark): removes nightvision from meson hud
  code/modules/mob/living/carbon/human/species/species.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10156 fix(droplimb()) Correct ash decals spawning
  code/modules/organs/external/_external.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10177 bugfix(phase shift): makes it work
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/living_defines.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
  code/modules/spells/targeted/shift.dm
Labels: :wrench: фикс, 🩸 режим: культ, :scroll: Есть CL

#10188 fix(typing_indicator): fix speech bubble icon when typing
  code/modules/mob/typing_indicator.dm
  code/modules/speech_bubble/speech_bubble.dm
Labels: :wrench: фикс, :scroll: CL не требуется
