Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-03, with the labels that each got.

#10069 fix(crew monitor): fixes error: null ckey
  code/modules/mob/living/carbon/human/human.dm
Labels: 🔺 приоритет, :iphone: UX/UI, :wrench: фикс, :scroll: Есть CL

#10067 fix(syringes): update_icon() now working correctly with non-standard syringes
  code/modules/reagents/reagent_containers/syringes.dm
  icons/obj/syringe.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10068 fix(mimic): _update_verbs() now working correctly
  code/modules/mob/living/simple_animal/hostile/mimic.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10071 Генерация чейнджлога на 11/03/2023
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#10064 fix(flannel_shirt): small fix
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10063 feat(fingerless_gloves): adding new gloves type
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/clothing/gloves/color.dm
  icons/inv_slots/gloves/icon.dmi
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_fat.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/obj/clothing/gloves.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10056 feat(farlook): adds view shifting to all mobs (free of charge)
  baystation12.dme
  code/__defines/ces/signals_mob.dm
  code/_onclick/click.dm
  code/game/objects/items.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/farlook.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  interface/skin.dmf
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, :scroll: Есть CL

#10077 tweak(life): grammar correction
  code/modules/mob/living/carbon/human/life.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10074 fix(integrals): fix data card reader circuit description
  code/modules/integrated_electronics/subtypes/input.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10087 fix(painkillers): clamps effectiveness multiplier between 0 and 1
  code/modules/reagents/Chemistry-Reagents/painkillers.dm
Labels: 💉 медицина, :wrench: фикс

#10083 fix(cargo): change mining satchel slot
  code/datums/outfits/jobs/cargo.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9450 Ксеномикробы могут создать лярву в мобах
  code/modules/reagents/Chemistry-Reagents/toxins.dm
  code/modules/reagents/reagent_containers/food/unsorted.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10079 tweak(donut_shop): Monkey, Johnny coat, santa bag
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🎨 спрайты

#10096 Шарды хуярды
  code/game/objects/items/material/_material_weapons.dm
  code/game/objects/structures/window_frame.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10094 fix(machine_vending): correct path to drill
  code/modules/mining/machine_vending.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10099 feat(storyteller): antag spawn tweaks
  code/datums/uplink/uplink_sources.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/station/traitor.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, 💰 награда, :game_die: сторителлер, :scroll: Есть CL

#10105 fix(desc): revert "metroid taste"
  code/modules/reagents/Chemistry-Reagents/blood.dm
  code/modules/reagents/Chemistry-Reagents/food_drinks.dm
  code/modules/reagents/Chemistry-Reagents/medicine.dm
  code/modules/reagents/Chemistry-Reagents/other.dm
  code/modules/reagents/Chemistry-Reagents/toxins.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10104 fix(closets): remove ability to hack distant closet
  code/game/objects/structures/crates_lockers/closets.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9872 Святая вода поджигает вампира
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/modules/reagents/Chemistry-Reagents/other.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🧛 режим: вампир, :scroll: Есть CL

#10085 Removes lack of NanoTrasen ballistic firearms usage
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :recycle: ревёрт, ⚔️ боёвка, :scroll: Есть CL, ⛏️ Фронтир

#10111 fix(constructable_frame): replace wrong macro
  code/game/machinery/constructable_frame.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10109 fix(airlock): correct item dropped during brace installation
  code/game/machinery/doors/airlock.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10103 fix(port_gen): update PACMAN dismantle
  code/modules/power/port_gen.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10095 fix(mine_items): correct inhand drill icon name
  code/modules/mining/mine_items.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10073 feat(emt_backpack): backpack for emt
  code/datums/outfits/jobs/_defines.dm
  code/datums/outfits/jobs/medical.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10116 fix(changelog): possibly fixes CL
  .github/workflows/check_changelog.yml
  tools/ChangelogGenerator/ClCheck.csx
Labels: :wrench: фикс, 🛠 Инструменты, :scroll: CL не требуется

#10101 Fixes dreamchecker problems with one simple trick doctors don't want you to know about
  code/game/actions/charge.dm
  code/modules/client/preference_setup/general/03_body.dm
Labels: :wrench: фикс, 🥇 Chicken Dinner, :scroll: CL не требуется
