Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-12, with the labels that each got.

#11106 feat(prefs): add become midround antag pref
  code/game/antagonist/antagonist.dm
  code/modules/client/preference_setup/global/preferences.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#11068 feat(custom-items): add a new custom item for NoTips
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/hats/mob.dmi
  icons/obj/clothing/hats.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11093 tweak(traitor.dm): новые условия для боргов и немного хуманам
  code/game/antagonist/station/traitor.dm
Labels: 🌌геймдизайн, 🔵 одобрено, 🔫 режим: предатель, :scroll: Есть CL

#10771 Adrenaline production rework
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/reagents/Chemistry-Reagents/medicine.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 💉 медицина, :scroll: Есть CL

#11119 Removes inability to quickequip accessories
  code/datums/events/event.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/stump.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11038 Тонкотаяры чуть меньше похожи на крыс
  icons/mob/human_races/r_tajaran.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#11087 feat (polar.dmm): better mapping/piping on hydroponics
  maps/polar/polar-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL, :snowflake: Полярка

#11024 Mapfix (Eclipse)
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-6.dmm
Labels: 🗺️ карта, :scroll: Есть CL, 🥚💋 Eclipse

#11142 Removes gibs' inconsistency
  code/game/objects/effects/gibs.dm
  code/modules/mob/living/carbon/human/death.dm
Labels: :trollface: no xenos allowed, :wrench: фикс, :scroll: Есть CL

#11146 Removes invisible ghosts
  code/modules/mob/observer/ghost/ghost.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11149 fix(vessel flipping): bottles will no longer smash twice
  code/modules/reagents/reagent_containers/vessel/_vessel.dm
Labels: :scroll: Есть CL

#11140 fix(obj): pbag can be flipped back
  code/modules/clothing/masks/miscellaneous.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10623 fix(tajaran tails): fix slim tajaras' tails
  code/modules/mob/living/carbon/human/species/station/station.dm
  icons/mob/species/tajaran/tail.dmi
Labels: 🎨 спрайты, :scroll: Есть CL, 🧟 stale

#11150 fix(intergrals): idk what have i done
  code/modules/integrated_electronics/core/assemblies.dm
Labels: :wrench: фикс, :pager: интегралки, :scroll: Есть CL

#11151 Removes inability to craft balloon animals
  code/game/objects/items/balloons.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11154 fix(sec borgs): weapon rack is no longer invisible
  code/modules/mob/living/silicon/robot/robot_items.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#11155 Removes lack of things' height
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/pump.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/deployable.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/spaceheater.dm
  code/game/machinery/vending_frame.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/geltanks.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/turfs/turf.dm
  code/modules/mob/animations.dm
  code/modules/mob/mob_movement.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/papershredder.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/port_gen.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/tables/flipping.dm
  code/modules/tables/tables.dm
  icons/obj/atmos.dmi
  icons/obj/reagent_tanks.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11099 feat(eamc): peamc only block players with player age = 0
  code/modules/admin/EAMS.dm
Labels: :scroll: Есть CL

#11164 update(ci): BYOND version
  .github/workflows/additional_checks.yml
Labels: 🛠 Инструменты, :scroll: CL не требуется

#11161 Removes absence of windows baking
  code/controllers/subsystems/initialization/misc.dm
  code/game/objects/structures/window_frame.dm
Labels: 🔧 оптимизация, 🔨 рефакторинг, :scroll: CL не требуется

#11169 fix(tgui): remove invalid QDELETED checks
  code/controllers/subsystems/tgui.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11162 Removes lack of crates' immersiveness
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/cryopod.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/crittercrate.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/mining/mine_items.dm
  code/modules/multiz/industrial_lift/industrial_lift_console.dm
  icons/obj/crates.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11173 fix(speech_bubble): bad call
  code/modules/speech_bubble/speech_bubble.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11174 fix(build): more bad calls
  code/__defines/misc.dm
  code/datums/uplink/categories/services.dm
  code/game/antagonist/outsider/abductor/glands/plasma.dm
  code/game/area/areas.dm
  code/game/gamemodes/changeling/powers/sting_blind.dm
  code/game/gamemodes/changeling/powers/sting_deaf.dm
  code/game/gamemodes/changeling/powers/sting_hallucination.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/portals.dm
  code/game/turfs/simulated.dm
  code/modules/genetics/side_effects.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/regenerative.dm
  code/modules/mob/living/carbon/xenobiological/extracts.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/mob/living/simple_animal/hostile/giant_spiders/spiders_actions.dm
  code/modules/nano/nanoui.dm
  code/modules/organs/internal/posibrain.dm
  code/modules/reagents/Chemistry-Recipes.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11176 fix(build): projectiles & processing
  code/controllers/subsystems/processing/processing.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11182 fix(thinker): fix 2
  code/__defines/think.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11179 Removes inflatables' sleeps
  code/game/objects/structures/inflatable.dm
  icons/obj/inflatable.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11183 Removes absence of crew photos
  code/_helpers/icons.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/modular_computers/file_system/crew_record.dm
Labels: 🔩 улучшение, 🔧 оптимизация, :scroll: Есть CL

#11184 Removes absence of the last commit in the previous PR
  code/_helpers/icons.dm
Labels: :scroll: CL не требуется

#11186 Removes random fuckness from all around the code
  code/controllers/subsystems/vote.dm
  code/datums/progressbar.dm
  code/game/mecha/working/hoverpod.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/storage_ui/default.dm
  code/game/objects/items/tanks/jetpack.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/electricchair.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/hardware/_hardware.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/rcd/rcd.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#11192 Removes remnants of my enthusiasm
  baystation12.dme
  code/__defines/modifiers.dm
  code/_onclick/click.dm
  code/_onclick/hud/ability_screen_objects.dm
  code/_onclick/hud/skybox.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/inflatable.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/logout.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/organs/_organ_setup.dm
  code/modules/mob/organs/blood.dm
  code/modules/mob/organs/external/_external.dm
  code/modules/mob/organs/external/_external_damage.dm
  code/modules/mob/organs/external/_external_icons.dm
  code/modules/mob/organs/external/diona.dm
  code/modules/mob/organs/external/head.dm
  code/modules/mob/organs/external/standard.dm
  code/modules/mob/organs/external/stump.dm
  code/modules/mob/organs/external/unbreakable.dm
  code/modules/mob/organs/external/vox.dm
  code/modules/mob/organs/external/wounds/wound.dm
  code/modules/mob/organs/external/wounds/wound_types.dm
  code/modules/mob/organs/external/xenos.dm
  code/modules/mob/organs/internal/_internal.dm
  code/modules/mob/organs/internal/appendix.dm
  code/modules/mob/organs/internal/borer.dm
  code/modules/mob/organs/internal/brain.dm
  code/modules/mob/organs/internal/cerebrum.dm
  code/modules/mob/organs/internal/embryo.dm
  code/modules/mob/organs/internal/eyes.dm
  code/modules/mob/organs/internal/golem.dm
  code/modules/mob/organs/internal/heart.dm
  code/modules/mob/organs/internal/kidneys.dm
  code/modules/mob/organs/internal/liver.dm
  code/modules/mob/organs/internal/lungs.dm
  code/modules/mob/organs/internal/machine.dm
  code/modules/mob/organs/internal/man_machine_interface.dm
  code/modules/mob/organs/internal/metroid_jelly_vessel.dm
  code/modules/mob/organs/internal/posibrain.dm
  code/modules/mob/organs/internal/stack.dm
  code/modules/mob/organs/internal/stomach.dm
  code/modules/mob/organs/internal/voicebox.dm
  code/modules/mob/organs/internal/vox.dm
  code/modules/mob/organs/organ.dm
  code/modules/mob/organs/pain.dm
  code/modules/mob/organs/robolimbs.dm
  code/modules/modifier/modifier.dm
  code/modules/multiz/zshadow.dm
  code/modules/recycling/disposal.dm
  code/modules/spells/spells.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#11189 fix(vessel flipping): fixed runtime
  code/modules/reagents/reagent_containers/vessel/_vessel.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#11198 Removes bugs
  code/game/objects/items.dm
  code/game/objects/items/material/ashtray.dm
  code/game/objects/items/weapons/syndie.dm
  code/game/objects/structures/coathanger.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/tables/interactions.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11206 Removes some bugs and, hopefully, the 'callbacks.dm, line 58: bad proc's
  code/game/gamemodes/vampire/powers/veilwalk.dm
  code/game/jobs/access.dm
  code/game/objects/items/melee/energy.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/organs/internal/cerebrum.dm
  code/modules/mob/organs/internal/posibrain.dm
  code/modules/projectiles/gun.dm
  code/modules/spells/hand/hand_item.dm
  code/modules/splash_text/splash_text.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#11205 fix(necromancer): runtime no more
  code/modules/spells/targeted/raiseundead.dm
Labels: :scroll: CL не требуется

#11207 Removes yet another random runtimes
  code/game/objects/items/weapons/dice.dm
  code/game/objects/structures/lattice.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#11212 Removes bugs
  code/modules/games/cardemon.dm
  code/modules/games/spaceball_cards.dm
  code/modules/mob/organs/external/_external.dm
  code/modules/mob/organs/external/_external_icons.dm
  code/modules/mob/organs/internal/metroid_jelly_vessel.dm
  icons/mob/human_races/prometheans/r_slime.dmi
  icons/mob/metroids.dmi
Labels: 🎨 спрайты, 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#11213 Removes direct turfs qdeling with acid
  code/game/objects/effects/aliens.dm
Labels: :wrench: фикс, 🐍 ксеноморфы, :scroll: CL не требуется, 🐔 режим: воксы

#11216 Removes lack of SC2 references in the bar
  code/game/machinery/jukebox.dm
  icons/obj/jukebox.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11210 Necromancer: day one patch
  code/__defines/mobs.dm
  code/game/gamemodes/wizard/undead/undead_datum.dm
  code/modules/ghosttrap/trap.dm
  code/modules/spells/artifacts/ghost_gramophone.dm
  code/modules/spells/artifacts/plague_bell.dm
  code/modules/spells/classes/necromancer.dm
  code/modules/spells/hand/marsh_of_the_dead.dm
  code/modules/spells/targeted/no_remorse.dm
  code/modules/spells/targeted/raiseundead.dm
Labels: 🌌геймдизайн, 🔵 одобрено, 🧙‍♂️ режим: маг, :wrench: фикс, :scroll: Есть CL

#11218 Removes lack of new sprites
  icons/obj/library.dmi
  icons/obj/lighting.dmi
  icons/obj/vending.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11225 Removes lack of HD humans
  icons/inv_slots/shoes/mob_slim.dmi
  icons/mob/human_races/r_human.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11224 fix(skybox): remove temp fix
  code/_onclick/hud/skybox.dm
Labels: :recycle: ревёрт, :wrench: фикс, :scroll: Есть CL

#11226 Removes lack of nameofs in signals
  code/datums/appearances/appearance_manager.dm
  code/datums/appearances/automatic/_base.dm
  code/datums/browser.dm
  code/datums/components/cardborg.dm
  code/datums/components/mind_linker.dm
  code/datums/movement/movement.dm
  code/datums/proximity_trigger/proximity_trigger.dm
  code/datums/repositories/follow.dm
  code/datums/repositories/images.dm
  code/datums/sound_player.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/hacktool.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/admin/buildmode/edit.dm
  code/modules/admin/buildmode/move_into.dm
  code/modules/admin/buildmode/relocate_to.dm
  code/modules/admin/buildmode/throw_at.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/holder.dm
  code/modules/ghosttrap/trap.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/deity/phenomena/conjuration.dm
  code/modules/mob/living/farlook.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/freelook/visualnet.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/mob/observer/virtual/mob.dm
  code/modules/mob/organs/internal/cerebrum.dm
  code/modules/modular_computers/file_system/programs/engineering/power_monitor.dm
  code/modules/modular_computers/file_system/programs/engineering/shields_monitor.dm
  code/modules/multiz/turf.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/spells/racial_wizard.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/synthesized_instruments/real_instruments.dm
  code/modules/synthesized_instruments/sound_token.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: CL не требуется

#11237 Removes absence of NanoUI maps
  nano/images/eclipse/eclipse-1.png
  nano/images/foxhole/foxhole-1.png
  nano/images/foxhole/foxhole-2.png
  nano/images/genesis/genesis-1.png
  nano/images/genesis/genesis-2.png
  nano/images/sunset/sunset-1.png
  nano/images/sunset/sunset-2.png
  nano/images/sunset/sunset-3.png
Labels: :scroll: Есть CL, ☀️Сансет, :fox_face: Фоксхолл, Генезис

#11232 map(xmas): some exodus fun
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#11223 tweak(following): ghosts can orbit now
  baystation12.dme
  code/__defines/ces/signals_global.dm
  code/__defines/subsystem-priority.dm
  code/_helpers/matrices.dm
  code/controllers/subsystems/orbit.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/orbit/orbit.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#11240 Removes orbits' ability to kroyezh the autochecker
  code/modules/orbit/orbit.dm
Labels: :scroll: CL не требуется

#11239 Removes lack of immersive wound treatment
  code/datums/surgery/steps/implant.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
  code/modules/mob/organs/external/_external.dm
  code/modules/mob/organs/external/_external_damage.dm
  code/modules/mob/organs/external/_external_icons.dm
  code/modules/mob/organs/external/wounds/wound.dm
  icons/mob/human_races/bandages/mob.dmi
  icons/mob/human_races/bandages/mob_fat.dmi
  icons/mob/human_races/bandages/mob_slim.dmi
  icons/mob/human_races/bandages/mob_slim_alt.dmi
  icons/mob/human_races/bandages/mob_slim_m.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, 💉 медицина, :scroll: Есть CL

#11242 Removes absence of HD-edition gifts
  icons/obj/items.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11243 Orbit fix
  code/modules/mob/living/deity/deity_tracking.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/orbit/orbit.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11244 fix(orbiting): fix excessive signals
  code/modules/mob/observer/ghost/ghost.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11245 map(exodus): xmas some tweaks
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#11250 tweak(tracy): update the version of Tracy
  code/game/world.dm
  prof.dll
Labels: :wrench: фикс, :scroll: CL не требуется

#11259 Removes the inability to see ghosts while darkwatching
  code/modules/mob/observer/freelook/ai/eye.dm
  code/modules/mob/observer/freelook/cult/mask.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/ghost/login.dm
  code/modules/mob/observer/observer.dm
  code/modules/mob/observer/virtual/base.dm
Labels: :wrench: фикс, :skull: Cursed, :scroll: Есть CL, 👻 призраки

#11252 Removes lack of bloody feet
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11263 Removes lack of flaticons' speed
  code/_helpers/icons.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: CL не требуется, 👻 призраки

#11229 feat(nuclear_bomb): bomb timer will now use seconds instead of deciseconds
  code/game/machinery/nuclear_bomb.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#11238 fix(zombie): zombie sprite apply fix
  code/modules/mob/organs/external/_external_icons.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🧠 Режим: зомби

#11265 Removes random issues
  code/game/objects/structures/inflatable.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  icons/obj/inflatable.dmi
  maps/derelicts/asteroid/camp/camp-left.dmm
  maps/derelicts/asteroid/camp/camp-north.dmm
  maps/derelicts/asteroid/camp/camp.dmm
Labels: 🗺️ карта, 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11264 Removes genesis-specific runtimes
  code/game/map_ent/func_load_asteroid_derelict.dm
  code/modules/maps/reader.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется, Генезис

#11257 Removes teleports calibration AGAIN
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/teleporter.dm
  code/modules/integrated_electronics/core/prefab/prefabs.dm
  tgui/packages/tgui/interfaces/Teleporter.js
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, :iphone: UX/UI, :wrench: фикс, :scroll: Есть CL

#11254 fix(multitasking): removes ability to perform identical do_after() and do_mob()
  code/_global_vars/mobs.dm
  code/_helpers/mobs.dm
  code/datums/surgery/surgery_step.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11273 Satanic black magic sick shit or experimental fix of see-through: episode 2
  code/datums/chatmessage.dm
  code/modules/speech_bubble/speech_bubble.dm
Labels: :wrench: фикс, :skull: Cursed, :scroll: Есть CL

#11274 tweak(zombie): sprite runtime fix
  code/modules/mob/organs/external/_external_icons.dm
Labels: :scroll: CL не требуется

#11270 add: customitems sansandertale v2
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/guns/sr.dmi
Labels: 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11277 tweak(syringe): added ability to set APTFT
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: 🌌геймдизайн, 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#11267 Removes acidability from intercoms
  code/game/objects/items/devices/radio/intercom.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11280 Removes absence of pins
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/pins.dm
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/obj/clothing/ties.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL, 🏳️‍🌈 инклюзивность

#11248 Added Surstromming
  code/datums/uplink/categories/badassery.dm
  code/game/objects/items/trash.dm
  code/modules/reagents/reagent_containers/food/packaged.dm
  icons/obj/food_packaged.dmi
  icons/obj/trash.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11279 fix(teleporter): add emissivness & proper way to set id
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/teleporter.dm
  icons/obj/machines/teleporter.dmi
  tgui/packages/tgui/interfaces/Teleporter.js
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, 🎨 спрайты, :scroll: CL не требуется

#11282 feat(reagent_containers): add takeaway cup
  code/game/machinery/vending/boozeomat.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  icons/mob/onmob/items/lefthand_vessels.dmi
  icons/mob/onmob/items/righthand_vessels.dmi
  icons/obj/reagent_containers/vessels.dmi
  sound/effects/using/bottles/papercup.ogg
Labels: 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#11287 Revert "Removes absence of pins"
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/pins.dm
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/obj/clothing/ties.dmi
Labels: 🎨 спрайты, :knife: выпил из билда, :scroll: Есть CL

#11178 Новый список фраз для Поли
  code/_global_vars/lists/russian.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/mob/living/simple_animal/friendly/poly_phrases.txt
Labels: 🌌геймдизайн, 🔵 одобрено, :knife: выпил из билда, :scroll: Есть CL

#11285 Removes lack of takeaway cups' immersiveness
  code/game/machinery/vending/boozeomat.dm
  code/modules/reagents/reagent_containers/vessel/_lid.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  icons/obj/reagent_containers/vessels.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты

#11291 Новогодний лобби арт
  icons/splashes/onyx_new_year.png
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11294 spellcheck(announces): typo fix
  code/__defines/announce.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11296 Фикс нулевого дня для археологии
  code/modules/mining/mine_turfs.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11298 tweak(think): _think_ctxs lazy initialization
  code/datums/datum.dm
Labels: 🔧 оптимизация, :scroll: CL не требуется

#11308 fix(vending): GC will no longer consume cartridges
  code/game/machinery/vending/_vending.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11278 feat(holomap)
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/ces/signals_atom.dm
  code/__defines/items_clothing.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/wayfinding.dm
  code/modules/clothing/head/helmet.dm
  code/modules/holomaps/_holomap_defines.dm
  code/modules/holomaps/holochip.dm
  code/modules/holomaps/holomap.dm
  code/modules/holomaps/holomarker_component.dm
  code/modules/mob/mob_movement.dm
  code/modules/shuttles/antagonist.dm
  code/modules/shuttles/shuttle_specops.dm
  icons/480x480.dmi
  icons/holomap/holochips.dmi
  icons/holomap/holomap_markers.dmi
  icons/holomap/holomap_markers_32x32.dmi
  icons/holomap/holomap_markers_64x64.dmi
  maps/eclipse/eclipse-3.dmm
  maps/exodus/exodus-4.dmm
  maps/foxhole/foxhole-4.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-3.dmm
  maps/polar/polar-5.dmm
  tgui/packages/tgui/interfaces/Holochip.js
  tgui/packages/tgui/interfaces/Signaler.js
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :iphone: UX/UI, 🎨 спрайты, :scroll: Есть CL
