Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-10, with the labels that each got.

#10637 Новые спрайты книжных полок
  icons/obj/library.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#10644 fix(foxhole): some bugs, and issues
  maps/foxhole/foxhole-1.dmm
  maps/foxhole/foxhole-2.dmm
  maps/foxhole/foxhole-3.dmm
  maps/foxhole/foxhole-4.dmm
Labels: 🗺️ карта, 🔩 улучшение, :scroll: Есть CL, :fox_face: foxhole

#10595 feat(customs): TvarAnimeshka special order
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/lefthand_spacesuits.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/mob/onmob/items/righthand_spacesuits.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#10596 add(sound): add new megaphone, console and emotes sounds
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/emote_define.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_tablet.dm
  sound/effects/emotes/clap1.ogg
  sound/effects/emotes/clap2.ogg
  sound/effects/emotes/clap3.ogg
  sound/effects/emotes/clap4.ogg
  sound/effects/emotes/f_cry1.ogg
  sound/effects/emotes/f_cry2.ogg
  sound/effects/emotes/f_cry3.ogg
  sound/effects/emotes/f_cry4.ogg
  sound/effects/emotes/f_laugh.ogg
  sound/effects/emotes/f_sigh.ogg
  sound/effects/emotes/f_yawn.ogg
  sound/effects/emotes/m_cry1.ogg
  sound/effects/emotes/m_cry2.ogg
  sound/effects/emotes/m_cry3.ogg
  sound/effects/emotes/m_cry4.ogg
  sound/effects/emotes/m_laugh1.ogg
  sound/effects/emotes/m_laugh2.ogg
  sound/effects/emotes/m_sigh.ogg
  sound/effects/emotes/m_yawn.ogg
  sound/effects/emotes/snore1.ogg
  sound/effects/emotes/snore2.ogg
  sound/effects/emotes/snore3.ogg
  sound/effects/emotes/whistle1.ogg
  sound/effects/emotes/whistle2.ogg
  sound/effects/emotes/whistle3.ogg
  sound/effects/emotes/whistle4.ogg
  sound/items/megaphone.ogg
Labels: 🔊 SFX, :scroll: Есть CL

#10651 tweak(customs): add optional patron requirement
  code/__defines/donations_defines.dm
  code/modules/client/preference_setup/loadout/lists/custom.dm
  code/modules/customitems/item_spawning.dm
  config/schema/custom_items.schema.json
Labels: 📄 конфиг, :scroll: Есть CL

#10650 feat(custom items): adds KeepMan's custom item
  code/game/objects/items/devices/modkit.dm
  code/game/objects/items/weapons/shields.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_slim.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_slim.dmi
  icons/obj/weapons.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, :scroll: CL не требуется

#10654 balance(radiation) reducing the strength of the singularity radiation source
  code/modules/radiation/radiation_presets.dm
Labels: :scroll: Есть CL

#10680 upd(splashes): rebranding
  config/example/config.toml
  icons/splashes/chaotic_new.png
  icons/splashes/chaotic_old.png
  icons/splashes/onyx_new.png
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: CL не требуется

#10668 tweak(sound): Megaphone volume fix
  code/game/objects/items/devices/megaphone.dm
  code/modules/emotes/emote_define.dm
Labels: :scroll: CL не требуется

#10687 fix(cyborg_job): fixed broken late join for borgs
  code/game/jobs/job_controller.dm
Labels: :wrench: фикс, :mechanical_arm: FBP, :scroll: Есть CL

#10699 feat(guns): guns resprite
  icons/obj/guns/gun.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#10690 hair: balance
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/face/hair.dmi
  icons/mob/human_races/face/hair_slim.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#10702 feat(tools): tracy profiler
  README.md
  baystation12.dme
  code/game/world.dm
  docs/profiling.md
  prof.dll
Labels: 🛠 Инструменты, :scroll: CL не требуется

#10705 fix(tools): prof lib path
  code/game/world.dm
Labels: :wrench: фикс, 🛠 Инструменты, :scroll: CL не требуется

#10656 fix(dartgun): fix firing and update icon
  code/modules/projectiles/guns/projectile/dartgun.dm
Labels: :scroll: Есть CL

#10707 tweak(frontier): fix floating cameras, missing items & stupid decisions, remap lawyers office
  icons/turf/areas.dmi
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier_areas.dm
  maps/frontier/supermatter.dmm
Labels: 🗺️ карта, 🎨 спрайты, :scroll: Есть CL

#10717 add Industrial Gibber in: Exodus, Foxhole, Polar, Sunset. And mode tiny fix
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/foxhole/foxhole-1.dmm
  maps/foxhole/foxhole-2.dmm
  maps/polar/polar-1.dmm
  maps/polar/polar-2.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-3.dmm
Labels: 🗺️ карта, :scroll: CL не требуется

#10711 feat(light): optimizing light
  code/game/turfs/turf_changing.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/lighting/lighting_overlay.dm
  code/modules/lighting/lighting_source.dm
Labels: 🔧 оптимизация, :scroll: Есть CL

#10710 Оптимизация атмосферки
  code/game/turfs/simulated.dm
  code/game/turfs/turf_changing.dm
  code/modules/ZAS/Zone.dm
Labels: 🔧 оптимизация, :scroll: Есть CL

#10716 opt(radiation): speed up radiation traveling
  code/__defines/radiation.dm
  code/controllers/subsystems/radiation.dm
  code/modules/radiation/radiation.dm
  code/modules/radiation/radiation_source.dm
Labels: 🔧 оптимизация, :scroll: CL не требуется

#10720 tweak(air): more accurate zones
  code/controllers/subsystems/air.dm
Labels: 🔩 улучшение, 🔧 оптимизация, :scroll: Есть CL

#10718 tweak(frontier): fix pod runtimes, remove cringe piping, tweak room layout
  code/modules/mining/mine_turfs.dm
  code/modules/random_map/automata/caves.dm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/exodus/exodus_levels.dm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/frontier/frontier_define.dm
  maps/frontier/singularity.dmm
  maps/frontier/supermatter.dmm
Labels: 🗺️ карта, 🐈 runtime, :wrench: фикс, :scroll: CL не требуется, ⛏️ Фронтир

#10712 feat(glide): optimizing glide
  code/modules/mob/mob_movement.dm
Labels: 🔧 оптимизация, :scroll: Есть CL

#10715 add(clothing): tactical beret & cropped punk jacket
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/inv_slots/hats/icon.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/suits/icon.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#10730 СМОшно-вампирное
  code/game/antagonist/station/vampire.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🧛 режим: вампир, :scroll: Есть CL

#10731 fix(light): don't process deleted lights
  code/controllers/subsystems/lighting.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: Есть CL

#10721 Паникбункер ЕАМС
  code/modules/admin/EAMS.dm
Labels: 🔩 улучшение, :gear: кнопки, :scroll: Есть CL

#10741 fix(frontier): fix air alarm & minor map tweaks
  maps/frontier/frontier-1.dmm
Labels: 🗺️ карта, :scroll: CL не требуется, ⛏️ Фронтир

#10586 Port TG renderers
  baystation12.dme
  code/__defines/__initialization.dm
  code/__defines/__qdel.dm
  code/__defines/__renderer.dm
  code/__defines/_planes+layers.dm
  code/__defines/_render.dm
  code/__defines/_render_readmee.md
  code/__defines/filters.dm
  code/__defines/flags.dm
  code/__defines/subsystems.dm
  code/_helpers/lists.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  code/game/area/Space Station 13 areas.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/hologram.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/grenades/flashbang.dm
  code/game/objects/objs.dm
  code/game/objects/structures/blob/blob.dm
  code/game/objects/structures/flora.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/debug.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/atmospherics/pipes.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/lighting/lighting_planemaster.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/multiz/industrial_lift/industrial_lift.dm
  code/modules/power/cable.dm
  code/modules/power/lighting.dm
  code/modules/power/terminal.dm
  code/modules/psychotronics/psychoscope.dm
  code/modules/recycling/disposal.dm
  code/modules/speech_bubble/speech_bubble.dm
  code/procs/hud.dm
Labels: 🔩 порт, :skull: Cursed, :scroll: Есть CL, :snail: улика

#10747 fix(hud): fix objects appearing on new_mob's screen after respawn
  code/modules/mob/observer/ghost/ghost.dm
Labels: :scroll: CL не требуется

#10751 feat(safety): moved to config, remove unnecessary safeties
  code/datums/configuration/misc_section.dm
  code/modules/clothing/chameleon.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/mining.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/flamer.dm
  code/modules/projectiles/guns/launcher.dm
  code/modules/projectiles/guns/portalgun.dm
  code/modules/projectiles/guns/projectile/bloodchill.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/projectiles/guns/projectile/lawgiver.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  config/example/config.toml
Labels: 🔩 улучшение, 📄 конфиг, :scroll: Есть CL

#10749 feat(renderers): fixed ao, skybox, reduced blur_time
  code/__defines/__renderer.dm
  code/__defines/_render.dm
  code/__defines/filters.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/skybox.dm
  code/controllers/subsystems/skybox.dm
  code/game/objects/items/grenades/flashbang.dm
  code/game/turfs/turf.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  maps/exodus/exodus-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#10732 fix(hud): fix adding qdeleted actions to the HUD
  code/modules/mob/living/living_defense.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: Есть CL

#10735 fix(metabolism): qdel cleanup
  code/modules/reagents/Chemistry-Metabolism.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10756 feat(planes): moved someitems to turf plane
  code/game/machinery/hologram.dm
  code/game/turfs/simulated/floor_icon.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/atmospherics/pipes.dm
  code/modules/power/cable.dm
  code/modules/power/terminal.dm
Labels: :scroll: CL не требуется

#10587 tweak(manifest_prediction) Predicts a crew manifest based on declares in lobby
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modular_computers/file_system/manifest.dm
Labels: :scroll: Есть CL

#10763 tweak(throw): fix nullspace stuck
  code/game/atoms_movable.dm
  code/game/objects/buckling.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10777 tweak(synthetics): multiple bug fixes
  code/_helpers/roundend.dm
  code/game/antagonist/station/traitor.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#10776 fix(matchmaking): no more relationships with cyborgs
  code/modules/client/preference_setup/matchmaking/matchmaking.dm
Labels: 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#10781 feat(planes): fixed some bugs
  code/__defines/_render.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/pipes.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10778 optimization(exodus): remove unnecessary z-levels
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/exodus/exodus-5.dmm
  maps/exodus/exodus-6.dmm
  maps/exodus/exodus_define.dm
  maps/exodus/exodus_levels.dm
Labels: 🗺️ карта, :scroll: Есть CL

#10779 fix(warnings): remove warnings
  code/datums/helper_datums/teleport.dm
  code/game/turfs/simulated/walls.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10784 fix(exodus): fix prison cave generation
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus_levels.dm
Labels: 🗺️ карта, :scroll: CL не требуется

#10775 fix(genesis): add missing tasers
  maps/genesis/genesis-2.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#10786 fix(mmi): fix runtime when clicking on empty mmi & add trottine support
  code/modules/organs/internal/man_machine_interface.dm
  icons/mob/human_races/organs/mmi.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10790 feat(guns&holster): added action button for holster, fixed projectiles in space
  code/modules/clothing/under/accessories/holster.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#10788 fix(gibber): gibber no longer gib clientless mobs
  code/game/machinery/kitchen/gibber.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10787 fix(supplypacks): correct typo in supplypack name
  code/datums/supplypacks/materials.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10797 feat(ghost spawners): some rework, added possessable mobs to list, some bug fixes
  code/__defines/misc.dm
  code/_onclick/hud/alert.dm
  code/datums/events/mimics_invasion.dm
  code/datums/spawners_menu/spawners_menu.dm
  code/game/objects/effects/spiders.dm
  code/modules/admin/verbs/possess_mob.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
  code/modules/mob_spawn/ghost_roles/spider_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/organs/internal/posibrain.dm
  tgui/packages/tgui/interfaces/SpawnersMenu.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :scroll: Есть CL

#10795 Removes vampires, adds vampires
  baystation12.dme
  code/__defines/gamemode.dm
  code/_onclick/hud/ability_screen_objects.dm
  code/datums/mind.dm
  code/game/antagonist/station/thrall.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/powers/alertness.dm
  code/game/gamemodes/vampire/powers/bats.dm
  code/game/gamemodes/vampire/powers/bloodheal.dm
  code/game/gamemodes/vampire/powers/darkvision.dm
  code/game/gamemodes/vampire/powers/drain_blood.dm
  code/game/gamemodes/vampire/powers/embrace.dm
  code/game/gamemodes/vampire/powers/enthrall.dm
  code/game/gamemodes/vampire/powers/glare.dm
  code/game/gamemodes/vampire/powers/grapple.dm
  code/game/gamemodes/vampire/powers/hypnotise.dm
  code/game/gamemodes/vampire/powers/order.dm
  code/game/gamemodes/vampire/powers/presence.dm
  code/game/gamemodes/vampire/powers/revitalise.dm
  code/game/gamemodes/vampire/powers/screech.dm
  code/game/gamemodes/vampire/powers/suggestion.dm
  code/game/gamemodes/vampire/powers/touch_of_life.dm
  code/game/gamemodes/vampire/powers/veilstep.dm
  code/game/gamemodes/vampire/powers/veilwalk.dm
  code/game/gamemodes/vampire/vampire_datum.dm
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/gamemodes/vampire/vampire_objectives.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
  icons/hud/screen_spells.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, :wrench: фикс, 🧛 режим: вампир, :scroll: Есть CL

#10803 Removes floodlight icon outdatedness
  icons/obj/machines/floodlight.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#10802 Removes simple_animals' ultimate anti-taser defence
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: :wrench: фикс, 🐭 мыш, ⚔️ боёвка, :scroll: Есть CL

#10794 hair again: фиксы пикселей
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/face/hair.dmi
  icons/mob/human_races/face/hair_slim.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#10809 Removes posters' inconsistency
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/contraband.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: CL не требуется

#10689 refact(surgery): make surgery a bit less painful to modify
  baystation12.dme
  code/_helpers/global_access.dm
  code/_helpers/global_lists.dm
  code/_helpers/surgery.dm
  code/_helpers/unsorted.dm
  code/_onclick/item_attack.dm
  code/datums/surgery/_defines.dm
  code/datums/surgery/steps/bone.dm
  code/datums/surgery/steps/face.dm
  code/datums/surgery/steps/generic.dm
  code/datums/surgery/steps/implant.dm
  code/datums/surgery/steps/internal.dm
  code/datums/surgery/steps/limb.dm
  code/datums/surgery/steps/misc.dm
  code/datums/surgery/steps/robotic.dm
  code/datums/surgery/surgery_item.dm
  code/datums/surgery/surgery_status.dm
  code/datums/surgery/surgery_step.dm
  code/modules/integrated_electronics/subtypes/medical.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/surgery/_defines.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/metroids.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/~defines.dm
Labels: 🔩 улучшение, 🔨 рефакторинг, 💉 медицина, :scroll: Есть CL

#10813 Removes doorglass.dmi's outdated anims
  icons/obj/doors/doorglass.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#10815 feat(planes): fix AI wall hax, moved disposal pipes
  code/__defines/__renderer.dm
  code/__defines/_render.dm
  code/modules/recycling/disposal.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10818 fix(surgery_step): fix comments, typo & implant removal step
  code/datums/surgery/_defines.dm
  code/datums/surgery/steps/internal.dm
  code/datums/surgery/steps/limb.dm
  code/datums/surgery/steps/robotic.dm
  code/datums/surgery/surgery_step.dm
  code/modules/integrated_electronics/subtypes/medical.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: CL не требуется

#10817 Some bugfixes
  code/modules/reagents/Chemistry-Reagents/food_drinks.dm
  code/modules/reagents/reagent_containers/food/_lunch_helpers.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10774 Реворк ПЕАМСа
  code/modules/admin/EAMS.dm
Labels: 🔩 улучшение, 🔨 рефакторинг, :gear: кнопки, :scroll: Есть CL

#10820 Removes vampires' inability to perform Veil Step via RMB
  code/game/gamemodes/vampire/powers/darkvision.dm
  code/game/gamemodes/vampire/powers/veilstep.dm
Labels: :wrench: фикс, 🧛 режим: вампир, :scroll: Есть CL

#10824 fix(surgery_step): fix advanced fixers not working
  code/datums/surgery/steps/internal.dm
Labels: :scroll: CL не требуется

#10826 fix(surgery_step): fix inability to perform face surgery
  code/datums/surgery/steps/face.dm
  code/datums/surgery/steps/generic.dm
  code/datums/surgery/surgery_step.dm
Labels: :scroll: CL не требуется

#10829 fix(nanoword): html encoding
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10832 feat(bot): add ban webhook
  code/datums/configuration/indigo_bot_section.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/admin_ranks.dm
  config/example/config.toml
Labels: 🛠 Инструменты, :scroll: CL не требуется

#10835 fix(bot): remove parenthesis from ban_webhook duraiton field
  code/modules/admin/DB ban/functions.dm
Labels: :wrench: фикс, 🛠 Инструменты, :scroll: CL не требуется
