Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-07, with the labels that each got.

#10283 QoL(rollerbeds && bodybags) added ability to load bodybags onto rollerbeds
  code/game/atoms.dm
  code/game/objects/buckling.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
Labels: 🔩 улучшение, 💉 медицина, :scroll: Есть CL, 🧻 QoL

#10423 Vampire Touch of life fix
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: :wrench: фикс, 🧛 режим: вампир, :scroll: Есть CL

#10422 Fix vampire bite paralisis
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: :wrench: фикс, 🧛 режим: вампир, :scroll: Есть CL

#10387 feat(organ_printer): Add company selection option for robolimb printer
  code/_helpers/global_access.dm
  code/game/machinery/bioprinter.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/silicon/robot/robot_parts.dm
  code/modules/organs/external/_external.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/external/head.dm
  code/modules/organs/robolimbs.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10452 tweak(fbp): adds a missing indefinite article on gibbing FBP's
  code/modules/organs/external/head.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10440 feat(drone): make drone use hull datum
  code/__defines/languages.dm
  code/datums/robot_hulls.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#10454 fix(map): sofa path tweak
  maps/random_rooms/3x5/sk_rdm137_tinyshrink.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#10458 hotfix(Xenobio): fixed a few bugs after release
  code/_onclick/hud/alert.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_clothing.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_misc.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_status_effects.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/charged.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/chilling.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/industrial.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/reproductive.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/stabilized.dm
  code/modules/mob/living/carbon/xenobiological/machinery/monkey_recycler.dm
  code/modules/mob/living/carbon/xenobiological/machinery/xenobio_camera.dm
  code/modules/mob/living/living.dm
  icons/effects/effects.dmi
  icons/hud/status_effects.dmi
  icons/obj/clothing/suits.dmi
  maps/exodus/exodus-1.dmm
  maps/frontier/frontier-1.dmm
  maps/polar/polar-2.dmm
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🗺️ карта, :iphone: UX/UI, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10461 fix(xenobio): fixed camera hotkeys, replace green to gray
  baystation12.dme
  code/__defines/ces/signals_mob.dm
  code/__defines/ces/signals_xenobio_contol.dm
  code/_onclick/click.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_corecross.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_misc.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/chilling.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/regenerative.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/stabilized.dm
  code/modules/mob/living/carbon/xenobiological/extracts.dm
  code/modules/mob/living/carbon/xenobiological/machinery/xenobio_camera.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
Labels: :wrench: фикс, 🤡 мемы, :scroll: Есть CL, 👾 метроиды

#10321 refact(hud): add more flexible way to show hud elements after creation
  baystation12.dme
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/construct.dm
  code/_onclick/hud/corgi.dm
  code/_onclick/hud/deity.dm
  code/_onclick/hud/diona_nymph.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/metroid.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/items.dm
  code/modules/client/ui_style.dm
  code/modules/mob/living/living_defense.dm
Labels: 🔩 улучшение, 🔨 рефакторинг, :scroll: CL не требуется

#10460 fix(xenoarcheology): fixed boulder digging
  code/modules/xenoarcheaology/boulder.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10459 Removes lack of VapeStation
  baystation12.dme
  code/game/machinery/vending/cigarette.dm
  code/game/objects/effects/cig_smoke.dm
  code/game/objects/items/smokables/ecigs.dm
  code/game/objects/items/weapons/ecigs.dm
  icons/effects/effects.dmi
  icons/obj/ecig.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10466 purge(nabber): remove broken nabber species
  baystation12.dme
  code/__defines/chemistry.dm
  code/__defines/languages.dm
  code/__defines/mobs.dm
  code/__defines/species.dm
  code/game/movietitles.dm
  code/game/turfs/simulated/footsteps.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/client/preferences.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/mob/grab/nab/grab_nab.dm
  code/modules/mob/grab/nab/nab_aggressive.dm
  code/modules/mob/grab/nab/nab_kill.dm
  code/modules/mob/grab/nab/nab_passive.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/nabber.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob_defines.dm
  code/modules/multiz/structures.dm
  code/modules/organs/external/_external_icons.dm
  code/modules/organs/internal/voicebox.dm
  code/modules/organs/subtypes/nabber_organ.dm
  code/modules/reagents/Chemistry-Reagents/basic.dm
  code/modules/reagents/Chemistry-Reagents/toxins.dm
  code/stylesheet.dm
  icons/mob/human_races/r_nabber.dmi
  icons/mob/human_races/r_nabber_threat.dmi
  icons/mob/human_races/r_template_tall.dmi
  icons/mob/nabber_face.dmi
  icons/mob/species/nabber/gloves.dmi
  icons/mob/species/nabber/ties.dmi
  icons/mob/species/nabber/uniform.dmi
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵 одобрено, :iphone: UX/UI, 🎨 спрайты, :trollface: no xenos allowed, :knife: выпил из билда, :scroll: CL не требуется, :snail: улика

#10471 Removes smoking badies
  code/game/objects/items/smokables/ecigs.dm
  code/game/objects/items/smokables/hookah.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10480 Removes hookah's quantum entanglement
  code/game/objects/items/smokables/hookah.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10482 add(decals): new decals
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/unsimulated/frozenground.dm
  icons/obj/decals.dmi
  icons/turf/flooring/decals.dmi
  icons/turf/snow.dmi
  icons/turf/snow_turf.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: CL не требуется

#10445 Апдейт Сансета и поручней
  code/datums/supplypacks/materials.dm
  code/game/objects/structures/railing.dm
  code/modules/item_worth/materials.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  icons/obj/materials.dmi
  icons/obj/railing.dmi
  maps/frontier/biodome/nanotrasen.dmm
  maps/sunset/sunset-1.dmm
  maps/sunset/sunset-2.dmm
  maps/sunset/sunset-3.dmm
  maps/sunset/sunset-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL, ☀️Сансет

#10444 tweak(nettle attack)
  code/modules/hydroponics/grown.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10490 fix(drone): now use proper footstep sound
  code/datums/robot_hulls.dm
Labels: :scroll: CL не требуется

#10485 Removes lack of drills' quality
  code/modules/mining/mine_items.dm
  icons/obj/tools.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10487 Removes lack of wrapping quality
  code/modules/recycling/sortingmachinery.dm
  icons/obj/storage.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10488 Removes boxes' souls
  icons/obj/storage.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10491 Removes big brains
  code/modules/organs/internal/brain.dm
  code/modules/reagents/reagent_containers/food/organ.dm
  icons/mob/human_races/organs/cyber.dmi
  icons/mob/human_races/organs/human.dmi
  icons/mob/human_races/organs/skrell.dmi
  icons/mob/human_races/organs/tajaran.dmi
  icons/mob/human_races/organs/unathi.dmi
  icons/mob/human_races/organs/vox.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10476 feat(xenobio): after release improvments
  code/game/jobs/job/ghost_role.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job_controller.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/burning.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/charged.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/consuming.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/selfsustaining.dm
  code/modules/mob/living/carbon/xenobiological/extracts_activation_reagents.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob/living/carbon/xenobiological/machinery/xenobio_camera.dm
  code/modules/mob/living/carbon/xenobiological/subtypes.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/reagents/Chemistry-Recipes.dm
  icons/hud/actions.dmi
  icons/obj/grenade.dmi
Labels: 🌌геймдизайн, 🌐 вики, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL, 👾 метроиды

#10372 feat(borer): tweak borer husks, add painless ability
  baystation12.dme
  code/__defines/borer.dm
  code/modules/mob/living/carbon/carbon_powers.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/organs/internal/borer.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL, 🤯 режим: борер

#9445 Снова генки. Медсканер эдишн
  code/game/gamemodes/changeling/biostructure.dm
  code/game/gamemodes/changeling/changeling_datum.dm
  code/game/gamemodes/changeling/changeling_power.dm
  code/game/gamemodes/changeling/powers/transform.dm
  code/game/gamemodes/changeling/powers/transform_monkey.dm
  code/game/machinery/adv_med.dm
  code/modules/integrated_electronics/subtypes/medical.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/internal/_internal.dm
  code/modules/reagents/Chemistry-Reagents/medicine.dm
Labels: 🔩 улучшение, 💉 медицина, :dna: режим: генокрад, :scroll: Есть CL

#10481 bugfix(rollerbag): space time travel between bag and roller
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/mob/living/living.dm
Labels: :wrench: фикс, :scroll: Есть CL

#10496 Removes MMI's inconsistency
  icons/mob/human_races/organs/mmi.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#10501 Removes trottines
  baystation12.dme
  code/__defines/_economy_defines.dm
  code/__defines/mobs.dm
  code/_helpers/global_lists.dm
  code/datums/events/mundane_news.dm
  code/game/antagonist/outsider/abductor/glands/viral.dm
  code/game/antagonist/outsider/ninja.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/swine.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/pestilence.dm
  icons/mob/human_races/face/facial_swine.dmi
  icons/mob/human_races/face/hair_swine.dmi
  icons/mob/human_races/r_swine.dmi
  maps/exodus/exodus_jobs.dm
  maps/~mapsystem/maps_jobs.dm
Labels: 🗺️ карта, 🎨 спрайты, :trollface: no xenos allowed, :knife: выпил из билда, :scroll: Есть CL

#10497 Removes PDA box cringe
  code/game/objects/items/devices/PDA/PDA.dm
  icons/obj/pda.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#10494 fix(cringe): make code from xenobio improvements use up-to-date codestyle
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob/living/carbon/xenobiological/subtypes.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#10436 feat(doomslayer-armor): remove from the game due to lack of item states
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/mining/abandonedcrates.dm
Labels: 🌌геймдизайн, :knife: выпил из билда, :scroll: Есть CL

#10333 feat(lawgiver): add lawgiver into game
  baystation12.dme
  code/__defines/misc.dm
  code/game/atoms.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/storage/secure.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/lawgiver.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/magnetic.dm
  config/names/lawgiver.txt
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/gun.dmi
  icons/obj/storage.dmi
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
  maps/polar/polar-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, 🔵 нужны ревью, ⚔️ боёвка, :scroll: Есть CL

#10365 fix(muzzled_say)
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
Labels: :wrench: фикс, 🔵 нужны ревью, :scroll: Есть CL, 🧟 stale

#10418 Fix vampire heal
  code/game/gamemodes/vampire/vampire_powers.dm
Labels: :wrench: фикс, 🧛 режим: вампир, :scroll: Есть CL

#10507 bugfix(guncase): incorrect proc path fix
  code/game/objects/items/storage/secure.dm
  code/modules/projectiles/guns/projectile/lawgiver.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10510 tweak(lawgiver): add more description info
  code/modules/projectiles/guns/projectile/lawgiver.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10509 tweak(surgery): organ image scaling and slidingfix
  code/modules/surgery/organs_internal.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 💉 медицина, :scroll: Есть CL

#10513 Removes trottines removal
  baystation12.dme
  code/__defines/_economy_defines.dm
  code/__defines/mobs.dm
  code/_helpers/global_lists.dm
  code/datums/events/mundane_news.dm
  code/game/antagonist/outsider/abductor/glands/viral.dm
  code/game/antagonist/outsider/ninja.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/swine.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/virus2/disease2.dm
  code/modules/virus2/pestilence.dm
  icons/mob/human_races/face/facial_swine.dmi
  icons/mob/human_races/face/hair.dmi
  icons/mob/human_races/face/hair_swine.dmi
  icons/mob/human_races/r_swine.dmi
  maps/exodus/exodus_jobs.dm
  maps/~mapsystem/maps_jobs.dm
Labels: 🗺️ карта, 🎨 спрайты, :trollface: no xenos allowed, :scroll: Есть CL

#10515 fix(splash_text): replace invalid proc call & variable usage
  code/game/atoms.dm
  code/modules/splash_text/splash_text.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#10520 fix(wall/cult): fixed dismantle_wall arguments
  code/game/turfs/simulated/wall_types.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#10535 bugfix(foreach): incorrect operand fix
  code/modules/integrated_electronics/subtypes/lists.dm
Labels: :wrench: фикс, :pager: интегралки, :scroll: Есть CL

#10527 fix(animation): antigravity animation no longer runtimes
  code/modules/mob/animations.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#10528 Foxhole station
  baystation12.dme
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/mining/mine_turfs.dm
  maps/foxhole/foxhole-1.dmm
  maps/foxhole/foxhole-2.dmm
  maps/foxhole/foxhole-3.dmm
  maps/foxhole/foxhole-4.dmm
  maps/foxhole/foxhole_define.dm
  maps/foxhole/foxhole_levels.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL

#10521 fix(xenomorph): now can't open containers
  code/_macros.dm
  code/game/objects/items/storage/storage.dm
Labels: :wrench: фикс, 🐍 ксеноморфы, :scroll: Есть CL

#10534 feat(ghost-hud): add toggleable ghost HUD & possessables menu
  baystation12.dme
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/datums/spawners_menu/spawners_menu.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/observer/ghost/ghost.dm
  icons/hud/screen_ghost.dmi
  tgui/packages/tgui/interfaces/SpawnersMenu.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵 одобрено, :iphone: UX/UI, 🎨 спрайты, :scroll: Есть CL

#10540 Removes lack of random optimizations
  code/_helpers/game.dm
  code/_macros.dm
  code/controllers/master.dm
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/machinery/navbeacon.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/devices/spy_bug.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/simulated/floor_icon.dm
  code/modules/awaymissions/gateway.dm
  code/modules/power/apc.dm
Labels: 🔧 оптимизация, 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#10541 tweak(cerebrum): fix some nasty ghostize calls & make brain dead on its removal
  code/modules/organs/internal/cerebrum.dm
Labels: :scroll: CL не требуется

#10522 feat(monkeycube): simple mobs now gib after consuming monkey cube
  code/modules/reagents/reagent_containers/food/unsorted.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#10549 fix(surgery) Stump fix
  code/modules/organs/external/_external.dm
  code/modules/organs/external/stump.dm
  code/modules/organs/organ.dm
Labels: :scroll: Есть CL

#10550 fix(font-awesome): bring back brand icons
  code/modules/client/asset_cache.dm
  html/font-awesome/README.MD
  html/font-awesome/webfonts/fa-brands-400.ttf
Labels: :scroll: CL не требуется
