Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-01, with the labels that each got.

#9959 fix(integrations): indigo bot data encoding
  code/modules/indigo_bot/indigo_bot.dm
Labels: :wrench: фикс

#9944 fix(rigs): now throws nades w/o pin
  code/modules/clothing/spacesuits/rig/modules/combat.dm
Labels: :wrench: фикс, ⚔️ боёвка, :scroll: Есть CL

#9838 tweak(hit_appends) hit suffix translation
  code/_global_vars/lists/flavor.dm
  config/translation/hit_appends.txt
Labels: 🌌геймдизайн, 🔵 одобрено, 📄 конфиг, :ru: локализация, :scroll: Есть CL

#9818 Tweak(contraband): New posters.
  code/game/objects/effects/decals/posters/bs12.dm
  icons/obj/contraband.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9369 Переделка доминирования вампиров
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  ingame_manuals/vampire.html
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, 🧛 режим: вампир, :scroll: Есть CL

#9768 tweak(storage): change slowdown from large waist pack
  code/game/objects/items/storage/belt.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9870 fix(job_restricts): fix job restricts for skrells
  maps/exodus/exodus_jobs.dm
  maps/~mapsystem/maps_jobs.dm
Labels: 🗺️ карта, :trollface: no xenos allowed, :scroll: Есть CL

#9514 Киркобуровое
  code/game/gamemodes/newobjective.dm
  code/game/gamemodes/objective.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/rock.dm
  code/game/objects/structures/rubble.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/ore.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/protolathe/dp-mining.dm
  code/modules/xenoarcheaology/boulder.dm
  code/modules/xenoarcheaology/tools/tools_pickaxe.dm
  icons/obj/tools.dmi
  icons/turf/walls.dmi
  maps/exodus/exodus-6.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-3.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9969 Заряженный дефибриллятор у ЕРТ
  maps/exodus/exodus-6.dmm
  maps/frontier/frontier-2.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL

#9968 Доступ в ЕВА у РД
  code/game/jobs/job/science.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL

#9967 Кровь на шаттл ЕРТ
  maps/exodus/exodus-6.dmm
  maps/frontier/frontier-2.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL

#9896 fix(devices): change multitool description
  code/game/objects/items/devices/multitool.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9877 bugfix(butterfly): now you can make the components of butterfly knife
  code/modules/materials/material_recipes.dm
Labels: :wrench: фикс, :scroll: Есть CL

#9920 feat(headphones): give music player to headphones
  baystation12.dme
  code/__defines/misc.dm
  code/_helpers/sound.dm
  code/modules/client/preference_setup/loadout/lists/earwear.dm
  code/modules/clothing/ears/earmuffs.dm
  code/modules/clothing/ears/headphones.dm
  code/modules/mob/hear_say.dm
  code/modules/modifier/traits.dm
  icons/inv_slots/ears/mob.dmi
  icons/inv_slots/ears/mob_r.dmi
  icons/inv_slots/ears/mob_r_slim.dmi
  icons/inv_slots/ears/mob_slim.dmi
  icons/obj/items.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#9728 Maptweak(exodus-2.dmm): Рядом с приёмными окнами РНД добавлены терминалы выдачи временного доступа
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL, 🧻 QoL

#9842 fix(input_alt) Makes alternative chat work as intended
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/typing_indicator.dm
  interface/skin.dmf
Labels: :wrench: фикс, :scroll: Есть CL

#9830 Меняем Тартарус, чтоб не руинил
  code/datums/vote/storyteller.dm
  code/game/storyteller/characters/tartarus.dm
  code/game/storyteller/storyteller_character.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :knife: выпил из билда, :scroll: Есть CL

#9894 Alien desc
  code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#9981 Revert "tweak(looc): tweak to make looc for only one mob"
  code/datums/communication/looc.dm
  code/game/verbs/ooc.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :recycle: ревёрт, :scroll: Есть CL

#9989 tweak(loadout): remove infinite items spawning
  code/modules/client/preference_setup/loadout/lists/pets.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: Есть CL

#9984 Душевое
  code/game/objects/structures/watercloset.dm
  icons/obj/watercloset.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10003 Ремув приоритета главам со средним возрастом
  code/game/jobs/job_controller.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: CL не требуется

#10005 fix(chem): del tabs
  code/modules/reagents/dispenser/cartridge_presets.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#9956 Холодильники будут отражать уровень заполненности
  code/game/machinery/kitchen/smartfridge.dm
  icons/obj/vending.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL, 🧻 QoL

#10009 tweak(changelog): 25.01.2023
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#10008 fix(brain): fix brain overheal
  code/modules/organs/internal/brain.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#10011 fix(embedded): fix double verb
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#10014 fix(mine): fix drills and logic for ore
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10019 tweak(changelog): 28.01.2023
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#10023 fix(say): ghost can now hear speech
  code/modules/mob/hear_say.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#8910 fix(assembly): big fix of assemblies
  code/__std/util.dm
  code/datums/proximity_trigger/proximity_trigger.dm
  code/datums/proximity_trigger/turf_selection.dm
  code/game/atoms_movable.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/assembly/voice.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/xenoarcheaology/effect.dm
Labels: 🔨 рефакторинг, 📺 ИИ|Борги, :wrench: фикс, 🔵 нужны ревью, :scroll: Есть CL, 🔩 Assemblies
