Repository ChaoticOnyx/OnyxBay, pull requests merged in 2023-09, with the labels that each got.

#10514 feat(gibber): removes lack of industrial gibbing equipment
  baystation12.dme
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/items/circuitboards/machinery/kitchen.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenobiological/machinery/monkey_recycler.dm
  code/modules/research/designs/circuitprinter/dc-machine_boards.dm
  icons/obj/kitchen.dmi
  icons/obj/machines/gibber.dmi
Labels: 🌌геймдизайн, 🌐 вики, 🔩 улучшение, 🔨 рефакторинг, 🎨 спрайты, :scroll: Есть CL

#10562 tweak(date): admins can now change station date
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
Labels: :gear: кнопки, :scroll: Есть CL

#10569 fix(extract): add ability to feed from a bag & fix description
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_corecross.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/reproductive.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :wrench: фикс, :scroll: CL не требуется, 👾 метроиды

#10560 tweak(map_ent) Add random derelict spawners
  baystation12.dme
  code/controllers/subsystems/mapping.dm
  code/game/map_ent/func_load_asteroid_derelict.dm
  code/game/turfs/unsimulated/liquid_plasma.dm
  icons/turf/floors.dmi
  maps/derelicts/asteroid/abductor/abductor.dmm
  maps/derelicts/asteroid/base/base.dmm
  maps/derelicts/asteroid/camp/camp-left.dmm
  maps/derelicts/asteroid/camp/camp-north.dmm
  maps/derelicts/asteroid/camp/camp.dmm
  maps/derelicts/asteroid/commibase/commibase.dmm
  maps/derelicts/asteroid/engeneering/engeneering-mirrored.dmm
  maps/derelicts/asteroid/engeneering/engeneering-north.dmm
  maps/derelicts/asteroid/engeneering/engeneering-sideways.dmm
  maps/derelicts/asteroid/engeneering/engeneering.dmm
  maps/derelicts/asteroid/mining/mining.dmm
  maps/derelicts/asteroid/research/research.dmm
  maps/derelicts/asteroid/shuttle/shuttle.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation-abad-easth.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation-abad.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation-easth.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation.dmm
  maps/frontier/ent_biodome.dm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10570 fix(extract): add duration for burning purple extract
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_status_effects.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/burning.dm
Labels: :wrench: фикс, :scroll: CL не требуется, 👾 метроиды

#10573 fix: DOOC support
  code/game/world.dm
Labels: :wrench: фикс, :scroll: CL не требуется, 🧪 потестим в проде

#10580 fix(gibber): no more runtimes, better thinking, move some logic
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/items/circuitboards/circuitboard.dm
  code/game/objects/items/circuitboards/machinery/kitchen.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#10575 fix: add dooc sanitizing
  code/game/world.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#10410 tweak(nutrition) Prolonged overeating or starving will change your body type.
  code/datums/configuration/health_section.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/life.dm
  config/example/config.toml
Labels: 🌌геймдизайн, 🔩 улучшение, 📄 конфиг, :scroll: Есть CL

#10585 Update hair.dmi
  icons/mob/human_races/face/hair.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#10583 Fix map vote pull
  code/datums/vote/map.dm
  maps/example/example_define.dm
  maps/~mapsystem/map_preferences.dm
Labels: 🗺️ карта, :scroll: CL не требуется

#10579 maptweak(Frontier) Map update
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/frontier/frontier_define.dm
  maps/frontier/singularity.dmm
  maps/frontier/supermatter.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#10593 maptweak(Sunset) Lots of tiny map fixes
  maps/sunset/sunset-1.dmm
  maps/sunset/sunset-2.dmm
  maps/sunset/sunset-3.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#10600 fix(foxhole): fixed some bugs, some improvments
  maps/foxhole/foxhole-1.dmm
  maps/foxhole/foxhole-2.dmm
  maps/foxhole/foxhole-3.dmm
  maps/foxhole/foxhole-4.dmm
  maps/foxhole/foxhole_define.dm
Labels: 🗺️ карта, 🔩 улучшение, :wrench: фикс, :scroll: Есть CL, :fox_face: foxhole

#10597 fix(radiation) Returned background radiation to supermatter
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/mecha/mecha.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/turf.dm
  code/modules/clothing/suits/utility.dm
  code/modules/power/gravitygenerator.dm
  code/modules/radiation/radiation.dm
  code/modules/radiation/radiation_presets.dm
Labels: :scroll: Есть CL
