Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-02, with the labels that each got.

#11478 Кастомка аниме-психа (TheUnknownOneBYND)
  code/modules/clothing/custom_clothing.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: CL не требуется

#11310 rcsdel(events): mimics will no longer spawn during random events
  baystation12.dme
  code/datums/events/mimics_invasion.dm
Labels: 🔩 улучшение, :knife: выпил из билда, :scroll: Есть CL

#11489 New year is so over.
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#11493 (fix) Рецепта блинов
  code/modules/hydroponics/seed_datums.dm
Labels: :scroll: Есть CL

#11492 Ограничение количества дереликтов + их ротация
  code/__defines/mapping.dm
  code/datums/configuration/mapping_section.dm
  config/example/config.toml
  maps/exodus/exodus_define.dm
  maps/~mapsystem/maps.dm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 📄 конфиг, :scroll: Есть CL

#11482 Изменение механики работы лестниц; Ремаппинг Экзампла
  baystation12.dme
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/atoms.dm
  code/modules/multiz/_stubs.dm
  code/modules/multiz/movement.dm
  code/modules/multiz/structures.dm
  icons/obj/stairs.dmi
  icons/obj/stairs_long.dmi
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
  maps/example/example-4.dmm
  maps/example/example_define.dm
Labels: 🗺️ карта, 🎨 спрайты, :scroll: Есть CL

#11496 tweak(splash_text): makes all splash_texts uniform
  code/game/machinery/OpTable.dm
  code/game/machinery/floor_light.dm
  code/modules/mining/machines/processing.dm
  code/modules/mining/machines/unloading.dm
  code/modules/paperwork/faxmachine.dm
Labels: :scroll: CL не требуется

#11508 fix(vending): fixes vending machine's access check
  code/game/machinery/vending/_vending.dm
Labels: :scroll: Есть CL

#11502 fix(eclipse)
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/eclipse/eclipse-6.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#11497 fix(sound_player): fixes null.loc runtime
  code/datums/sound_player.dm
Labels: :scroll: CL не требуется

#11501 Removes sanity, wounds the reality
  baystation12.dme
  code/datums/events/psychic_rift.dm
  code/modules/mob/living/simple_animal/hostile/psychic_glitch.dm
  icons/mob/psychic_glitch.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :game_die: сторителлер, :scroll: Есть CL

#11511 Fixes optable and stairs
  code/game/machinery/OpTable.dm
  code/modules/multiz/structures.dm
Labels: :scroll: Есть CL

#11514 tweak(stairs): stairs won't grief players anymore
  code/modules/multiz/movement.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11504 fix(SSradio): fixes radio listeners hard dels
  baystation12.dme
  code/__defines/radio.dm
  code/_global_vars/radio.dm
  code/_helpers/radio.dm
  code/controllers/subsystems/radio.dm
  code/datums/uplink/uplink_sources.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/raider.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/presets.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/game/objects/items/devices/PDA/radio.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/tvcamera.dm
  code/game/radio.dm
  code/modules/assembly/signaler.dm
  code/modules/atmospherics/components/binary_devices/dp_vent_pump.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/unary/outlet_injector.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/file_system/programs/generic/supply.dm
  code/modules/radio/frequency.dm
  code/modules/radio/object.dm
  code/modules/radio/signal.dm
  code/modules/xenoarcheaology/tools/tools.dm
  maps/~mapsystem/maps.dm
Labels: 🗺️ карта, 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#11512 fix(mecha): goliath hide overlay and generators fixes
  code/game/mecha/equipment/tools/tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/working/ripley.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11519 fix(surgery): fixes disfigured flag not removing after surgery success
  code/datums/surgery/steps/bone.dm
Labels: 💉 медицина, :wrench: фикс, :scroll: Есть CL

#11505 Сглаживание стен на ЦК
  code/game/turfs/simulated/wall_shuttle.dm
  code/game/turfs/unsimulated/walls.dm
  icons/turf/walls.dmi
  icons/turf/walls/riveted.dmi
  icons/turf/walls/shuttle_syndi.dmi
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11518 Removes psychic rifts' overheal
  code/modules/mob/living/simple_animal/hostile/psychic_glitch.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11521 Fixing dat movespeed
  code/game/dna/dna2_helpers.dm
  code/game/objects/items/crayons.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/carbon_nutrition.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/human/species/station/golems.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/slime.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_status_effects.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/mob/movement/modifiers/mobs.dm
  code/modules/mob/movement/modifiers/variable_slowdowns.dm
  code/modules/mob/movement/movespeed_modifier.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/Chemistry-Reagents/basic.dm
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
  code/modules/reagents/Chemistry-Reagents/food_drinks.dm
  code/modules/xenoarcheaology/effects/heal.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11522 tweak(UI): replaces input with tgui_input in ghost verb
  code/modules/mob/observer/ghost/ghost.dm
Labels: :scroll: CL не требуется

#11509 Removes absence of gatecrashers
  baystation12.dme
  code/_global_vars/lists/objects.dm
  code/datums/events/gatecrasher.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/cryobag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/human_subspecies.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :game_die: сторителлер, :scroll: Есть CL

#11528 Removes abductors from gatecrashers' code
  code/datums/events/gatecrasher.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11526 purge(magnet): removes magnet
  baystation12.dme
  code/__defines/radio.dm
  code/game/machinery/magnet.dm
  code/modules/item_worth/worths_list.dm
  icons/obj/objects.dmi
Labels: 🎨 спрайты, :knife: выпил из билда, :scroll: CL не требуется

#11523 fix(disposals): fixing my mistakes. Again!
  code/modules/recycling/disposal.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11530 refact(beacon): collapses bluespace beacons and beacons into a single type, minor code cleanup
  baystation12.dme
  code/_global_vars/bluespace_beacon.dm
  code/controllers/subsystems/supply.dm
  code/game/machinery/Beacon.dm
  code/game/machinery/computer/teleporter.dm
  code/game/objects/items/devices/bluespace_beacon.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/research/designs/protolathe/dp-bluespace.dm
  code/modules/xenoarcheaology/artifacts/replicator.dm
  code/modules/xenoarcheaology/finds/find_spawning.dm
  code/modules/xenoarcheaology/misc.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  code/modules/xenoarcheaology/tools/tools.dm
  icons/obj/device.dmi
  icons/obj/radio.dmi
  maps/derelicts/construction_site/construction_site.dmm
  maps/eclipse/eclipse-1.dmm
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
  maps/genesis/genesis-2.dmm
  maps/telecomms.dmm
Labels: 🗺️ карта, 🔧 оптимизация, 🔨 рефакторинг, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11535 fix(flashbang): clusterbang fix
  code/game/objects/items/grenades/flashbang.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11537 maptweak: removed newyear socks
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#11538 bugfix: QM suit storage
  code/game/objects/items/storage/garment.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11551 feat(custom): adds a custom item for sekonda
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/suits/mob.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11560 It still haunts me
  code/modules/emotes/emote.dm
  code/modules/emotes/emote_mob.dm
  code/modules/emotes/generic/visual.dm
  code/modules/mob/mob.dm
Labels: :scroll: Есть CL

#11564 Removes absence of hand-crank chargers
  baystation12.dme
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/devices/handcharger.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  icons/obj/device.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11567 Removes lack of emags
  baystation12.dme
  code/datums/uplink/categories/devices and tools.dm
  code/game/objects/items/devices/emag.dm
  icons/obj/pda.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, 🔫 режим: предатель, :scroll: Есть CL

#11539 tweak(shuttle): adds dynamic light to shuttles
  code/game/turfs/flooring/flooring_shuttle.dm
  code/game/turfs/simulated/wall_shuttle.dm
  code/game/turfs/unsimulated/floor.dm
  code/game/turfs/unsimulated/walls.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#11575 Removes some emag-related madness
  code/_macros.dm
  code/game/machinery/computer/camera_circuit.dm
  code/game/machinery/computer/shuttle.dm
  code/game/objects/items/devices/emag.dm
  code/modules/economy/EFTPOS.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/mine_items.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
  icons/turf/shuttle.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11576 Removes lack of stock part preserves
  baystation12.dme
  code/game/machinery/machinery.dm
  code/game/objects/items/circuitboards/machinery/research.dm
  code/modules/research/stock_parts.dm
  code/modules/research/stock_parts_processor.dm
  code/modules/research/stock_parts_replacer.dm
  icons/obj/stationobjs.dmi
  icons/obj/storage/misc.dmi
  maps/exodus/exodus-2.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🌐 вики, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#10425 Removes lack of gambling
  baystation12.dme
  code/__defines/announce.dm
  code/game/machinery/slot_machine.dm
  icons/obj/slotmachine.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/frontier/bar/classic.dmm
  maps/frontier/bar/modern.dmm
  maps/frontier/bar/saloon.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11583 Reattaches my foot after shooting it off
  code/game/machinery/slot_machine.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11581 fix(tgui): faxmachine will no longer eat your ID
  code/modules/paperwork/faxmachine.dm
  code/modules/tgui/states/machinery.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11590 feat(custom): adds a custom item for Deimosen
  code/modules/clothing/custom_clothing.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/suits/mob_slimalt_tajaran.dmi
  icons/obj/clothing/suits.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11591 Removes lack of slot machines' patchworking
  code/game/machinery/slot_machine.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11594 Upgrade(eclipse)_12022024
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/eclipse/eclipse-6.dmm
  maps/eclipse/eclipse_areas.dm
Labels: 🗺️ карта, :scroll: Есть CL

#11578 tweak(garment): changes garment size to large
  code/game/objects/items/storage/garment.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#11592 tweak(update_icon): adds base_icon_state variable to atoms
  code/game/atoms.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/cryopod.dm
  code/game/objects/structures/door_assembly.dm
  code/game/turfs/simulated/floor.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/mining/machines/mineral.dm
  code/modules/mining/machines/minting.dm
  code/modules/mining/machines/processing.dm
  code/modules/mining/machines/stacking.dm
  code/modules/mining/machines/unloading.dm
  code/modules/recycling/disposal.dm
  code/modules/supermatter/supermatter.dm
  icons/obj/machines/surgery_table.dmi
  icons/obj/surgery.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#11598 Removes lack of bloody hell
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/turfs/simulated.dm
  code/modules/mob/living/carbon/human/species/species.dm
  icons/effects/fluidtracks.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11596 feat(shuttles): resprite white shuttles
  code/game/shuttle_engines.dm
  code/game/turfs/simulated/wall_shuttle.dm
  icons/obj/podwindows.dmi
  icons/turf/walls/shuttle_whiteship.dmi
  maps/example/clown_shuttle.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/frontier/singularity.dmm
  maps/frontier/supermatter.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11605 fix(windows): now shuttle windows icon don't changes
  code/game/objects/structures/window.dm
Labels: :scroll: CL не требуется

#11603 fix(eclipse) Shuttles resprite
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/eclipse/eclipse-6.dmm
Labels: 🗺️ карта, :scroll: Есть CL, 🥚💋 Eclipse

#11604 Removes lack of randomized network IDs
  code/_helpers/global_access.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/crayons.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/subtypes/dev_telescreen.dm
  code/modules/modular_computers/hardware/_hardware.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/modular_computers/hardware/portable_hard_drive.dm
  code/modules/paperwork/pen.dm
  code/modules/power/batteryrack.dm
  code/modules/reagents/reagent_containers/food/sliceable.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#11609 fix(windows): del fucked checks for full windows
  code/_onclick/adjacent.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/floor_acts.dm
  code/modules/tables/tables.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#11611 Removes lack of hate-invoking remaps
  code/game/objects/structures/watercloset.dm
  code/game/turfs/flooring/flooring_decals.dm
  icons/obj/watercloset.dmi
  icons/turf/flooring/decals.dmi
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL, Исход

#11610 tweak(st): change event's chance formula
  code/controllers/subsystems/events.dm
  code/datums/events/event.dm
Labels: :game_die: сторителлер, :scroll: CL не требуется, 🧪 потестим в проде

#11630 Removes light from unpowered slot machines
  code/game/machinery/slot_machine.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11631 Removes rollerbedded dudes' bloody tracks
  code/game/turfs/simulated.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11628 Removes bugs
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, Исход

#11635 purge(dna): mutations
  baystation12.dme
  code/__defines/dna.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/initialization/misc.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_domutcheck.dm
  code/game/dna/dna2_helpers.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/gene.dm
  code/game/dna/genes/monkey.dm
  code/game/dna/genes/powers.dm
  code/game/gamemodes/changeling/powers/transform.dm
  code/game/gamemodes/setupgame.dm
  code/game/machinery/wishgranter.dm
  code/game/objects/effects/mines.dm
  code/modules/ZAS/Plasma.dm
  code/modules/ZAS/Variable Settings.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/detectivework/forensics.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/slime.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_status_effects.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/regenerative.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_mutations.dm
  code/modules/mob/movement/modifiers/mobs.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/transform_procs.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/psychotronics/neuromods.dm
  code/modules/reagents/Chemistry-Reagents/toxins.dm
  code/modules/spells/contracts.dm
  code/modules/virus2/effects/engineering.dm
  code/modules/virus2/effects/mild.dm
  code/modules/virus2/effects/mutation.dm
  code/modules/virus2/pestilence.dm
  code/modules/xenoarcheaology/effects/dnaswitch.dm
Labels: :knife: выпил из билда, :scroll: CL не требуется

#11634 feat(exodus): fix cargo airlock
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :scroll: CL не требуется

#11639 Upgrade(Eclipse) Decoration and Tech communications
  maps/eclipse/eclipse-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL

#11640 fix(openspace): carpets now don't see on z-levels
  code/game/turfs/simulated/floor_icon.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11582 Action Flavor a.k.a. OOC Flavor
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :wrench: фикс, :scroll: Есть CL

#11644 fix(grab): qdeled tables will no longer send mobs to nullspace
  code/modules/tables/interactions.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11653 fix(vending): fixes vendomat not playing cool animation due to its UI state
  baystation12.dme
  code/game/machinery/vending/_vending.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/tgui/states/machinery.dm
  code/modules/tgui/states/machinery_noacess.dm
Labels: :scroll: Есть CL

#11667 feat(orbit_panel): ports orbit panel from /TG/
  baystation12.dme
  code/__defines/ces/signals_global.dm
  code/_helpers/cmp.dm
  code/_helpers/global_access.dm
  code/_helpers/lists.dm
  code/_helpers/unsorted.dm
  code/controllers/subsystems/points_of_interest.dm
  code/datums/elements/point_of_interest.dm
  code/datums/repositories/follow.dm
  code/game/atom_orbit.dm
  code/game/atoms.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/objects/structures/blob/core.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/follow_panel.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/mob/living/living.dm
  code/modules/mob/observer/ghost/follow_panel.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/observer.dm
  code/modules/mob/observer/virtual/base.dm
  code/modules/power/singularity/singularity.dm
  code/modules/supermatter/supermatter.dm
  tgui/packages/tgui/interfaces/Orbit.tsx
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔩 улучшение, 🔩 порт, 🔵 одобрено, :iphone: UX/UI, :scroll: Есть CL

#11633 feat(exodus): better bridge and conference room
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL, Исход

#11655 feat(shakers): adds bluespace shaker
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  code/modules/research/designs/protolathe/dp-bluespace.dm
  icons/obj/reagent_containers/vessels.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11672 Фиксим Генезис
  maps/genesis/genesis-2.dmm
  maps/genesis/genesis-3.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, Генезис

#11656 feat(bedsheets): adds new bedsheets
  code/game/objects/structures/bedsheet_bin.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/obj/bedsheets.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11676 Zaebalo
  baystation12.dme
  code/modules/Z_item_worth/Value_procs/atoms.dm
  code/modules/Z_item_worth/Value_procs/mob.dm
  code/modules/Z_item_worth/Value_procs/obj.dm
  code/modules/Z_item_worth/Value_procs/obj/items.dm
  code/modules/Z_item_worth/Value_procs/obj/machinery.dm
  code/modules/Z_item_worth/Value_procs/obj/structures.dm
  code/modules/Z_item_worth/_helpers.dm
  code/modules/Z_item_worth/item_worth.dm
  code/modules/Z_item_worth/material_weapons.dm
  code/modules/Z_item_worth/materials.dm
  code/modules/Z_item_worth/reagents.dm
  code/modules/Z_item_worth/worths_list.dm
Labels: 🛠 Инструменты, :scroll: CL не требуется

#11673 feat(spray): adds no react spray
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/research/designs/protolathe/dp-medical.dm
  icons/obj/janitor.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11671 Removes cringe from hydroponic trays' icon update
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  code/modules/reagents/Chemistry-Reagents/basic.dm
  icons/obj/hydroponics_machines.dmi
  icons/obj/hydroponics_products.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11678 Removes closeted cringe
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  icons/mob/onmob/items/lefthand_shields.dmi
  icons/mob/onmob/items/righthand_shields.dmi
  icons/obj/closet_doors.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11683 Removes lack of storage immersiveness
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/fancy.dm
  code/game/objects/items/storage/firstaid.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/misc.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
  code/modules/detectivework/tools/storage.dm
  code/modules/mob/living/living.dm
  icons/obj/food.dmi
  icons/obj/forensics.dmi
  icons/obj/storage/backpacks.dmi
  icons/obj/storage/boxes.dmi
  icons/obj/storage/firstaid.dmi
  icons/obj/storage/misc.dmi
  icons/obj/toy.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11682 fix(light): fix light's update_icon causing negative power consumption
  code/modules/power/lighting.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: Есть CL

#11687 Removes nasral from the bridge
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, Исход

#11689 Removes absence of guncases' icons
  code/game/objects/items/storage/secure.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11694 Removes absence of guncases' icons, take 2
  code/game/objects/items/storage/secure.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11692 fix(lamp): light bulb deletion no longer causes light runtime
  code/modules/power/lighting.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: Есть CL
