Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-03, with the labels that each got.

#11696 Removes panties' displacement
  icons/inv_slots/hidden/mob.dmi
  icons/inv_slots/hidden/mob_slim.dmi
  icons/inv_slots/hidden/mob_slim_m.dmi
  icons/inv_slots/hidden/mob_slimalt.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11698 Removes lack of uniforms quality
  code/datums/supplypacks/medical.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/Z_item_worth/worths_list.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/custom_clothing.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/syndicate.dm
  icons/inv_slots/hidden/mob_slim.dmi
  icons/inv_slots/hidden/mob_slim_m.dmi
  icons/inv_slots/hidden/mob_slimalt.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
  maps/derelicts/snow_asteroid/snowasteroid.dmm
  maps/exodus/Loadout/loadout_uniform.dm
Labels: 🗺️ карта, 🎨 спрайты, :wrench: фикс, :knife: выпил из билда, :scroll: CL не требуется

#11675 feat(windoors): adds plasma and plasma secure windoors, adds podded window and windoors
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  icons/obj/doors/plasmawindoor.dmi
  icons/obj/doors/pwindow.dmi
  icons/obj/structures.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11706 fix(flavor): fixes small input box and wrong message
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11649 feat(intercom): adding craft of intercoms
  baystation12.dme
  code/game/machinery/wall_frames.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/intercom_frame.dm
  code/modules/materials/material_recipes.dm
  icons/obj/radio.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11711 Removes lack of emissive blockers' updates
  code/game/atoms_movable.dm
Labels: :wrench: фикс, :scroll: CL не требуется, :snail: улика

#11679 port'n'feat(turrets): turrets are no longer cringe (probably!)
  baystation12.dme
  code/__defines/machinery.dm
  code/_helpers/global_access.dm
  code/_helpers/maths.dm
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  code/datums/datum.dm
  code/datums/extensions/state_machine/state.dm
  code/datums/extensions/state_machine/state_machine.dm
  code/datums/extensions/state_machine/transition.dm
  code/datums/proximity_trigger/proximity_trigger.dm
  code/datums/proximity_trigger/turf_selection.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/turret/_targeting_datum.dm
  code/game/machinery/turret/_turret_control.dm
  code/game/machinery/turret/_turret_control_frame.dm
  code/game/machinery/turret/_turret_frame.dm
  code/game/machinery/turret/_turrets.dm
  code/game/machinery/turret/network_turret.dm
  code/game/machinery/turret/station_turrets.dm
  code/game/machinery/turret/turret_fsm.dm
  code/game/machinery/turret/turret_hostility.dm
  code/game/machinery/turret_control.dm
  code/modules/assembly/signaler.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/guns/energy/temperature.dm
  code/modules/projectiles/guns/flamer.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/lawgiver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/targeting/targeting_triggers.dm
  code/modules/research/designs/circuitprinter/dc-console_boards.dm
  icons/obj/machines/turret_control.dmi
  icons/obj/turrets.dmi
  maps/derelicts/sensor_array/sensor_array.dmm
  maps/derelicts/snow_asteroid/snowasteroid.dmm
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-1.dmm
  maps/genesis/genesis-2.dmm
  maps/genesis/genesis-3.dmm
  maps/telecomms.dmm
  tgui/docs/component-reference.md
  tgui/packages/tgui/interfaces/Turret.tsx
  tgui/packages/tgui/interfaces/TurretControl.tsx
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🗺️ карта, 🌐 вики, 🔩 улучшение, 🔧 оптимизация, 🔩 порт, 🔵 одобрено, :iphone: UX/UI, 🎨 спрайты, :scroll: Есть CL

#11710 Removes broken logic from psychic rifts
  code/modules/mob/living/simple_animal/hostile/psychic_glitch.dm
  icons/mob/psychic_glitch.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11714 Omfg
  code/game/machinery/turret/_turrets.dm
  code/modules/projectiles/gun.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11715 fix(turrets): no more dupe
  code/__defines/machinery.dm
  code/game/machinery/turret/_turrets.dm
  code/game/machinery/turret/station_turrets.dm
Labels: :scroll: CL не требуется

#11716 purge(indigo bot): BYOND account integration
  code/modules/indigo_bot/indigo_bot.dm
Labels: :knife: выпил из билда, 🛠 Инструменты, :scroll: CL не требуется

#11718 feat(indigo bot): bug reporting
  code/datums/configuration/indigo_bot_section.dm
  code/modules/indigo_bot/indigo_bot.dm
  config/example/config.toml
Labels: 🛠 Инструменты, :scroll: CL не требуется

#11721 Removes lack of flexibility in emissives
  code/_helpers/emissives.dm
  code/game/atoms_movable.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/intercom_frame.dm
  icons/obj/lighting.dmi
  icons/obj/radio.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11724 Removes lack of traps
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  icons/mob/human_races/r_human.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :skull: Cursed, :scroll: Есть CL

#11720 feat(bugreporting): adds in-game bug reporting system
  baystation12.dme
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/topic.dm
  code/modules/bugreporting/bugreporter.dm
  interface/interface.dm
  interface/skin.dmf
  tgui/packages/tgui/interfaces/BugReporter.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL

#11726 Removes slim flats' dicks
  code/modules/mob/living/carbon/human/body_build.dm
  icons/inv_slots/hidden/mob_slim_flat.dmi
  icons/mob/human_races/cyberlimbs/bishop/bishop_main.dmi
  icons/mob/human_races/cyberlimbs/hephaestus/hephaestus_main.dmi
  icons/mob/human_races/cyberlimbs/morpheus/morpheus_main.dmi
  icons/mob/human_races/cyberlimbs/unbranded/unbranded_main.dmi
  icons/mob/human_races/cyberlimbs/veymed/veymed_main.dmi
  icons/mob/human_races/cyberlimbs/wardtakahashi/wardtakahashi_main.dmi
  icons/mob/human_races/cyberlimbs/xion/xion_main.dmi
  icons/mob/human_races/cyberlimbs/zenghu/zenghu_main.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11728 fix(indigo bot): remove url encoding
  code/modules/indigo_bot/indigo_bot.dm
Labels: :wrench: фикс, 🛠 Инструменты

#11730 feat(version_control): blocks user with blacklisted builds
  code/datums/configuration/__defines.dm
  code/datums/configuration/general_section.dm
  code/modules/bugreporting/bugreporter.dm
  code/modules/client/client_procs.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  tgui/packages/tgui/interfaces/BugReporter.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI

#11733 Removes my autism from PDA/IDs examine
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/cards_ids.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11739 Removes ghosts' ability to have realistic eyesight
  code/modules/mob/living/carbon/human/examine.dm
Labels: 🔩 улучшение, :scroll: CL не требуется, 👻 призраки

#11737 fix(version_control): better message for blacklisted users
  code/modules/bugreporting/bugreporter.dm
  code/modules/client/client_procs.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11745 Removes lack of underworn quality (part 2)
  code/datums/underwear/undershirt.dm
  icons/inv_slots/hidden/mob.dmi
  icons/inv_slots/hidden/mob_fat.dmi
  icons/inv_slots/hidden/mob_slim.dmi
  icons/inv_slots/hidden/mob_slim_flat.dmi
  icons/inv_slots/hidden/mob_slim_m.dmi
  icons/inv_slots/hidden/mob_slimalt.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#11746 Removes cancer from navbeacons on the Exodus
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется, Исход

#11747 Resurrects lamps' pixel_shift
  code/modules/power/lighting.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11762 tweak(bugreporting): preventing spam
  tgui/packages/tgui/interfaces/BugReporter.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: CL не требуется

#11753 fix(synthetics): and another one
  code/modules/mob/living/carbon/carbon_nutrition.dm
Labels: :scroll: Есть CL

#11788 Removes absence of the canonical plant icons
  code/controllers/subsystems/plants.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  icons/obj/hydroponics_growing_canonical.dmi
  icons/obj/hydroponics_machines.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11785 Removes old he bulbs, adds new he bulbs
  icons/obj/lighting.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11790 Removes audible messages' intolerable cringe levels
  code/game/atoms.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/hologram.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/devices/holopad.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/implants/implants/voice_triggered/explosive.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/structures/morgue.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/food/replicator.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/multiz/structures.dm
  code/modules/music_player/_music_player.dm
  code/modules/power/port_gen.dm
  code/modules/power/singularity/collector.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile/lawgiver.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/research/message_server.dm
  code/modules/vehicles/engine.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11776 Removes the ability to take nulls outta hand-crank chargers
  code/game/objects/items/devices/handcharger.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11775 Removes inverted logic from #11739
  code/modules/mob/living/carbon/human/examine.dm
Labels: :wrench: фикс, :scroll: CL не требуется, 👻 призраки

#11771 fix(faxmachine): paper teleporting no more
  code/modules/paperwork/faxmachine.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11770 fix(revolution): revolution will no longer spawn with 4 declares
  code/game/gamemodes/revolution/revolution.dm
Labels: :wrench: фикс, ✊ режим: революция, :scroll: Есть CL

#11778 Removes broken stuff from chameleons' choices
  baystation12.dme
  code/modules/clothing/chameleon.dm
  code/modules/clothing/custom_clothing.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/~custom_clothing/custom_clothing.dm
Labels: :wrench: фикс, 🔫 режим: предатель, :scroll: Есть CL

#11768 feat(guns): adds bolt-action rifles
  baystation12.dme
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/datums/supplypacks/security.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/bolt_action.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/inv_slots/back/mob.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/gun.dmi
  sound/effects/weapons/gun/bolt_back_2.ogg
  sound/effects/weapons/gun/bolt_forward_2.ogg
  sound/effects/weapons/gun/fire_792.ogg
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#11786 Removes runtime in ~/blood.dm, line 87: Cannot execute null.resolve()
  code/modules/reagents/Chemistry-Reagents/blood.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11744 fix(cringe): pain_immunity in modifiers now works
  code/modules/modifier/modifier.dm
Labels: :scroll: CL не требуется

#11777 feat(spp): removes lack of proper TGUI
  code/modules/research/stock_parts_processor.dm
  tgui/packages/tgui/interfaces/StockPartsProcessor.tsx
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵 одобрено, :iphone: UX/UI, :scroll: Есть CL

#11779 Removes lack of wall flags
  code/game/objects/structures/signs.dm
  icons/obj/decals.dmi
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: CL не требуется

#11783 feat(secsmith): removes lack of proper TGUI
  code/game/machinery/secsmith.dm
  tgui/packages/tgui/interfaces/SecSmith.tsx
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵 одобрено, :iphone: UX/UI, :scroll: Есть CL

#11796 fix(indigo bot): async http requests leak
  code/datums/http.dm
  code/modules/indigo_bot/indigo_bot.dm
Labels: :wrench: фикс, 🛠 Инструменты, :scroll: CL не требуется

#11798 feat(VV): decreases the chance of [roscomnadzor] while working with bitfields
  baystation12.dme
  code/__defines/bitfields.dm
  code/_global_vars/bitfields.dm
  code/datums/browser.dm
  code/datums/events/gatecrasher.dm
  code/game/gamemodes/vampire/powers/bloodheal.dm
  code/game/gamemodes/vampire/powers/drain_blood.dm
  code/game/gamemodes/vampire/powers/embrace.dm
  code/game/gamemodes/vampire/powers/enthrall.dm
  code/game/gamemodes/vampire/powers/veilstep.dm
  code/game/gamemodes/vampire/vampire_datum.dm
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/objects/items/devices/t_scanner.dm
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/game/objects/structures/under_wardrobe.dm
  code/game/turfs/simulated/walls.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/clothing/underwear/base.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_random.dm
  code/modules/mob/living/carbon/human/species/station/golems.dm
  code/modules/mob/living/carbon/human/species/station/human_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/lizard.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/stargazer.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/swine.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_powers.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/mob/organs/external/_external_icons.dm
  code/modules/mob/organs/external/head.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/reagents/Chemistry-Reagents/other.dm
Labels: :gear: кнопки, 🛠 Инструменты, :scroll: CL не требуется

#11791 feat(extinguisher_cabinet): adds refill behavior
  code/game/objects/structures/extinguisher.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#11801 bugfix(lighter): synthetic limbs are no longer burned by lighters
  code/game/objects/items/weapons/lighters.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11808 fix(view): don't show organs in view
  code/modules/mob/organs/internal/_internal.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11800 bugfix(barricade): removes varedit of barricades' layer
  code/game/objects/structures/barricade/_barricade.dm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#11812 bugfix(sounds): ugly drop sounds are no longer played on rejuv/gib
  code/modules/mob/organs/organ.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11814 bugfix(organs): removes sudden death syndrome
  code/modules/mob/organs/internal/_internal.dm
Labels: :scroll: CL не требуется

#11815 Removes excessive neuron-activating traits from meathooks
  code/datums/uplink/categories/job.dm
  code/modules/projectiles/guns/special/meathook.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/kitchen.dmi
Labels: 🔩 улучшение, 🎨 спрайты, 🔫 режим: предатель, :scroll: CL не требуется

#11818 Removes the loss of UIs during DNA copying
  code/game/dna/dna2.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11819 fix(build): remove space worm
  baystation12.dme
  code/modules/mob/living/simple_animal/worm.dm
  code/modules/mob/transform_procs.dm
Labels: :wrench: фикс, :knife: выпил из билда, :scroll: CL не требуется

#11824 Removes lack of Move() refactors
  code/_onclick/hud/skybox.dm
  code/game/machinery/CableLayer.dm
  code/game/machinery/floorlayer.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/objects/structures/window.dm
  code/modules/assembly/proximity.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/kobold.dm
  code/modules/mob/observer/freelook/eye.dm
  code/modules/mob/observer/freelook/update_triggers.dm
  code/modules/power/pedal_gen.dm
  code/modules/power/power_usage.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/train.dm
  code/modules/vehicles/vehicle.dm
  code/modules/xenoarcheaology/artifacts/artifact.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#11827 fix(holodeck): add ability to deconstruct console & fix theatre template
  baystation12.dme
  code/game/machinery/computer/computer.dm
  code/game/objects/effects/landmarks/clothing.dm
  code/game/objects/items/circuitboards/computer/holodeckcontrol.dm
  code/modules/holodeck/computer.dm
  maps/eclipse/eclipse-3.dmm
  maps/templates/holodeck_theatre.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#11834 Removes absence of Ian
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#11837 Removes lack of grey mice's movement anims
  icons/mob/mouse.dmi
Labels: 🎨 спрайты, :wrench: фикс, 🐭 мыш, :scroll: Есть CL

#11835 Removes lack of infrared beam dirs
  code/modules/assembly/infrared.dm
  icons/obj/projectiles.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11836 Removes broken walls from the Guitar Shuttle
  maps/telecomms.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#11838 Removes absence of parcels' desc update
  code/modules/recycling/sortingmachinery.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11840 Removes bodybuilt ties' broken icons
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11846 Resolves #11845
  code/game/objects/items/material/shards.dm
  code/game/objects/items/stacks/stack.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11841 Removes broken cables from Exodus
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL, Исход

#11823 fix(waterclost): shocking yourself with a baton now plays a sound
  code/game/objects/structures/watercloset.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11822 tweak(boxing gloves): xeno lobby wins.
  code/game/machinery/vending/fitness.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  maps/templates/holodeck_boxing.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#11853 fix(mecha construction): fixes mechas' armor welding
  code/game/mecha/mecha_construction_paths.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11852 Spies, rejoice! A.k.a. fixing spy bugs
  code/game/objects/items/devices/spy_bug.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11848 tweak(secure storage): removes excess of nanoui
  baystation12.dme
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/secure/_secure.dm
  code/game/objects/items/storage/secure/briefcase.dm
  code/game/objects/items/storage/secure/guncases.dm
  code/game/objects/items/storage/secure/safe.dm
  tgui/packages/tgui/interfaces/DetectiveGuncase.tsx
  tgui/packages/tgui/interfaces/Guncase.tsx
  tgui/packages/tgui/interfaces/LockedSafe.tsx
  tgui/packages/tgui/interfaces/common/LockKeypad.tsx
  tgui/packages/tgui/styles/interfaces/NuclearBomb.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :scroll: Есть CL

#11856 fix(boxing gloves): removes runtimes
  code/modules/clothing/gloves/boxing.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11854 fix(rcd): fixing UI bugs, rebalancing costs slightly
  code/_global_vars/lists/rcd.dm
  code/modules/rcd/_rcd.dm
  code/modules/rcd/ammo.dm
  code/modules/rcd/rcd.dm
  tgui/packages/tgui/interfaces/RapidConstructionDevice.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :wrench: фикс, :scroll: Есть CL

#11862 feat(status): adds comact status bar with theme support
  code/modules/client/client_procs.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  interface/skin.dmf
  tgui/packages/tgui-panel/themes.js
  tgui/public/tgui-panel.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :scroll: Есть CL

#11857 Removes lack of HD uniforms
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#11873 fix(assorted): various bugfixes
  code/datums/supplypacks/security.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/grenades/grenade.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mining/machines/stacking.dm
  code/modules/shield_generators/floor_diffuser.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11875 feat(storage): adds ability to click on border overlays in storage
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/storage/storage_ui/default.dm
  code/game/objects/items/storage/storage_ui/storage_ui.dm
Labels: 🔩 улучшение, :scroll: Есть CL, 🧻 QoL

#11874 tweak(who): makes watchlisted griefers more noticeable in who
  code/game/verbs/who.dm
Labels: 🛠 Инструменты, :scroll: Есть CL

#11883 feat(skin): remove alternate input, add settings & character setup shortcuts, move scaling preferences to settings
  code/game/verbs/ooc.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/client/preferences.dm
  interface/interface.dm
  interface/skin.dmf
Labels: 🔩 улучшение, :scroll: Есть CL

#11885 Fixing my mistakes
  code/game/objects/items/weapons/cards_ids.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11884 tweak(status): add status bar visibility prefrence
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/client/preferences.dm
Labels: 🔩 улучшение, :scroll: Есть CL, 🧻 QoL

#11892 feat(uniform): small duck on the head
  code/game/objects/structures/watercloset.dm
  icons/inv_slots/hats/mob.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#11888 Removes lack of HD clothing, part 2
  code/modules/clothing/spacesuits/void/misc.dm
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#11887 Guantanamo update
  code/game/objects/structures/mop_bucket.dm
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  sound/effects/toilet_flush.ogg
Labels: 🌌геймдизайн, 🔩 улучшение, 🔊 SFX, :scroll: Есть CL

#11904 Removes lack of chat flooding
  code/datums/surgery/steps/generic.dm
  code/datums/surgery/steps/implant.dm
  code/datums/surgery/steps/internal.dm
  code/datums/surgery/steps/limb.dm
  code/datums/surgery/steps/robotic.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/doors/firedoor_assembly.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/secsmith.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/intercom_frame.dm
  code/game/objects/items/storage/secure/_secure.dm
  code/game/objects/items/storage/secure/briefcase.dm
  code/game/objects/items/storage/secure/guncases.dm
  code/game/objects/items/tools/welding.dm
  code/game/objects/structures/barricade/material.dm
  code/game/objects/structures/barricade/security.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/roulette.dm
  code/game/objects/structures/watercloset.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/turfs/simulated/floor_acts.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mining/machines/mineral.dm
  code/modules/mining/machines/processing.dm
  code/modules/mining/machines/stacking.dm
  code/modules/mining/machines/unloading.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/reproductive.dm
  code/modules/mob/organs/internal/man_machine_interface.dm
  code/modules/mob/organs/internal/posibrain.dm
  code/modules/multiz/structures.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/rcd/_rcd.dm
  code/modules/rcd/rcd.dm
  code/modules/rcd/rcd_borg.dm
  code/modules/rcd/rcd_mounted.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  code/modules/splash_text/splash_text.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#11900 fix(bluespaceshaker): add a lid (2)
  icons/obj/reagent_containers/vessels.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#11905 Revert(stairs): return to old stairs logic
  code/modules/multiz/movement.dm
  code/modules/multiz/structures.dm
  icons/obj/stairs.dmi
  icons/obj/stairs_long.dmi
  maps/example/example-1.dmm
  maps/example/example-2.dmm
  maps/example/example-3.dmm
  maps/example/example-4.dmm
  maps/example/example_jobs.dm
Labels: 🗺️ карта, 🎨 спрайты, :recycle: ревёрт, :scroll: Есть CL

#11893 Sanity and humanity lost a.k.a TGUI for pipe dispenser
  baystation12.dme
  code/_global_vars/lists/pipe_dispenser.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/dispenser_recipes.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/pipe/pipelayer.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/omni_devices/omni_base.dm
  code/modules/atmospherics/components/portables_connector.dm
  code/modules/atmospherics/components/trinary_devices/filter.dm
  code/modules/atmospherics/components/trinary_devices/mixer.dm
  code/modules/atmospherics/components/tvalve.dm
  code/modules/atmospherics/components/unary/heat_exchanger.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/atmospherics/components/valve.dm
  code/modules/atmospherics/pipes.dm
  code/modules/recycling/disposal-construction.dm
  tgui/packages/tgui/interfaces/PipeDispenser.tsx
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI

#11907 feat(language_menu): removes excess of browser UI
  baystation12.dme
  code/__defines/languages.dm
  code/_global_vars/bitfields.dm
  code/_helpers/global_lists.dm
  code/datums/events/ion_storm.dm
  code/game/jobs/whitelist.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/storage/secure/_secure.dm
  code/game/objects/items/storage/secure/guncases.dm
  code/modules/admin/admin.dm
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/generic.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/language_menu.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/language/station.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/carbon/brain/say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/mob/living/simple_animal/hostile/giant_spiders/giant_spiders.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/say.dm
  code/modules/tgui/states/language_menu.dm
  tgui/packages/tgui/interfaces/DetectiveGuncase.tsx
  tgui/packages/tgui/interfaces/Guncase.tsx
  tgui/packages/tgui/interfaces/LanguageMenu.tsx
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :scroll: Есть CL

#11919 Removes lack of HD clothing, part 3
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#11913 tweak(turrets): replaces callbacks with thinking
  code/game/machinery/turret/_turrets.dm
  code/game/machinery/turret/turret_fsm.dm
  tgui/packages/tgui/interfaces/Turret.tsx
  tgui/public/tgui.bundle.js
Labels: 🔨 рефакторинг, :iphone: UX/UI, :wrench: фикс, :scroll: CL не требуется

#11912 fix(welder): no more welding without actually welding
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/tools/welding.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11920 feat(input): add alternative input position
  code/game/verbs/ooc.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/client/preferences.dm
  interface/skin.dmf
Labels: 🔩 улучшение, :scroll: Есть CL, 🧻 QoL

#11923 Removes lack of lives' value
  code/game/gamemodes/traitor/contracts.dm
Labels: 🌐 вики, 🔩 улучшение, 🔫 режим: предатель, :scroll: Есть CL

#11921 tweak(clap): clapping emote can switch lights with a very slim chance
  code/modules/emotes/generic/gesture.dm
Labels: 🔩 улучшение, 🔩 порт, :scroll: Есть CL

#11922 feat(lighting): ports lighting tweaks
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/controllers/subsystems/explosion.dm
  code/controllers/subsystems/machines.dm
  code/game/machinery/lightswitch.dm
  code/modules/power/lighting.dm
  sound/machines/lightsburnout.ogg
  sound/machines/sound_effects_light_on.ogg
Labels: 🔊 SFX, :scroll: Есть CL

#11825 feat(coffemaker): ports coffeemaker
  baystation12.dme
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/coffeemaker.dm
  code/game/objects/items/circuitboards/machinery/kitchen.dm
  code/game/objects/items/condi_display.dm
  code/game/objects/items/smokables/ecigs.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/Z_item_worth/reagents.dm
  code/modules/hydroponics/grown_predefined.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/organs/internal/kidneys.dm
  code/modules/particles/particles.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/caffeine.dm
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
  code/modules/reagents/Chemistry-Reagents/food_drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/supply.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/food/_lunch_helpers.dm
  code/modules/reagents/reagent_containers/vessel/bottle.dm
  code/modules/reagents/reagent_containers/vessel/condiment.dm
  code/modules/reagents/reagent_containers/vessel/presets/bottle.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  code/modules/xenoarcheaology/tools/geosample_scanner.dm
  icons/effects/particles/smoke.dmi
  icons/hud/radial.dmi
  icons/mob/onmob/items/lefthand_vessels.dmi
  icons/mob/onmob/items/righthand_vessels.dmi
  icons/obj/bottleflip.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_growing_canonical.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/items.dmi
  icons/obj/machines/coffeemaker.dmi
  icons/obj/reagent_containers/bottles.dmi
  icons/obj/reagent_containers/condiments.dmi
  icons/obj/reagent_containers/vessels.dmi
  icons/obj/seeds.dmi
  icons/obj/structures.dmi
  maps/derelicts/bearcat/bearcat-2.dmm
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/bar/classic.dmm
  maps/frontier/bar/modern.dmm
  maps/frontier/bar/saloon.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/frontier/supermatter.dmm
  maps/genesis/genesis-2.dmm
  maps/genesis/genesis-3.dmm
  sound/machines/coffeemaker_brew.ogg
Labels: 🌌геймдизайн, 🗺️ карта, 🌐 вики, 🔩 улучшение, 🔩 порт, 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#11926 Removes absence of thalamus-related sprites
  icons/obj/projectiles.dmi
  icons/obj/thalamus.dmi
  icons/turf/flooring/tiles.dmi
  icons/turf/wall_masks.dmi
  icons/turf/wall_masks_legacy.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#11928 fix(turrets): removes leftover to_chat(world)
  code/game/machinery/turret/_turrets.dm
Labels: :scroll: CL не требуется

#11932 Removes <i>s from emotes
  code/modules/emotes/emote.dm
  code/modules/emotes/emote_mob.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11891 Upgrade(Eclipse) Holodeck and CentComm upgrades
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/eclipse/eclipse-6.dmm
  maps/eclipse/eclipse_areas.dm
Labels: 🗺️ карта, :scroll: Есть CL

#11943 Removes absence of held icons' sanity
  code/game/objects/items.dm
  code/game/objects/items/balloons.dm
  code/game/objects/items/material/twohanded.dm
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weapons/defib.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/suit.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/accelerator.dm
  code/modules/projectiles/guns/energy/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/flamer.dm
  icons/mob/human_races/r_human.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#11945 Removes the inability to build caused by #11943
  code/modules/projectiles/guns/energy/pulse.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11948 fix(portal): portals no longer cause recursion
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11965 Removes hydroponical bugs
  code/game/objects/items/material/misc.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  icons/obj/hydroponics_growing_canonical.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11962 Removes bugged held icons, adds missing held icons, adds new held icons, holds icons
  code/game/objects/items.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/storage/boxes.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/clothing/gloves.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/economy/cash.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/synthesized_instruments/real_instruments/Guitar/guitar.dm
  icons/mob/human_races/r_human.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/lefthand_slim.dmi
  icons/mob/onmob/items/lefthand_spacesuits.dmi
  icons/mob/onmob/items/lefthand_uniforms.dmi
  icons/mob/onmob/items/lefthand_vessels.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/mob/onmob/items/righthand_slim.dmi
  icons/mob/onmob/items/righthand_spacesuits.dmi
  icons/mob/onmob/items/righthand_uniforms.dmi
  icons/mob/onmob/items/righthand_vessels.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#11971 Removes absence of held icons' sanity II: Return of the Bucket
  code/game/objects/items/devices/bluespace_beacon.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/grenades/emgrenade.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/toys.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/masks/breath.dm
  code/modules/materials/material_sheets.dm
  code/modules/paperwork/photography.dm
  code/modules/reagents/reagent_containers/food/meat.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/inv_slots/masks/mob_tajaran.dmi
  icons/inv_slots/masks/mob_unathi.dmi
  icons/inv_slots/masks/mob_vox.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/lefthand_uniforms.dmi
  icons/mob/onmob/items/lefthand_vessels.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/mob/onmob/items/righthand_uniforms.dmi
  icons/mob/onmob/items/righthand_vessels.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#11970 fix(throw): macros abuse no more
  code/modules/mob/living/carbon/carbon.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11983 feat(atmos): ports heat distortion from bay12
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_render.dm
  code/game/turfs/simulated/floor_icon.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  icons/effects/temp_effects.dmi
Labels: 🔩 улучшение, 🔩 порт, 🎨 спрайты, 💨 атмос, :scroll: Есть CL

#11978 fix(xenobio): bunch of variable fixes
  code/__defines/materials.dm
  code/__defines/research.dm
  code/__defines/species.dm
  code/__defines/xenobiology.dm
  code/_global_vars/bitfields.dm
  code/datums/components/mind_linker.dm
  code/modules/Z_item_worth/worths_list.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/carbon/human/species/station/golems.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/luminescent.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/slime.dm
  code/modules/mob/living/carbon/human/species/station/prometheans/stargazer.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_clothing.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_status_effects.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/regenerative.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/stabilized.dm
  code/modules/mob/living/carbon/xenobiological/extracts.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/mob_spawn/ghost_roles/golem_roles.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/research/research.dm
  code/modules/research/stock_parts.dm
  config/example/objectives/abductee_objectives.txt
Labels: 🌐 вики, :wrench: фикс, :scroll: Есть CL, 👾 метроиды, 💩 прометеанцы

#11988 tweak(db): runtime path max length
  sql/migrate/V002_InitDonations.sql
Labels: 🛠 Инструменты, :scroll: CL не требуется

#11990 tweak(prometheus): add some metrics, add prometheus subsystem
  baystation12.dme
  code/__defines/prometheus.dm
  code/__defines/subsystem-priority.dm
  code/controllers/master.dm
  code/controllers/subsystems/prometheus.dm
  code/datums/configuration/general_section.dm
  code/game/world.dm
  code/modules/error_handler/error_handler.dm
  config/example/config.toml
Labels: 🛠 Инструменты, :scroll: CL не требуется

#11984 Removes absence of held icons' sanity III: Revenge of the Syndicate
  code/game/objects/items/melee/energy.dm
  code/modules/clothing/mask.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/clothing/masks.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#11995 update(tracy): up to 515.1634
  prof.dll
Labels: 🛠 Инструменты, :scroll: CL не требуется

#11994 fix(statpanel): fixes obj window runtime, possibly
  code/game/verbs/ooc.dm
  code/modules/mob/logout.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#11991 fix(statpanel): returns readmin self verb
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
Labels: :wrench: фикс, :gear: кнопки, :scroll: CL не требуется

#12000 fix(who.dm): fixed "in watchlist"
  code/game/verbs/who.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12001 Refactors beards a lil'bit, beards no longer overlap masks
  code/game/dna/dna2_helpers.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/organs/external/_external_icons.dm
  code/modules/mob/organs/external/head.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/reagents/Chemistry-Reagents/basic.dm
  code/modules/reagents/Chemistry-Reagents/toxins.dm
Labels: 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется

#12004 tweak(prometheus): add mobs metrics
  code/__defines/prometheus.dm
  code/controllers/subsystems/processing/mobs.dm
  code/controllers/subsystems/prometheus.dm
  code/game/world.dm
Labels: 🛠 Инструменты, :scroll: CL не требуется

#12003 update(changelog): 31.3.2024
  html/changelog.html
  html/changelogs/.all_changelog.json
  tools/ChangelogGenerator/last_pr.txt
Labels: :scroll: CL не требуется

#12011 tweak(prometheus): don't run the subsystem with Prometheus disabled
  code/controllers/subsystems/prometheus.dm
Labels: 🛠 Инструменты, :scroll: CL не требуется

#12013 refact(spells): replace self-subscription of druid spell
  code/__defines/ces/signals_mob.dm
  code/modules/spells/aoe_turf/conjure/druidic_spells.dm
  code/modules/spells/spell_code.dm
  code/modules/spells/spells.dm
Labels: 🔨 рефакторинг, :scroll: CL не требуется

#11894 tweak(rotation): reject verbs, go to altclick
  baystation12.dme
  code/__defines/ces/signals_atom.dm
  code/__defines/flags.dm
  code/_onclick/click.dm
  code/datums/elements/simple_rotation.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/secure_door_assembly.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/assembly/infrared.dm
  code/modules/atmospherics/components/binary_devices/circulator.dm
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mining/mine_items.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/generator.dm
  code/modules/power/pedal_gen.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/particle_accelerator/particle_accelerator.dm
  code/modules/recycling/disposal-construction.dm
  code/modules/xenoarcheaology/tools/suspension_generator.dm
Labels: 🔩 улучшение, 🔨 рефакторинг, :scroll: Есть CL, 🧻 QoL

#12012 feat(sauna): adds sauna
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_render.dm
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/machinery/atmoalter/sauna.dm
  code/game/objects/items/circuitboards/machinery/machinery_circuitboards.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  icons/effects/water_vapor.dmi
  icons/hud/radial.dmi
  icons/obj/machines/sauna.dmi
  maps/exodus/exodus-1.dmm
  sound/effects/water_sizzle.ogg
  sound/machines/knob1.ogg
  sound/machines/knob2.ogg
  sound/machines/knob3.ogg
Labels: 🗺️ карта, 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#12015 fix(airlock): fixes bolt cutting
  code/game/machinery/doors/airlock.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12014 fix(condiments): returns lost creamer pack
  code/game/machinery/coffeemaker.dm
  code/game/objects/items/condi_display.dm
  code/modules/reagents/reagent_containers/vessel/condiment.dm
  icons/obj/reagent_containers/condiments.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#12017 Fix changelog
  html/changelog.html
Labels: :scroll: CL не требуется

#12018 fix(stripping): fixes inability to use aggressive strip
  code/modules/mob/living/carbon/human/stripping.dm
Labels: :wrench: фикс, :scroll: Есть CL
