Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-06, with the labels that each got.

#12535 Shooting FX from TGMC
  baystation12.dme
  code/__defines/_render.dm
  code/__defines/ces/signals_atom.dm
  code/__defines/particle_impacts.dm
  code/datums/elements/debris.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/bloodsplatter.dm
  code/game/objects/objs.dm
  code/game/objects/structures/barricade/material.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/rock.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/lighting/lighting_atom.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/tables/tables.dm
  icons/effects/96x96.dmi
  icons/effects/bulletholes.dmi
  icons/effects/particles/generic_particles.dmi
  sound/effects/weapons/misc/gun_overheat.ogg
Labels: 🎨 спрайты, 🔊 SFX

#12553 Fixing my mistakes again
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/_global_vars/sfx2.dm
  code/datums/elements/debris.dm
  code/game/objects/structures/barricade/material.dm
  code/modules/client/preference_setup/augmentation/01_modifications.dm
  code/modules/client/preferences.dm
  code/modules/emotes/emote_mob_defines.dm
  code/modules/emotes/generic/audible.dm
  code/modules/keybindings/human.dm
  code/modules/keybindings/living.dm
  code/modules/mob/grab/grab_bite.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_special_attacks.dm
  code/modules/mob/organs/internal/jaw.dm
  code/modules/mob/organs/organ.dm
  code/modules/overmap/star_system.dm
  icons/hud/actions.dmi
  maps/devarim/devarim-1.dmm
  maps/devarim/devarim-2.dmm
  sound/effects/emotes/f_jump.ogg
  sound/effects/emotes/m_jump.ogg
Labels: 🗺️ карта, 🎨 спрайты, 🔊 SFX, :scroll: CL не требуется

#12513 tweak(merchants): more goods, better price
  code/datums/trading/ai.dm
  code/datums/trading/armor.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/spacesuits.dm
  code/datums/trading/unique.dm
  code/datums/trading/vox.dm
  code/datums/trading/weaponry.dm
  code/game/objects/items/storage/pill_bottle.dm
  code/modules/Z_item_worth/materials.dm
  code/modules/Z_item_worth/reagents.dm
  code/modules/Z_item_worth/worths_list.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
  icons/obj/syringe.dmi
Labels: 🎨 спрайты, :scroll: Есть CL
