Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-01, with the labels that each got.

#11320 purge(robot fabricator): purge unused robot fabricator
  baystation12.dme
  code/game/machinery/robot_fabricator.dm
  code/game/mecha/mech_fabricator.dm
  icons/obj/machines/robotics.dmi
  icons/obj/robotics.dmi
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/exodus/exodus-4.dmm
  maps/foxhole/foxhole-4.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-3.dmm
  maps/polar/polar-5.dmm
  maps/sunset/sunset-4.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :knife: выпил из билда, :scroll: CL не требуется

#11319 purge(self desturct): purge self destruct cylinders
  baystation12.dme
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/self_destruct.dm
  code/game/objects/items/weapons/nuclear_cylinder.dm
  code/game/objects/structures/crates_lockers/closets/secure/nuke.dm
  icons/obj/machines/self_destruct.dmi
  icons/obj/nuclear_cylinder.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :knife: выпил из билда, :scroll: CL не требуется

#11323 fix(radial): menu is now displayed over darkness
  code/_onclick/hud/radial.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11314 feat(garment): adds a better way to properly organize clothing inside closets
  baystation12.dme
  code/__defines/ces/signals_obj.dm
  code/game/machinery/computer/message.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  icons/obj/storage/misc.dmi
  maps/eclipse/eclipse-1.dmm
  maps/exodus/exodus-2.dmm
  maps/foxhole/foxhole-1.dmm
  maps/frontier/frontier-1.dmm
  maps/genesis/genesis-2.dmm
  maps/polar/polar-3.dmm
  maps/sunset/sunset-3.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11315 tweak(teleporter): removes lack of ability to use text IDs
  code/game/machinery/computer/teleporter.dm
  tgui/packages/tgui/interfaces/Teleporter.js
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵 одобрено, :iphone: UX/UI, :scroll: Есть CL

#11321 rscdel(machinery): remove doppler array
  baystation12.dme
  code/_helpers/global_access.dm
  code/game/machinery/doppler_array.dm
Labels: :knife: выпил из билда, :scroll: CL не требуется

#11312 fix(assorted): a bunch of fixes
  code/game/machinery/cryopod.dm
  code/game/machinery/resleever.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/ghosttrap/trap.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/reagents/reagent_containers/food/unsorted.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11305 refact(orbit): ports tg orbit component
  baystation12.dme
  code/__defines/ces/signals_atom.dm
  code/__defines/ces/signals_global.dm
  code/_onclick/ghost.dm
  code/controllers/subsystems/orbit.dm
  code/datums/components/movement_detector.dm
  code/datums/components/orbiter.dm
  code/game/atom_orbit.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/mob/observer/ghost/login.dm
  code/modules/mob/observer/observer.dm
  code/modules/orbit/orbit.dm
  code/modules/power/singularity/singularity.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, :scroll: Есть CL

#11322 feat(floor lights): adds ability to configure floor light's intensity & color
  code/__defines/colors.dm
  code/_helpers/global_access.dm
  code/game/machinery/floor_light.dm
  icons/hud/radial.dmi
  icons/obj/machines/floor_light.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11325 purge(turbolift): completely removes turbolifts from the build
  baystation12.dme
  code/_helpers/global_access.dm
  code/modules/shuttles/departmental.dm
  code/modules/turbolift/_turbolift.dm
  code/modules/turbolift/turbolift.dm
  code/modules/turbolift/turbolift_areas.dm
  code/modules/turbolift/turbolift_console.dm
  code/modules/turbolift/turbolift_door.dm
  code/modules/turbolift/turbolift_floor.dm
  code/modules/turbolift/turbolift_map.dm
  code/modules/turbolift/turbolift_turfs.dm
  icons/obj/doors/doorlift.dmi
  icons/obj/turbolift.dmi
  icons/obj/turbolift_preview_2x2.dmi
  icons/obj/turbolift_preview_3x3.dmi
  maps/exodus/exodus.dm
  maps/exodus/exodus_areas.dm
  maps/exodus/exodus_elevator.dm
Labels: 🗺️ карта, 🎨 спрайты, :knife: выпил из билда, :scroll: CL не требуется

#11306 tweak(surgery): ports surgery sounds from /TG/ and /VG/
  code/_helpers/surgery.dm
  code/datums/surgery/steps/bone.dm
  code/datums/surgery/steps/face.dm
  code/datums/surgery/steps/generic.dm
  code/datums/surgery/steps/implant.dm
  code/datums/surgery/steps/internal.dm
  code/datums/surgery/steps/limb.dm
  code/datums/surgery/steps/misc.dm
  code/datums/surgery/steps/robotic.dm
  code/datums/surgery/surgery_step.dm
  sound/surgery/bonegel.ogg
  sound/surgery/bonesetter.ogg
  sound/surgery/cautery.ogg
  sound/surgery/cautery1.ogg
  sound/surgery/cautery2.ogg
  sound/surgery/fixovein.ogg
  sound/surgery/hatchet.ogg
  sound/surgery/hemostat.ogg
  sound/surgery/hemostat1.ogg
  sound/surgery/organ1.ogg
  sound/surgery/organ2.ogg
  sound/surgery/retractor.ogg
  sound/surgery/retractor1.ogg
  sound/surgery/retractor2.ogg
  sound/surgery/saw.ogg
  sound/surgery/scalpel.ogg
  sound/surgery/scalpel1.ogg
  sound/surgery/scalpel2.ogg
  sound/surgery/surgicaldrill.ogg
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🔊 SFX, :scroll: Есть CL

#11332 fix(signaller): fix 'send signal' button not appearing in UI
  tgui/packages/tgui/interfaces/Signaler.js
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :wrench: фикс, :scroll: Есть CL

#11317 tweak(centcomm): no music
  code/game/area/Space Station 13 areas.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#11316 feat(shutters): becoming craftable
  baystation12.dme
  code/game/machinery/doors/blast_door.dm
  code/game/objects/structures/shutters_assembly.dm
  code/modules/materials/material_recipes.dm
  icons/obj/doors/shutter_assembly.dmi
Labels: 🌌геймдизайн, 🎨 спрайты, :scroll: Есть CL

#11341 fix(pump): fix pump hotkeys for borgs
  code/_onclick/cyborg.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11342 bugfix(surgery): operating room is now not a slaughterhouse.
  code/datums/surgery/surgery_step.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11338 purge(antimatter engine): removes soulful engine
  baystation12.dme
  code/modules/item_worth/worths_list.dm
  code/modules/power/antimatter/computer.dm
  code/modules/power/antimatter/containment_jar.dm
  code/modules/power/antimatter/control.dm
  code/modules/power/antimatter/engine.dm
  code/modules/power/antimatter/fuel.dm
  code/modules/power/antimatter/shielding.dm
  icons/am_engine.dmi
  icons/obj/machines/am_engine.dmi
  icons/obj/machines/antimatter.dmi
Labels: 🎨 спрайты, :knife: выпил из билда, :scroll: CL не требуется

#11337 purge(asteroid derelicts): removes asteroid derelicts
  baystation12.dme
  code/controllers/subsystems/mapping.dm
  code/game/map_ent/func_load_asteroid_derelict.dm
  maps/derelicts/asteroid/abductor/abductor.dmm
  maps/derelicts/asteroid/base/base.dmm
  maps/derelicts/asteroid/camp/camp-left.dmm
  maps/derelicts/asteroid/camp/camp-north.dmm
  maps/derelicts/asteroid/camp/camp.dmm
  maps/derelicts/asteroid/commibase/commibase.dmm
  maps/derelicts/asteroid/engeneering/engeneering-mirrored.dmm
  maps/derelicts/asteroid/engeneering/engeneering-north.dmm
  maps/derelicts/asteroid/engeneering/engeneering-sideways.dmm
  maps/derelicts/asteroid/engeneering/engeneering.dmm
  maps/derelicts/asteroid/mining/mining.dmm
  maps/derelicts/asteroid/research/research.dmm
  maps/derelicts/asteroid/shuttle/shuttle.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation-abad-easth.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation-abad.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation-easth.dmm
  maps/derelicts/asteroid/sm-rstation/sm-rstation.dmm
  maps/frontier/frontier-1.dmm
Labels: 🌌геймдизайн, 🗺️ карта, :knife: выпил из билда, :scroll: Есть CL

#11336 purge(machine): removes IPCs
  baystation12.dme
  code/__defines/_economy_defines.dm
  code/__defines/mobs.dm
  code/__defines/shields.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/rechargestation.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/modules/client/preference_setup/laws/laws_pref.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/monitor.dm
  code/modules/clothing/spacesuits/void/_void.dm
  code/modules/clothing/spacesuits/void/syndi.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/flufftext/Dreaming.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/machine.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/organs/internal/machine.dm
  code/modules/spells/racial_wizard.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/suits/mob_slimalt_tajaran.dmi
  icons/mob/human_races/r_machine.dmi
  icons/mob/monitor_icons.dmi
  icons/obj/clothing/monitor.dmi
  icons/obj/clothing/suits.dmi
Labels: 🎨 спрайты, :trollface: no xenos allowed, :knife: выпил из билда, :scroll: CL не требуется

#11335 feat(reagent grinder): adds radial menu to grinder
  code/modules/reagents/Chemistry-Machinery.dm
  icons/hud/radial.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11362 experimental(bots): bots should no longer kill server with pathfinding
  code/modules/mob/living/bot/bot.dm
Labels: :scroll: Есть CL

#11326 refact(mining_machinery): replace shitcode with onyxcode
  baystation12.dme
  code/_helpers/global_access.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/circuitboards/machinery/mining.dm
  code/game/objects/items/circuitboards/machinery/mining_drill.dm
  code/game/objects/items/circuitboards/other.dm
  code/modules/mining/alloys.dm
  code/modules/mining/machine_input_output_plates.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/machines/holohelper.dm
  code/modules/mining/machines/mineral.dm
  code/modules/mining/machines/minting.dm
  code/modules/mining/machines/processing.dm
  code/modules/mining/machines/stacking.dm
  code/modules/mining/machines/unloading.dm
  code/modules/mining/machines/vending.dm
  code/modules/mining/machines/vending_prison.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mining/mint.dm
  code/modules/mining/ore.dm
  code/modules/mining/ore_datum.dm
  code/modules/research/designs/circuitprinter/dc-machine_boards.dm
  icons/effects/holo_dirs.dmi
  icons/obj/computer.dmi
  icons/obj/machines/mining_machines.dmi
  icons/obj/stationobjs.dmi
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-6.dmm
  maps/exodus/exodus-3.dmm
  maps/foxhole/foxhole-3.dmm
  maps/frontier/frontier-1.dmm
  maps/genesis/genesis-4.dmm
  maps/polar/polar-1.dmm
  maps/sunset/sunset-1.dmm
  tgui/package-lock.json
  tgui/packages/tgui/interfaces/CoinPress.tsx
  tgui/packages/tgui/interfaces/OreRedemptionMachine.tsx
  tgui/packages/tgui/interfaces/StackingConsole.tsx
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: 🗺️ карта, 🔩 улучшение, 🔧 оптимизация, 🔨 рефакторинг, :iphone: UX/UI, 🎨 спрайты, :scroll: Есть CL

#11344 purge(shit): removes excess shit from the build
  code/game/mecha/equipment/tools/unused_tools.dm
  code/modules/multiz/disabled.dm
  icons/mob/uniform_fat.dmi
  icons/mob/unused.dmi
  icons/obj/clothing/unused.dmi
Labels: 🔨 рефакторинг, 🎨 спрайты, :knife: выпил из билда, :scroll: CL не требуется

#11359 Necrotweaks and necrofixes
  code/game/gamemodes/wizard/wizard_heals.dm
  code/modules/mob/observer/ghost/say.dm
  code/modules/spells/artifacts/ghost_gramophone.dm
  code/modules/spells/artifacts/plague_bell.dm
  code/modules/spells/hand/marsh_of_the_dead.dm
  code/modules/spells/targeted/targeted.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :wrench: фикс, :scroll: Есть CL

#11357 refact(megaphone): now works a bit better
  .gitignore
  code/game/objects/items/devices/megaphone.dm
  config/translation/megaphone_insults.txt
  icons/obj/device.dmi
Labels: 🌌геймдизайн, 🔨 рефакторинг, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#11365 fix(maps): corrects barricade paths on maps
  maps/derelicts/jungleplanet/jungle_planet.dmm
  maps/derelicts/old_restaurant/old_restaurant.dmm
  maps/derelicts/science_ship/science_ship-1.dmm
  maps/derelicts/science_ship/science_ship-2.dmm
  maps/derelicts/snow_asteroid/snowasteroid.dmm
  maps/eclipse/eclipse-1.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/foxhole/foxhole-1.dmm
  maps/foxhole/foxhole-4.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/genesis/genesis-1.dmm
  maps/genesis/genesis-2.dmm
  maps/polar/polar-1.dmm
  maps/polar/polar-3.dmm
  maps/polar/polar-4.dmm
  maps/polar/polar-5.dmm
  maps/random_rooms/3x5/sk_rdm065_pubbyclutter6.dmm
  maps/sunset/sunset-3.dmm
  maps/sunset/sunset-4.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: CL не требуется

#11366 cleanup(skin): removes some unused UIs & their related files from skin
  icons/VendingMachineBG.png
  icons/dispensebutton_bg.png
  icons/reagentname_bg.png
  icons/vending_icons/vendingslot_bg.png
  interface/skin.dmf
Labels: 🎨 спрайты, :scroll: CL не требуется

#11360 fix(assorted): various bugfixes
  code/game/objects/items/storage/pill_bottle.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: :scroll: Есть CL

#11368 fix(equipment_vendor): equipment vendor now works
  code/modules/mining/machines/vending.dm
  code/modules/mining/machines/vending_prison.dm
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-6.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
  maps/foxhole/foxhole-2.dmm
  maps/foxhole/foxhole-3.dmm
  maps/frontier/frontier-1.dmm
  maps/genesis/genesis-2.dmm
  maps/genesis/genesis-4.dmm
  maps/polar/polar-1.dmm
  maps/sunset/sunset-1.dmm
  maps/sunset/sunset-2.dmm
Labels: 🗺️ карта, :scroll: CL не требуется

#11370 fix(docking controller): fix docking controller not opening doors
  code/game/machinery/alarm.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/buttons.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/embedded_controller/airlock_docking_controller_multi.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  code/game/machinery/embedded_controller/docking_program.dm
  code/game/machinery/embedded_controller/docking_program_multi.dm
  code/game/machinery/embedded_controller/simple_docking_controller.dm
  code/game/machinery/magnet.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11373 fix(dreamchecker): fixes dreamchecker proc override warning
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/mob/new_player/new_player.dm
Labels: :scroll: CL не требуется

#11374 Стенное
  code/game/turfs/simulated/walls.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11381 fix(examine): fixes everyone being a cyborg
  code/modules/mob/living/carbon/human/examine.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11382 fix(mining_machinery): fixed wrong direction
  code/modules/mining/machines/processing.dm
  code/modules/mining/machines/unloading.dm
  maps/frontier/frontier-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#11307 tweak(vending): QoL put_in_hands
  code/datums/vending/stored_item.dm
  code/game/machinery/kitchen/smartfridge.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL, 🧻 QoL

#11380 imageadd(cartridge): replaces non-existent with ones from TG
  baystation12.dme
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending/BODA.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/_vending_cartridge.dm
  code/game/machinery/vending/actors.dm
  code/game/machinery/vending/assist.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coat.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/hydro.dm
  code/game/machinery/vending/kitchen.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/plasmaresearch.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/wayfinding.dm
  code/game/machinery/vending/wizard.dm
  code/modules/acting/acting_items.dm
  code/modules/food/replicator.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/modular_computers/laptop_vendor.dm
  icons/obj/machines/vending.dmi
  icons/obj/vending_restock.dmi
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11387 tweak(silicon): removes lack of missing brackets
  code/game/machinery/machinery.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/rock.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mining/machines/minting.dm
  code/modules/mining/machines/unloading.dm
  code/modules/mining/mine_turfs.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11386 tweak(railings): railing now appear as full in dmm
  code/game/objects/structures/railing.dm
Labels: :scroll: CL не требуется

#11388 Респрайт алмазов
  icons/obj/items.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11404 fix(assorted): yet another bunch of fixes
  code/game/objects/items/storage/laundry_basket.dm
  code/game/objects/items/toys.dm
  code/modules/modifier/helpers.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11379 feat(blast door): adds ability to construct & deconstruct blast doors
  baystation12.dme
  code/game/machinery/doors/blast_door.dm
  code/game/objects/structures/secure_door_assembly.dm
  code/modules/materials/material_recipes.dm
  icons/obj/doors/secure_door_assembly.dmi
  icons/obj/doors/shutter_assembly.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#11402 feat(emotes): datumizes emotes, adds emote panel
  baystation12.dme
  code/__defines/emote.dm
  code/__defines/sound.dm
  code/__std/math.dm
  code/_global_vars/sfx.dm
  code/_helpers/pronouns.dm
  code/_onclick/click.dm
  code/modules/emotes/_defines.dm
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/definitions/human.dm
  code/modules/emotes/definitions/metroid.dm
  code/modules/emotes/definitions/synthetics.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/emotes/emote.dm
  code/modules/emotes/emote_checks.dm
  code/modules/emotes/emote_define.dm
  code/modules/emotes/emote_mob.dm
  code/modules/emotes/emote_mob_defines.dm
  code/modules/emotes/emote_target.dm
  code/modules/emotes/generic/audible.dm
  code/modules/emotes/generic/gesture.dm
  code/modules/emotes/generic/visual.dm
  code/modules/emotes/metroid/metroid.dm
  code/modules/emotes/species/visual.dm
  code/modules/emotes/synthetics/audible.dm
  code/modules/emotes/synthetics/visual.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/parasite/meme.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/say.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔨 рефакторинг, 🔵 одобрено, :scroll: Есть CL

#11411 fix(emotes): fixed lost user and italics
  baystation12.dme
  code/__defines/emote.dm
  code/modules/emotes/emote.dm
Labels: :scroll: Есть CL

#11415 feat(disposals): ports TGUI from eris
  code/modules/recycling/disposal-construction.dm
  code/modules/recycling/disposal.dm
  tgui/packages/tgui/interfaces/DisposalUnit.tsx
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵 одобрено, :iphone: UX/UI, :scroll: Есть CL

#11413 fix(emotes): wrong emote in metroids
  code/modules/emotes/emote_mob_defines.dm
Labels: :scroll: CL не требуется

#11414 fix(processing_unit): tweaked margin for id-card icon
  tgui/packages/tgui/interfaces/OreRedemptionMachine.tsx
Labels: :iphone: UX/UI, :scroll: Есть CL

#11418 fix(emotes): assorted fixes
  code/modules/client/ping.dm
  code/modules/emotes/emote_mob_defines.dm
  code/modules/emotes/generic/audible.dm
  code/modules/emotes/generic/gesture.dm
  code/modules/mob/mob.dm
  code/modules/mob/observer/ghost/ghost.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11420 feat(faxmachine): adds TGUI
  code/modules/paperwork/faxmachine.dm
  tgui/packages/tgui/interfaces/Fax.tsx
  tgui/public/tgui.bundle.js
Labels: 🌌геймдизайн, 🔵 одобрено, :iphone: UX/UI, :scroll: Есть CL

#11422 fix(disposals): fixed wrong initial state
  code/modules/recycling/disposal.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#11300 tweak(contraband): -hair comb +3 random items
  code/game/objects/random/random.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#11429 tweak(maps): spring map cleaning S1E2
  baystation12.dme
  code/game/objects/structures/roulette.dm
  icons/obj/roulette.dmi
  maps/away/casino/casino.dm
  maps/away/casino/casino_sprites.dmi
  maps/derelicts/jungleplanet/jungleplanet_objects.dm
  maps/eclipse/eclipse-1.dmm
  maps/foxhole/foxhole-1.dmm
  maps/foxhole/foxhole-2.dmm
  maps/foxhole/foxhole-3.dmm
  maps/foxhole/foxhole-4.dmm
  maps/foxhole/foxhole_define.dm
  maps/foxhole/foxhole_levels.dm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
  maps/random_rooms/3x5/sk_rdm160_kilomaintbar.dmm
  maps/sunset/sunset-1.dmm
  maps/sunset/sunset-2.dmm
  maps/sunset/sunset-3.dmm
  maps/sunset/sunset-4.dmm
  maps/sunset/sunset_define.dm
  maps/sunset/sunset_levels.dm
  nano/images/foxhole/foxhole-1.png
  nano/images/foxhole/foxhole-2.png
  nano/images/sunset/sunset-1.png
  nano/images/sunset/sunset-2.png
  nano/images/sunset/sunset-3.png
  nano/images/torch/torch-1.png
  nano/images/torch/torch-2.png
  nano/images/torch/torch-3.png
  nano/images/torch/torch-4.png
  nano/images/torch/torch-5.png
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, 🎨 спрайты, :wrench: фикс, :knife: выпил из билда, :scroll: Есть CL, ⛏️ Фронтир, ☀️Сансет, :fox_face: Фоксхолл

#11438 Обработка сообщений эмоутов
  code/modules/emotes/emote_mob.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#11431 fix(barricade): adds anchoring logic to a card interaction with barrier
  code/game/objects/structures/barricade/security.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11437 fix(emotes): bugfixes and lost emotes
  code/modules/emotes/emote_mob_defines.dm
  code/modules/emotes/generic/audible.dm
  code/modules/emotes/generic/visual.dm
  code/modules/mob/mob.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11444 Removes inability to shoot regular .38s from M2019
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11443 fix(assorted): and another batch of fixes
  code/datums/vending/stored_item.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending/_vending.dm
  code/modules/holomaps/holomarker_component.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/paperwork/faxmachine.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11440 experiment(vision): TILE_BOUND for mobs
  code/modules/mob/mob_defines.dm
Labels: :scroll: CL не требуется

#11439 tweak(mecha): crab walking (strafe mod)
  code/game/mecha/mecha.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :scroll: Есть CL

#11464 feat(custom): add flags for custom items
  code/modules/client/preference_setup/loadout/lists/custom.dm
  code/modules/customitems/item_spawning.dm
  config/schema/custom_items.schema.json
Labels: :scroll: Есть CL

#11462 tweak(guns): toggle safety verb is now config-aware
  code/modules/projectiles/gun.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11461 tweak(emotes): adds volume randomness, fixes synth emotes once and for all
  code/game/objects/items.dm
  code/modules/clothing/clothing.dm
  code/modules/emotes/emote.dm
  code/modules/emotes/emote_mob.dm
  code/modules/emotes/emote_mob_defines.dm
  code/modules/emotes/generic/audible.dm
  code/modules/emotes/generic/gesture.dm
  code/modules/mob/grab/grab_object.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/organs/organ.dm
Labels: :wrench: фикс

#11445 Machinery re fuc ktor
  code/game/antagonist/outsider/abductor/equipment/abductors_gear.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/computer.dm
  code/game/objects/structures/watercloset.dm
  code/modules/power/breaker_box.dm
Labels: 🔩 улучшение, 🔨 рефакторинг, :scroll: Есть CL

#11459 tweak(necromancer): NERFNERFNERF
  code/_onclick/hud/ability_screen_objects.dm
  code/modules/spells/hand/marsh_of_the_dead.dm
  code/modules/spells/toggled/immaterial_form.dm
  code/modules/spells/toggled/lich_form.dm
  code/modules/spells/toggled/toggled.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, :wrench: фикс, :scroll: Есть CL

#11471 fix(shutters): fix crafting
  code/game/objects/structures/secure_door_assembly.dm
Labels: :wrench: фикс, :scroll: Есть CL

#11472 tweak(tgui): allows users with bad access view machinery UIs
  code/game/mecha/mech_fabricator.dm
  code/modules/tgui/states/machinery.dm
Labels: :scroll: Есть CL

#11476 fix(optable): abductor's optable should not disappear now
  code/game/antagonist/outsider/abductor/equipment/abductors_gear.dm
  code/game/machinery/OpTable.dm
  icons/obj/furniture.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL
