Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-05, with the labels that each got.

#12360 fix(uplink): fixes inability to buy rig modules
  code/datums/components/uplink.dm
  code/datums/uplink/categories/badassery.dm
  code/datums/uplink/categories/powersuit_modules.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12366 fix(cyborgs): fix synthetics craft
  code/modules/materials/material_sheets.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12364 fix(announcer): death alarm should hijack announces no more
  code/controllers/subsystems/announce.dm
  code/modules/mob/new_player/new_player.dm
  code/procs/announce.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12363 fix(turrets): fixes uncontrollable turrets
  code/game/machinery/turret/_turret_control.dm
  code/game/machinery/turret/_turrets.dm
  code/game/machinery/turret/station_turrets.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12362 Fix da fukken wheelcannon
  code/game/objects/structures/stool_bed_chair_nest/wheelcannon.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/assembly/igniter.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#12351 fix(holomarker): fixes harddel
  code/modules/holomaps/holomarker_component.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12365 fix(hoodie): fixes harddel
  code/modules/clothing/suits/hooded.dm
  code/modules/clothing/suits/storage.dm
  code/modules/mob/inventory.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12313 feat(minesweeper): ports minesweeper arcade from tau
  baystation12.dme
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/machinery/computer/minesweeper.dm
  sound/machines/arcade/minesweeper_click.ogg
  sound/machines/arcade/minesweeper_lose.ogg
  sound/machines/arcade/minesweeper_start.ogg
  sound/machines/arcade/minesweeper_win.ogg
  tgui/packages/tgui/interfaces/Minesweeper.tsx
  tgui/packages/tgui/styles/interfaces/Minesweeper.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, 🔩 порт, :iphone: UX/UI, 🔊 SFX

#12371 3 новые крутые супер причоски :D
  code/modules/mob/new_player/sprite_accessories.dm
  icons/mob/human_races/face/hair.dmi
  icons/mob/human_races/face/hair_slim.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12391 refact(stat): replaces stat tab with TGUI window
  baystation12.dme
  code/_helpers/icons.dm
  code/_onclick/click.dm
  code/controllers/subsystems/processing/obj_tab_items.dm
  code/controllers/subsystems/statpanels.dm
  code/datums/object_window_info.dm
  code/datums/turf_examine.dm
  code/game/atoms.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/mob/mob_defines.dm
  html/statbrowser/statbrowser.js
  tgui/packages/common/collections.ts
  tgui/packages/tgui/interfaces/TurfExamine.tsx
  tgui/packages/tgui/styles/interfaces/TurfExamine.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, 🔨 рефакторинг, :iphone: UX/UI, :scroll: Есть CL

#12402 Allows pushing without interrupting pulls
  code/datums/movement/mob.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#12400 Resolves #12380
  code/datums/uplink/uplink_items.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12399 Resolves #12386
  code/modules/mob/movement/modifiers/mobs.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12410 MOAR TGUI
  code/_helpers/global_lists.dm
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/computer/prisoner.dm
  code/game/machinery/spaceheater.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  tgui/packages/tgui/interfaces/DroneConsole.tsx
  tgui/packages/tgui/interfaces/Guestpass.tsx
  tgui/packages/tgui/interfaces/MechaControlConsole.tsx
  tgui/packages/tgui/interfaces/PrisonerImplantManager.tsx
  tgui/packages/tgui/interfaces/SeedStorage.tsx
  tgui/packages/tgui/interfaces/SpaceHeater.tsx
  tgui/packages/tgui/interfaces/UnderWardrobe.tsx
Labels: :iphone: UX/UI, :scroll: Есть CL

#12413 Update tgui.bundle.js
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: CL не требуется

#12401 Ports emote animations
  code/modules/emotes/emote_mob_defines.dm
  code/modules/emotes/generic/visual.dm
Labels: 🔩 улучшение, 🔩 порт, :scroll: Есть CL

#12420 Fixes finger lockpick initialization
  code/game/gamemodes/changeling/helpcode/items.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: CL не требуется

#12426 feat(wrist): adds wrist accessories
  baystation12.dme
  code/__defines/mobs.dm
  code/modules/client/preference_setup/loadout/lists/wrist_accessories.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/clothing/underwear/base.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/inv_slots/hidden/mob.dmi
  icons/inv_slots/hidden/mob_fat.dmi
  icons/inv_slots/hidden/mob_slim.dmi
  icons/inv_slots/hidden/mob_slim_flat.dmi
  icons/inv_slots/hidden/mob_slim_m.dmi
  icons/inv_slots/hidden/mob_slimalt.dmi
  icons/obj/clothing/wrist.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12423 Update backpack.dm
  code/game/objects/items/storage/backpack.dm
Labels: :scroll: Есть CL

#12441 fix(mecha_equipment): fix tesla relay
  code/game/mecha/equipment/tools/tools.dm
Labels: :scroll: Есть CL

#12443 fix(overlay): flick now works when single client supplied
  code/_helpers/flick_overlay.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12439 fix(firedoor): opening for mecha
  code/game/machinery/doors/firedoor.dm
Labels: :scroll: Есть CL

#12444 Reduces the amount of think contexts actively existing for little to no reason
  code/datums/datum.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/turfs/simulated.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/xenobiological/items.dm
  code/modules/reagents/Chemistry-Holder.dm
Labels: 🔧 оптимизация, 🔨 рефакторинг, :wrench: фикс, :scroll: CL не требуется, 👾 метроиды

#12433 Adds rustg pathfinding for bots, ports TG AI
  baystation12.dme
  code/__defines/ai.dm
  code/__defines/ai_blackboard.dm
  code/__defines/ces/helpers.dm
  code/__defines/ces/signals_ai.dm
  code/__defines/traits/_traits.dm
  code/__defines/traits/sources.dm
  code/_helpers/atom_movables.dm
  code/_helpers/cmp.dm
  code/_helpers/lists.dm
  code/_helpers/maths.dm
  code/_macros.dm
  code/datums/datum.dm
  code/modules/ai/_ai_planning_subtree.dm
  code/modules/ai/ai_behavior.dm
  code/modules/ai/ai_controller.dm
  code/modules/ai/basic_mobs/base_basic_controller.dm
  code/modules/ai/basic_mobs/basic_ai_behaviors/basic_attacking.dm
  code/modules/ai/basic_mobs/basic_ai_behaviors/targeting.dm
  code/modules/ai/basic_mobs/basic_ai_behaviors/travel_towards.dm
  code/modules/ai/basic_mobs/basic_subtrees/simple_attack_target.dm
  code/modules/ai/basic_mobs/basic_subtrees/simple_find_target.dm
  code/modules/ai/basic_mobs/generic_controllers.dm
  code/modules/ai/generic/find_and_set.dm
  code/modules/ai/generic/generic_behaviors.dm
  code/modules/ai/generic/generic_subtrees.dm
  code/modules/ai/idle_behaviors/_idle_behavior.dm
  code/modules/ai/idle_behaviors/idle_random_walk.dm
  code/modules/ai/movement/_ai_movement.dm
  code/modules/ai/movement/ai_movement_basic_avoidance.dm
  code/modules/ai/movement/ai_movement_dumb.dm
  code/modules/ai/movement/ai_movement_rustg.dm
  code/modules/ai/targeting_strategies/basic_targeting_strategy.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/mob_defines.dm
Labels: :scroll: Есть CL

#12434 removed absence of ai2 on maps
  maps/entrepot/entrepot-2.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/frontier/frontier-1.dmm
  maps/frontier/singularity.dmm
  maps/frontier/supermatter.dmm
Labels: 🗺️ карта

#12452 maptweak(mining): fixes various mistakes
  maps/exodus/exodus-2.dmm
  maps/miners-outpost-swamp.dmm
  maps/miners-outpost.dmm
  maps/research-outpost-swamp.dmm
  maps/research-outpost.dmm
  maps/templates/ruins/prydwen_swamp.dmm
Labels: 🗺️ карта, :scroll: CL не требуется

#12454 fix(orbit): makes signals better
  code/datums/components/movement_detector.dm
Labels: :scroll: CL не требуется

#12455 shitheads win
  maps/exodus/exodus_levels.dm
Labels: 🗺️ карта, :scroll: CL не требуется

#12453 feat(loadout): add panama hat in informal hats
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  code/modules/clothing/head/misc.dm
  icons/inv_slots/hats/icon.dmi
  icons/inv_slots/hats/mob.dmi
  icons/mob/onmob/items/lefthand_hats.dmi
  icons/mob/onmob/items/righthand_hats.dmi
  icons/obj/clothing/hats.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12456 feat(mining): adds more ruins
  code/modules/mapgen/_MapGenerator.dm
  code/modules/mapgen/planetary/AsteroidGenerator.dm
  code/modules/mapgen/prefabs/map_templates.dm
  maps/exodus/exodus_levels.dm
  maps/miners-outpost.dmm
  maps/research-outpost.dmm
  maps/templates/ruins/evil_lair.dmm
  maps/templates/ruins/goliath_lair.dmm
  maps/templates/ruins/lizard_lair.dmm
  maps/templates/ruins/scorpion_lair.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#12458 Fixing SEND_SIGNAL()
  code/__defines/ces/helpers.dm
  code/datums/components/movement_detector.dm
Labels: :scroll: CL не требуется

#12459 tweak(VV): prohibits lobbyscreen varediting
  code/modules/admin/view_variables/helpers.dm
Labels: :gear: кнопки, :scroll: CL не требуется

#12464 Update miners-outpost.dmm
  maps/miners-outpost.dmm
Labels: 🗺️ карта, :scroll: CL не требуется

#12474 feat(mining): adds new research outpost ruin
  maps/research-outpost.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#12471 tweak(map): making mining outpost better
  maps/miners-outpost-swamp.dmm
  maps/miners-outpost.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#12478 fix(mining): fixes ruins' overlap
  code/modules/mapgen/_MapGenerator.dm
Labels: :scroll: Есть CL

#12481 fix(mining): assorted fixes
  code/modules/mapgen/_MapGenerator.dm
  maps/research-outpost.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#12506 Minor fix map
  maps/entrepot/entrepot-1.dmm
  maps/entrepot/entrepot-2.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-3.dmm
Labels: 🗺️ карта, :scroll: CL не требуется

#12508 tweak(botany): removes gene shuffling & merges xenobotany with botany
  baystation12.dme
  code/controllers/subsystems/plants.dm
  code/datums/supplypacks/hydroponics.dm
  code/game/jobs/job/science.dm
  code/game/machinery/seed_extractor.dm
  code/game/objects/items/circuitboards/machinery/biogenerator.dm
  code/game/objects/items/circuitboards/machinery/hydroponics.dm
  code/game/objects/items/storage/specialized.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/Z_item_worth/worths_list.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_machines.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_reagents.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
  code/modules/research/designs/circuitprinter/dc-machine_boards.dm
  code/modules/xenoarcheaology/effects/plantkiller.dm
  icons/obj/hydroponics_items.dmi
  icons/obj/hydroponics_machines.dmi
  icons/obj/machines/genemod.dmi
  icons/obj/machines/hydrotray.dmi
  icons/obj/machines/seed_extractor.dmi
  icons/obj/reagent_containers/vessels.dmi
  maps/eclipse/eclipse-1.dmm
  maps/entrepot/entrepot-1.dmm
  maps/exodus/exodus-1.dmm
  maps/frontier/frontier-1.dmm
  maps/genesis/genesis-2.dmm
  maps/research-outpost.dmm
  tgui/packages/tgui/interfaces/Genemod.tsx
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
  tgui/public/tgui.bundle.js
Labels: 🗺️ карта, :iphone: UX/UI, 🎨 спрайты, :scroll: Есть CL

#12516 feat(implants): ports implant modules from eris
  baystation12.dme
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/organ_modules/_module.dm
  code/game/objects/items/organ_modules/active.dm
  code/game/objects/items/organ_modules/active/armblades.dm
  code/game/objects/items/organ_modules/active/armguns.dm
  code/game/objects/items/organ_modules/active/armshields.dm
  code/game/objects/items/organ_modules/active/miner.dm
  code/game/objects/items/organ_modules/active/multitool.dm
  code/game/objects/items/organ_modules/active/surgical.dm
  code/game/objects/items/organ_modules/implanter_installer.dm
  code/game/objects/items/organ_modules/passive/armor.dm
  code/game/objects/items/organ_modules/passive/muscle.dm
  code/game/objects/items/organ_modules/simple.dm
  code/modules/mob/organs/external/_external.dm
  code/modules/mob/organs/organ.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/implants.dmi
  icons/obj/items.dmi
Labels: 🎨 спрайты, Onyxbay 2.0

#12511 Fixes changelings not changing height upon transforming
  code/game/dna/dna2_helpers.dm
Labels: :wrench: фикс, :dna: режим: генокрад, :scroll: Есть CL

#12507 Sound for heels
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/modules/clothing/shoes/heels.dm
  sound/effects/heelsstep1.ogg
  sound/effects/heelsstep2.ogg
Labels: 🔊 SFX, :scroll: Есть CL

#12512 Fixes non-carbon mobs bumps causing recursion
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/mulebot.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/xenobiological/xenobiological.dm
  code/modules/mob/living/living.dm
Labels: :wrench: фикс, :scroll: Есть CL
