Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-04, with the labels that each got.

#12034 maptweak(exodus-1): removes excess of wrong dirs of reinforced window panels in sauna
  maps/exodus/exodus-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#12022 fix(examine): removes ghost's inability to see what there is
  code/modules/mob/mob.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12040 fix(assorted): fixes turrets and sauna
  code/game/machinery/atmoalter/sauna.dm
  code/game/machinery/turret/_turret_control_frame.dm
  code/game/machinery/turret/_turret_frame.dm
  code/modules/materials/material_recipes.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12047 fix(solar): removes excess of electronics dupe
  code/modules/power/solar.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12045 fix(nasral): removes excess of nameof lacking callbacks
  code/_onclick/click.dm
  code/_onclick/hud/alert.dm
  code/controllers/subsystems/statpanels.dm
  code/datums/appearances/automatic/cardborg.dm
  code/datums/sound_player.dm
  code/game/gamemodes/godmode/form_items/narsie_items.dm
  code/game/gamemodes/godmode/god_altar.dm
  code/game/gamemodes/godmode/god_pylon.dm
  code/game/machinery/slot_machine.dm
  code/game/machinery/turret/_turrets.dm
  code/modules/holodeck/computer.dm
  code/modules/mob/living/deity/phenomena/communication.dm
Labels: :scroll: CL не требуется

#12056 fix(proximity): theoretically fixes proximity's harddels
  code/game/objects/effects/proximity.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12067 Removes [Common] Runtime (x2)
  code/datums/sound_player.dm
  code/modules/clothing/clothing.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#12078 Removes bugs
  code/datums/sound_player.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/power/smes.dm
Labels: 📺 ИИ|Борги, 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#12069 fix(statanel): assorted stat panel fixes
  code/__defines/misc.dm
  code/controllers/subsystems/statpanels.dm
  code/controllers/subsystems/ticker.dm
  code/datums/object_window_info.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/client/preferences.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/underwear/base.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/subsystems.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/new_player/new_player.dm
  config/example/config.toml
Labels: 📄 конфиг, :wrench: фикс, :scroll: Есть CL

#12065 fix(qdel): headsets & components
  code/datums/datum.dm
  code/game/objects/items/devices/radio/headset.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12073 fix(examine): fix typo in word "parry"
  code/game/objects/items.dm
Labels: :scroll: CL не требуется

#12083 fix(runtimes): assorted runtime fixes
  code/modules/admin/bluespace_tech.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/transform_procs.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#12089 refact(clothing): makes accessories lazy
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/under.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/stripping.dm
Labels: 🔩 улучшение, 🔨 рефакторинг, :scroll: CL не требуется

#12091 fix(matchmaking): relations with synths are now possible
  code/modules/client/preference_setup/matchmaking/matchmaking.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12079 refact(language menu): fixes new player hard deletion & makes languge UI robust
  baystation12.dme
  code/datums/language_menu.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/language_menu.dm
  code/modules/mob/living/default_language.dm
  code/modules/mob/mob_defines.dm
  tgui/packages/tgui/interfaces/LanguageMenu.tsx
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :wrench: фикс, :gear: кнопки, :scroll: Есть CL, 🧻 QoL

#12087 fix(bucket): users can give a swirlie in a bucket now
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12093 fix(atom shaking): shaking all atoms no more
  code/game/atoms.dm
Labels: :scroll: CL не требуется

#12051 Removes absence of NTS "Entrepot-17"
  baystation12.dme
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/power/lighting.dm
  code/modules/power/smes.dm
  icons/obj/musician.dmi
  maps/entrepot/entrepot-1.dmm
  maps/entrepot/entrepot-2.dmm
  maps/entrepot/entrepot-3.dmm
  maps/entrepot/entrepot_areas.dm
  maps/entrepot/entrepot_define.dm
  maps/entrepot/entrepot_levels.dm
Labels: 🗺️ карта, 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#12106 Firedoor on mining airlock
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#12103 feat(fx): add cold breath effect
  code/modules/mob/organs/internal/lungs.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  icons/effects/particles/smoke.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#12108 fix(toilet): fixes swirlie.
  code/game/objects/structures/watercloset.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12109 feat(color picker): ports tgui color picker
  baystation12.dme
  code/_helpers/sanitize_values.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/objects/items/storage/wallets.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/integrated_electronics/core/special_pins/color_pin.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_clothing.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/prismatic.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/tgui_input/color.dm
  tgui/packages/common/color.js
  tgui/packages/common/color.ts
  tgui/packages/tgui/components/Interactive.tsx
  tgui/packages/tgui/components/Pointer.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
  tgui/packages/tgui/styles/interfaces/ColorPicker.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/neutral.scss
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, 🔩 порт, :iphone: UX/UI

#12042 fix(ckey linkage): probably fixed ckey to discord linkage
  code/modules/donations/donations.dm
Labels: 🔺 приоритет, :wrench: фикс, :scroll: CL не требуется

#12121 Removes a typo
  code/game/gamemodes/traitor/contracts.dm
Labels: :scroll: Есть CL

#12122 fix(colorpicker): fixes OOC and UI colors
  code/modules/client/preference_setup/global/01_ui.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12135 No more coughing synthetics
  code/game/objects/effects/effect_system.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12149 fix(loadout): simple dress fix
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12154 General Exodus mapfixes
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#12124 Removes absence of cool pins
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/clothing/under/accessories/pins.dm
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/obj/clothing/ties.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12197 fix(drying): returns lost icon
  code/game/machinery/kitchen/smartfridge.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12188 fix(eclipse) Substations and Cables
  maps/eclipse/eclipse-1.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#12196 fix(statpanel): probably removes bsod
  code/game/atoms.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12200 fix(colorpicker): fixes colorpicker's lost usr
  code/modules/admin/admin_verbs.dm
  code/modules/integrated_electronics/core/special_pins/color_pin.dm
  code/modules/mob/living/carbon/human/species/species_shapeshift.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/tgui_input/color.dm
Labels: :wrench: фикс, :gear: кнопки, :scroll: Есть CL

#12205 Adjusts jumpsuits sideview for the default bodybuild, sorts junk
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#12204 Fixes loadout options corruption
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12209 Update pull_request_template.md
  .github/pull_request_template.md
Labels: 🛠 Инструменты, :scroll: CL не требуется

#12207 Reworks hoodies
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/clothing/suits/hooded.dm
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/obj/clothing/suits.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#12221 fix(rotate): removing unnecessary arguments
  code/datums/elements/simple_rotation.dm
  code/game/machinery/pipe/construction.dm
  code/modules/atmospherics/components/binary_devices/circulator.dm
  code/modules/power/pedal_gen.dm
Labels: :scroll: CL не требуется

#12213 fix(emissives)
  code/game/machinery/OpTable.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/vending/_vending.dm
  code/modules/food/replicator.dm
  code/modules/modular_computers/laptop_vendor.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12232 fix(wallet): adds missing icons
  icons/card.dmi
  icons/obj/wallet.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#12239 tweak(loadout): changes tape's tier from hos to scientist
  code/modules/client/preference_setup/loadout/lists/utility.dm
Labels: :scroll: Есть CL

#12238 tweak(admin): adds a second line of defense in restart proc
  code/modules/admin/admin.dm
Labels: :gear: кнопки, :scroll: Есть CL

#12227 Minor fix maps
  code/game/machinery/atmoalter/canister.dm
  code/game/objects/structures/mirror.dm
  maps/eclipse/eclipse-1.dmm
  maps/eclipse/eclipse-3.dmm
  maps/eclipse/eclipse_areas.dm
  maps/entrepot/entrepot-1.dmm
  maps/entrepot/entrepot-3.dmm
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
  maps/exodus/exodus-4.dmm
  maps/exodus/exodus_areas.dm
  maps/frontier/frontier-1.dmm
  maps/frontier/frontier-2.dmm
Labels: 🗺️ карта, :scroll: CL не требуется

#12243 fix(runtime): fixes runtime in mob.dm and living.dm
  code/game/objects/buckling.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#12242 tweak(suit_storage_unit): removes browser UI, adds radial menu
  code/game/machinery/suit_storage_unit.dm
  icons/hud/radial.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12244 fix(bstech): fixes thinker-related runtime
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/admin/bluespace_tech.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#12245 fix(secdoor_assembly): anchoring fix
  code/game/objects/structures/secure_door_assembly.dm
Labels: :scroll: Есть CL

#12260 fix(vox carapace): fixes slowdown bug
  code/modules/clothing/spacesuits/alien.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12258 fix(contract fixer): removes typo that prevented fixer's think from firing
  code/game/gamemodes/traitor/fixer.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12254 feat(view): adds view wrapper & widescreen support
  baystation12.dme
  code/__defines/filters.dm
  code/_helpers/game.dm
  code/_helpers/turfs.dm
  code/_helpers/view.dm
  code/_onclick/click.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/global_hud.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/hud/screen_objects/click_catcher.dm
  code/_onclick/hud/skybox.dm
  code/datums/configuration/game_section.dm
  code/datums/view.dm
  code/game/machinery/camera/camera.dm
  code/game/mecha/combat/marauder.dm
  code/game/objects/items.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/obsession.dm
  code/modules/mob/living/farlook.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/login.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/tgui/states.dm
  code/modules/tgui/states/default.dm
  code/modules/tgui/status_composers.dm
  config/example/config.toml
  icons/effects/static.dmi
  icons/hud/screen.dmi
  icons/obj/hud_full.dmi
  icons/runtime/default_lobby.dmi
Labels: 🔩 улучшение, 🔨 рефакторинг, 🎨 спрайты, :scroll: Есть CL, 🧻 QoL

#12266 tweak(prometheus): adds more metrics
  code/__defines/prometheus.dm
  code/controllers/subsystems/prometheus.dm
Labels: :scroll: CL не требуется

#12263 fix(view): fixes view wrapper load order
  code/modules/client/client_procs.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12267 tweak(orbit): adds captain's spare to POI
  code/game/objects/items/weapons/cards_ids.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#12281 tweak(chat): show font size as is
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/public/tgui-panel.bundle.js
Labels: :iphone: UX/UI, :wrench: фикс, :scroll: CL не требуется

#12264 Makes vending machines glow beautifully
  code/game/machinery/vending/BODA.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending/boozeomat.dm
  code/game/machinery/vending/cigarette.dm
  code/game/machinery/vending/coat.dm
  code/game/machinery/vending/coffee.dm
  code/game/machinery/vending/cola.dm
  code/game/machinery/vending/engineering.dm
  code/game/machinery/vending/fashion.dm
  code/game/machinery/vending/fitness.dm
  code/game/machinery/vending/games.dm
  code/game/machinery/vending/hydro.dm
  code/game/machinery/vending/kitchen.dm
  code/game/machinery/vending/medical.dm
  code/game/machinery/vending/robotics.dm
  code/game/machinery/vending/security.dm
  code/game/machinery/vending/snack.dm
  code/game/machinery/vending/wizard.dm
  icons/obj/machines/vending/theater.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#12284 fix(skybox): skybox no longer offsets beyond screen size
  code/_onclick/hud/skybox.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12286 fix(client): removes excess of runtimes
  code/modules/client/client_procs.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12289 feat(heels): adds recolorable heels to loadout
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/_defines.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/clothing/shoes/heels.dm
  code/modules/mob/living/carbon/human/species/species.dm
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/obj/clothing/shoes.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#12293 fix(prometheus): registers data
  code/game/world.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12294 fix(lizards): lizards no longer infinitely breed
  code/modules/mob/living/simple_animal/friendly/lizard.dm
Labels: :scroll: Есть CL

#12299 fix(view): fixes assorted view-related runtimes
  code/_helpers/view.dm
  code/_onclick/click.dm
  code/_onclick/hud/movable_screen_objects.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/nano/interaction/default.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#12298 fix(shoes): fixes heels sprite on slim alt bodybuild
  icons/inv_slots/shoes/mob_slimalt.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#12296 refact(stock parts processor): makes stock parts processor use "Primer" theme
  code/modules/research/stock_parts_processor.dm
  icons/obj/machines/research.dmi
  icons/obj/stationobjs.dmi
  tgui/packages/tgui/interfaces/StockPartsProcessor.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, 🎨 спрайты, :scroll: Есть CL

#12297 tweak(canister): adds verbose vis message
  code/game/machinery/atmoalter/canister.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12302 tweak(unloading machine): adds moar examine
  code/modules/mining/machines/unloading.dm
Labels: 🔩 улучшение, :scroll: CL не требуется

#12223 feat(wheelcannon): adds ghetto siege cannon
  baystation12.dme
  code/_global_vars/lists/wheelcannon.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelcannon.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/assembly/igniter.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  icons/obj/wheelchair.dmi
  sound/effects/explosions/wheelcannon_shoot.ogg
Labels: 🔩 улучшение, 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#12312 feat(barsign): adds new violence-free barsign
  icons/obj/barsigns.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#12310 fix(assorted): fixes medrig's injector and tank welding
  code/game/objects/items/tanks/tanks.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12308 Fix #12278
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12307 fix(stat panel): object window info logout runtime
  code/datums/object_window_info.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12306 fix(eams): removes join as actor loophole
  code/game/antagonist/outsider/actors.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12305 Fix #12282
  code/datums/components/orbiter.dm
  code/modules/examine/examine.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12304 Fix da fukken rcd
  code/game/turfs/simulated/floor_acts.dm
  code/modules/rcd/_rcd.dm
  code/modules/rcd/rcd.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12309 fix(wheelcannon): fixes wrong typecheck
  code/game/objects/structures/stool_bed_chair_nest/wheelcannon.dm
  code/modules/assembly/igniter.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12323 LOG DAT SHIT
  baystation12.dme
  code/__defines/icon_stack_trace.dm
  code/_global_vars/logging.dm
  code/_helpers/icons.dm
  code/_helpers/logging.dm
  code/game/world.dm
Labels: 🛠 Инструменты, :scroll: CL не требуется

#12322 tweak(lobby): makes default lobby art wide
  icons/runtime/default_lobby.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#12327 Gas canisters resprite
  code/game/machinery/atmoalter/canister.dm
  icons/obj/atmos.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12328 fix(stacking): removes my mistakes
  code/modules/mining/machines/stacking.dm
Labels: :scroll: CL не требуется

#12329 Revert "experiment(icons): adds recursion logging"
  baystation12.dme
  code/__defines/icon_stack_trace.dm
  code/_global_vars/logging.dm
  code/_helpers/icons.dm
  code/_helpers/logging.dm
  code/game/world.dm
Labels: :scroll: CL не требуется

#12324 Fix uplink menu
  tgui/packages/tgui/interfaces/Uplink.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :wrench: фикс, :scroll: Есть CL

#12321 fix(drone): fixes drones' movespeed
  code/datums/configuration/movement_section.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/movement/modifiers/mobs.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12325 purge(garbage): removes unused atoms & icons
  baystation12.dme
  code/_onclick/ghost.dm
  code/datums/helper_datums/icon_snapshot.dm
  code/game/machinery/doors/firedoor_assembly.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/structures/rails.dm
  code/game/objects/structures/rubble.dm
  code/modules/Z_item_worth/worths_list.dm
  code/modules/awaymissions/bluespaceartillery.dm
  code/modules/awaymissions/loot.dm
  code/modules/mining/machines/unloading.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/multiz/industrial_lift/industrial_lift.dm
  code/modules/multiz/structures.dm
  icons/48x48/walls48.dmi
  icons/PSD files/asteroiddustoverlay.psd
  icons/PSD files/door.psd
  icons/covershield.dmi
  icons/jungle.dmi
  icons/meteor_turret.dmi
  icons/minimap.dmi
  icons/obj/machines/artillery.dmi
  icons/obj/policetape.dmi
  icons/obj/rails.dmi
  icons/obj/rubble.dmi
  icons/obj/stairs.dmi
  icons/onyxlogo32x32.png
  icons/ss13_32.png
  icons/ss13_64.png
  icons/top_secret.dmi
  interface/skin.dmf
  maps/genesis/genesis-3.dmm
Labels: 🗺️ карта, 🎨 спрайты, :knife: выпил из билда, :scroll: CL не требуется

#12341 fix(vision): tajaran & co can now see in dark
  code/_onclick/hud/fullscreen.dm
Labels: :scroll: Есть CL

#12340 Fix or die 9
  code/game/gamemodes/changeling/biostructure.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/items/material/coins.dm
  code/modules/mob/organs/external/_external.dm
  icons/obj/coins.dmi
Labels: 🎨 спрайты, :wrench: фикс, :scroll: Есть CL

#12339 fix(assembly): wired tanks explode now
  code/game/objects/items/tanks/tanks.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/igniter.dm
  code/modules/assembly/mousetrap.dm
  code/modules/assembly/proximity.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12333 tweak(donations): removes patreon, adds boosty
  code/datums/configuration/link_section.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/donations/donations.dm
  config/example/config.toml
  html/changelog.html
  html/changelogs/.all_changelog.json
  html/templates/changelog.tmpl
  nano/templates/donations_info.tmpl
Labels: :scroll: CL не требуется

#12337 feat(admin): adds TGUI for command reports
  baystation12.dme
  code/modules/admin/verbs/commandreport.dm
  code/modules/admin/verbs/randomverbs.dm
  tgui/packages/tgui/interfaces/CommandReport.tsx
  tgui/public/tgui.bundle.js
Labels: 🔩 улучшение, :iphone: UX/UI, :gear: кнопки, :scroll: Есть CL

#12343 fix(announcer): removes lag on announce
  code/_global_vars/lists/objects.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/implants/implants/death_alarm.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  code/modules/power/gravitygenerator.dm
  code/modules/supermatter/supermatter.dm
Labels: :scroll: CL не требуется

#12349 Fix dat fukken inventory
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/mob/mob.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: Есть CL

#12348 POSSIBLY-FIX-OF-SHOOTING
  code/modules/projectiles/projectile.dm
Labels: :wrench: фикс, :scroll: Есть CL, 🧪 потестим в проде, Стрельба

#12346 Fix da fukken wheelchair
  code/_helpers/game.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
Labels: :wrench: фикс, :scroll: Есть CL
