Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-07, with the labels that each got.

#12561 feat(traits): add cool traits
  code/datums/surgery/steps/mouth.dm
  code/datums/surgery/surgery_step.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job_controller.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/tools/tools.dm
  code/game/objects/items/weapons/mop.dm
  code/modules/client/preference_setup/traits/trait_defines.dm
  code/modules/client/preference_setup/traits/traits.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_special_attacks.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/movement/modifiers/variable_slowdowns.dm
  code/modules/modifier/modifier.dm
  code/modules/modifier/movespeed.dm
  code/modules/modifier/traits.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: 🌐 вики, 🔩 улучшение

#12567 feat(db): GigaChadDB
  .travis.yml
  Dockerfile
  baystation12.dme
  code/__defines/rust_g.dm
  code/_helpers/global_access.dm
  code/_helpers/global_lists.dm
  code/controllers/db.dm
  code/datums/configuration/database_section.dm
  code/datums/configuration/db_section.dm
  code/datums/configuration/external_section.dm
  code/datums/configuration/server_configuration.dm
  code/datums/configuration/whitelist_section.dm
  code/game/jobs/whitelist.dm
  code/game/objects/structures/mirror.dm
  code/game/verbs/who.dm
  code/game/world.dm
  code/modules/admin/EAMS.dm
  code/modules/admin/admin.dm
  code/modules/admin/banjob.dm
  code/modules/admin/species_ingame_whitelist.dm
  code/modules/admin/topic.dm
  code/modules/client/client_defines.dm
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/donations/donations.dm
  code/modules/error_handler/error_handler.dm
  code/modules/library/lib_items.dm
  code/modules/mob/living/carbon/alien/diona/progression.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/modular_computers/file_system/programs/generic/artlibrary.dm
  code/modules/modular_computers/file_system/programs/generic/library.dm
  code/modules/nano/modules/human_appearance.dm
  code/procs/dbcore.dm
  code/procs/statistics.dm
  config/default/database.toml
  config/default/db.toml
  config/default/whitelist.toml
  docker-compose.yml
  docker-entrypoint.sh
  docs/db.md
  flyway.conf
  nano/templates/art_library.tmpl
  nano/templates/library.tmpl
  sql/migrate/V001_InitFeedback.sql
  sql/migrate/V004_ArtLibrary.sql
Labels: 🛠 Инструменты

#12569 tweak(kbd): bind PageUp/Down to move_up/down, fix move_down kbd
  code/modules/keybindings/mob.dm
Labels: :wrench: фикс

#12571 fix(art): fix canvas preview in program, save base64 preview in DB
  code/_global_vars/configuration.dm
  code/_helpers/global_access.dm
  code/controllers/db.dm
  code/game/objects/structures/artstuff.dm
  code/modules/modular_computers/file_system/programs/generic/artlibrary.dm
  nano/templates/art_library.tmpl
Labels: :wrench: фикс

#12572 tweak(db): database fallback
  code/controllers/db.dm
Labels: 🛠 Инструменты

#12573 fix(github): detect repository license
  COPYING
  LICENSE
  README.md
  docs/GPL3.txt
Labels: :scroll: CL не требуется

#12574 A tribute to Molesto411
  baystation12.dme
  code/__defines/ces/signals_mob.dm
  code/__defines/colors.dm
  code/__defines/materials.dm
  code/_global_vars/dirt_overlays.dm
  code/controllers/subsystems/initialization/misc.dm
  code/controllers/subsystems/mapgen.dm
  code/datums/components/ambushable.dm
  code/datums/dirt.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/barrel.dm
  code/game/objects/structures/bonfire.dm
  code/game/objects/structures/flora_swamp.dm
  code/modules/mapgen/planetary/SwampGenerator.dm
  code/modules/mapgen/planetary/WasteGenerator.dm
  code/modules/materials/materials.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/update_icons.dm
  code/modules/overmap/overmap_avatar.dm
  code/modules/overmap/star_system.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  code/modules/scrap/oldificator.dm
  code/modules/scrap/scrap.dm
  code/modules/scrap/scrap_drop.dm
  icons/effects/particles/bonfire.dmi
  icons/obj/bonfire.dmi
  icons/obj/items.dmi
  icons/obj/scrap/all_mixed.dmi
  icons/obj/scrap/base.dmi
  icons/obj/scrap/bonfire.dmi
  icons/obj/scrap/cloth.dmi
  icons/obj/scrap/engine.dmi
  icons/obj/scrap/food_trash.dmi
  icons/obj/scrap/guns_trash.dmi
  icons/obj/scrap/medical_trash.dmi
  icons/obj/scrap/recycling.dmi
  icons/obj/scrap/refine.dmi
  icons/obj/scrap/science.dmi
  icons/obj/scrap/scrap_beacon.dmi
  icons/obj/scrap/syndie.dmi
  icons/obj/scrap/trash.dmi
  icons/obj/scrap/vehicle.dmi
  icons/turf/flooring/plating.dmi
  icons/turf/flooring/waste.dmi
  icons/turf/flooring/wasteland.dmi
  icons/turf/wall_masks.dmi
Labels: 🔩 порт, 🎨 спрайты

#12575 ZAS re-done and i'm undone
  code/__defines/ZAS.dm
  code/__defines/atmos.dm
  code/__defines/misc.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/open_space.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/areas.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/turfs/simulated.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/game/turfs/unsimulated.dm
  code/modules/ZAS/Airflow.dm
  code/modules/ZAS/Atom.dm
  code/modules/ZAS/Connection.dm
  code/modules/ZAS/ConnectionGroup.dm
  code/modules/ZAS/Debug.dm
  code/modules/ZAS/Diagnostic.dm
  code/modules/ZAS/Fire.dm
  code/modules/ZAS/Turf.dm
  code/modules/ZAS/Zone.dm
  code/modules/maps/space_level.dm
  code/modules/materials/materials.dm
  code/modules/overmap/overmap_anomaly.dm
  code/modules/overmap/overmap_avatar.dm
  code/modules/overmap/star_system.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: 🔩 улучшение, 🔩 порт, 🔨 рефакторинг, :skull: Cursed, :scroll: CL не требуется

#12576 Fiix linter error
  code/datums/extensions/ship_engines/gas_thruster.dm
  code/modules/ZAS/Turf.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mapgen/planetary/SnowGenerator.dm
  code/modules/overmap/overmap_avatar.dm
  icons/overmap/nsv13/nanotrasen/cruiser.dmi
  icons/overmap/nsv13/nanotrasen/dropship.dmi
  icons/overmap/nsv13/nanotrasen/fighter_overmap.dmi
  icons/overmap/nsv13/nanotrasen/frigate.dmi
  icons/overmap/nsv13/nanotrasen/heavy_cruiser.dmi
  icons/overmap/nsv13/nanotrasen/serendipity.dmi
  icons/overmap/nsv13/nanotrasen/titan.dmi
  icons/overmap/nsv13/solgov/fighter.dmi
  icons/overmap/nsv13/syndicate/battleship.dmi
  icons/overmap/nsv13/syndicate/carrier.dmi
  icons/overmap/nsv13/syndicate/cruiser.dmi
  icons/overmap/nsv13/syndicate/destroyer.dmi
  icons/overmap/nsv13/syndicate/dropship.dmi
  icons/overmap/nsv13/syndicate/frigate.dmi
  icons/overmap/nsv13/syndicate/nuke_frigate.dmi
  icons/overmap/nsv13/syndicate/pt_boat.dmi
  maps/derelicts/snow_asteroid/snowasteroid.dmm
  maps/eclipse/eclipse-1.dmm
  maps/frontier/biodome/winter.dmm
  maps/genesis/genesis-2.dmm
  maps/templates/holodeck/holodeck_snow.dmm
Labels: 🗺️ карта, 🎨 спрайты, :scroll: CL не требуется

#12566 feat(loadout): adding new color vest
  code/modules/client/preference_setup/loadout/lists/clothing.dm
  code/modules/clothing/under/accessories/clothing.dm
  icons/inv_slots/acessories/icon.dmi
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/mob/onmob/ties.dmi
  icons/mob/onmob/ties_slim.dmi
  icons/obj/clothing/ties.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12565 fix(secure_door_assembly): fix craft of blast doors
  code/game/objects/structures/secure_door_assembly.dm
Labels: :scroll: CL не требуется

#12577 fix(merchants): forgotten prices and blank visor
  code/datums/trading/goods.dm
  code/modules/Z_item_worth/worths_list.dm
Labels: :scroll: CL не требуется

#12581 fix(runtime): pAI initialization
  code/modules/mob/living/silicon/pai/pai.dm
Labels: :wrench: фикс

#12580 tweak(overmap): add default overmap config
  code/controllers/subsystems/starsystem.dm
  code/datums/configuration/overmap.dm
  config/default/overmap.toml
  config/default/overmap.yaml
Labels: :wrench: фикс

#12579 feat(point): adds pixel point and thought point
  baystation12.dme
  code/_helpers/unsorted.dm
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/game/objects/effects/decals/misc.dm
  code/modules/mob/mob.dm
  code/modules/point/point.dm
  icons/mob/effects/talk.dmi
Labels: 🎨 спрайты

#12589 fix(shit): fixes shit
  code/modules/mob/organs/external/_external_icons.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12592 fix(acessories): fixed the side view of the vest
  icons/inv_slots/acessories/mob.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12593 Screentips
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/ces/signals_screentips.dm
  code/__defines/flags.dm
  code/__defines/misc.dm
  code/__defines/screentips.dm
  code/__defines/subsystem-priority.dm
  code/_helpers/view.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/screentip.dm
  code/controllers/subsystems/mouse_entered.dm
  code/datums/scrrentips/atom_context.dm
  code/datums/scrrentips/screentips.dm
  code/datums/view.dm
  code/game/atom_screentips.dm
  code/game/machinery/CableLayer.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/atmoalter/sauna.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/biogenerator.dm
  code/game/machinery/bioprinter.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/coffeemaker.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/cryo.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/fire_alarm.dm
  code/game/machinery/flasher.dm
  code/game/machinery/floodlight.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/floorlayer.dm
  code/game/machinery/igniter.dm
  code/game/machinery/turret/_turret_control.dm
  code/game/machinery/turret/_turret_control_frame.dm
  code/game/machinery/turret/_turret_frame.dm
  code/game/machinery/turret/_turrets.dm
  code/game/machinery/vending/_vending.dm
  code/game/machinery/vending_frame.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  icons/hud/cursor_hints.dmi
Labels: 🔩 порт, 🎨 спрайты

#12600 feat(ibot2): add account connecting
  code/modules/indigo_bot/indigo_bot.dm
Labels: 🛠 Инструменты

#12601 Tweaks optimization other stuff
  baystation12.dme
  code/_helpers/contents_recursive.dm
  code/controllers/subsystems/mapping.dm
  code/datums/scrrentips/atom_context.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/mapgen/planetary/AsteroidGenerator.dm
  code/modules/mapgen/planetary/BeachGenerator.dm
  code/modules/mapgen/planetary/LavaGenerator.dm
  code/modules/mapgen/planetary/RockGenerator.dm
  code/modules/mapgen/planetary/SandGenerator.dm
  code/modules/mapgen/planetary/SnowGenerator.dm
  code/modules/mapgen/planetary/SwampGenerator.dm
  code/modules/mapgen/planetary/_PlanetGenerator.dm
  code/modules/maps/space_level.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/organs/internal/_internal.dm
  code/modules/mob/organs/organ.dm
  code/modules/overmap/fighters/_fighters.dm
  code/modules/overmap/ftl_drive/_core.dm
  code/modules/overmap/overmap_avatar.dm
  code/modules/overmap/ship_computers/_ship.dm
  icons/obj/ftl_drive.dmi
  maps/devarim/devarim_levels.dm
  maps/~mapsystem/maps.dm
Labels: 🗺️ карта, 🎨 спрайты

#12596 tweak(sprite): new T9 sprites
  icons/obj/guns/gun.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12545 fix(posibrain): fixes wrong parent organ
  code/modules/mob/organs/internal/posibrain.dm
Labels: 💉 медицина, :wrench: фикс, :mechanical_arm: FBP, :scroll: Есть CL
