Repository ChaoticOnyx/OnyxBay, pull requests merged in 2024-09, with the labels that each got.

#12769 New lobby song - Asshole in Space
  baystation12.dme
  code/modules/lobby_music/asshole_in_space.dm
  sound/music/asshole_in_space.ogg
Labels: 🔊 SFX, :scroll: Есть CL

#12775 fix: custom items job requirement
  .vscode/launch.json
  code/datums/configuration/custom_section.dm
  code/modules/customitems/item_spawning.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12782 Makes poise more dynamic
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/mob_helpers.dm
  code/modules/spells/general/gastrocnemius_magic.dm
  code/modules/spells/hand/biceps_magic.dm
  code/modules/spells/hand/deltoid_magic.dm
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, ⚔️ боёвка, :scroll: Есть CL

#12784 Makes cigarillos' icons dynamic
  code/game/objects/items/smokables/cigarettes.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/reagents/Chemistry-Reagents/medicine.dm
  icons/obj/cigarettes.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: Есть CL

#12791 fix(drone): fix update icon
  code/modules/mob/living/silicon/robot/drone/drone_remote_control.dm
Labels: :scroll: CL не требуется

#12789 Fix keycard auth
  baystation12.dme
  code/modules/security_levels/keycard_auth.dm
Labels: :scroll: Есть CL

#12796 tweak(sprite): new saber sprites
  icons/inv_slots/belts/mob.dmi
  icons/inv_slots/belts/mob_fat.dmi
  icons/inv_slots/belts/mob_slim.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12799 tweak(sprite): sprite combat medical kit in hand
  code/game/objects/items/storage/firstaid.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12797 tweak(sprite): new silenced pistol sprite
  code/modules/projectiles/guns/projectile/pistol.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/gun.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12801 fix(gun): correct ion pistol sprite in hand
  code/modules/projectiles/guns/energy/special.dm
  icons/obj/guns/gun.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12802 fix(animal): dead cats now have closed eyes when they on head
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/inv_slots/hats/mob.dmi
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12804 fix(decals): correct sprite path and fix borders sprite
  code/game/turfs/flooring/flooring_decals.dm
  icons/turf/flooring/decals.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#12795 tweak(gun): deckard's return to his former state
  code/datums/trading/weaponry.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  icons/obj/guns/gun.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#12800 fix(storage): there really is more room in the combat medical kit
  code/game/objects/items/storage/firstaid.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#12798 feat(gun): adds compact shotgun
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/gun.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты, :scroll: Есть CL

#12821 Fixdatfucckenzas
  code/__defines/ZAS.dm
  code/game/machinery/atmoalter/sauna.dm
  code/game/turfs/simulated/floor_icon.dm
  code/game/turfs/turf.dm
  code/modules/ZAS/Turf.dm
  code/modules/ZAS/Zone.dm
  code/modules/multiz/turf.dm
Labels: :scroll: CL не требуется

#12809 tweak(gun): fix acceleration pistol sprite & sprites in hands update
  code/modules/projectiles/guns/energy/accelerator.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12826 tweak(armor): adding sprites in the hand to a lot of armor
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/_void.dm
  code/modules/clothing/spacesuits/void/atmos.dm
  code/modules/clothing/spacesuits/void/engineering.dm
  code/modules/clothing/spacesuits/void/medical.dm
  code/modules/clothing/spacesuits/void/mining.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/security.dm
  code/modules/clothing/spacesuits/void/syndi.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/clothing/suit.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/pcarriers.dm
  code/modules/mob/living/carbon/xenobiological/crossbreeding/_clothing.dm
  code/modules/xenoarcheaology/tools/equipment.dm
  icons/inv_slots/suits/hand_l_default.dmi
  icons/inv_slots/suits/hand_r_default.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12750 Add restricted roles for assassinate contract, add contracts number limit
  code/game/gamemodes/traitor/contracts.dm
  code/game/gamemodes/traitor/fixer.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#12833 fix(gun): ion pistol sprite in hand, again
  code/modules/projectiles/guns/energy/special.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#12832 fix(sprite): lost compact shotgun sprites
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/guns/gun.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#12836 tweak(recharger): wall chargers accept magazines from lawgiver
  code/game/machinery/recharger.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12839 Eclipse Armoury and maintence fixes & Pathos blastdoor's
  maps/eclipse/eclipse-1.dmm
  maps/exodus/exodus_jobs.dm
  maps/polaris/polar-3.dmm
  maps/~mapsystem/maps_jobs.dm
Labels: 🗺️ карта, :scroll: Есть CL

#12838 fix(fueltank): empty tank can no longer be blown up
  code/modules/reagents/reagent_dispenser.dm
Labels: :scroll: Есть CL

#12849 looks like a month-old corpse.
  code/modules/mob/living/carbon/human/examine.dm
Labels: 🔩 улучшение, :scroll: Есть CL

#12846 tweak(uplink): no nuker ammunition for the traitors
  code/datums/uplink/categories/ammunition.dm
Labels: :wrench: фикс, :scroll: Есть CL

#12844 Eclipse general changes
  maps/eclipse/eclipse-1.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#12855 tweak(map): new stuff on exodus
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-2.dmm
Labels: 🌌геймдизайн, 🗺️ карта, 🔵 одобрено, :scroll: Есть CL
