Repository ChaoticOnyx/OnyxBay, pull requests merged in 2025-04, with the labels that each got.

#13092 feat(fryer): mices can jump into it
  code/game/machinery/kitchen/cooking_machines/fryer.dm
Labels: 🌐 вики, :scroll: Есть CL

#13078 fix(mech): repairing
  code/game/mecha/mecha.dm
Labels: :scroll: Есть CL

#13077 fix(flechette): ammo usage
  code/datums/uplink/categories/ammunition.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/projectiles/ammunition/magnetic.dm
  code/modules/projectiles/guns/magnetic/magnetic_railgun.dm
  code/modules/rcd/ammo.dm
Labels: :scroll: Есть CL

#13076 fix(pipe_placement) No more permanent activation of automatic shutoff valve
  maps/exodus/exodus-1.dmm
  maps/exodus/exodus-4.dmm
  maps/research-outpost.dmm
Labels: 🗺️ карта, :scroll: Есть CL

#13096 feat(icons): сircuit design update
  code/datums/trading/goods.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/turret/_turret_control_frame.dm
  code/game/objects/items/circuitboards/broken.dm
  code/game/objects/items/circuitboards/computer/air_management.dm
  code/game/objects/items/circuitboards/computer/computer.dm
  code/game/objects/items/circuitboards/computer/holodeckcontrol.dm
  code/game/objects/items/circuitboards/computer/research.dm
  code/game/objects/items/circuitboards/computer/station_alert.dm
  code/game/objects/items/circuitboards/computer/telecomms.dm
  code/game/objects/items/circuitboards/machinery/commsantenna.dm
  code/game/objects/items/circuitboards/machinery/kitchen.dm
  code/game/objects/items/circuitboards/machinery/machinery_circuitboards.dm
  code/game/objects/items/circuitboards/machinery/mech_recharger.dm
  code/game/objects/items/circuitboards/machinery/medical.dm
  code/game/objects/items/circuitboards/machinery/mining.dm
  code/game/objects/items/circuitboards/machinery/oxyregenerator.dm
  code/game/objects/items/circuitboards/machinery/pacman.dm
  code/game/objects/items/circuitboards/machinery/power.dm
  code/game/objects/items/circuitboards/machinery/recharge_station.dm
  code/game/objects/items/circuitboards/machinery/research.dm
  code/game/objects/items/circuitboards/machinery/shieldgen.dm
  code/game/objects/items/circuitboards/machinery/telecomms.dm
  code/game/objects/items/circuitboards/machinery/teleporter.dm
  code/game/objects/items/circuitboards/machinery/unary_atmos.dm
  code/game/objects/items/circuitboards/mecha.dm
  code/game/objects/items/circuitboards/other.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
  icons/obj/doors/door_assembly.dmi
  icons/obj/module.dmi
  icons/obj/monitors.dmi
  icons/obj/rig_modules.dmi
  icons/obj/robot_component.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13095 fix(screen/storage/Click()) Correct double row behavior
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/storage/storage_ui/default.dm
  code/game/objects/items/storage/storage_ui/storage_ui.dm
Labels: :scroll: Есть CL

#13093 feat(clothing): jumpskirt & jumpdress update, some kind of fix
  code/game/objects/items/storage/garment.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/uniforms/hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_slim.dmi
  icons/inv_slots/uniforms/hand_r_default.dmi
  icons/inv_slots/uniforms/hand_r_slim.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13082 tweak(reagent-containters): players can ALT+CLICK to switch transfer amount
  code/modules/reagents/reagent_containers.dm
Labels: :scroll: Есть CL

#13070 feat(uplink): add more job specific items
  baystation12.dme
  code/datums/uplink/categories/job.dm
  code/game/objects/items/devices/emitter_controller.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weapons/clown_items.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/power/singularity/emitter.dm
  code/modules/wireless/devices.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/grenade.dmi
Labels: 🌌геймдизайн, 💡 нужны идеи, 🎨 спрайты, ඞ антагонисты

#13105 просто описание кастомного предмета
  code/modules/clothing/~custom_clothing/custom_clothing.dm
Labels: :scroll: Есть CL

#13102 add custom award item for Lokvit
  code/game/objects/items/devices/modkit.dm
  code/game/objects/items/storage/backpack.dm
  icons/inv_slots/back/mob.dmi
  icons/inv_slots/back/mob_fat.dmi
  icons/inv_slots/back/mob_slim.dmi
  icons/inv_slots/back/mob_slim_m.dmi
  icons/mob/onmob/items/lefthand_backpacks.dmi
  icons/mob/onmob/items/righthand_backpacks.dmi
  icons/obj/storage/backpacks.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13104 Верб 'Select Module' у РИГов теперь получил радиальное меню.
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  interface/skin.dmf
Labels: :scroll: Есть CL

#13111 fix(assorted): fix roundstart runtimes
  code/game/gamemodes/traitor/contracts.dm
  maps/miners-outpost.dmm
Labels: 🗺️ карта, 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#13110 revert(fx): remove shooting effects from TGMC
  baystation12.dme
  code/__defines/ces/signals_atom.dm
  code/__defines/particle_impacts.dm
  code/datums/elements/debris.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/bloodsplatter.dm
  code/game/objects/objs.dm
  code/game/objects/structures/barricade/material.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/rock.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  code/game/shuttle_engines.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_shuttle.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/library/lib_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/tables/tables.dm
  icons/effects/96x96.dmi
  icons/effects/bulletholes.dmi
  icons/effects/particles/generic_particles.dmi
  sound/effects/weapons/misc/gun_overheat.ogg
Labels: 🎨 спрайты, 🔊 SFX, :knife: выпил из билда, :scroll: Есть CL

#13113 fix(id.icon_states): prevent invisible IDs
  code/game/antagonist/outsider/deathsquad.dm
  code/modules/admin/verbs/debug.dm
Labels: :scroll: Есть CL

#13115 fix(character setup): newcommers message now shows properly
  code/_helpers/warnings.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: Есть CL

#13112 tweak(tajaran species): make siikmaas the default lang
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: 🌐 вики, :scroll: Есть CL

#13119 feat(shuttles): Add fake nuke annonce to merchant shuttle
  code/modules/shuttles/shuttles_multi.dm
  maps/eclipse/eclipse_shuttles.dm
  maps/exodus/exodus_shuttles.dm
Labels: 🗺️ карта, :scroll: Есть CL

#13134 fix(card): lost robot card icons
  code/modules/mob/living/silicon/robot/robot_items.dm
Labels: :scroll: CL не требуется

#13132 fix(clothing): paramedic uniform didn't have an icon
  icons/obj/clothing/uniforms.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13117 feat(vessels): clinking glasses
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/_macros.dm
  code/modules/reagents/reagent_containers/vessel/_vessel.dm
  code/modules/splash_text/splash_text.dm
  icons/hud/radial.dmi
  sound/items/glasses_clink.ogg
Labels: 🌌геймдизайн, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#13135 fix(icon): mining point card & data card
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/mining/mine_items.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/card.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13128 TBSCT HotFix #1
  code/game/machinery/vending/coffee.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/storage/pill_bottle.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/organs/internal/normal/stomach.dm
  code/modules/mob/organs/pain.dm
  code/modules/reagents/reagent_containers/food/_food.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/vessel/_lid.dm
  code/modules/reagents/reagent_containers/vessel/unsorted.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#13131 Removes lack of real grenade launchers
  baystation12.dme
  code/datums/supplypacks/security.dm
  code/datums/uplink/categories/ammunition.dm
  code/datums/uplink/categories/highly_visible_and_dangerous_weapons.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/grenades/smokebomb.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/projectiles/ammunition/grenades.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/projectile/grenade_launcher.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/special.dm
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/gun.dmi
  icons/obj/projectiles.dmi
  maps/exodus/exodus-2.dmm
  sound/effects/weapons/misc/bloop.ogg
Labels: 🌌геймдизайн, 🗺️ карта, 🔩 улучшение, 🔵 одобрено, 🎨 спрайты, ⚔️ боёвка, 🔊 SFX, :scroll: Есть CL

#13133 Removes lack of performance (funny)
  code/__defines/__qdel.dm
  code/game/machinery/doors/simple.dm
  code/game/machinery/doors/unpowered.dm
  code/game/machinery/machinery.dm
  code/game/objects/effects/effect_system.dm
  code/modules/ZAS/Fire.dm
  code/modules/library/lib_machines.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: 🔧 оптимизация, :wrench: фикс, :scroll: Есть CL

#13058 tweak(Machinery_AltClick) Beaker detaching
  code/game/machinery/Sleeper.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/cryo.dm
  code/game/machinery/machinery.dm
  code/modules/power/apc.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
Labels: :scroll: Есть CL

#13137 Removes racks' souls
  code/__defines/__renderer.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/contraband.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/pew.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/couches.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelcannon.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/objects/structures/window.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/mob/living/simple_animal/friendly/parrot.dm
  code/modules/tables/rack.dm
  icons/obj/doors/doormaint.dmi
  icons/obj/doors/windoor.dmi
  icons/obj/objects.dmi
  icons/obj/stationobjs.dmi
  icons/obj/structures.dmi
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, 🔩 улучшение, 🎨 спрайты, :wrench: фикс, :scroll: CL не требуется

#13149 Reverts thinking-based QDEL_IN
  code/__defines/__qdel.dm
Labels: :recycle: ревёрт, :wrench: фикс, :scroll: CL не требуется

#13150 Removes lack of IV drips' APTFTs
  code/game/objects/structures/iv_drip.dm
Labels: 🔩 улучшение, 💉 медицина, :scroll: CL не требуется

#13151 TBSCT tweaks
  code/__defines/chemistry.dm
  code/datums/supplypacks/security.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/structures/watercloset.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/Chemistry-Reagents/ethanol.dm
Labels: 🔩 улучшение, 💉 медицина, :wrench: фикс, :scroll: CL не требуется

#13153 Весенняя чистка | fix(things): removes bugs
  code/datums/uplink/uplink_items.dm
  code/game/machinery/bioprinter.dm
  code/modules/clothing/suits/hooded.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/organs/external/head.dm
  code/modules/mob/typing_indicator.dm
  code/modules/paperwork/stamps.dm
Labels: 🔧 оптимизация, 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#13156 fix(doors): timings and stuff
  code/game/machinery/door_control.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
Labels: 🔩 улучшение, :wrench: фикс, :scroll: CL не требуется

#13157 tweak(vents): HD animations
  icons/atmos/vent_pump.dmi
Labels: 🔩 улучшение, 🎨 спрайты, :scroll: CL не требуется
