Repository ChaoticOnyx/OnyxBay, pull requests merged in 2025-03, with the labels that each got.

#12974 feat(maintenance): new closets for the greytiders
  baystation12.dme
  code/game/objects/items/trash.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/maintenance.dm
  code/modules/clothing/suits/pcarriers.dm
  icons/misc/landmarks.dmi
  icons/mob/onmob/items/lefthand_shields.dmi
  icons/mob/onmob/items/righthand_shields.dmi
  icons/obj/closet.dmi
  icons/obj/closet_doors.dmi
  icons/obj/trash.dmi
Labels: 🎨 спрайты

#12977 tweak(clothing): update sprites in hand for under
  code/modules/clothing/under/casual_pants.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirts.dm
  code/modules/clothing/under/track_pants.dm
  icons/inv_slots/uniforms/hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_slim.dmi
  icons/inv_slots/uniforms/hand_r_default.dmi
  icons/inv_slots/uniforms/hand_r_slim.dmi
Labels: 🎨 спрайты

#12978 fix(icons): broken sprite of a sterile mask for unathi
  icons/inv_slots/masks/mob_unathi.dmi
Labels: 🎨 спрайты

#12979 tweak(icons): inhand sprite for clippers
  code/modules/hydroponics/trays/tray_tools.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🎨 спрайты

#12980 tweak(armor): plate carrier paunches sprite fix
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
Labels: 🎨 спрайты

#12986 fix(clothing): no more big ass pants for default bodybuild
  icons/inv_slots/uniforms/mob.dmi
Labels: 🎨 спрайты

#12987 fix(clothing): removing excess pixels on the armband sprite
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
Labels: 🎨 спрайты

#12988 fix(clothing): diona "suit" sprite looks in the right direction
  icons/inv_slots/suits/mob.dmi
  icons/inv_slots/suits/mob_fat.dmi
  icons/inv_slots/suits/mob_slim.dmi
  icons/inv_slots/suits/mob_slim_m.dmi
  icons/inv_slots/suits/mob_slimalt.dmi
  icons/inv_slots/suits/mob_slimalt_tajaran.dmi
  icons/inv_slots/suits/mob_unathi.dmi
Labels: 🎨 спрайты

#12989 tweak(card): adding sprites for subtypes and inhand sprites
  code/game/machinery/computer/guestpass.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/modules/detectivework/tools/sample_kits.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/card.dmi
Labels: 🌌геймдизайн, 🔵 одобрено, 🎨 спрайты

#12993 maptweak(exodus): fixing the painting in the captain's office
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта

#12994 fix(lubanana): no yellow peels for the blue banana
  code/modules/hydroponics/grown_inedible.dm
  code/modules/hydroponics/seed_datums.dm
  icons/obj/items.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12997 tweak(surgery): inhand sprite update & adding description
  code/game/objects/items/tools/surgery.dm
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
  icons/obj/surgery.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#12998 fix(clothing): flannel shirts cursed sprite
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_fat.dmi
  icons/inv_slots/acessories/mob_slim.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13003 tweak(clothing): continuing to update inhand sprites for under
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/monkey.dm
  code/modules/clothing/under/skirts.dm
  icons/inv_slots/uniforms/hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_slim.dmi
  icons/inv_slots/uniforms/hand_r_default.dmi
  icons/inv_slots/uniforms/hand_r_slim.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13004 fix(clippers): disabling randicon
  code/modules/hydroponics/trays/tray_tools.dm
Labels: :scroll: Есть CL

#13012 feat(loadout): adding new scarves
  baystation12.dme
  code/modules/client/preference_setup/loadout/lists/masks.dm
  code/modules/clothing/masks/scarf.dm
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
  icons/inv_slots/masks/mob_tajaran.dmi
  icons/inv_slots/masks/mob_unathi.dmi
  icons/obj/clothing/masks.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13006 fix(clothing): removing an unnecessary costume from hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_default.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13008 feat(gloves): new security gloves design & adding some into loadout
  code/datums/outfits/jobs/security.dm
  code/datums/outfits/misc.dm
  code/datums/outfits/nanotrasen.dm
  code/datums/outfits/spec_op.dm
  code/datums/supplypacks/operations.dm
  code/datums/trading/armor.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/outsider/ert.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/modules/Z_item_worth/worths_list.dm
  code/modules/client/preference_setup/loadout/lists/security.dm
  code/modules/clothing/gloves/miscellaneous.dm
  icons/inv_slots/gloves/hand_l_default.dmi
  icons/inv_slots/gloves/hand_l_slim.dmi
  icons/inv_slots/gloves/hand_r_default.dmi
  icons/inv_slots/gloves/hand_r_slim.dmi
  icons/inv_slots/gloves/mob.dmi
  icons/inv_slots/gloves/mob_fat.dmi
  icons/inv_slots/gloves/mob_slim.dmi
  icons/inv_slots/gloves/mob_vox.dmi
  icons/obj/clothing/gloves.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13022 fix(clothing): yuri helmets now display normally on unathi and tajaran
  icons/inv_slots/hats/mob_tajaran.dmi
  icons/inv_slots/hats/mob_unathi.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13016 Удаление верба Observe у new_player
  code/modules/mob/mob.dm
Labels: :scroll: CL не требуется

#13026 fix(clothing): rag scarf crooked sprite
  icons/inv_slots/masks/mob.dmi
  icons/inv_slots/masks/mob_slim.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13028 tweak(mobs): remove the multitask fun police
  code/_helpers/mobs.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#13011 rscadd: Headstamp
  code/game/objects/structures/watercloset.dm
  code/modules/mob/organs/external/head.dm
  code/modules/paperwork/stamps.dm
Labels: 🌌геймдизайн, 🔵 одобрено, :scroll: Есть CL

#13033 maptweak(exodus): fixed wires for the ghetto ring
  maps/exodus/exodus-1.dmm
Labels: 🗺️ карта, :wrench: фикс, :scroll: Есть CL

#13030 fix(clothing): rings don't go missing in your pockets
  code/modules/clothing/gloves.dm
Labels: :wrench: фикс, :scroll: Есть CL

#13040 fix(clothing): display of the 'RIG combat' gloves icon
  icons/obj/clothing/gloves.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13039 fix(clothing): correct name of the deathsquad helmet & inhand sprite
  icons/inv_slots/hats/hand_l_default.dmi
  icons/inv_slots/hats/hand_r_default.dmi
  icons/inv_slots/hats/mob.dmi
  icons/mob/onmob/items/lefthand.dmi
  icons/mob/onmob/items/righthand.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13037 fix(bedsheet): correct path name for grey
  code/game/objects/structures/bedsheet_bin.dm
Labels: :scroll: CL не требуется

#13036 tweak(floor_painter): adding new decals
  code/game/objects/items/devices/floor_painter.dm
  code/game/turfs/flooring/flooring_decals.dm
  tgui/packages/tgui/interfaces/FloorPainter.tsx
  tgui/public/tgui.bundle.js
Labels: :iphone: UX/UI, :scroll: Есть CL

#13035 Более читаемые оповещения о смерти
  code/game/objects/items/implants/implants/death_alarm.dm
  code/modules/mob/living/silicon/robot/robot_upgrades.dm
Labels: :scroll: Есть CL

#13043 feat(clothing): displaying icons in the suit storage slot
  code/__defines/items_clothing.dm
  code/modules/clothing/suit.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/storage.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/inv_slots/belts/mirror/mob.dmi
  icons/inv_slots/belts/mirror/mob_slim.dmi
  icons/inv_slots/suitstorage/mob.dmi
  icons/inv_slots/suitstorage/mob_fat.dmi
  icons/inv_slots/suitstorage/mob_slim.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13041 feat(fx): add shooting effect from TGMC
  baystation12.dme
  code/__defines/ces/signals_atom.dm
  code/__defines/particle_impacts.dm
  code/datums/elements/debris.dm
  code/game/atoms.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/effects/bloodsplatter.dm
  code/game/objects/objs.dm
  code/game/objects/structures/barricade/material.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/rock.dm
  code/game/objects/structures/window.dm
  code/game/objects/structures/window_frame.dm
  code/game/shuttle_engines.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/wall_shuttle.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/library/lib_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/particles/particle_emitter.dm
  code/modules/particles/particles.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/tables/tables.dm
  icons/effects/96x96.dmi
  icons/effects/bulletholes.dmi
  icons/effects/particles/generic_particles.dmi
  sound/effects/weapons/misc/gun_overheat.ogg
Labels: 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#13045 Removes absence of miniature giant space hamsters
  baystation12.dme
  code/datums/events/infestation.dm
  code/datums/trading/misc.dm
  code/game/objects/items/glassjar.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/window_frame.dm
  code/game/turfs/initialization/maintenance.dm
  code/modules/assembly/mousetrap.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/hamster.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/transform_procs.dm
  code/modules/spells/targeted/shapeshift.dm
  code/modules/ventcrawl/ventcrawl.dm
  code/modules/xenoarcheaology/artifacts/autocloner.dm
  icons/inv_slots/hats/mob.dmi
  icons/mob/animal.dmi
  icons/mob/onmob/items/lefthand_holder.dmi
  icons/mob/onmob/items/righthand_holder.dmi
  maps/exodus/exodus-1.dmm
Labels: 🗺️ карта, 🔩 улучшение, 🎨 спрайты, 🐭 мыш, :scroll: Есть CL

#13047 fix(turf): rock_type malfunction
  code/modules/mining/mine_turfs.dm
Labels: :scroll: CL не требуется

#13010 opyx_reward system
  code/__defines/donations_defines.dm
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: :scroll: CL не требуется

#13051 tweak(game-tips): make it configurable
  baystation12.dme
  code/datums/configuration/game_tips.dm
  code/datums/configuration/server_configuration.dm
  code/modules/mob/new_player/new_player.dm
  config/default/game-tips.toml
  strings/game_tips.txt
Labels: :scroll: CL не требуется

#13050 soundadd: cuff closing sound
  code/game/objects/items/weapons/handcuffs.dm
  sound/effects/handcuffs.ogg
Labels: 🔊 SFX, :scroll: Есть CL

#13049 Event shoe covers
  baystation12.dme
  code/__defines/items_clothing.dm
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/datums/supplypacks/medical.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/loot_piles.dm
  code/game/turfs/simulated.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/shoe_covers.dm
  code/modules/clothing/shoes.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/clothing.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/ties.dm
  code/modules/holomaps/holochip.dm
  code/modules/research/designs/protolathe/dp-medical.dm
  icons/inv_slots/acessories/icon.dmi
  icons/inv_slots/acessories/mob.dmi
  icons/inv_slots/acessories/mob_slim_m.dmi
  icons/inv_slots/hats/mob.dmi
  icons/inv_slots/shoes/icon.dmi
  icons/inv_slots/shoes/mob.dmi
  icons/inv_slots/shoes/mob_slim.dmi
  icons/inv_slots/shoes/mob_slimalt.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/items.dmi
  icons/obj/objects.dmi
  icons/obj/storage/boxes.dmi
  sound/effects/coversstep1.ogg
  sound/effects/coversstep2.ogg
  sound/effects/coversstep3.ogg
  sound/effects/destroy_covers.ogg
Labels: 🎨 спрайты, 🔊 SFX, :scroll: Есть CL

#13053 feat(loadout): adding victorian dress & test reward system
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/inv_slots/uniforms/hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_slim.dmi
  icons/inv_slots/uniforms/hand_r_default.dmi
  icons/inv_slots/uniforms/hand_r_slim.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13057 Removes feline debugging leftovers
  code/modules/mob/living/simple_animal/friendly/cat.dm
Labels: :scroll: CL не требуется

#13063 fix(wallet): incorrect names of card overlay icons & adding new
  icons/obj/wallet.dmi
Labels: 🎨 спрайты, :scroll: Есть CL

#13072 feat(loadout): adding department jumpskirt & more refactor
  code/datums/outfits/jobs/cargo.dm
  code/datums/outfits/jobs/civilian.dm
  code/datums/outfits/jobs/security.dm
  code/datums/outfits/tournament.dm
  code/datums/trading/misc.dm
  code/game/antagonist/outsider/raider.dm
  code/game/jobs/job_controller.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/inv_slots/uniforms/hand_l_default.dmi
  icons/inv_slots/uniforms/hand_l_slim.dmi
  icons/inv_slots/uniforms/hand_r_default.dmi
  icons/inv_slots/uniforms/hand_r_slim.dmi
  icons/inv_slots/uniforms/mob.dmi
  icons/inv_slots/uniforms/mob_fat.dmi
  icons/inv_slots/uniforms/mob_slim.dmi
  icons/inv_slots/uniforms/mob_slim_m.dmi
  icons/inv_slots/uniforms/mob_slimalt.dmi
  icons/obj/clothing/uniforms.dmi
  maps/eclipse/eclipse-1.dmm
  maps/exodus/exodus-1.dmm
  maps/frontier/frontier-1.dmm
  maps/genesis/genesis-1.dmm
Labels: 🗺️ карта, 🎨 спрайты, :scroll: Есть CL

#13061 fix(code): the correct name of the icon_state's bluespace tech. card
  code/modules/admin/bluespace_tech.dm
Labels: :scroll: Есть CL

#13067 Правильное сообщение при катапультировании ММИ
  code/modules/mob/organs/external/head.dm
Labels: :scroll: CL не требуется

#13066 fix(ghost-proc): proper response check
  code/modules/mob/observer/ghost/ghost.dm
Labels: :scroll: CL не требуется
