Repository ChaoticOnyx/OnyxBay, pull requests merged in 2025-05, with the labels that each got.

#13160 tweak(health): adds a toxloss hardcap
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/human_organs.dm
Labels: 🔩 улучшение, 💉 медицина, :scroll: Есть CL

#13147 fix(icon): savage hunter missing sprite
  code/modules/clothing/under/miscellaneous.dm
  icons/obj/clothing/uniforms.dmi
Labels: 🎨 спрайты, :scroll: CL не требуется

#13178 Update bot.dm
  code/modules/mob/living/bot/bot.dm
Labels: :wrench: фикс, :scroll: CL не требуется

#13185 update(ci): BYOND version
  .github/workflows/additional_checks.yml
Labels: :scroll: CL не требуется

#13181 fix(bugs): removes a few minor runtimes
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/mob/living/simple_animal/hostile/asteroid/goliath.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#13188 fix(things): removes bugs
  code/datums/chatmessage.dm
  code/datums/surgery/steps/internal.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/vampire/powers/drain_blood.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/coffeemaker.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/objects/items/backwear/backwear.dm
  code/game/objects/items/backwear/extinguisher.dm
  code/game/objects/items/backwear/pepper.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/implants/implants/chem.dm
  code/game/objects/items/material/twohanded.dm
  code/game/objects/items/smokables/ecigs.dm
  code/game/objects/items/tools/welding.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/structures/geltanks.dm
  code/game/objects/structures/iv_drip.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/projectiles/guns/flamer.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/research/designs/protolathe/dp-bluespace.dm
  code/modules/research/designs/protolathe/dp-medical.dm
  code/modules/synthesized_instruments/real_instruments.dm
Labels: 🐈 runtime, :wrench: фикс, :scroll: CL не требуется

#13184 refact(robot hull): add glowing eyes & custom panels, fix ghost icons
  baystation12.dme
  code/__defines/flags.dm
  code/__defines/misc.dm
  code/__defines/robot.dm
  code/datums/ai/ai_holo.dm
  code/datums/appearances/automatic/cardborg.dm
  code/datums/robot_hulls.dm
  code/game/jobs/job/silicon.dm
  code/game/machinery/computer/ai_core.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/remains.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/icons.dm
  code/modules/mob/living/silicon/custom_sprites.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
  code/modules/mob/living/silicon/robot/preset.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/observer/ghost/ghost.dm
  icons/mob/robots.dmi
  icons/mob/silicon/ai.dmi
  icons/mob/silicon/ai_custom.dmi
  icons/mob/silicon/hologram.dmi
  icons/mob/silicon/hologram_custom.dmi
  icons/mob/silicon/robot.dmi
  icons/mob/silicon/robot_custom.dmi
Labels: 🎨 спрайты, 📺 ИИ|Борги, :wrench: фикс, :scroll: Есть CL

#13198 add(nox) new map
  baystation12.dme
  maps/nox/nox-1.dmm
  maps/nox/nox-2.dmm
  maps/nox/nox-3.dmm
  maps/nox/nox-4.dmm
  maps/nox/nox_areas.dm
  maps/nox/nox_define.dm
  maps/nox/nox_levels.dm
  maps/nox/nox_navbeacon.dm
  maps/nox/nox_turf.dm
  nano/images/nox/nox-1.png
  nano/images/nox/nox-2.png
  nano/images/nox/nox-3.png
Labels: 🗺️ карта, :scroll: Есть CL

#13192 fix(player_panel) Rudimentary transformation correct spawning species
  code/modules/admin/admin.dm
  code/modules/mob/mob_transformation_simple.dm
Labels: :scroll: Есть CL

#13213 Async thinking
  code/controllers/subsystems/processing/think.dm
Labels: :skull: Cursed, :scroll: CL не требуется, 🧪 потестим в проде

#13217 Add DB based WL
  code/game/jobs/whitelist.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/banjob.dm
Labels: :gear: кнопки, :scroll: CL не требуется

#13219 Removes bugs, fixes things
  code/datums/configuration/misc_section.dm
  code/datums/uplink/categories/badassery.dm
  code/datums/uplink/categories/job.dm
  code/datums/uplink/uplink_items.dm
  code/game/machinery/doors/airlock_presets.dm
  code/game/objects/effects/landmarks/roundstart.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  config/default/misc.toml
  icons/misc/landmarks.dmi
  maps/exodus/exodus-2.dmm
Labels: 🗺️ карта, 🔩 улучшение, 🎨 спрайты, :wrench: фикс, :scroll: Есть CL
