Repository ChaoticOnyx/OnyxBay, pull requests merged in 2025-08, with the labels that each got.

#13202 Removes lack of 516
  code/__defines/_render.dm
  code/_helpers/unsorted.dm
  code/_macros.dm
  code/controllers/hooks.dm
  code/datums/browser.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/client/client_procs.dm
  code/modules/library/lib_items.dm
  code/modules/mob/living/silicon/pai/recruit.dm
  code/modules/nano/nanoui.dm
  tgui/global.d.ts
  tgui/packages/common/storage.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: :iphone: UX/UI, 🕹️ BYOND, 🤡 мемы, :scroll: CL не требуется

#13232 feat(soul): add more BoH interactions & add SM consume sounds
  baystation12.dme
  code/__defines/sound.dm
  code/_global_vars/sfx.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/supermatter/supermatter.dm
  code/modules/supermatter/supermatter_act.dm
Labels: 🔩 улучшение, 🤡 мемы, :scroll: Есть CL

#13260 Revert "feat(supermatter): add lack of unstable supermatter fun REDUX"
  code/modules/supermatter/supermatter.dm
Labels: :scroll: Есть CL

#13262 QoL(iv_drip): set APTFT on alt-click
  code/game/objects/structures/iv_drip.dm
Labels: :scroll: Есть CL

#13266 tweaks(hud, tajaran species): flash vulnerability for NVGs and intense HUD vulnerability for tajaran
  code/modules/clothing/glasses/hud.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: :scroll: Есть CL

#13267 tweak(maps jobs): allow more jobs for xenos
  maps/exodus/exodus_jobs.dm
  maps/~mapsystem/maps_jobs.dm
Labels: 🗺️ карта, :scroll: Есть CL

#13272 tweak(audible emotes): louder `scream_long`
  code/modules/emotes/generic/audible.dm
Labels: :scroll: Есть CL

#13284 Removes lack of dynamic climbing
  code/game/atoms.dm
  code/game/objects/objs.dm
  code/game/objects/structures/barricade/material.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/geltanks.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/game/objects/structures/railing.dm
  code/modules/mob/living/carbon/human/body_build.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/tables/tables.dm
Labels: 🔩 улучшение, :scroll: Есть CL
